<div class="base-panel latest-customers">
    <div class="title-panel"
         translate="dashboard.Latest customers"></div>

    <div class="panel-body" id="scroll-board">
        <div class="customers-list">
            <app-cxi-grid name="demo"
                          [config]="cxiTableConfig"
                          [rows]="customers"
                          [columns]="cxiTableColumns">
            </app-cxi-grid>
        </div>
    </div>
</div>
