@import "~src/assets/scss/main";


.latest-customers {
  height: rem(378px);


  .title-panel {
    margin-bottom: rem(14px);
  }

  .panel-body {
    height: rem(314px);
    //overflow-x: hidden;
    //overflow-y: auto;
    overflow: hidden;

    // overwrite
    margin-left: rem(-20px);
    margin-right: rem(-20px);

    .customers-list {
    }
  }
}

