@import "../../../../assets/scss/main";

.list-body {
    .icon-action {
            i {
                font-size: rem(22px);
                margin-right: rem(10px);
                &.icon-view {
                    color: $primary-500;
                }
                &.icon-trash {
                    color: $red-500;
                }
            }
    }
    .top-ratings {
        background: $white;
        padding: rem(20px);
        label {
            font-size: rem(16px);
            font-family: "sfprotextbold";
        }
        span {
            font-size: rem(12px);
            color: #989ca8;
        }
        .item-rating {
            width: 25%;
            border-radius: 8px;
            border: solid 1px #ccc;
            margin: rem(5px);
                padding: rem(10px);
        }
    }
}