<div class="list-wrapper">
    <div class="list-header">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <div class="title-header">Feedbacks & Ratings</div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="btn-group">
                    <div class="btn btn-default active">Day</div>
                    <div class="btn btn-default">Week</div>
                    <div class="btn btn-default">Month</div>
                    <div class="btn btn-default">Year</div>
                </div>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group">
                    <button class="btn btn-default" >
                        Start Date
                    </button>
                    <button class="btn btn-default" >
                        End Date
                    </button>
                    <button class="btn btn-default btn-single-icon" >
                        <i class="icon-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-12">
                <div class="top-ratings">
                    <label>Overview</label>
                    <div class="d-flex">
                        <div class="item-rating">
                            <h4>48</h4>
                            <span>FORMS FILLED</span>
                        </div>
                        <div class="item-rating">
                            <h4>19</h4>
                            <span>5-STAR RATINGS</span>
                        </div>
                        <div class="item-rating">
                            <h4>3</h4>
                            <span>POOR RATINGS</span>
                        </div>
                        <div class="item-rating">
                            <h4>4.4</h4>
                            <span>AVERAGE RATING</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt-20">
                <table class="table">
                    <thead>
                        <tr>
                            <th>DATE <i class="icon-dropdown"></i></th>
                            <th>CUSTOMER <i class="icon-dropdown"></i></th>
                            <th>STATUS <i class="icon-dropdown"></i></th>
                            <th>FEEDBACK <i class="icon-dropdown"></i></th>
                            <th>ACTION <i class="icon-dropdown"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08/09/2019 11:17 AM</td>
                            <td>Addie Carter</td>
                            <td>HIDE</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
                            <td>
                                <div class="icon-action">
                                    <i class="icon-view"></i>
                                    <i class="icon-trash"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>08/09/2019 11:17 AM</td>
                            <td>Darika Samak</td>
                            <td>HIDE</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
                            <td>
                                <div class="icon-action">
                                    <i class="icon-view"></i>
                                    <i class="icon-trash"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>08/09/2019 11:17 AM</td>
                            <td>Ivan Cornejo</td>
                            <td>HIDE</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
                            <td>
                                <div class="icon-action">
                                    <i class="icon-view"></i>
                                    <i class="icon-trash"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>08/09/2019 11:17 AM</td>
                            <td>Olivia Evans</td>
                            <td>HIDE</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</td>
                            <td>
                                <div class="icon-action">
                                    <i class="icon-view"></i>
                                    <i class="icon-trash"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>