<button class="btn {{buttonStyle}}"
        [style.padding.rem]="rem(padding)"
        [style.padding-top.rem]="rem(paddingTop)"
        [style.padding-bottom.rem]="rem(paddingBottom)"
        [style.padding-left.rem]="rem(paddingLeft)"
        [style.padding-right.rem]="rem(paddingRight)"
        [type]="type"
        [disabled]="disabled || loading"
        [ngClass]="{
            'pressed': pressed,
            'full-width': fullWidth
        }">

    <!--Label (with icon)-->
    <ng-template [ngIf]="!loading">
        <i *ngIf="icon" [ngClass]="icon"></i>
        <ng-content></ng-content>
    </ng-template>

    <!--Loading icon-->
    <ng-template [ngIf]="loading">
        <div class="loading">
            <span class="icon-add-new fa-spin"></span>
        </div>
    </ng-template>
</button>
