:host {
  -webkit-appearance: none;
}

.loading {
  text-align: center;
  display: flex;
  top: -19px;
  position: relative;
  width: 100%;
}

.hide {
  opacity: 0;
}

button > div {
  pointer-events: none;
}
