<div class="create-product create-wrapper">
  <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
    <div class="create-product-header create-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header">
            Edit Promotion
          </div>
        </div>
        <div class="col-sm-6 text-right button-group">
          <base-button buttonStyle="btn btn-default" (click)="cancel()">
            <span>Cancel</span>
          </base-button>
          <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
            <span>Edit</span>
          </base-button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="tranlate-attribute">
        <ul>
          <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
            <img src="assets/img/english.png" alt="">
            <span>English</span>
          </li>
          <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
            <img src="assets/img/vn.png" alt="">
            <span>Tiếng Việt</span>
          </li>
        </ul>
      </div>
      <div class="create-product-body width-card mg-0">
        <div class="promotion-group" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Promotion Information
                </a>
              </h4>

            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
              <div class="card-body">
                <div class="row">
                  <div class="col-12" *ngIf="tab == 'en'">
                    <base-input-text name="name" label="Name" width="full" [(ngModel)]="promotion.name" required>
                    </base-input-text>
                  </div>
                  <div class="col-12" *ngIf="tab == 'vn'">
                    <base-input-text name="name" label="Name" width="full" [(ngModel)]="promotion.vi.name">
                    </base-input-text>
                  </div>
                  <div class="col-sm-6" *ngIf="promotion.discount_type !== 'single_price'">
                    <base-input-text name="code" label="Code" width="full" [(ngModel)]="promotion.code">
                    </base-input-text>
                  </div>
                  <div class="col-sm-6">
                    <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"
                      [(ngModel)]="promotion.status">
                    </base-switch>
                  </div>
                  <div class="col-12" *ngIf="tab == 'en'">
                    <base-input-text name="description" label="description" width="full"
                      [(ngModel)]="promotion.description">
                    </base-input-text>
                  </div>
                  <div class="col-12" *ngIf="tab == 'vn'">
                    <base-input-text name="description" label="description" width="full"
                      [(ngModel)]="promotion.vi.description">
                    </base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <app-cxi-upload-files name="upload-img" (file)="onFileChanged($event)"
                      [(ngModel)]="promotion.images">
                    </app-cxi-upload-files>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Select Type
                </a>
              </h4>

            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
              <div class="card-body" id="form">
                <div class="row">
                  <div class="col-sm-6">
                    <base-select name="promotion-type" label="PROMOTION TYPE" bindLabel="name" bindValue="value"
                      (change)="addProduct()" [items]="discount_types" [(ngModel)]="promotion.discount_type">
                    </base-select>
                  </div>
                  <div class="col-sm-6"></div>
                  <ng-template [ngIf]="promotion.discount_type == 'single_price'">
                    <div class="col-sm-6">
                      <input class="form-control ng-money" type="text" name="price-promotion" placeholder="Price"
                        [(ngModel)]="price_pr" [ngModelOptions]="{standalone: true}">
                    </div>
                  </ng-template>
                  <ng-template
                    [ngIf]="promotion.discount_type != 'free_gift' && promotion.discount_type != 'single_price'">
                    <div class=" col-sm-6">
                      <label>DISCOUNT %</label>
                      <input class="form-control percent" type="text" name="discount-pr"
                        [(ngModel)]="promotion.discount_amount" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-sm-6">
                      <label>MINIMUM PRICE REQUIRED</label>
                      <input class="form-control ng-money" type="text" name="minimum-pr" [(ngModel)]="minimum_amount_pr"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-sm-6 mt-20">
                      <label>MAXIMUM DISCOUNT</label>
                      <input class="form-control ng-money" type="text" name="maximum-pr"
                        [(ngModel)]="maximum_discount_pr" [ngModelOptions]="{standalone: true}">
                    </div>
                  </ng-template>
                  <!-- tab-promotion -->
                  <ng-template [ngIf]="promotion.discount_type == 'free_gift'">
                    <div class="col-sm-6">
                      <div class="form-check" *ngFor="let item of free_gift_conditions;let i = index">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" [name]="item.name" [value]="item.value"
                            (click)="showTabProduct(item)" [(ngModel)]="promotion.free_gift_condition">
                          {{item.name}}
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-6 d-flex align-items-center"
                      *ngIf="promotion.free_gift_condition == 'minimum_price' ">
                      <input class="form-control ng-money" type="text" name="discount-threshold"
                        [(ngModel)]="minimum_amount_pr" placeholder="Type a value"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                  </ng-template>
                  <!-- //product -->
                  <div class="col-12 mt-20" *ngIf="promotion.discount_type !== 'discount'">
                    <div class="form-check" *ngIf="isShow == false">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="applied-product" value="applied"
                          [(ngModel)]="applied_product">
                        Select applied products
                      </label>
                    </div>
                  </div>
                  <div class="col-12" *ngIf="promotion.discount_type !== 'discount'">
                    <div class="form-check" *ngIf="isShow == false">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="applied-product" value="not_applied"
                          [(ngModel)]="applied_product">
                        Select not applied products
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading9">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                  Application Scope
                </a>
              </h4>
            </div>
            <div id="collapse9" class="collapse show" aria-labelledby="heading9">
              <app-application-scope (messageBrand)="brandMess($event)" (messageScope)="scopeMessage($event)"
                (showOuletChange)="showOuletChange($event)" (showBrand)="showBrandMess($event)"
                [dataBrand]="drop_brand_id" [dataOutlet]="promotion.outlets">
              </app-application-scope>
            </div>
          </div>
          <div
            *ngIf="!loadproduct || promotion.discount_type == 'discount_item' || promotion.discount_type == 'single_price'">
            <div class="card"
              *ngIf="promotion.discount_type == 'discount_item' || promotion.discount_type == 'free_gift' || promotion.discount_type == 'single_price'">
              <div class="card-header" id="headingThree">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree">
                    {{(applied_product == 'applied')?'Select Product':'Select Product that not apply for this promotion'}}
                  </a>
                </h4>

              </div>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                <div class="card-body">
                  <app-select-product [promotion_type]="promotion.discount_type" [dataProduct]="productClient"
                    [brand_id]="application_scope" (messageProduct)="productMessage($event)"></app-select-product>
                </div>
              </div>
            </div>
          </div>
          <div class="card" *ngIf="promotion.discount_type == 'free_gift'">
            <div class="card-header" id="heading4">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  Select Gift
                </a>
              </h4>

            </div>
            <div id="collapse4" class="collapse show" aria-labelledby="heading4">
              <div class="card-body">
                <app-select-gift (messagePromotionGiftType)="promotionGiftTypeMessage($event)"
                  (messagePromotionGiftId)="giftIdMessage($event)" (messageQuantityItem)="quantityItemMessage($event)"
                  (checkQuantityItem)="checkQuantityMessage($event)" [dataGift]="gifts_client"
                  [quantityGift]="promotion.allowed_gift_quantity_items" [brand_id]="application_scope"
                  (messageProductGift)="productGiftMessage($event)"></app-select-gift>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading5">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                  Select Period
                </a>
              </h4>
            </div>
            <div id="collapse5" class="collapse show" aria-labelledby="heading5">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <base-datepicker name="day-start" label="START DATE" [(ngModel)]="promotion.starts_from">
                    </base-datepicker>
                  </div>
                  <div class="col-sm-6">
                    <base-datepicker name="day-end" label="END DATE" [(ngModel)]="promotion.ends_till">
                    </base-datepicker>
                  </div>
                  <div class="col-sm-12" id="time-str">
                    <app-select-period [dataPeriod]="weekly_schedules_push" (messageTimePeriod)="periodMessage($event)">
                    </app-select-period>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading6">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                  Select User
                </a>
              </h4>
            </div>
            <div id="collapse6" class="collapse show" aria-labelledby="heading6">
              <div class="card-body">
                <app-select-user [dataCustomerLevel]="customerLevel" [checkedCustomer]="customerlevel_req"
                  [brand_id]="application_scope" (messageCustomerlevel)="customerlevelMessage($event)">
                </app-select-user>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading7">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                  Select Payment
                </a>
              </h4>

            </div>
            <div id="collapse7" class="collapse show" aria-labelledby="heading7">
              <div class="panel-body">
                <app-select-payment (messagePaymentMethod)="paymentMethodMessage($event)"
                  [checkPayment]="paymentMethods_req" [dataPayment]="paymentMethods"></app-select-payment>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading8">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                  Select Platform
                </a>
              </h4>

            </div>
            <div id="collapse8" class="collapse show" aria-labelledby="heading8">
              <div class="panel-body">
                <app-select-platform [dataPlatform]="platform_res" (messageEvent)="platformMessage($event)">
                </app-select-platform>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>