@import "../../../../../assets/scss/main";

h4.title {
  @include fontSize(16px, 24px, bold);
  margin-bottom: rem(15px);
}

.modal-body-create-commission {

  .upload-file-div {
    display: inline-flex;
    float: left;
  }

  .name {
    $pl: 22px;

    padding-left: rem($pl);
    padding-top: rem(40px);
    padding-bottom: rem(40px);
    display: inline-block;
    width: rem(432px + $pl);
    float: left;
  }

  .all-outlets {
    position: relative;

    $width-input: 134px;
    $padding-right: 20px;
    $close-width-gap: 34px;

    .all_outlets_percentage {
      position: absolute;
      width: rem($width-input - $close-width-gap);
      top: 0;
      right: rem($padding-right + $close-width-gap);
    }
  }

  .address-item {
    $gap-breath: 1px;

    .address {
      width: rem(486px);
      display: inline-block;
      float: left;
    }

    .value {
      width: rem(140px - $gap-breath);
      display: inline-block;
      float: left;

      padding-left: rem(8px);
      padding-right: rem(34px);

      position: relative;

      .remove-outlets {
        position: absolute;
        right: 0;
        bottom: rem(6px);
      }
    }


  }

  .application-scope {
    margin-bottom: rem(50px);
  }
}

.modal-footer-create-commission {
  padding: 0 rem(20px) rem(20px) rem(20px);

  text-align: left;
  position: initial;
  display: flow-root;

  base-button {
    margin: 0;
  }
}
