@import "../../../../assets/scss/main";

.list-user {
  .list-user-header {
    //padding-bottom: rem(20px);

    .title-user {
      font-size: rem(24px);
      color: $primary-800;
      font-weight: bold;
      font-family: $font-sfprotext-bold;
    }

    .btn-setting, .btn-addnew {
      background-color: $primary-800;
      border-radius: rem(4px);
      color: $white;
      //padding: rem(8px) rem(15px);
      align-items: center;
      font-family: $font-sfprotext;
      border: 1px solid $primary-800;
      cursor: pointer;


      span {
        font-size: rem(14px);
      }

      i {
        font-size: rem(20px);
        margin-right: rem(5px);
      }

    }

    .btn-setting {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #dde2e5;
      background-color: $white;
      margin-right: rem(20px);
      //padding: rem(8px) rem(15px);

      span {
        color: $cool-gray;
        font-weight: bold;
        font-size: rem(14px);
      }

      i {
        color: $cool-gray;
      }
    }
  }

  .list-user-body {

  }
}
