

<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="close()"></cxi-icon-close>
    </div>
</div>

<div class="modal-content">
    <img alt="somehint" [src]="image.url">
</div>


