<label class="text-uppercase"
       *ngIf="label">
    {{label|baseMakeTitle}}
</label>

<table class="table edit-table">
    <thead>
    <tr>
        <!--  Columns -->
        <ng-template ngFor let-column [ngForOf]="columns">
            <th>
                {{column.title}}
            </th>
        </ng-template>
    </tr>
    </thead>
    <tbody>

    <ng-template [ngIf]="rows && rows.length > 0">
        <ng-template ngFor let-row [ngForOf]="rows" let-i="index">
            <tr>
                <!--Content TD-->
                <ng-template ngFor let-column [ngForOf]="columns" let-j="index">

                    <!--is_read_only-->
                    <ng-template [ngIf]="column.is_read_only">
                        <td class="read-only">
                            <span>
                                {{row[column.name]}}
                            </span>
                        </td>
                    </ng-template>

                    <!--editable-->
                    <ng-template [ngIf]="!column.is_read_only">
                        <td class="tb-edit">
                            <base-input-text name="{{i}}-{{j}}"
                                             [(ngModel)]="row[column.name]"></base-input-text>
                        </td>
                    </ng-template>
                </ng-template>

                <td class="action" *ngIf="config.canRemove">
                    <div class="group-action">
                        <i class="icon-trash" *ngIf="config.canRemove"
                           (click)="remove(row, i)"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
    </ng-template>
    </tbody>
</table>
