@import "../../../../assets/scss/main";

.group-btn-discount {
    margin-top: rem(20px);
    button.btn-setting {
        &:last-child{
            margin-right: 0px!important;
        }
    }
}
.active-out {
    .btn-oulet {
        background-color: $primary-800!important;
        i{
            color: $white!important;
            font-weight: 100!important;
        }
        span {
            color: $white!important;
            font-weight: 100!important;
        }
    }
}
.active-pro{
    .btn-product {
        background-color: $primary-800!important;
        i{
            color: $white!important;
            font-weight: 100!important;
        }
        span {
            color: $white!important;
            font-weight: 100!important;
        }
    }
}