<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <div class="title-header">Income Report</div>
      </div>
      <div class="col-sm-9 text-right position-re">
        <div [class]="(isShow == true)?'active-out':'active-pro'">
          <button class="btn-setting btn btn-default btn-oulet" (click)="outletClick()">
            <i class="icon-outlet"></i> <span>Outlet</span>
          </button>
          <button class="btn-setting btn btn-default btn-product" (click)="productClick()">
            <i class="icon-product"></i> <span>Product</span>
          </button>
        </div>
      </div>
    </div>
    <div class="list-body mt-20">
      <div class="row">
        <div class="col-sm-12" *ngIf="isShow == true">
          <app-cxi-grid name="outlets" [config]="baseTableConfig" [rows]="outlets" [columns]="baseTableColumns">
          </app-cxi-grid>
        </div>
        <div class="col-sm-12" *ngIf="isShow1 == true">
          <app-cxi-grid name="products" [config]="baseTableConfig1" [rows]="products" [columns]="baseTableColumns1">
          </app-cxi-grid>
        </div>
      </div>
    </div>
  </div>
</div>
