<ng-template ngFor let-timeLine [ngForOf]="value" let-i="index">
    <app-select-event-timeline name="{{name}}-{{i}}"
                       (remove)="onRemove(i)"
                       [(ngModel)]="timeLine"
                       (change)="onChangeVariantAddOnType()"></app-select-event-timeline>


</ng-template>

<div class="row m-b">
    <div class="col-12">
        <base-button name="{{name}}-add-aot"
                     type="button"
                     icon="icon-add-new"
                     buttonStyle="btn-default"
                     [disabled]="isDisabledAddNew()"
                     (click)="addAddOnType()">
            Add more
        </base-button>
    </div>
</div>

