<h1>POPUP</h1>

<div class="order-cancel-popup">
    <br>
    <br>
    <p>Confirmation</p>
    <base-button (click)="showConfirmation()">Confirmation</base-button>
    <base-button (click)="showUnsavedChanges()">UnsavedChanges?</base-button>
    <base-button (click)="showDiscardChanges()">Discard change?</base-button>
    <base-button (click)="showDeactivateUser()">Deactivate User</base-button>


    <br>
    <br>
    <p>Dialog</p>
    <base-button (click)="selectItemFromList('customer')">Select Customer</base-button>
    <base-button (click)="selectItemFromList('deliver')">Select Deliver</base-button>

    <br>
    <br>
    <p>Confirmation</p>
    <button class="btn btn-success" (click)="showNotificationSuccess()">success</button>
    <button class="btn btn-danger" (click)="showNotificationDanger()">danger</button>

    <br>
    <br>
    <p>Ngx-toaster</p>
    <button class="btn btn-success" (click)="showToastSuccess()">success</button>
    <button class="btn btn-danger" (click)="showToastError()">danger</button>
</div>
