<!--allow-items-->
<ng-template [ngIf]="value && value.length > 0">

    <!--allow-item: ProductComboItem-->
    <ng-template ngFor
                 [ngForOf]="value"
                 let-productComboItem
                 let-j="index">

        <cxi-select-combo-item name="{{name}}-{{j}}"
                               [products]="products"
                               [(ngModel)]="productComboItem"
                               (changeProduct)="onChangeProduct($event)"
                               (remove)="onRemove(j)"></cxi-select-combo-item>


    </ng-template>
</ng-template>


<div class="row">
    <div class="col-12">
        <base-button name="{{name}}-add-item"
                     type="button"
                     buttonStyle="btn-default"
                     icon="icon-add-new"
                     (click)="addProductComboItem()">
            {{'Product.Add item'|translate}}
        </base-button>
    </div>
</div>
