<ng-template ngFor let-sponsor [ngForOf]="value" let-i="index">
    <app-select-ticket name="{{name}}-{{i}}"
                       (remove)="onRemove(i)"
                       [index]="i"
                       [(ngModel)]="sponsor"
                       [minDate]="minDate"
                       [maxDate]="maxDate"
                       [payment_method] = "payment_method"
                       [isChildren]="isChildren"
                       (change)="onChangeVariantAddOnType()"></app-select-ticket>


</ng-template>

<div class="row m-b">
    <!--<div class="col-6">-->
        <!--<base-select name="component"-->
                     <!--bindValue="value"-->
                     <!--bindLabel="name"-->
                     <!--[items]="ticketType"-->
                     <!--(change)="onChangeTicketType($event)"-->
                     <!--[(ngModel)]="ticket"-->
        <!--&gt;-->
        <!--</base-select>-->
    <!--</div>-->
    <div class="col-6">
        <base-button name="{{name}}-add-aot"
                     type="button"
                     icon="icon-add-new"
                     buttonStyle="btn-default"
                     [disabled]="isDisabledAddNew()"
                     (click)="addAddOnType()">
            Add more
        </base-button>
    </div>
</div>

