<div class="redemption-setting create-wrapper">
    <form #redemptionSettingForm="ngForm"
          class="form-create-customer-level"
          (ngSubmit)="save()">

        <div class="rewards-setting-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        <i class="icon-navigation-left"></i>
                        Rewards Setting
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <button class="btn btn-default btn-cancel"
                            (click)="cancel()">
                        <span>Cancel</span>
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-addnew"
                            [disabled]="!redemptionSettingForm.form.valid">
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="redemption-setting-body">
            <div class="row">
                <div class="col-6">
                    <base-checkbox name="tier_process"
                                   label="Redemption will not affect the tier process"
                                   [(ngModel)]="redemptionSetting.tier_process"></base-checkbox>

                    <base-edit-table name="redemption-list"
                                     label="redemption list"
                                     [config]="config"
                                     [columns]="columns"
                                     [rows]="redemptionSetting.redemption_list"></base-edit-table>
                </div>
            </div>


        </div>
    </form>
</div>
