<cxi-label name="{{name}}"
            [required]="required"
            [label]="label"></cxi-label>

<input type="{{type}}"
       name="{{name}}"
       id="{{name}}"
       class="form-control {{inputClass}}"
       [maxLength]="maxLength"
       [placeholder]="placeholder"
       [(ngModel)]="value"
       [ngClass]="{'invalid': (invalid | async),
            'w-xxs': width === 'xxs',
            'w-xs': width === 'xs',
            'w-xss': width === 'xss',
            'w-xsm': width === 'xsm',
            'w-sm': width === 'sm',
            'w-md': width === 'md',
            'w-lg': width === 'lg',
            'w-xl': width === 'xl',
            'w-xxl': width === 'xxl',
            'w-full': width === 'full'
            }"
       (change)="onChange()"
       (ngModelChange)="onNgModelChange()"
       [required]="required"
       [disabled]="disabled"
       [pattern]="pattern"/>


<ng-template [ngIf]="(invalid | async) && model.control.touched">
    <span class="icon-invalid">!</span>
</ng-template>

<span *ngIf="icon" class="{{icon}}"></span>

<validation-messages *ngIf="(invalid | async) && model.control.touched"
                     [messages]="failures | async">
</validation-messages>

