@import "~src/assets/scss/main";

:host {
  position: relative;
  // width: 100%;
  width: rem(160px);
}

input {
  border-radius: rem(18px) !important;
  width: rem(208px);
  border: 0 solid transparent !important;
  background-color: transparent;
  box-shadow: unset !important;
  height: rem(35px);
  @include fontSize(16px, 24px);
  color: $grey-900;

  &:focus {
    border-color: transparent !important;
  }

  &::after {
    content: "x";
    font-size: rem(12px);
    line-height: rem(24px);
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
  }


  &::-webkit-input-placeholder {
    color: $grey-900 !important;
  }

  &::-moz-placeholder {
    color: $grey-900 !important;
  }

  &:-ms-input-placeholder {
    color: $grey-900 !important;
  }
}

base-select {
  //
}

base-datepicker {
  //
}

a {
  padding: rem(3px);
  display: inline-flex;

  position: absolute;
  top: 0;
  right: 0;
  margin: rem(8px);

  i {
    color: #bdbfc7;
    width: rem(18px);
    height: rem(18px);
    font-size: rem(18px);
  }
}
