<!--Free text-->
<ng-template [ngIf]="!filterType ||
                      filterType === 'text'">
    <input type="text"
           name="{{name}}"
           id="{{name}}"
           class="form-control"
           maxlength="20"
           [(ngModel)]="value"
           (change)="onChange()"/>
</ng-template>


<!--Select & multi-select-->
<ng-template [ngIf]="filterType === 'select' ||
                     filterType === 'multi-select'">
    <base-select name="{{name}}"
                 [bindValue]="getBindValue()"
                 [bindLabel]="getBindLabel()"
                 [items]="internalFilterData"
                 [(ngModel)]="value"
                 (change)="onChange()"></base-select>
</ng-template>


<!--Datepicker-->
<ng-template [ngIf]="filterType === 'datepicker'">
    <base-datepicker
        name="{{name}}"
        class="d-flex"
        [(ngModel)]="value"
        (change)="onChange()"></base-datepicker>
</ng-template>
