<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="title-header">Floors</div>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn-addnew btn btn-default" data-toggle="modal" data-target="#exampleModal" (click)="addNewFloor()">
          <i class="icon-add-new"></i> <span>Add New Floors</span>
        </button>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <app-cxi-grid name="floors" [config]="cxiGridConfig" [columns]="cxiGridColumns"></app-cxi-grid>
      </div>
    </div>
  </div>
</div>
<app-create-floors *ngIf="isShowCreat"></app-create-floors>
<app-edit-floors *ngIf="isShow" [dataFloor]="floor"></app-edit-floors>