@import "../../../../assets/scss/main";

.tranlates {
  margin-right: rem(5px);
  transform: translateY(rem(65px));

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      cursor: pointer;
      opacity: 0.5;
      display: flex;
      align-items: center;

      &.active {
        opacity: 1;
      }
    }
  }
}
