<div class="tranlates">
    <ul>
        <ng-template ngFor
                     [ngForOf]="locales"
                     let-locale>
            <li (click)="select(locale)"
                [class]="(selectedLocale == locale.name) ? 'active' : ''">
                <img src="{{locale.image}}" alt="{{locale.name}}">
            </li>
        </ng-template>
    </ul>
</div>
