<label *ngIf="label"
       class="text-uppercase">
    {{label|baseMakeTitle}}
</label>

<div class="progressbar">
    <ngb-progressbar type="info"
                     height="1.7142857142857142rem"
                     [value]="value">
    </ngb-progressbar>
</div>

<div class="level">
    <span>{{level}}</span>
</div>
