@import "~src/assets/scss/main";

.progressbar {
  margin-top: rem(6px);
  margin-bottom: rem(6px);
}

.level {
  text-align: center;
  display: block;
  position: absolute;
  top: rem(30px);
  width: 100%;
  left: 0;

  span {
    @include fontSize(14px, 16px);
    color: $grey-900;
  }

}
