<div class="create-product create-wrapper">
  <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
    <div class="create-product-header create-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header" translate="Gift.Edit Gift">
            Edit New Gift
          </div>
        </div>
        <div class="col-sm-6 text-right button-group">
          <base-button buttonStyle="btn btn-default" (click)="cancel()">
            <span translate="Gift.Cancel">Cancel</span>
          </base-button>
          <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
            <span translate="Gift.Update">Edit</span>
          </base-button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="tranlate-attribute">
        <ul>
          <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
            <img src="assets/img/english.png" alt="">
            <span>English</span>
          </li>
          <li (click)="tab = 'vi'" [class]="(tab == 'vi')?'active':''">
            <img src="assets/img/vn.png" alt="">
            <span>Tiếng Việt</span>
          </li>
        </ul>
      </div>
      <div class="create-product-body create-body mg-0">
        <div class="title-body" translate="Gift.Gift Information">Gift Information</div>
        <div class="row">
          <div class="col-12" *ngIf="tab == 'en'">
            <base-input-text name="name" label="Name" width="full" [(ngModel)]="gift.name" required>
            </base-input-text>
          </div>
          <div class="col-12" *ngIf="tab == 'vi'">
            <base-input-text name="name" label="Name" width="full" [(ngModel)]="gift.vi.name">
            </base-input-text>
          </div>
          <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null">
            <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
              (change)="changeGiftCate()" [(ngModel)]="gift.brand_id">
            </base-select>
          </div>
          <div class="col-12" *ngIf="tab == 'en'">
            <base-input-text name="description" label="Description" width="full" [(ngModel)]="gift.description">
            </base-input-text>
          </div>
          <div class="col-12" *ngIf="tab == 'vi'">
            <base-input-text name="description" label="Description" width="full" [(ngModel)]="gift.vi.description">
            </base-input-text>
          </div>
          <div class="col-12" *ngIf="gift_categories">
            <base-select name="select" label="gift categories" bindLabel="name" bindValue="id" [items]="gift_categories"
              *ngIf="gift_categories.length > 0" [(ngModel)]="gift.category_id">
            </base-select>
            <base-select name="select" label="gift categories" [(ngModel)]="cate_gift" disabled
              *ngIf="gift_categories.length <= 0">
            </base-select>
          </div>
          <div class="col-12">
            <base-switch name="baseSwitchDemo" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"
              [(ngModel)]="gift.status">
            </base-switch>
          </div>
          <div class="col-sm-12">
            <app-cxi-upload-files name="upload-img" (file)="onFileChanged($event)" [(ngModel)]="gift.images">
            </app-cxi-upload-files>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>