<table class="table" *ngIf="driverListDeliveryApp">
    <thead>
        <tr>
            <th class="sortable" *ngFor="let item of filterTable;let i = index">
                <label class="mg-0" (click)="showListOrder(item)">{{item.name}}
                    <i *ngIf="item.isShowAsc" class="icon-dropdown"></i>
                    <i *ngIf="item.isShowDesc" [class]="(!item.isShow)?'icon-arrow-up':'icon-arrow-down'"></i>
                </label>
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let item of driverListDeliveryApp;let i = index">
        <tr>
            <td>{{item.id}}</td>
            <td>
                {{item.name}}
            </td>
            <td>{{item.total}}</td>
            <td>{{item.application_scope}}</td>

        </tr>
    </tbody>
    <tbody *ngIf="driverListDeliveryApp.length <= 0">
        <tr>
            <td class="text-center" colspan="6">
                No results found.
            </td>
        </tr>
    </tbody>
</table>
<app-cxi-pagination *ngIf="driverListDeliveryApp.length > 0" (change)="onChangePagination()">
</app-cxi-pagination>