<div class="base-panel orders-view">
    <div class="title-panel"
         translate="dashboard.Orders view">

    </div>

    <div class="chart-container">
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [colors]="chartColors"
                [legend]="chartLegend"
                [chartType]="chartType"></canvas>
    </div>
</div>
