<div class="modal-header">
    <div class="modal-title">
        <span class="icon-bullet"></span>
        PRIVACY AND POLICY
    </div>
    <button type="button" class="close" aria-label="Close"
            (click)="cancel()">
        <span aria-hidden="true" class="icon-x"></span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="title-privacy-policy">PRIVACY POLICY</div>
        <div class="des-privacy-policy">
            <label class="title-background">BACKGROUND:</label>
            <label>Basetax Limited understands that your privacy is important to you and that you care about how your
                personal data is used.
                We respect and value the privacy of everyone who visits this website or our mobile app,
                https://www.basetax.co.uk (“Our Site & Our App”)
                and will only collect and use personal data in ways that are described here, and in a way that is
                consistent with our obligations and your rights under the law.

                Please read this Privacy Policy carefully and ensure that you understand it.
                Your acceptance of this Privacy Policy is deemed to occur upon your first use of Our Site & Our App and
                You will be required to read and accept this Privacy Policy when signing up for an Account.
                <b>If you do not accept and agree with this Privacy Policy, you must stop using Our Site & Our App
                    immediately.</b>
            </label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">1. Definitions and Interpretation </label>
            <label>In this Policy the following terms shall have the following meanings:</label>
            <label><b>“Account”</b>means an account required to access and/or use certain areas and features of Our Site
                & Our App;</label>
            <label><b>“Cookie”</b>means a small text file placed on your computer or device by Our Site & Our App when
                you visit certain parts of Our Site & Our App and/or when you use certain features of Our Site & Our
                App.
                Details of the Cookies used by Our Site & Our App are set out in Part 14, below; and</label>
            <label><b>“Cookie Law”</b>means the relevant parts of the Privacy and Electronic Communications (EC
                Directive) Regulations 2003;</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">2. Information About Us </label>
            <label><b>Our Site & Our App</b> is owned and operated by Basetax Limited, a limited company registered in
                England under company number 09243228.</label>
            <label>Registered address: 68 King William Street, London, EC4N 7DC, United Kingdom</label>
            <label>Data Protection Officer: Kah Tan.</label>
            <label>Email address: kah@basetax.com.</label>
            <label>Postal Address: 68 King William Street, London, EC4N 7DC, United Kingdom</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">3. What Does This Policy Cover?</label>
            <label>This Privacy Policy applies only to your use of Our Site & Our App.
                Our Site & Our App contain links to other websites for payment processing purposes.
                Please note that We have no control over how your data is collected, stored, or used by other websites
                and
                We advise you to check the privacy policies of any such websites before providing any data to
                them.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">4. What is Personal Data?</label>
            <label>Personal data is defined by the General Data Protection Regulation (EU Regulation 2016/679) (the
                “GDPR”) as ‘any information relating
                to an identifiable person who can be directly or indirectly identified in particular by reference to an
                identifier’.</label>
            <label>Personal data is, in simpler terms, any information about you that enables you to be identified.
                Personal data covers obvious information such as your name and contact details,
                but it also covers less obvious information such as identification numbers, electronic location data,
                and other online identifiers.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">5. What Are My Rights?</label>
            <label>Under the GDPR, you have the following rights, which We will always work to uphold:</label>
            <label>a) The right to be informed about our collection and use of your personal data.
                This Privacy Policy should tell you everything you need to know, but you can always contact Us to find
                out more or to ask any questions using the details in Part 15.</label>
            <label>b) The right to access the personal data We hold about you. Part 13 will tell you how to do
                this.</label>
            <label>c) The right to have your personal data rectified if any of your personal data held by Us is
                inaccurate or incomplete.
                Please contact Us using the details in Part 15 to find out more.</label>
            <label>d) The right to be forgotten, i.e. the right to ask Us to delete or otherwise dispose of any of your
                personal data that We have.
                Please contact Us using the details in Part 15 to find out more.</label>
            <label>e) The right to restrict (i.e. prevent) the processing of your personal data.</label>
            <label>f) The right to object to Us using your personal data for a particular purpose or purposes.</label>
            <label>g) The right to data portability. This means that, if you have provided personal data to Us directly,
                We am using it with your consent or for the performance of a contract, and that data is processed using
                automated means,
                you can ask Us for a copy of that personal data to re-use with another service or business in many
                cases.</label>
            <label>For more information about our use of your personal data or exercising your rights as outlined above,
                please contact Us using the details provided in Part 15.</label>
            <label>Further information about your rights can also be obtained from the Information Commissioner’s Office
                or your local Citizens Advice Bureau.</label>
            <label>If you have any cause for complaint about our use of your personal data, you have the right to lodge
                a complaint with the Information Commissioner’s Office.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">6. What Data Do We Collect?</label>
            <label>Depending upon your use of <b>Our Site & Our App</b>, We may collect some or all of the following
                personal
                and non-personal data (please also see Part 14 on our use of Cookies and similar technologies:</label>
            <label>Personal data is, in simpler terms, any information about you that enables you to be identified.
                Personal data covers obvious information such as your name and contact details,
                but it also covers less obvious information such as identification numbers, electronic location data,
                and other online identifiers.</label>
            <label>• Name;</label>
            <label>Address;</label>
            <label>• Email address;</label>
            <label>• Telephone number;</label>
            <label>• Business name and associated tax information;</label>
            <label>• Financial data that you provide to us, related to the contract between us;</label>
            <label>• IP address;</label>
            <label>• Web browser type and version;</label>
            <label>• Operating system;</label>
            <label>• A list of URLs starting with a referring site, your activity on Our Site & Our App, and the site
                you exit to.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">7. How Do You Use My Personal Data?</label>
            <label>Under the GDPR, We must always have a lawful basis for using personal data.
                This may be because the data is necessary for our performance of a contract with you, because you have
                consented to our use of your personal data, or because it is in our legitimate business interests to use
                it.
                Your personal data may be used for the following purposes:</label>
            <label>• Providing and managing your Account;</label>
            <label>• Providing and managing your access to Our Site & Our App;</label>
            <label>• Personalising and tailoring your experience on Our Site & Our App;</label>
            <label>• Supplying our services to you. Your personal details are required in order for Us to enter into a
                contract with you.</label>
            <label>• Personalising and tailoring our services for you.</label>
            <label>• Communicating with you. This may include responding to livechat, emails or calls from you. </label>
            <label>• Supplying you with information by email that you have opted-in to (you may unsubscribe or opt-out
                at any time).</label>
            <label>We will always work to fully protect your rights and comply with our obligations under the GDPR
                and the Privacy and Electronic Communications (EC Directive) Regulations 2003, and you will always have
                the opportunity to opt-out.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">8. How Long Will You Keep My Personal Data?</label>
            <label>We will not keep your personal data for any longer than is necessary in light of the reason(s) for
                which it was first collected.
                Your personal data will therefore be kept for as long as your account is active with us,
                (where there is no fixed period, the following factors will be used to determine how long it is
                kept):</label>
            <label>• For Club and Professional (Paid plans) users, all HMRC related information, this data will be
                stored for a minimum of 3 years.</label>
            <label>• For all other type of users (Free plan) users, all HMRC related information, this data will be
                stored for a minimum of 1 year.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">9. How and Where Do You Store or Transfer My Personal Data?</label>
            <label>We use specific contracts with external third parties, who have been approved by the European
                Commission for the transfer of personal data to third countries.
                These contracts ensure the same levels of personal data protection that would apply under the GDPR.
                More information is available from the European Commission.</label>
            <label>Where We transfer your data to a third party based in the US, this may be protected if they are part
                of the EU-US Privacy Shield.
                This requires that third party to provide data protection to standards similar to those in Europe.
                More information is available from the European Commission.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">10. Do You Share My Personal Data?</label>
            <label>We will not share any of your personal data with any third parties other than payment processing
                and local tax authority (only when you want to submit your tax return),subject to one important
                exception.</label>
            <label>In some limited circumstances, We may be legally required to share certain personal data, which might
                include yours,
                if we are involved in legal proceedings or complying with legal obligations,
                a court order, or the instructions of a government authority.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">11. How Can I Control My Personal Data?</label>
            <label>11.1 In addition to your rights under the GDPR, set out in Part 5, when you submit personal data via
                Our Site & Our App,you may be given options to restrict our use of your personal data.
                In particular, We aim to give you strong controls on our use of your data for direct marketing purposes
                (including the ability to opt-out of receiving emails from Us which you may do by unsubscribing using
                the links provided in our emails, at the point of providing your details and by managing your
                Account).</label>
            <label>11.2 You may also wish to sign up to one or more of the preference services operating in the UK: The
                Telephone Preference Service (“the TPS”), the Corporate Telephone Preference Service (“the CTPS”), and
                the Mailing Preference Service (“the MPS”).
                These may help to prevent you receiving unsolicited marketing. Please note, however, that these services
                will not prevent you from receiving marketing communications that you have consented to
                receiving.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">12. Can I Withhold Information?</label>
            <label>You will not be able to use Our Site & Our App without providing any personal data (i.e. email, name,
                business name) at all.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">13. How Can I Access My Personal Data?</label>
            <label>If you want to know what personal data We have about you, you can ask Us for details of that personal
                data and for a copy of it (where any such personal data is held).
                This is known as a “subject access request”.</label>
            <label>All subject access requests should be made in writing and sent to the email or postal addresses shown
                in Part 15. </label>
            <label>There is not normally any charge for a subject access request.
                If your request is ‘manifestly unfounded or excessive’ (for example, if you make repetitive requests) a
                fee may be charged to cover our administrative costs in responding.</label>
            <label>We will respond to your subject access request within one month of receiving it.
                Normally, We aim to provide a complete response, including a copy of your personal data within that
                time.
                In some cases, however, particularly if your request is more complex, more time may be required up to a
                maximum of three months from the date We receive your request.
                You will be kept fully informed of our progress.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">14. How Do You Use Cookies?</label>
            <label>Our Site & Our App may place and access certain first-party Cookies on your computer or device.
                First-party Cookies are those placed directly by Us and are used only by Us.
                We use Cookies to facilitate and improve your experience of Our Site & Our App and to provide and
                improve our services.
                We have carefully chosen these Cookies and have taken steps to ensure that your privacy and personal
                data is protected and respected at all times.</label>
            <label>All Cookies used by and on Our Site & Our App are used in accordance with current Cookie Law.</label>
            <label>Before Cookies are placed on your computer or device, you will be shown a prompt requesting your
                consent to set those Cookies.
                By giving your consent to the placing of Cookies you are enabling Us to provide the best possible
                experience and service to you.
                You may, if you wish, deny consent to the placing of Cookies; however certain features of Our Site & Our
                App may not function fully or as intended.</label>
            <label>Certain features of Our Site & Our App depend on Cookies to function. Cookie Law deems these Cookies
                to be “strictly necessary”.
                Your consent will not be sought to place these Cookies, but it is still important that you are aware of
                them.
                You may still block these Cookies by changing your internet browser’s settings as detailed below, but
                please be aware that Our Site & Our App may not work properly if you do so.
                We have taken great care to ensure that your privacy is not at risk by allowing them.</label>
            <label>In addition to the controls that We provide, you can choose to enable or disable Cookies in your
                internet browser.
                Most internet browsers also enable you to choose whether you wish to disable all Cookies or only
                third-party Cookies.
                By default, most internet browsers accept Cookies, but this can be changed.
                For further details, please consult the help menu in your internet browser or the documentation that
                came with your device.</label>
            <label>You can choose to delete Cookies on your computer or device at any time, however you may lose any
                information that enables you to access
                Our Site more quickly and efficiently including, but not limited to, login and personalisation
                settings.</label>
            <label>It is recommended that you keep your internet browser and operating system up-to-date and that you
                consult the help and guidance provided by
                the developer of your internet browser and manufacturer of your computer or device if you are unsure
                about adjusting your privacy settings.</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">15. How Do I Contact You?</label>
            <label>To contact <b>Us</b> about anything to do with your personal data and data protection,
                to make a subject access request, please use the following details:</label>
            <label>Email address: gdpr@basetax.com</label>
            <label>Postal Address: 6-7 St. Mary At Hill, City Of London, England, EC3R 8EE</label>
        </div>

        <div class="step-privacy-policy">
            <label class="step-number">16. Changes to this Privacy Policy</label>
            <label>We may change this Privacy Notice from time to time.
                This may be necessary, for example, if the law changes, or if We change our business in a way that
                affects personal data protection.</label>
            <label>Any changes will be immediately posted on Our Site & Our App and you will be deemed to have accepted
                the terms of
                the Privacy Policy on your first use of Our Site & Our App following the alterations.
                We recommend that you check this page regularly to keep up-to-date.</label>
        </div>

    </div>
</div>
