@import "~src/assets/scss/main";

.title-privacy-policy {
  font-weight: 600;
  text-align: center;
  @include fontSize(50px);
  border: rem(1px) solid $black;
  border-radius: rem(6px);
}

.des-privacy-policy {
  .title-background {
    padding: rem(20px) 0 rem(20px) 0;
    font-weight: 600;
    margin: 0;
  }
}

.step-privacy-policy {
  .step-number {
    font-weight: 600;
  }
}
