@import "~src/assets/scss/main";

.loginpage {

  .loginscreen {

    padding: rem(214px) rem(20px) rem(30px) rem(20px);

    .title-center {
      //margin-top: rem(36px);
      text-align: center;
      font-size: rem(36px);
      line-height: rem(44px);
      color: $white;
      font-weight: 600;

      img {
        width: auto;
        height: 100%;
      }
    }

    .form-login {
      margin-top: rem(10px);
      .server-error {
        color: rgba(255, 255, 255, 0.5);
      }

      .forgot-password {
        margin-top: rem(20px);

        a {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.form-group {
  .message-top {
    color: $pink;
  }

  &.remember-me {
    margin-bottom: rem(40px);
  }
}

.create-acc {
  margin-top: rem(130px);
  width: 100%;

  .switch-acc {
    padding: rem(10px) 0;
    text-align: center;
  }
}


/*Responsive*/
@media screen and (min-width: 1024px) {
  .loginpage {
    .loginscreen {
      .create-acc {
        position: unset;
        margin-top: rem(140px);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .loginpage {

    .loginscreen {
      padding: rem(214px) rem(15px) rem(70px) rem(15px);
      max-width: rem(440px);
      margin: 0 auto;

      .title-center {

        img {
          width: rem(150px);
          height: rem(150px);
        }
      }

      .form-login {
        margin-top: rem(50px);

        .login {
          margin-top: rem(60px);
        }
      }

      .create-acc {
        max-width: rem(370px);
        margin: 0 auto;
        position: fixed;
        bottom: rem(70px);

        .switch-acc {
          margin: 0;
          @include fontSize(16px);
          display: inline;
          padding: rem(11px) 0;
        }
      }
    }
  }
}
