<div class="loginpage">

    <!--Logo-->
    <app-logo></app-logo>


    <div class="loginscreen">

        <div class="title-center">
            {{ 'login.Login'|translate }}
        </div>
        <form #loginForm="ngForm" class="form-login">
            <div class="form-group">
                <label class="d-n" translate>
                    {{ 'login.Email'|translate }}
                </label>
                <input type="text"
                       [attr.placeholder]="'login.Email' | translate"
                       name="email"
                       title="Email"
                       tabindex="1"
                       class="lg"
                       [(ngModel)]="user.email"
                       required>
            </div>

            <div class="form-group">
                <label class="d-n" translate>
                    {{ 'login.Password'|translate }}
                </label>
                <input type="password"
                       [attr.placeholder]="'login.Password' | translate"
                       name="password"
                       title="Password"
                       class="lg"
                       tabindex="2"
                       [(ngModel)]="user.password"
                       required/>
            </div>
            <div class="server-error" *ngIf="isError">
                {{'login.Internal Server Error'|translate}}
            </div>

            <div class="login">
                <button class="btn btn-block btn-auth"
                        (click)="login()"
                        [disabled]="loginForm.invalid">
                    {{ 'login.Login' | translate }}
                </button>
            </div>

            <div class="forgot-password text-center">
                <a [routerLink]="['/auth/forgot-password']">
                    {{ 'login.Forgot your password?' | translate }}
                </a>
            </div>
        </form>
    </div>
</div>
