<cxi-card title="{{'Product.Select combo'|translate}}"
          className="combo"
          [size]="((!value || value.length === 0) ? 'md': 'lg')">

    <!--Combo list-->
    <ng-template ngFor
                 [ngForOf]="value"
                 let-productCombo
                 let-i="index">

        <!--product-item-->

        <app-select-combo-product name="{{name}}-product"
                                  [index]="i"
                                  [products]="products"
                                  [priceType]="priceType"
                                  [(ngModel)]="productCombo"
                                  (remove)="onRemoveComboItem(i)"></app-select-combo-product>
    </ng-template>


    <div class="row">
        <div class="col-12">
            <base-button name="add-product"
                         type="button"
                         buttonStyle="btn-primary"
                         icon="icon-add-new"
                         (click)="addProductCombo()">
                {{ 'Product.Add product'| translate }}
            </base-button>
        </div>
    </div>
</cxi-card>
