<!--<pre>{{product|json}}</pre>-->
<!--<pre>Form values: {{ createOrderForm.form.value | json }}</pre>-->

<div class="create-order create-wrapper">
    <form
        #createOrderForm="ngForm"
        class="form-create-product"
        (ngSubmit)="save()">

        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Order.Edit Order'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <button type="button"
                                class="btn btn-default"
                                (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                [disabled]="!createOrderForm.form.valid">
                            <span>{{'Save'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <app-order-map></app-order-map>
                <!--application scope-->
                <app-order-application-scope name="edit-order-application-scope"
                                             [(applicationScope)]="order"></app-order-application-scope>

                <!--order information-->
                <cxi-card title="Order Information"
                          className="order-information">
                    <!--order name-->
                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="order_method"
                                         label="{{'Order.Order Method'|translate}}"
                                         bindLabel="name"
                                         bindValue="id"
                                         [items]="orderMethods"
                                         [(ngModel)]="order.order_type"></base-select>
                        </div>

                        <div class="col-6">
                            <base-datepicker name="food_ready"
                                             label="{{'Order.Food ready'|translate}}"
                                             [(ngModel)]="order.food_ready"></base-datepicker>
                        </div>

                        <div class="col-6">
                            <base-select name="orders_status"
                                         label="{{'Order.Order status'|translate}}"
                                         bindValue="id"
                                         bindLabel="name"
                                         [items]="orderStatuses"
                                         [(ngModel)]="order.status"></base-select>
                        </div>

                        <div class="col-12">
                            <base-textarea name="note"
                                           label="{{'Order.Note'|translate}}"
                                           rows="8"
                                           [attr.placeholder]="'Order.Type a note'|translate"
                                           [(ngModel)]="order.note"></base-textarea>
                        </div>
                    </div>

                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="employee"
                                         label="{{'Order.Employee'|translate}}"
                                         class="m-b-n"
                                         bindValue="id"
                                         bindLabel="name"
                                         bindAvatar="avatar"
                                         [items]="users"
                                         [(ngModel)]="order.employee_id"></base-select>
                        </div>
                        <div class="col-6">
                            <base-select name="saleman"
                                         label="{{'Order.Salesman'|translate}}"
                                         class="m-b-n"
                                         bindValue="id"
                                         bindLabel="name"
                                         bindAvatar="avatar"
                                         [items]="users"
                                         [(ngModel)]="order.staff_id"></base-select>
                        </div>
                    </div>
                </cxi-card>

                <!--Payment-->
                <cxi-card title="{{'Order.Payment'|translate}}">
                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="payment_method"
                                         label="{{'Order.Payment method'|translate}}"
                                         class="m-b-n"
                                         bindValue="id"
                                         bindLabel="name"
                                         [items]="paymentMethods"
                                         [(ngModel)]="order.payment_method_id"></base-select>
                        </div>
                    </div>
                </cxi-card>

                <!--select customer-->
                <cxi-order-select-customer name="order-select-customer"
                                           [(isGuest)]="order.is_guest"
                                           [(ngModel)]="order.customer"
                                           (select)="onSelectCustomer($event)"></cxi-order-select-customer>

                <!--Shipping address-->
                <ng-template [ngIf]="order.order_type === deliveryOrderType && order.shipping_address">
                    <cxi-order-delivery name="order-delivery"
                                        [customer]="order.customer"
                                        [(billingAddress)]="order.billing_address"
                                        [(shippingAddress)]="order.shipping_address"></cxi-order-delivery>
                </ng-template>

                <!--Deliver Information-->
                <ng-template [ngIf]="order.order_type === deliveryOrderType && order.driver">
                    <app-order-assign-driver name="order-assign-driver"
                                             [orderStatus]="order.status"
                                             [brandId]="order.brand_id"
                                             [outletId]="order.outlet_id"
                                             [delivery]="order.delivery"
                                             [(orderDriver)]="order.driver"></app-order-assign-driver>
                </ng-template>

                <!--Product Info-->
                <app-order-products name="edit-order-products-{{order.id}}"
                                    [categories]="categories"
                                    [(order)]="order"
                                    [(ngModel)]="order.items"></app-order-products>

                <!--Promotion-->
                <app-order-promotions name="create-order-promotions"
                                      [promotions]="promotions"
                                      [(ngModel)]="order.promotion"
                                      (change)="onChangePromotion($event)"></app-order-promotions>
                <!--End promotion-->

                <!--Voucher-->
                <cxi-card title="{{'Order.Voucher'|translate}}">
                    <div class="row p-20">
                        <div class="col-6">
                            <base-input-text name="voucher_code"
                                             label="{{'Order.Voucher Code'|translate}}"
                                             placeholder="Value"
                                             [(ngModel)]="order.voucher_code"></base-input-text>
                        </div>

                        <div class="col-6">
                            <base-input-text name="voucher_discount"
                                             label="{{'Order.Voucher Discount'|translate}}"
                                             placeholder="Value"
                                             [(ngModel)]="order.voucher_discount"></base-input-text>
                        </div>

                        <div class="col-6">
                            <base-input-text name="maximum_discount"
                                             label="{{'Order.Maximum discount (VND)'|translate}}"
                                             placeholder="Value"
                                             [(ngModel)]="order.voucher_maximum_discount"></base-input-text>
                        </div>
                    </div>
                </cxi-card>
                <!--End voucher-->

            </div>
        </div>
    </form>
</div>
