<div class="list-brand-wrapper list-wrapper">
    <div class="list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">{{'Brand.Brands'|translate}}</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default" routerLink="../create">
                    <i class="icon-add-new"></i> <span>{{'Brand.New Brand'|translate}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="demo"
                          [config]="cxiGridConfig"
                          [columns]="cxiGridColumns"></app-cxi-grid>
        </div>
    </div>
</div>
