<!--variant-attributes list-->
<ng-template [ngIf]="value">
    <div class="panel-group m-b">
        <div class="row p-20">
            <ng-template ngFor
                         [ngForOf]="value"
                         let-variantAttribute
                         let-i="index">
                <div class="col-3">
                    <base-select name="{{name}}-val-{{variantAttribute.id}}"
                                 class="m-b-n"
                                 label="{{variantAttribute.name}}"
                                 bindValue="id"
                                 bindLabel="name"
                                 [disabled]="disabled"
                                 [items]="variantAttribute.options"
                                 [(ngModel)]="variantAttribute.value"></base-select>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>
