<div class="chart-report">
    <canvas baseChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
        [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" height="100"
        (chartClick)="chartClicked($event)">
    </canvas>
</div>