@import "variables";
@import "function";
@import "mixin";

.cxi-breadcrumbs {
  .container {
    padding: rem(10px) rem(30px) 0 rem(30px);
    max-width: none;

    .nav-wrapper {
      display: flex;
    }
  }

  .breadcrumb {
    display: inline-flex;
    background-color: $grey-050;

    margin-bottom: 0;
    padding: 0;
    @include fontSize(14px, 20px);
    float: left;

    a {
      color: $cool-gray;
      text-decoration: none;
    }

    span {
      color: $grey-900;
    }

    + .breadcrumb {
      padding-left: rem(5px);

      &::before {
        display: inline-block;
        padding-right: rem(5px);
        color: $cool-gray;
        font-family: "icon-bssfb";
        content: "\e90b";
        @include fontSize(16px, 20px);
        float: left;
      }
    }
  }
}
