@import "mixin";
@import "variables";

$btnHeight: 36px;
$btnBorderRadius: 4px;
$btnFontSize: 14px;
$btnLineHeight: 20px;
$btnBorderWidth: 1px;
$btnPaddingTopBottom: ($btnHeight - (2 * $btnBorderWidth) - $btnLineHeight) / 2;
$btnPaddingLeftRight: 20px;

/*-------------------------------------------------------------------------*/
/*BUTTON*/
.btn {
  border-radius: rem($btnBorderRadius);
  opacity: 1;
  @include fontSize($btnFontSize, $btnLineHeight);
  text-align: center;
  font-family: $font-sfprotext-bold;

  &.focus,
  &:focus {
    outline: 0;
    box-shadow: none;
  }

  /*btn-primary & btn-secondary */
  &.btn-primary,
  &.btn-default,
  &.btn-accent,
  &.btn-secondary,
  &.btn-white,
  &.btn-cancel {
    min-width: rem(26px);
    height: rem($btnHeight);
    padding: rem($btnPaddingTopBottom) rem($btnPaddingLeftRight);

    [class*='icon-'] {
      @include fontSize(20px, 20px);
      float: left;
      margin-right: rem(5px);

      &:not(:only-child) {
        margin-right: rem(12px);
      }
    }

    span.icon-loading {
      display: block;
      float: none;
      margin: 0;
      animation: fa-spin 2s infinite linear;
    }
  }

  /*btn-square 44x44*/
  &.btn-square {
    padding: rem(10px);
    width: rem(44px);
    height: rem(44px);
    border: none;
    min-width: auto;
    text-align: center;

    [class*='icon-'] {
      margin: 0;
      float: inherit;
      @include fontSize(16px);
      line-height: 1.5;
    }
  }

  i {
    font-size: 1rem;
    line-height: 1.5;
  }

  // Small, button small, btn-sm
  &.btn-sm {
    height: rem(32px);
    font-size: rem(14px);
    line-height: 1.5;
    padding: rem(4px) rem(10px);
    min-width: rem(1.626px);
    border-radius: rem(4px);
  }

  &.full-width {
    width: 100%;
  }
}

.btn-collapse {
  background: none;
  text-align: left;
  //color: $dark-03;

  &:before {
    content: "\e92a";
    font-family: $font-icon-bss;
    @include fontSize(9px);
    margin-right: rem(12px);
    color: #000;
    vertical-align: rem(2px);
  }
}

.btn-icon-o {
  background: transparent;
  padding: 0;
  //color: $dark-03;
  @include fontSize(20px);
  height: auto;
  width: auto;

  span {
    @include fontSize(14px);
    vertical-align: rem(4px);
  }
}

/*btn-white*/
.btn-white {
  //border: solid rem(1px) $dark-03;
  background-color: $white;

  :hover {
    //background-color: $dark-04;
  }

  :focus,
  :active {
    //background-color: $dark-03;
    color: $white;
  }
}

/*Button primary*/
.btn-primary {
  background-color: $primary-800;
  color: $white;
  border: none;

  &:hover {
    background-color: $primary-700;
  }

  &:active {
    background-color: $primary-600 !important;
  }

  &:focus {
    color: $white;
  }

  &:disabled {
    background-color: $grey-200;
    @include btnDisabled();
  }

  &.pressed {
    background-color: $primary-900;
  }

  &:target {
    color: $white;
  }
}

/*Button default*/
.btn-default {
  color: $cool-gray;
  border: solid rem($btnBorderWidth) $grey-100;
  background-color: $white;
  @include btnBoxShadow();

  &:hover {
    color: $cool-gray;
    background-color: $white;
    @include btnBoxShadowHover();
  }

  &:active {
    color: $cool-gray;
    border-color: $grey-100;
    background-color: #f7f7f8;
    box-shadow: none;
  }

  &:focus {
    color: $cool-gray;
    border: solid rem(2px) $accent-500;
    background-color: $white;
  }

  &:disabled {
    background-color: $grey-050;
    border-color: $grey-100;
    opacity: 0.5;
    box-shadow: none;
    @include btnDisabled();
  }

  &.pressed {
    background-color: $grey-050;
    border-color: $grey-100;
    box-shadow: none;
  }
}

/*Button primary*/
.btn-accent {
  background-color: $accent-500;
  color: $white;
  border: none;

  &:hover {
    background-color: $accent-700;
  }

  &:active {
    background-color: $accent-600 !important;
  }

  &:focus {
    color: $white;
  }

  &:disabled {
    background-color: $accent-200;
    @include btnDisabled();
  }

  &.pressed {
    background-color: $accent-900;
  }

  &:target {
    color: $white;
  }
}

/*Button assgin*/
.btn-assgin {
  color: $white;
  background-color: $grey-900;
  padding: rem(8px) rem(15px);
  border: none;

  &:hover {
    color: $white;
    background-color: $grey-900;
    @include btnBoxShadowHover();
    text-decoration: none;
  }

  &:active {
    color: $white;
    border-color: $grey-100;
    background-color: $grey-900;
    box-shadow: none;
    text-decoration: none;
  }

  &:focus {
    color: $white;
    border: solid rem($btnBorderWidth) $grey-900;
    background-color: $grey-900;
    text-decoration: none;
  }

  &:disabled {
    background-color: $grey-900;
    border-color: $grey-900;
    opacity: 0.5;
    box-shadow: none;
    @include btnDisabled();
  }
}

/*button block*/
button.btn-block,
base-button.btn-block {
  display: block;
  width: 100%;
  padding: rem(11px) rem(12px);
  border: 0;
  box-shadow: none;
  font-weight: normal;
}

/*btn-plus*/
.btn-plus {
  padding: rem(14px);
  position: absolute;
  top: rem(33px);
  right: 0;

  span {
    display: block;
  }
}

.btn-auth {
  background-color: $accent-500;
  color: $white;
  border-radius: rem(4px);
  padding: rem(14px);

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    background-color: $accent-300;
  }
}

.btn-cancel {
  color: $cool-gray;
  background-color: $white;
  @include btnBoxShadow();

  &:hover {
    //background-color: $dark-04;
  }

  &:focus,
  &:active {
    color: $white;
  }
}


//button single icon
.btn.btn-single-icon {
  padding: rem(8px);

  [class*=icon-] {
    margin-right: 0;
  }
}

/*button-group*/
.button-group {

  .right {
    text-align: right;
    display: block;
  }

  &.center {
    text-align: center;
    display: block;
  }

  > .btn:not(:first-child),
  > base-button:not(:first-child) {
    display: inline-block;
    margin-left: rem(20px);
  }

  .btn-white {
    padding: rem(10px) 3.625rem;

    &.btn-save {
      padding: rem(10px) 1.8125rem;
    }
  }
}

.btn-group {
  .btn-default {
    &.active,
    &:active {
      color: $white;
      border-color: $accent-500;
      background-color: $accent-500;
    }
  }
}
