@import "variables";
@import "function";
@import "mixin";

.alert {
  border: 0;
  border-radius: 0;
  position: relative;
  padding: 20px 15px;
  max-width: 350px !important;
  z-index: 1100000 !important;
  font-size: 14px;

  b {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
  }

  &.alert-danger i {
    color: #f44336;
  }

  &.alert-warning i {
    color: #ff9800;
  }

  &.alert-success i {
    color: #4caf50;
  }

  &.alert-info i {
    color: #00bcd4;
  }

  &.alert-primary i {
    color: #9c27b0;
  }

  &.alert-rose i {
    color: #e91e63;
  }

  &.alert-with-icon {
    margin-top: 43px;
    padding-left: 66px;
  }

  &-default {
    background-color: white;
    color: #555555;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(255, 255, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);

    a,
    .alert-link {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  &-inverse {
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(33, 33, 33, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(33, 33, 33, 0.2);

    a,
    .alert-link {
      color: #fff;
    }
  }

  &-primary {
    background-color: darken(#428bca, 6.5%);
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);

    a,
    .alert-link {
      color: #ffffff;
    }
  }

  &-success {
    background-color: #5cb85c;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);

    a,
    .alert-link {
      color: #ffffff;
    }
  }

  &-info {
    background-color: #5bc0de;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);

    a,
    .alert-link {
      color: #ffffff;
    }
  }

  &-warning {
    background-color: #f0ad4e;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);

    a,
    .alert-link {
      color: #ffffff;
    }
  }

  &-danger {
    background-color: #e51c23;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);

    a,
    .alert-link {
      color: #ffffff;
    }
  }

  &-rose {
    background-color: #eb3573;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(233, 30, 99, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(233, 30, 99, 0.2);

    a,
    .alert-link {
      color: #ffffff;
    }
  }

  i[data-notify="icon"] {
    display: block;
    left: 15px;
    top: 10px;
    position: absolute;
    // margin-top: -29px;
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 9px;
    border-radius: 50%;
    max-width: 38px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  }

  span {
    display: block;
    max-width: 89%;
  }

  &-icon {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -10px;

    i {
      margin-top: -7px;
      top: 5px;
      position: relative;
    }
  }

  &-with-icon {
    padding-left: 65px;
  }

  a,
  &-link {
    color: #555555;
  }

  .close {
    color: #fff;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-20 {
  margin-right: 20px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mg-0 {
  margin: 0 !important;
}

.promotion-group {
  .card-header a:after {
    font-family: 'icon-bssfb';
    content: "\e932";
    float: right;
    color: grey;
  }

  .card-header a.collapsed:after {
    content: "\e931";
  }

  .card-header a:after {
    font-family: 'icon-bssfb';
    content: "\e932";
    float: right;
    color: $accent-500;
    font-size: rem(24px);
  }

  .card-header a.collapsed:after {
    content: "\e931";
    color: gray;
  }

  .card {
    background: $white;
    border-radius: rem(4px);
    padding: rem(20px);
    margin-bottom: rem(10px);
    border: 0;

    .card-header {
      border: 0;
      padding: 0;
      background-color: transparent;

      h4 {
        margin: 0;

        > a {
          color: #16181c;
          font-size: rem(16px);
          text-decoration: none;
          font-family: "sfprotextbold";
        }
      }
    }

    .card-body {
      padding: rem(20px) 0;

      .time-clock {
        position: relative;

        i {
          position: absolute;
          top: 50%;
          transform: translate(50%, -50%);
          right: 15%;
          font-size: 20px;
        }
      }

      .form-check-label {
        font-size: rem(16px);
        margin: rem(10px) 0;

        input[type=checkbox] {
          width: rem(18px);
          height: rem(18px);
          border: rem(2px) solid #b4b9be;
          background: #fff;
          color: #555;
          clear: none;
          cursor: pointer;
          border-radius: rem(0px);
          display: inline-block;
          line-height: 0;
          margin-right: rem(5px);
          outline: 0;
          padding: 0 !important;
          text-align: center;
          vertical-align: sub;
          -webkit-appearance: none;
          vertical-align: bottom;
          -webkit-transition: .05s border-color ease-in-out;
          transition: .05s border-color ease-in-out;
          outline: none !important;
          position: relative;

          &:disabled {
            background: #eee;
            opacity: 0.5;
          }

          &:after {
            transform: rotate(45deg);
            position: absolute;
            left: rem(4px);
            top: rem(1px);
            width: rem(5px);
            height: rem(10px);
            border-width: rem(2px);
            border-style: solid;
            border-top: 0;
            border-left: 0;
            border-color: #fff;
            content: '';
            opacity: 0;
            visibility: hidden;
            transition: all 0.15s ease-in-out;
          }

          &:checked {
            background: $primary-800;
            border-color: $primary-800;

            &:before {
              animation: rippleOn 700ms forwards ease-out;
              content: "";
              position: absolute;
              left: rem(5px);
              top: rem(5px);
              background-color: $primary-800;
              height: rem(4px);
              width: rem(4px);
              border-radius: 100%;
              z-index: 1;
              opacity: 0;
              margin: 0;
            }

            &:after {
              opacity: 1;
              visibility: visible;
            }
          }

          &.some {
            background: $accent-500;
            border-color: $accent-500;

            &::after {
              left: rem(6px);
              top: rem(2px);
              transform: rotate(90deg);
              width: rem(2px);
              position: absolute;
              height: rem(10px);
              border-width: rem(2px);
              border-style: solid;
              border-top: 0;
              border-left: 0;
              border-color: #fff;
              content: "";
              transition: all 0.15s ease-in-out;
              opacity: 1;
              visibility: visible;
            }
          }

          &.none {
            background-color: transparent;
            background: transparent;
            border-color: transparent;
            border: rem(2px) solid #b4b9be;

            &:checked {
              background-color: transparent;
              background: transparent;
              border-color: transparent;
              border: rem(2px) solid #b4b9be;
            }
          }

          &.all {
            background: $accent-500;
            border-color: $accent-500;

            &:after {
              transform: rotate(45deg);
              position: absolute;
              left: rem(4px);
              top: rem(1px);
              width: rem(5px);
              height: rem(10px);
              border-width: rem(2px);
              border-style: solid;
              border-top: 0;
              border-left: 0;
              border-color: #fff;
              content: "";
              opacity: 1;
              visibility: visible;
              transition: all 0.15s ease-in-out;
            }
          }
        }
      }

      .show-time {
        display: none;
      }

      .product-gift {
        border: 1px solid $grey-200;
        height: rem(112px);
        border-radius: 4px;
        overflow-y: auto;
        width: 100%;
        margin: auto;

        .d-flex {
          align-items: center;
          justify-content: space-between;

          p {
            margin: 0;
            padding: rem(5px) 0;
            cursor: pointer;

            .icon-add-new {
              background-color: transparent;
              border: 0;
              font-size: 22px;
              color: $green-500;
            }

            .icon-add-new:disabled {
              opacity: 0.5;
            }
          }
        }

        .gift_arr {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .group-item {
        .item-pr {
          //width: 22%;
          display: inline-block;
          border-radius: 17px;
          background-color: #f4f4f6;
          text-align: center;
          margin: rem(5px);
          padding: rem(4px) rem(15px);

          .d-flex {
            align-items: center;
            justify-content: center;

            i {
              font-size: 22px;
              color: #f1295c;
              cursor: pointer;
            }
          }
        }
      }

      .text-itempr {
        font-size: rem(16px);
        margin-top: rem(20px);
      }

      input[type=radio] {
        vertical-align: bottom;
        width: rem(18px);
        height: rem(18px);
        border-radius: 50%;
        border: rem(2px) solid #ccc;
        background: #fff;
        color: #555;
        clear: none;
        cursor: pointer;
        display: inline-block;
        line-height: 0;
        //margin: rem(-2px) rem(1px) 0 0 !important;
        margin-right: rem(7px);
        outline: 0;
        padding: 0 !important;
        text-align: center;
        //vertical-align: middle;
        -webkit-appearance: none;
        -webkit-box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
        box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
        -webkit-transition: .05s border-color ease-in-out;
        transition: .05s border-color ease-in-out;
        outline: none !important;
        position: relative;

        &:disabled {
          background: #eee;
          opacity: 0.5;
        }

        &:after {
          content: "";
          position: absolute;
          left: rem(5px);
          top: rem(1.5px);
          width: rem(5px);
          border-bottom: rem(2px) solid $white;
          height: rem(9px);
          border-right: rem(2px) solid $white;
          transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          opacity: 0;
          visibility: hidden;
          transition: all 0.15s ease;
          //transform: scale(0.5);
        }

        &:before {
          animation: RadioRippleOn 700ms forwards ease-out;
          position: absolute;
          left: rem(3px);
          top: rem(3px);
          width: rem(8px);
          height: rem(8px);
          border-radius: 50%;
          background-color: $primary-800;
          z-index: 1;
          opacity: 0;
          margin: 0;

        }

        &:checked {
          background: $primary-800;
          border-color: $primary-800;

          &:before {
            content: "";
          }

          &:after {
            opacity: 1;
            visibility: visible;
            //transform: none;
          }
        }
      }

      .check-all {
        width: 40%;
      }

      .check-outlet {
        .d-flex {
          align-items: center;
          justify-content: space-between;

          .form-group {
            width: 50%;
          }
        }
      }
    }
  }

  .positon-pr {
    position: relative;

    .form-control {
      pointer-events: none;
    }

    button {
      position: absolute;
      top: 50%;
      right: 6%;
      transform: translate(0, -50%);
      background-color: $white;
      box-shadow: none;
      border: 0;

      i {
        font-size: 20px;
      }
    }
  }
}

.justify-content-space-between {
  justify-content: space-between !important;
}

input[type=checkbox] {
  width: rem(18px);
  height: rem(18px);
  border: rem(2px) solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  border-radius: rem(0px);
  display: inline-block;
  line-height: 0;
  margin-right: rem(5px);
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: sub;
  -webkit-appearance: none;
  vertical-align: bottom;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
  outline: none !important;
  position: relative;

  &:disabled {
    background: #eee;
    opacity: 0.5;
  }

  &:after {
    transform: rotate(45deg);
    position: absolute;
    left: rem(4px);
    top: rem(1px);
    width: rem(5px);
    height: rem(10px);
    border-width: rem(2px);
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-color: #fff;
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
  }

  &:checked {
    background: $primary-800;
    border-color: $primary-800;

    &:before {
      animation: rippleOn 700ms forwards ease-out;
      content: "";
      position: absolute;
      left: rem(5px);
      top: rem(5px);
      background-color: $primary-800;
      height: rem(4px);
      width: rem(4px);
      border-radius: 100%;
      z-index: 1;
      opacity: 0;
      margin: 0;
    }

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &.some {
    background: $accent-500;
    border-color: $accent-500;

    &::after {
      left: rem(6px);
      top: rem(2px);
      transform: rotate(90deg);
      width: rem(2px);
      position: absolute;
      height: rem(10px);
      border-width: rem(2px);
      border-style: solid;
      border-top: 0;
      border-left: 0;
      border-color: #fff;
      content: "";
      transition: all 0.15s ease-in-out;
      opacity: 1;
      visibility: visible;
    }
  }

  &.none {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border: rem(2px) solid #b4b9be;

    &:checked {
      background-color: transparent;
      background: transparent;
      border-color: transparent;
      border: rem(2px) solid #b4b9be;
    }
  }

  &.all {
    background: $accent-500;
    border-color: $accent-500;

    &:after {
      transform: rotate(45deg);
      position: absolute;
      left: rem(4px);
      top: rem(1px);
      width: rem(5px);
      height: rem(10px);
      border-width: rem(2px);
      border-style: solid;
      border-top: 0;
      border-left: 0;
      border-color: #fff;
      content: "";
      opacity: 1;
      visibility: visible;
      transition: all 0.15s ease-in-out;
    }
  }
}

.quantity-alow {
  font-size: rem(12px);
  margin: 0.71428571rem 0;

  .input-group {
    position: relative;
    min-width: rem(250px);

    button {
      width: 26px;
      height: 24px;
      border-radius: 12px;
      border: 0;

      &:focus {
        outline: 0;
      }
    }

    .btn-icon-minus {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 40px;
      z-index: 1;
      background-color: #fee5eb;
      color: $red-500;

      &:disabled {
        opacity: 0.8;
      }
    }

    .btn-icon-add-new {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: rem(5px);
      background-color: #e5fae6;
      color: $green-500;
    }

    .icon-minus, .icon-add-new {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: rem(22px);
    }
  }
}

.text-promotion {
  font-size: rem(12px) !important;
  text-transform: uppercase !important;
  margin-bottom: rem(2px) !important;
  font-weight: normal !important;
}

.form-control-promotion {
  height: 2.57142857rem;
  //padding: 0.71428571rem;
  border-radius: 0.28571429rem;
  outline: none;
  min-height: 2.57142857rem;
  border: 0.07142857rem solid #e2e3e6;
  @include inputBoxShadow();
}

#scroll-promotion::-webkit-scrollbar {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 8px;
}

#scroll-promotion::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.btn-list-cxi {
  display: inline-block;
  position: relative;
  z-index: 3;
  border: rem(1px) solid #20275a;
  background-color: #20275a;
  transition: all .3s;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  &::before {
    content: "";
    opacity: 0.2;
    position: absolute;
    width: 120%;
    height: 120%;
    top: 0px;
    left: -10%;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: all 0.4s ease 0s;
  }

  &:hover {
    color: #20275a;

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.tranlates {
  margin-right: rem(5px);
  transform: translateY(rem(65px));

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      cursor: pointer;
      opacity: 0.5;
      display: flex;
      align-items: center;

      &.active {
        opacity: 1;
      }
    }
  }
}

.list-body-cxi {
  width: 100% !important;
}

.list-wapper-cxi {
  padding-left: rem(5px);
}

.list-header-cxi {
  padding-left: rem(30px);
}

.tranlate-attribute {
  display: flex;
  justify-content: flex-end;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: rem(270px);
    background-color: $white;

    li {
      height: rem(60px);
      padding: rem(15px);
      font-size: rem(16px);
      font-weight: bold;
      font-family: "sfprotextbold";
      cursor: pointer;
      opacity: 0.5;
      display: flex;
      align-items: center;

      &:first-child {
        border-bottom: 1px solid #ccc;
      }

      span {
        margin-left: rem(5px);
      }

      &.active {
        color: #15a5de;
        opacity: 1;
      }
    }
  }
}

$arrow-w: 24px;
$li-h: 60px;
span.white-arrow {
  display: block;
  position: absolute;
  top: rem(($li-h - $arrow-w) /2);
  left: rem(15px - $arrow-w / 2);
  border-top: rem($arrow-w/2) solid transparent;
  border-bottom: rem($arrow-w/2) solid transparent;
  border-right: rem($arrow-w/2) solid white;

  &.active {
    top: 5rem !important;
  }
}

.width-card {
  width: rem(570px);
}

.create-product {

  .create-product-body {
    background-color: $white;
    width: rem(570px);
    margin: auto;
    padding: rem(20px);

    .title-body {
      font-size: rem(16px);
      font-family: $font-sfprotext-bold;
      line-height: 1.5;
      margin-bottom: rem(20px);
    }
  }

  .create-product-header {
    .title-header {
      display: flex;
      align-items: center;

      &:before {
        font-size: rem(24px);
      }
    }

    .btn-white {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #dde2e5;
      margin-right: rem(20px);
    }
  }

  .mail-info {
    max-width: 100%;
    margin: auto;
  }
}

.tox-notifications-container {
  display: none;
}

app-sidebar {
  + .main .scroll-page-horizontal {
    @media (max-width: 1024px) {
      width: rem(1070px);
    }
  }
}

//left-sidebar-language
.cxi-left-sidebar-language {
  .l {
  }

  .r {
  }

  cxi-card {
    display: flex;
    justify-content: flex-start;
  }
}
