@import "mixin";
@import "variables";


// md: standard
$mdFontSize: 14px;
$mdLineHeight: 20px;
$mdHeightInput: 36px;
$mdBorderRadiusInput: 4px;
$mdBorderWidth: 1px;
$mdPaddingInput: ($mdHeightInput - (2 * $mdBorderWidth) - $mdLineHeight) / 2;


// lg: standard (for Auth)
$lgFontSize: 14px;
$lgLineHeight: 20px;
$lgHeightInput: 48px;
$lgBorderRadiusInput: 4px;
$lgBorderWidth: 1px;
$lgPaddingInput: ($lgHeightInput - (2 * $lgBorderWidth) - $lgLineHeight) / 2;


/*-------------------------------------------------------------------------*/
/* Form, Input */


form {
  .form-group {
    margin-bottom: rem(20px);
    position: relative;

    &.required {
      > label:after {
        content: " *";
        color: $red;
      }
    }

    > label {
      @include fontSize($mdFontSize);
      font-weight: 600;
      //color: $dark-01;
      display: block;
      line-height: 1.5;
      margin-bottom: rem(10px);
    }

    //.message-top {
    //  position: absolute;
    //  right: 0;
    //  top: 0;
    //  @include fontSize(12px);
    //  //color: $dark-03;
    //  margin-top: rem(6px);
    //}

    //.message-bot {
    //  @include fontSize(12px);
    //  color: $dark-03;
    //  margin-top: rem(5px);
    //}

    input[type="text"] {
      &.disable {
        border-color: $white;
      }
    }

    .business {
      &.ng-select {
        display: inline-block;
        margin-right: rem(12px);
      }
    }
  }

  h5.title-column {
    font-size: rem(15px);
    font-weight: 600;
    color: #3E8B82;
    margin-top: 0;
  }

  .form-title {
    @include fontSize(16px, 24px);
    color: $grey-900;
    margin-bottom: rem(20px);
    font-weight: bold;
  }

  button.btn-form {
    margin-top: rem(22px);
  }
}

input.form-control,
form .form-group > input,
form .form-group > textarea,
form .form-group .input-group > input {
  padding: rem($mdPaddingInput);
  border: rem($mdBorderWidth) solid $grey-100;
  border-radius: rem($mdBorderRadiusInput);
  width: 100%;
  @include fontSize($mdFontSize, $mdLineHeight);
  height: rem($mdHeightInput);

  @include inputBoxShadow();

  &.lg {
    padding: rem($lgPaddingInput);
    border: rem($lgBorderWidth) solid $grey-100;
    border-radius: rem($lgBorderRadiusInput);
    @include fontSize($lgFontSize, $lgLineHeight);
    height: rem($lgHeightInput);
  }
}


/*Style status validate*/
/*valid*/
form .form-group input,
form .form-group textarea,
input,
textarea {
  line-height: rem($mdLineHeight);

  &.ng-valid.ng-touched {
    &.with-validate {
      border: rem(1px) solid $green;
      background: $white url('~src/assets/img/check-green.svg') no-repeat top right !important;
      padding-right: rem($mdHeightInput);
      background-size: rem($mdHeightInput) !important;
    }
  }

  &.ng-invalid.ng-touched:not(.base-datepicker) {
    border: rem(1px) solid $red;

    &.with-validate {
      border: rem(1px) solid $red;
      background: $white url('~src/assets/img/x-red.svg') no-repeat top right !important;
      padding-right: rem($mdHeightInput);
      background-size: rem($mdHeightInput) !important;
    }
  }
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $cool-gray;
}


//Edge
input::-ms-clear {
  display: none;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}


//Base Components
form {

  base-select,
  base-input-text,
  base-checkbox,
  base-datepicker,
  base-radio,
  base-monetary,
  base-integer,
  base-input-google-places,
  base-switch,
  base-textarea,
  cxi-input-password,
  cxi-customer-level,
  cxi-increase-decrease,
  cxi-time-picker,
  cxi-select-products,
  cxi-period-date,
  cxi-days-of-week {
    display: block;
    margin-bottom: rem(20px);
  }

  table,
  base-selection-two-columns {
    base-select,
    base-input-text,
    base-checkbox,
    base-datepicker,
    base-radio,
    base-monetary,
    base-integer,
    base-input-google-places,
    base-switch,
    base-textarea,
    cxi-input-password,
    cxi-customer-level,
    cxi-increase-decrease,
    cxi-time-picker,
    cxi-select-products,
    cxi-period-date,
    cxi-days-of-week {
      display: inherit;
      margin-bottom: 0;
    }
  }
}


// LABELS (in form)
form label,
.form-label {
  @include fontSize(12px, 18px);
  margin-bottom: rem(2px);
  color: #16171a;

  &.empty-label {
    color: transparent;
    background: transparent;
  }
}

.selection-search {
  text-align: center;
  border-radius: rem(18px) !important;
  background-color: $pale-grey;
}


// ICONS
base-input-text {
  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    bottom: rem(12px);
    right: rem(12px);
    color: $cool-gray;
    font-weight: normal;
  }

  .icon-invalid {
    position: absolute;
    bottom: rem(27px);
    right: rem(12px);
    margin-top: 0;
    width: rem(13px);
    height: rem(13px);
    background: $red-500;
    border-radius: 50%;
    color: $white;
    text-align: center;
    @include fontSize(10px, 13px);
  }
}
