@import "variables";


// calculate Rems
@function rem($size, $context: $base-size) {
  @return ($size / $context) * 1rem;
}

// calculate em
@function em($size, $context: $base-size) {
  @return ($size / $context) * 1em;
}

// calculate container width
@function containerWidth($size) {
  @return ($size * $baseContainerWidth) / $baseWidth;
}
