@import "mixin";
@import "variables";


base-filter-input {
  .ng-select.ng-select-custom {
    .ng-select-container {
      border: none !important;
      box-shadow: none !important;
    }
  }

  base-datepicker {
    input {
      border: none !important;
      box-shadow: none !important;
      height: rem(36px);
    }
  }
}
