@import "mixin";


.container-custom {
  margin-left: auto;
  margin-right: auto;
}

/*desktop 1920*/
@media (max-width: 1920px) {
  @include containerCustom(1920px);
}

/*desktop 1600*/
@media (max-width: 1600px) {
  @include containerCustom(1600px);
}

/*desktop 1440*/
@media (max-width: 1440px) {
  @include containerCustom(1440px);
}


/*desktop 1200*/
@media (max-width: 1280px) {
  @include containerCustom(1280px);
}

/*iPad pro*/
@media (max-width: 1024px) {
  @include containerCustom(1024px);
}

/*iPad*/
@media (max-width: 768px) {
  @include containerCustom(768px);
}

//iphone 6+ 7+
@media (max-width: 414px) {
  @include containerCustom(414px);
}

//iphone 6 7 8
@media (max-width: 375px) {
  @include containerCustom(375px);
}

//iphone 5
@media (max-width: 320px) {
  @include containerCustom(320px);
}
