@import "variables";

.mat-slide-toggle {
  &.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: $primary-800;
    }

    .mat-ripple-element {
      background-color: $red;
    }

    .mat-slide-toggle-bar {
      background-color: $primary-300;
    }
  }

  &:not(.mat-checked) {
    .mat-ripple-element {
      background-color: $red;
    }
  }
}

.mat-slide-toggle-bar {
  background-color: $primary-600;
}

