@import "function";
@import "variables";

// font-size
@mixin fontSize($size, $lineHeight: 20px, $fontWeight: normal) {
  font-size: rem($size);
  @if $lineHeight {
    line-height: rem($lineHeight);
  } @else {
    line-height: 1.5;
  }

  @if $fontWeight {
    font-weight: $fontWeight;
  } @else {
    font-weight: normal;
  }
}

// container custom width
@mixin containerCustom($size) {
  $containerWidth: containerWidth($size);

  @if $size>414 {

    // table & pc => fixed with
    .container-custom {
      width: rem($containerWidth);
    }
  } @else {
    // mobile => calculate with padding = 20px
    $paddingLeftRight: 20px;

    .container-custom {
      width: calc(100vw - (#{rem($paddingLeftRight)} * 2));
    }
  }
}

@mixin fontSizeRoot($sizeScreen) {
  font-size: ($base-size / $sizeScreen * 100) * 1vw;
}

@mixin lineHeight($size) {
  line-height: rem($size);
}

@mixin overflowVisible() {
  overflow: visible;
}


// ============= INPUT =============
@mixin inputBoxShadow() {
  box-shadow: inset 0 rem(1px) rem(3px) 0 rgba(0, 0, 0, 0.2);
}


// ============= BUTTONS =============
@mixin btnDisabled() {
  cursor: not-allowed;
  pointer-events: all !important;
}

@mixin btnBoxShadow() {
  box-shadow: 0 rem(2px) rem(4px) 0 rgba(0, 0, 0, 0.1);
}

@mixin btnBoxShadowHover() {
  box-shadow: 0 rem(5px) rem(10px) 0 rgba(0, 0, 0, 0.05);
}
