@import "variables";
@import "mixin";

/*-------------------------------------------------------------------------*/
/* MODALS */

/*modal-header*/
.modal-header {
  padding: rem(34px) rem(60px) 0 rem(60px);
  border-bottom: 0;

  .modal-title {
    @include fontSize(24px, 36px);
    font-weight: bold;
    color: $primary-800;
    position: relative;

    [class*='icon-'] {
      @include fontSize(20px);
      position: absolute;
      top: 0;
      left: 0;
      margin: rem(2px);
      color: $primary-800;
      display: block;
      width: rem(20px);
      height: rem(20px);
    }
  }

  .close {
    /* width: 1.7142857143rem; */
    /* height: 1.7142857143rem; */
    /* background: none; */
    padding: 0;
    /* margin: 0; */
    /* border: none; */
    position: absolute;
    top: rem(23px);
    right: rem(24px);

    &:focus {
      outline: none;
    }

    span {
      @include fontSize(14px);
      //color: $dark-03;
      display: block;
    }
  }
}

.modal-body {
  //padding: rem(20px);
  padding: rem(20px) rem(60px);
  //display: inline-flex;
  display: block;

  p {
    @include fontSize(16px, 24px);
    text-align: center;
    color: #16171a;
  }

  &.modal-body-delete {
    padding-top: rem(10px);

    p {
      font-size: 14px;
      color: #888;
    }
  }
}

.modal-footer {
  padding: rem(20px) rem(60px) rem(40px) rem(60px);
  border-top: none;

  .btn-block,
  button.btn-block,
  base-button.btn-block {
    width: 100%;
  }

  // 2 buttons
  //.button-group {
  //  width: 100%;
  //
  //  base-button {
  //    width: calc(50% - #{rem(15px)});
  //    display: inline-grid !important;
  //  }
  //}

  @mixin button-group-x {
    $gap: 30px;
    $pd: 0px;

    @for $i from 1 through 2 {
      .button-group-#{$i} {
        width: 100%;

        base-button {
          width: calc((100% / #{$i}) - #{$pd});
          display: inline-grid !important;
          padding: 0 rem($gap / 2);
          float: left;
        }
      }
    }
  }

  @include button-group-x;
}

.modal-footer-delete {
  padding: rem(20px);
  border-top: 1px solid #e5e5e5;

  > button {
    padding: rem(8px) rem(20px);
    font-family: "sfprotextregular";

    &.btn-danger {
      background: #f15e5e;
      background-color: #d9534f;
    }

    &.btn-defaul {
      background: #b0c1c6;
      color: #fff;
    }
  }
}

/*
==============================================
=                 Mixin                    =
==============================================
*/

@mixin modalPadding20() {
  .modal-header,
  .modal-footer {
    padding: rem(20px);
  }

  .modal-body {
    padding: 0 rem(20px);
  }
}

/*
==============================================
=                 Message                    =
==============================================
*/

.select-super-attributes {
  .modal-dialog {
    width: rem(360px);
  }
}

.change-password {
  .modal-dialog {
    width: rem(375px);
  }
}

.order-cancel-popup {
  .modal-dialog {
    max-width: rem(420px);
  }
}

.status-confirmation,
.unsaved-changes {
  .modal-dialog {
    width: rem(430px);
  }
}

.currencies {
  .modal-dialog {
    width: rem(430px);

    @include modalPadding20();
  }
}

.deactivate-user {
  .modal-dialog {
    width: rem(450px);

    @include modalPadding20();
  }
}

.cxi-calendar-week-add-staff {
  .modal-dialog {
    width: rem(470px);

    @include modalPadding20();
  }
}

.order-detail-popup {
  .modal-dialog {
    max-width: rem(570px);
  }
}

.commission,
.customer-level-icons {
  .modal-dialog {
    width: rem(668px);
    max-width: inherit;

    .modal-header {
      padding: rem(20px) rem(20px) 0 rem(20px);
    }

    .modal-body {
      padding: rem(20px) rem(20px) rem(20px) rem(20px);
    }
  }
}

.cxi-select-item-from-list {
  .modal-dialog {
    width: rem(1170px);
    max-width: inherit;

    .modal-header {
      padding: rem(30px) rem(30px) 0 rem(30px);
    }

    .modal-body {
      padding: rem(16px) rem(30px);
    }
  }
}


.orders-add-product {
  .modal-dialog {
    width: rem(1170px);
    max-width: inherit;

    .modal-header {
      padding: rem(20px) rem(20px) 0 rem(20px);
    }

    .modal-body {
      padding: rem(20px) rem(20px) rem(30px) rem(20px);
    }
  }
}

.select-exhibitor-popup,
.exhibitor-information-popup {
  margin-top: 15%;
}

.select-exhibitor-popup {
  .modal-body {
    .ex-title {
      margin-top: rem(20px);
      margin-bottom: rem(20px);
    }

    .list-ex {
      .btn-add {
        margin-bottom: rem(15px);
      }
    }
  }
}


