@import "function";
@import "variables";
@import "mixin";

/*-------------------------------------------------------------------------*/
/* NG_SELECT_CUSTOM*/

.ng-select {

  &.ng-select-custom {
    width: 100%;

    .ng-select-container {
      height: rem(36px);
      padding: rem(10px);
      border-radius: rem(4px);
      outline: none;
      //border-color: $dark-03;
      min-height: rem(36px);
      border: rem(1px) solid $grey-100;
      @include inputBoxShadow();


      .ng-value-container {
        padding-left: 0;

        .ng-input {
          top: rem(9px);

          > input {
            padding: 0 !important;
          }
        }
      }
    }

    .ng-arrow-wrapper {
      width: rem(16px);
      padding-right: rem(3px);
    }

    &.ng-select-focused {
      &:not(.ng-select-opened) {
        > .ng-select-container {
          border-color: $grey-100;
          @include inputBoxShadow();
        }
      }
    }

    &.ng-select-opened {
      > .ng-select-container:hover {
        border: rem(1px) solid $grey-100;
        @include inputBoxShadow();
      }
    }

    &.ng-select-disabled {
      > .ng-select-container {
        background-color: #dee2e6
      }
    }

    &.ng-dropdown-panel {
      //border-color: $dark-03;

      .ng-dropdown-panel-items {
        .ng-option {
          &.ng-option-marked {
            background-color: #defdff;
          }
        }
      }
    }

    &.focused,
    &:focus {
      //disable outline: web-kit
      outline: none;

      > .ng-select-container {
        // border-color: $dark-03;
      }
    }

    &.no-border {
      > .ng-select-container {
        border: none;
        //background-color: $dark-05;

        &:hover {
          box-shadow: none;
        }
      }
    }

    .ng-arrow-wrapper {
      .ng-arrow {
        border: 0;
        position: relative;

        &:after {
          position: absolute;
          content: "\e901";
          font-family: $font-icon-bss;
          @include fontSize(24px);
          top: -1 * rem(15px);
          right: -1 * rem(15px);
        }
      }
    }

    &.popular,
    &.paginations,
    &.record {
      .ng-arrow-wrapper {
        .ng-arrow {
          &:after {
            position: absolute;
            content: "\e901";
            font-family: $font-icon-bss;
            @include fontSize(9px);
            top: -1 * rem(10px);
            right: -1 * rem(15px);
          }
        }
      }
    }

    &.post-code {
      .ng-arrow-wrapper {
        .ng-arrow {
          &:after {
            display: none;
          }
        }
      }
    }

    /*ng-select-report*/
    &.report {
      .ng-arrow-wrapper {
        .ng-arrow {
          &:after {
            position: absolute;
            content: "\e901";
            font-family: $font-icon-bss;
            @include fontSize(13px);
            top: -1 * rem(14px);
            right: -1 * rem(15px);
          }
        }
      }
    }

    /*Style ng-select profile*/
    &.profile {
      padding-top: rem(34px);
    }

    /*ng-select-invoice*/
    &.ng-select-invoice {
      .ng-select-container,
      &.ng-select-single .ng-select-container {
        border: solid rem(1px) #bdc5c7;
      }
    }

    /*ng-select-sm*/
    &.ng-select-sm {
      &.select,
      &.ng-select-single {
        .ng-select-container {
          height: rem(32px);
          min-height: rem(32px);
          border-radius: rem(4px);
          padding: rem(4px) rem(10px);
        }
      }

      .ng-arrow-wrapper {
        width: rem(24px);
        height: rem(24px);
        padding: 0;

        .ng-arrow {
          width: rem(16px);
          height: rem(16px);
          margin: rem(4px);
          padding: rem(2px);

          &:after {
            @include fontSize(24px);
            top: rem(1px);
            right: rem(2.5px);
          }
        }
      }

      .ng-select-container {
        .ng-value-container {
          .ng-input {
            top: rem(4px);
          }
        }
      }
    }
  }

  &.select-pagination {
    padding-right: 0;
    width: rem(18px);

    .ng-select-container {
      padding-left: rem(62px);
      font-weight: bold;
    }

    .ng-arrow-wrapper {
      .ng-arrow {
        &:after {
          content: "\e911";
          font-weight: bold;
        }
      }
    }
  }

  &.sm {
    .ng-select-container {
      height: rem(32px);
      padding: rem(4px);
      border-radius: rem(4px);
      outline: none;
      //border-color: $dark-03;
    }
  }

  &.select-checkbox {
    .ng-select-container {
      padding-left: rem(35px);
    }
  }
}
