@import "function";

//list
.list-wrapper {
    padding: rem(22px) rem(30px) rem(22px) rem(30px);

    .list-header {
        margin-bottom: rem(22px);

        .title-header {
            @include fontSize(24px, 36px);
            color: $primary-800;
            font-family: $font-sfprotext-bold;
        }

        .btn-setting,
        .btn-addnew {
            background-color: $primary-800;
            border-radius: rem(4px);
            color: $white;
            //padding: rem(8px) rem(15px);
            align-items: center;
            font-family: $font-sfprotext;
            border: 1px solid $primary-800;
            cursor: pointer;

            span {
                font-size: rem(14px);
                line-height: rem(20px);
            }

            >i {
                font-size: rem(20px);
                margin-right: rem(5px) !important;
            }
        }

        .btn-setting {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #dde2e5;
            background-color: $white;
            margin-right: rem(20px);

            span {
                color: $cool-gray;
                font-weight: bold;
                font-size: rem(14px);
            }

            i {
                color: $cool-gray;

                &.icon-settings {
                    margin-right: rem(5px);
                }
            }
        }
    }

    .filter-section {
        margin-bottom: rem(30px);
    }
}

//create
.create-wrapper {
    padding: rem(10px) rem(30px) rem(22px) rem(30px);

    .section {
        margin-bottom: rem(20px);
    }

    .upload-section {
        height: rem(200px);
        background: #dfe7ed;
        position: relative;
        border-radius: rem(4px);

        form {
            display: unset;

            .upload-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                i {
                    font-size: rem(60px);
                    color: #9eadba;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .create-header {
        margin-bottom: rem(42px);

        .title-header {
            font-size: rem(24px);
            color: $primary-800;

            font-family: $font-sfprotext-bold;

            // &::before {
            //     content: '\e903';
            //     font-family: $font-icon-bss;
            //     font-weight: normal;
            //     font-size: rem(16px);
            //     line-height: 1.5;
            //     display: inline-block;
            //     margin-right: rem(14px);
            // }
        }
    }

    .create-body {
        background-color: $white;
        margin: auto;
        padding: rem(20px);

        .title-body {
            font-family: $font-sfprotext-bold;
            font-size: rem(16px);
            line-height: 1.5;
            margin-bottom: rem(20px);
        }

        .sub-title-body {
            font-family: $font-sfprotext-bold;
            margin-bottom: rem(5px);
        }
    }
}

//edit
.edit-wrapper {
    padding: rem(10px) rem(30px) rem(22px) rem(30px);

    .upload-section {
        height: rem(200px);
        background: #dfe7ed;
        position: relative;
        border-radius: rem(4px);

        form {
            display: unset;

            .upload-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;

                i {
                    font-size: rem(60px);
                    color: #9eadba;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section {
        margin-bottom: rem(20px);
    }

    .bg-white {
        background-color: $white;
        border-radius: rem(4px);
        padding: rem(20px);
    }

    .edit-header {
        margin-bottom: rem(42px);

        .title-header {
            font-size: rem(24px);
            color: $primary-800;

            font-family: $font-sfprotext-bold;
        }
    }

    .edit-body {
        background-color: $white;
        margin: auto;
        padding: rem(20px);

        .title-body {
            font-family: $font-sfprotext-bold;
            font-size: rem(16px);
            line-height: 1.5;
            margin-bottom: rem(20px);
        }

        .sub-title-body {
            font-family: $font-sfprotext-bold;
            margin-bottom: rem(5px);
        }
    }
}
