@import "variables";
@import "function";
@import "mixin";

.base-panel {
  background: $white;
  padding: rem(20px);
  border-radius: rem(4px);

  // width
  &.full {
    width: 100%;

    .panel-body {
      height: 100%;
    }
  }

  &.sm {
    width: rem(370px);
  }

  &.md {
    width: rem(570px);
  }

  &.lg {
    width: rem(770px);
  }

  &.xl {
    width: rem(1170px);
  }

  .base-panel{
    width: 100% !important;
  }

  .title-panel {
    @include fontSize(16px, 24px);
    color: $grey-900;
    font-weight: bold;
    margin-bottom: rem(20px);

    &.collapsed {
      margin-bottom: 0;
    }
  }

  .title-panel-section {
    @include fontSize(16px, 24px);
    color: $primary-800;
    font-weight: bold;
    margin-bottom: rem(20px);
    text-transform: uppercase;
  }

  .panel-body {

    &:not(:last-child) {
      border-bottom: rem(2px) solid $grey-100;
      padding-bottom: rem(20px);
      margin-bottom: rem(20px);
    }

    & + .panel-footer {
      //border-top: rem(2px) solid $grey-100;
      //padding-top: rem(20px);
      //margin-top: rem(20px);
    }
    p {
      font-size: rem(14px);
    }
    .margin-custom {
      padding-top: rem(10px);
      padding-bottom: rem(10px);
    }

    .ck.ck-editor__editable_inline {
      border: 1px solid var(--ck-color-base-border);
      min-height: rem(300px);
    }

  }

  .panel-footer {
    margin-left: rem(-20px);
    margin-right: rem(-20px);
    padding-left: rem(20px);
    padding-right: rem(20px);


    margin-bottom: rem(20px);
    padding-bottom: rem(20px);
    border-bottom: rem(2px) solid $grey-100;

    //&:not(:last-child) {
    //  margin-bottom: rem(20px);
    //  padding-bottom: rem(20px);
    //  border-bottom: rem(2px) solid $grey-100;
    //}

    button + button,
    base-button + base-button {
      margin-left: rem(14px);
    }

    //&.dividend {
    //  margin-bottom: rem(20px);
    //  border-bottom: rem(2px) solid $grey-100;
    //  padding-bottom: rem(20px);
    //}
  }

  .panel-group {
    border: 1px solid $grey-200;
    padding: rem(20px);
    border-radius: rem(4px);
  }
}


// cxi-select-variants
cxi-select-variants {
  cxi-select-variant:last-child {
    .panel-footer {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

#scroll-board::-webkit-scrollbar {
  height: rem(8px);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: rem(5px);
  width: rem(8px);
}

#scroll-board::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: rem(5px);
}
