@import "variables";
@import "function";
@import "mixin";

.bss-popover-header {
  width: rem(290px);
  max-width: unset;
  position: absolute;

  > .arrow{
    display: none;
  }
  .popover-header {
    padding: rem(22px);
    background-color: $white;
    .pop-info {
      display: table;

      >div {
        display: table-cell;
        vertical-align: top;
      }
    }

    .pop-image {
      width: rem(64px);
      height: rem(64px);
    }

    .pop-name {
      color: #16171a;
      font-family: $font-sfprotext-bold;
      font-size: rem(16px);
      line-height: 1.5;
    }

    .pop-email {
      color: $cool-gray;
      line-height: 1.43;
      margin-bottom: rem(10px);
    }

    .btn {
      padding: rem(8px) rem(20px);
    }
  }
  .popover-body {
    .btn-logout {
      color: $red-500;
    }
  }
  &.bss-popover-module {
    width: auto;
    padding: 0 rem(20px);

    .pop-module-content {
      .btn {
        padding: rem(20px) rem(32px) rem(10px);
        border-radius: 8px;

        &:hover {
          background-color: #f4f4f6;
        }
      }

      img {
        margin-bottom: rem(14px);
      }

      .module-name {
        line-height: 1.43;
        font-family: $font-sfprotext-bold;
        color: #16171a;
      }
    }
  }
}


//popover-calendar-event-detail
.popover-calendar-event-detail {
  $m-t: 10px;
  $width: 200px;
  $arrow-size: 10px;

  margin-top: rem($m-t);
  width: rem($width);
  border-radius: 0;
  border-color: $calendar-border-color;
  padding: 0;

  .title {
    font-family: $font-sfprotext-bold;
    @include fontSize(14px, 20px);
  }

  .status {
    @include fontSize(10px, 16px);
    margin-bottom: rem(10px);

    span {
      display: block;
    }
  }

  .buttons {
    button {
      padding: rem(7px) 0 !important;
      width: 100%;
      margin-bottom: rem(5px);
    }
  }

  .arrow {
    position: absolute;
    //left: rem(185px) !important;
    right: rem(-2px) !important;
    top: rem(-22px) !important;
    margin: 0;
    margin-left: 0 !important;

    &::before {
      top: 0;
      border-width: 0 0 rem($arrow-size) rem($arrow-size);
      border-bottom-color: $calendar-border-color;
    }

    &::after {
      top: rem(1.414px);
      border-width: 0 0 rem($arrow-size) rem($arrow-size);
      border-bottom-color: $white;
      left: rem(-1px);
    }
  }
}

// popover-calendar-event-vertical-detail
.popover-calendar-event-vertical-detail {
  $m-t: 10px;
  $b-w: 1px;
  $p: 20px;

  $width: 468.5px;
  $arrow-size: 10px;

  $li-h: 78px;
  $li-p: 8px;
  $li-p-l: 20px;
  $li-hover-bg: #f7f7f8;
  $li-checkbox-w: 24px;
  $li-checkbox-mr: 5px;
  $li-checkbox-mt: 14px;
  $li-avatar: 48px;
  $li-avatar-mt: 2px;
  $li-avatar-mb: 2px;
  $li-avatar-mr: 10px;
  $li-description-n-w: ($li-checkbox-w + $li-checkbox-mr) + ($li-avatar + $li-avatar-mr);
  $li-description-lh: 18px;
  $li-button-w: 56px;
  $li-button-i: 24px;
  $li-button-hover: $grey-050;

  margin-top: rem($m-t);
  width: rem($width - ($b-w * 2));
  border-radius: 0;
  border-color: $calendar-border-color;
  padding: 0;
  max-width: none !important;

  .popover-body {
    padding: rem($p);
    position: relative;

    cxi-icon-close {
      position: absolute;
      top: rem($p);
      right: rem($p);
    }

    .search {
      margin-bottom: rem(20px);
      padding-right: rem(44px);
      padding-top: rem(24px);
    }

    .all {
      margin-bottom: rem(20px);
    }


    .list {
      //margin-bottom: rem(20px);
      height: rem($li-h * 5);

      .list-item {
        padding: rem($li-p) 0 rem($li-p) rem($li-p-l);
        border-bottom: rem(1px) solid $calendar-border-color;
        display: flex;

        &.selected {
          background: $li-hover-bg;
        }

        base-checkbox {
          width: rem($li-checkbox-w);
          height: rem($li-checkbox-w);
          display: inline-block;
          margin-right: rem($li-checkbox-mr);
          margin-top: rem($li-checkbox-mt);
        }

        cxi-avatar-circle {
          margin-right: rem(10px);
        }

        .description {
          width: calc(100% - #{rem($li-description-n-w + $li-button-w)});
          display: inline-block;
          float: right;

          .staff-name {
            @include fontSize(14px, 20px);
          }

          .working-hour {
            display: block;
            @include fontSize(12px, $li-description-lh);
          }

          .line {
            @include fontSize(12px, $li-description-lh);

            i {
              @include fontSize(16px, $li-description-lh);
              float: left;
              width: rem($li-description-lh);
              text-align: center;
              margin-right: rem(4px);

              &.icon-close,
              &.icon-combined {
                color: #bf350c;
              }

              &.icon-history {
                color: $primary-700;
              }
            }
          }
        }

        .button-more {
          width: rem($li-button-w);
          margin-top: rem(-1 * $li-p);
          margin-bottom: rem(-1 * $li-p);
          position: relative;

          a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            &:hover {
              background: $li-button-hover;
            }

            i {
              @include fontSize($li-button-i, $li-button-i);
              position: absolute;
              top: calc(50% - #{rem($li-button-i / 2)});
              left: calc(50% - #{rem($li-button-i / 2)});
            }
          }
        }
      }
    }

    .buttons {
      display: flow-root;
    }
  }

  .arrow {
    position: absolute;
    //left: rem(185px) !important;
    right: rem(-2px) !important;
    top: rem(-22px) !important;
    margin: 0;
    margin-left: 0 !important;

    &::before {
      top: 0;
      border-width: 0 0 rem($arrow-size) rem($arrow-size);
      border-bottom-color: $calendar-border-color;
    }

    &::after {
      top: rem(1.414px);
      border-width: 0 0 rem($arrow-size) rem($arrow-size);
      border-bottom-color: $white;
      left: rem(-1px);
    }
  }
}


// popover-calendar-event-vertical-detail-more
.po-mr {
  $more-m-t: 56px;
  $more-m-r: -54px;

  $more-b-w: 1px;
  $more-p: 0px;
  $more-20p: 20px;
  $more-w: 200px;

  $more-li-p-lr: 16px;
  $more-li-p-tb: 8px;
  $more-li-color: $cool-gray;
  $more-li-hover-bg: #f7f7f8;

  $arrow-size: 10px;

  margin-top: rem($more-m-t);
  margin-right: rem($more-m-r);

  width: rem($more-w - ($more-b-w * 2));
  border-color: $calendar-border-color;
  padding: 0;

  .popover-body {
    padding: rem($more-p);
    position: relative;

    cxi-icon-close {
      position: absolute;
      top: rem($more-20p);
      right: rem($more-20p);
    }

    .po-mr-list {
      margin-bottom: 0;

      .po-mr-list-item {
        border-bottom: rem($more-b-w) solid $calendar-border-color;
        display: flex;
        color: $more-li-color;
        padding: 0;

        &.selected {
          background: $more-li-hover-bg;
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          padding: rem($more-li-p-tb) rem($more-li-p-lr);

          &:hover {
            color: #d84215;
          }
        }
      }
    }

    .buttons {
      display: flow-root;
    }
  }

  .arrow {
    position: absolute;
    display: none;
    //left: rem(185px) !important;
    right: rem(-2px) !important;
    top: rem(-22px) !important;
    margin: 0;
    margin-left: 0 !important;

    &::before {
      top: 0;
      border-width: 0 0 rem($arrow-size) rem($arrow-size);
      border-bottom-color: $calendar-border-color;
    }

    &::after {
      top: rem(1.414px);
      border-width: 0 0 rem($arrow-size) rem($arrow-size);
      border-bottom-color: $white;
      left: rem(-1px);
    }
  }
}
.head .navbar .info {
  .bss-popover-header{
    left: auto !important;
    right: 0;
    transform: translate(0, 32px) !important;
  }
}
.head .navbar .info .notification{
  position: relative;
}
