@import "variables";
@import "mixin";


.table {
  background-color: $white;
  margin-bottom: 0;
  border-radius: rem(4px);

  > thead {
    > tr {
      > th {
        border-top: 0;
        border-bottom: 0;
        font-size: rem(14px);
        text-transform: uppercase;
        padding: rem(20px);
        color: $cool-gray;
        vertical-align: middle;
        line-height: rem(20px);
        white-space: nowrap;

        &.sortable {
          cursor: pointer;
        }

        &.selecting {
          width: rem(58px);
        }

        .form-group {
          margin-bottom: 0;
        }

        .icon-checkbox-minus {
          font-size: rem(20px);
          color: $accent-500;
        }

        .icon-dropdown {
          font-size: rem(22px);
          vertical-align: text-bottom;
          line-height: rem(20px);
        }
      }
    }
  }

  > tbody {
    > tr {
      &:hover {
        box-shadow: 0 rem(4px) rem(8px) 0 rgba(0, 0, 0, 0.1);

        .action {

          .group-action {
            opacity: 1;
            visibility: visible;
          }
        }

        td.last-column {
          .title-row {
            width: calc(100% - #{rem(138px)});
          }
        }
      }

      > td {
        vertical-align: middle;
        padding: rem(20px);
        white-space: nowrap;

        //.default-format {
        //  white-space: normal;
        //}

        &.columns-avatar {
          position: relative;
          height: rem(68px);
          padding-left: rem(68px);
        }

        &.columns-action {
          max-width: inherit;
        }

        img {
          //width: rem(48px);
          //height: rem(48px);
          //border-radius: 50%;
          //object-fit: cover;
          //
          //position: absolute;
          //top: rem(10px);
          //left: rem(10px);
        }

        .title-row {
          display: block;
          padding-right: rem(10px);
          vertical-align: middle;

          span {
            &.column-text {
              display: block;
              color: $cool-gray;
            }
          }
        }

        .form-group {
          margin-bottom: 0;
        }

        &.action {
          position: relative;
          cursor: pointer;
          padding: 0;
          visibility: hidden;

          .group-action {
            position: absolute;
            top: calc(50% + #{rem(1px)});
            transform: translate(0, -50%);
            right: 0;
            line-height: rem(60px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            display: flex;
            align-items: center;

            > i {
              font-size: rem(20px);
              margin-right: rem(10px);
              width: rem(36px);
              height: rem(36px);
              line-height: rem(36px);
              background-color: $pale-grey;
              border-radius: 50%;
              text-align: center;
              display: inline-block;

              &.icon-check {
                color: $green-500;
              }

              &.icon-edit {
                color: $blue-300;
              }

              &.icon-trash {
                color: $red-300;
              }

              &.icon-close {
                color: $red-500;
              }
            }
          }
        }
      }
    }
  }

  > tfoot {
    > tr {
      > td {
        padding: rem(20px);
      }
    }
  }

  // input
  > thead > tr > th,
  > tbody > tr > td {
    input[type=checkbox] {
      width: rem(18px);
      height: rem(18px); // border: 2px solid #b4b9be;
      border: rem(2px) solid #b4b9be;
      background: #fff;
      color: #555;
      clear: none;
      cursor: pointer;
      border-radius: rem(0px);
      display: inline-block;
      line-height: 0;
      //margin: -4px 6px 0 0 !important;
      outline: 0;
      padding: 0 !important;
      text-align: center;
      vertical-align: middle;
      -webkit-appearance: none;
      //-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
      //box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
      -webkit-transition: .05s border-color ease-in-out;
      transition: .05s border-color ease-in-out;
      outline: none !important;
      position: relative;

      &:disabled {
        background: #eee;
        opacity: 0.5;
      }

      &:after {
        transform: rotate(45deg);
        position: absolute;
        left: rem(4px);
        top: rem(1px);
        width: rem(5px);
        height: rem(10px);
        border-width: rem(2px);
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-color: #fff;
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in-out;
      }

      &:checked {
        background: $accent-500;
        border-color: $accent-500;

        &:before {
          animation: rippleOn 700ms forwards ease-out;
          content: "";
          position: absolute;
          left: rem(5px);
          top: rem(5px);
          background-color: $accent-500;
          height: rem(4px);
          width: rem(4px);
          border-radius: 100%;
          z-index: 1;
          opacity: 0;
          margin: 0;
        }

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }

      &.some {
        background: $accent-500;
        border-color: $accent-500;

        &::after {
          left: rem(6px);
          top: rem(2px);
          transform: rotate(90deg);
          width: rem(2px);
          position: absolute;
          height: rem(10px);
          border-width: rem(2px);
          border-style: solid;
          border-top: 0;
          border-left: 0;
          border-color: #fff;
          content: "";
          transition: all 0.15s ease-in-out;
          opacity: 1;
          visibility: visible;
        }
      }

      &.none {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
        border: rem(2px) solid #b4b9be;

        &:checked {
          background-color: transparent;
          background: transparent;
          border-color: transparent;
          border: rem(2px) solid #b4b9be;
        }
      }

      &.all {
        background: $accent-500;
        border-color: $accent-500;

        &:after {
          transform: rotate(45deg);
          position: absolute;
          left: rem(4px);
          top: rem(1px);
          width: rem(5px);
          height: rem(10px);
          border-width: rem(2px);
          border-style: solid;
          border-top: 0;
          border-left: 0;
          border-color: #fff;
          content: "";
          opacity: 1;
          visibility: visible;
          transition: all 0.15s ease-in-out;
        }
      }
    }
  }
}


// ngb-pagination
ngb-pagination {
  display: flex;

  ul {
    margin: rem(30px) auto;
  }

  li.page-item {
    &:first-child {
      a {
        span {
          display: none;
        }

        &:before {
          /* provide your content here */
          font-family: 'icon-bssfb';
          content: "\e90a";
        }
      }
    }

    &:last-child {
      a {
        span {
          display: none;
        }

        &:before {
          /* provide your content here */
          font-family: 'icon-bssfb';
          content: "\e90b";
        }
      }

      &.all {
        background: $accent-500;
        border-color: $accent-500;

        &:after {
          transform: rotate(45deg);
          position: absolute;
          left: 4px;
          top: 1px;
          width: 5px;
          height: 10px;
          border-width: 2px;
          border-style: solid;
          border-top: 0;
          border-left: 0;
          border-color: #fff;
          content: "";
          opacity: 1;
          visibility: visible;
          transition: all 0.15s ease-in-out;
        }
      }
    }

    &.active {
      a.page-link {
        background-color: $white;
        color: $primary-800;
        font-weight: bold;
      }
    }

    &.disabled {
      a.page-link {
        background-color: $pale-grey;
      }
    }

    a.page-link {
      width: rem(36px);
      height: rem(36px);
      border-radius: rem(18px) !important;
      display: block;
      font-size: rem(14px);
      line-height: rem(20px);
      padding: rem(8px) rem(10px);
      background-color: $pale-grey;
      border: none;
      text-align: center;
      color: $cool-gray;
    }

    + li {
      margin-left: rem(5px);
    }
  }
}

//edit-table
.edit-table {
  border: 1px solid #ccc;

  > thead {
    border-bottom: 1px solid #ccc;
    background-color: #dfdfdf;

    > tr {
      > th {
        border-right: 1px solid #ccc;
      }
    }
  }

  > tbody {
    > tr {
      .read-only {
        background-color: #dfdfdf;
      }

      &:hover {
        box-shadow: none;
      }

      > td {
        padding: 0;
        border-spacing: 0;
        border: none;

        &.tb-edit,
        &.read-only {
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc;
          padding: 0 rem(5px);
        }

        input.form-control,
        form .form-group > input,
        form .form-group > textarea,
        form .form-group .input-group > input {
          padding: rem(7px);
          border: none;
          border-radius: 0;
          box-shadow: none;
        }
      }
    }
  }
}

//reports
.position-re {
  position: relative;
}

.filters {
  position: absolute;
  top: rem(45px);
  left: 0;
  right: rem(30px);
  z-index: 10;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(20px);

  &.active {
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  .row-white {
    background: #fff;
  }

  h4 {
    font-size: rem(16px);
    color: $primary-800;
    font-weight: bold;
    font-family: "sfprotextbold";
    margin-top: rem(20px);
  }

  span {
    color: $cool-gray;
    margin: rem(30px) 0 rem(30px) rem(8px);
    display: block;
    font-size: rem(14px);
  }

  .border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .filters-btn {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: rem(20px);
  }
  .check-radio input[type=radio]{
    flex: 0 0 1.28571429rem;
  }
}

.dropdow-export {
  position: relative;

  .export {
    position: absolute;
    top: rem(45px);
    right: auto;
    left: 0;
    z-index: 10;
    background: #fff;
    min-width: initial;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(20px);

    &.active {
      transform: none;
      opacity: 1;
      visibility: visible;
    }

    .export-list {
      list-style: none;
      text-align: left;
      margin: 0;
      padding: 0;

      li {
        padding: rem(10px);
        color: $cool-gray;

        &:last-child {
          border-top: 1px solid $grey-100;
        }
      }
    }
  }
}
