// tag
$margin-gap: 2px;
.cxi-tag-option {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin: rem(-$margin-gap);

  .tag-item-wrap {
    padding: rem($margin-gap);
  }

  .tag-item {
    @include fontSize(14px, 20px);
    border: rem(1px) solid $grey-200;
    padding: rem(2px) rem(8px);
    display: inline-block;
    border-radius: rem(12px);
    flex: 0 0 50%;

    + .tag-item {
      margin-left: rem(10px);
    }
  }
}
