@import "variables";
@import "function";

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*display*/
.d-n {
  display: none !important;
}

.d-b {
  display: block !important;
}


/*width*/
.w-xxs {
  width: rem(60px) !important;
}

.w-xs {
  width: rem(90px) !important;
}

.w-xss {
  width: rem(100px) !important;
}

.w-xsm {
  width: rem(135px) !important;
}

.w-sm {
  width: rem(150px) !important;
}

.w {
  width: rem(200px) !important;
}

.w-md {
  width: rem(240px) !important;
}

.w-lg {
  width: rem(280px) !important;
}

.w-xl {
  width: rem(320px) !important;
}

.w-xxl {
  width: rem(360px) !important;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

/*margin*/
.m-b-sm {
  margin-bottom: rem(10px);
}

.m-b {
  margin-bottom: rem(20px);
}

.m-b-md {
  margin-bottom: rem(30px);
}

.m-b-n {
  margin-bottom: 0 !important;
}

.m-r {
  margin-right: rem(20px);
}

.m-r-sm {
  margin-right: rem(10px);
}

// padding
.p-b-n {
  padding-bottom: 0 !important;
}


/*text-transform*/
.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}


/*
hide*/
.hide {

}


/*row, col*/
.row {
  &.p-h {
    margin-right: rem(-10px);
    margin-left: rem(-10px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(10px);
    }
  }

  &.p-5 {
    margin-right: rem(-5px);
    margin-left: rem(-5px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(5px);
    }
  }

  &.p-0 {
    margin-right: 0;
    margin-left: 0;

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0;
    }
  }

  &.p-10 {
    margin-right: rem(-5px);
    margin-left: rem(-5px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(5px);
    }
  }

  &.p-20 {
    margin-right: rem(-10px);
    margin-left: rem(-10px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(10px);
    }
  }

  &.p-25 {
    margin-right: rem(-12.5px);
    margin-left: rem(-12.5px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(12.5px);
    }
  }

  &.p-30 {
    margin-right: rem(-15px);
    margin-left: rem(-15px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(15px);
    }
  }

  &.p-40 {
    margin-right: rem(-20px);
    margin-left: rem(-20px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(20px);
    }
  }

  &.p-70 {
    margin-right: rem(-35px);
    margin-left: rem(-35px);

    > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
    > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12,
    > .col, > .col-auto,
    > .col-sm-1, > .col-sm-2, > .col-sm-3, > .col-sm-4, > .col-sm-5, > .col-sm-6,
    > .col-sm-7, > .col-sm-8, > .col-sm-9, > .col-sm-10, > .col-sm-11, > .col-sm-12,
    > .col-sm, > .col-sm-auto,
    > .col-md-1, > .col-md-2, > .col-md-3, > .col-md-4, > .col-md-5, > .col-md-6,
    > .col-md-7, > .col-md-8, > .col-md-9, > .col-md-10, > .col-md-11, > .col-md-12,
    > .col-md, > .col-md-auto,
    > .col-lg-1, > .col-lg-2, > .col-lg-3, > .col-lg-4, > .col-lg-5, > .col-lg-6,
    > .col-lg-7, > .col-lg-8, > .col-lg-9, > .col-lg-10, > .col-lg-11, > .col-lg-12,
    > .col-lg, > .col-lg-auto,
    > .col-xl-1, > .col-xl-2, > .col-xl-3, > .col-xl-4, > .col-xl-5, > .col-xl-6,
    > .col-xl-7, > .col-xl-8, > .col-xl-9, > .col-xl-10, > .col-xl-11, > .col-xl-12,
    > .col-xl, > .col-xl-auto {
      padding: 0 rem(35px);
    }
  }
}


