// variables
$base-size: 14px;
$dw: 1440;

$m: 20px;
$lh: 24px;

//fonts
$font-sfprotext: 'sfprotextregular';
$font-sfprotext-bold: 'sfprotextbold';
$font-icon-bss: 'icon-bssfb';

// colors
$primary-900: #171c41;
$primary-800: #20275a;
$primary-700: #293273;
$primary-600: #323d8c;
$primary-500: #3b48a5;
$primary-400: #5e6bc6;
$primary-300: #7782cf;
$primary-200: #9099d8;
$primary-100: #a9b0e1;
$primary-050: #c2c7e9;

$accent-900: #063243;
$accent-800: #094962;
$accent-700: #0c6081;
$accent-600: #0F77A0;
$accent-500: #15a5de; //
$accent-400: #49bfee;
$accent-300: #68caf1;
$accent-200: #87d5f4;
$accent-100: #a6e0f7;
$accent-050: #c5ebfa;

$primary-01: #005422;
$primary-02: #007830;
$primary-03: #00973c;
$primary-04: #00b748;
$primary-05: #50d484;
$primary-06: #89d9a9;

$blue-900: #273ECD;
$blue-800: #1B61EC;
$blue-700: #0A75FF;
$blue-600: #0088FF;
$blue-500: #0097ff;
$blue-400: #12A7FF;
$blue-300: #52b8ff;
$blue-200: #8ACCFF;
$blue-100: #BADFFF;
$blue-050: #E2F3FF;

$green-900: #000;
$green-800: #000;
$green-700: #00A900;
$green-600: #000;
$green-500: #00cc00;
$green-400: #000;
$green-300: #000;
$green-200: #000;
$green-100: #000;
$green-050: #e5fae6;

$orange-900: #000;
$orange-800: #000;
$orange-700: #000;
$orange-600: #000;
$orange-500: #ff6d00;
$orange-400: #000;
$orange-300: #000;
$orange-200: #000;
$orange-100: #000;
$orange-050: #000;

$red-900: #000;
$red-800: #000;
$red-700: #000;
$red-600: #000;
$red-500: #f1295c;
$red-400: #000;
$red-300: #f8658d;
$red-200: #000;
$red-100: #000;
$red-050: #fee5eb;

$purple-900: #000;
$purple-800: #000;
$purple-700: #000;
$purple-600: #000;
$purple-500: #6737e1;
$purple-400: #000;
$purple-300: #000;
$purple-200: #000;
$purple-100: #000;
$purple-050: #000;

$yellow-900: #866700;
$yellow-800: #A88100;
$yellow-700: #CA9B00;
$yellow-600: #ECB500;
$yellow-500: #FFC70F;
$yellow-400: #FFCF31;
$yellow-300: #FFD753;
$yellow-200: #FFDF75;
$yellow-100: #FFE797;
$yellow-050: #FFF3CA;

$grey-900: #16171a;
$grey-800: #000;
$grey-700: #000;
$grey-600: #000;
$grey-500: #000;
$grey-400: #000;
$grey-300: #bdbfc7;
$grey-200: #cfd1d6;
$grey-100: #e2e3e6;
$grey-050: #f4f4f6;


//$dark-03: #a9aaad;
//$dark-04: #e8eaef;
//$dark-05: #f8f9fb;

$white: #ffffff;
$black: #000000;
$red: #ff3b30;
$red-violet: #c71585;
$blue: #007aff;
$purple: #5856d6;
$teal-blue: #5ac8fa;
$yellow: #ffcc00;
$orange: #ff9500;
$green: #4cd964;

/*custom colors*/
$pink: #23b7e5;
$dark-blue: #075caa;
$light-blue: #f2f1f5;
$light-gray: #eaeaea;
$cool-gray: #989ca8;
$pale-grey: #f4f4f6;
$bg-gray: #f7f7f8;


// landing page bss colors
$bss-brand: #3fd664;
$bss-landing-yellow: #e3efdb;
$bss-landing-light-yellow: #E2F0D9;
$bss-landing-green-01: #02ac53;
$bss-landing-green-02: #33ac53;
$bss-landing-gray: #dddddd;
$bss-box-shadow-gray: #f0f2f4;
$bss-input-bg: #293273;
$bss-input-color: rgba(255, 255, 255, 0.5);
$color-view: #9a76eb;

$calendar-border-color: #e0e0e0;

/* Layouts */
// header
$baseHeaderHeight: 60px;

// container
$baseWidth: 1920px;
$baseContainerWidth: 1640px;

//sidebar
$sidebarWidth: 210px;
