//material
@import "material";
@import "breadcrumb";
@import "toaster";
@import "progress-bar";
//
@import "variables";
@import "function";
@import "mixin";
@import "responsive";
@import "form";
@import "input-filter";
@import "ui-checkbox";
@import "button";
@import "modal";
@import "table";
@import "panels";
@import "layouts";
@import "ng-select-custom";
@import "page-wrapper";
@import "utilities";
@import "custom";
@import "qrcode";
@import "tag_options";
@import "popover";
@import "perfect_scroll";

/*-------------------------------------------------------------------------*/
/*body*/

html {
  font-size: $base-size;
}

body {
  // padding-top: rem($baseHeaderHeight);
  background: $grey-050;
}

.row{
    margin-right: rem(-15px);
    margin-left: rem(-15px);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding-right: rem(15px);
    padding-left: rem(15px);
}

/*desktop 1920*/
@media (max-width: 1920px) {
  html {
    @include fontSizeRoot(1920px);
  }
}

/*desktop 1600*/
@media (max-width: 1600px) {
  html {
    @include fontSizeRoot(1600px);
  }
}

/*desktop 1440*/
@media (max-width: 1440px) {
  html {
    @include fontSizeRoot(1440px);
  }
}

/*desktop 1200*/
@media (max-width: 1280px) {
  html {
    @include fontSizeRoot(1280px);
  }
}

/*ipad pro*/
@media (max-width: 1024px) {
    html {
       // @include fontSizeRoot(1024px);
    }
}

/*ipad*/
@media (max-width: 768px) {
  html {
    @include fontSizeRoot(768px);
  }
}

/*iphone 6+ 7+ 8+ xs+*/
@media (max-width: 414px) {
  html {
    @include fontSizeRoot(414px);
  }
}

/*Pixel 2, Pixel 2 XL*/
@media (max-width: 411px) {
  html {
    @include fontSizeRoot(411px);
  }
}

/*iphone 6 7 8*/
@media (max-width: 375px) {
  html {
    @include fontSizeRoot(375px);
  }
}

/*Galaxy S5*/
@media (max-width: 360px) {
  html {
    @include fontSizeRoot(360px);
  }
}

/*iPhone 5s*/
@media (max-width: 320px) {
  html {
    @include fontSizeRoot(320px);
  }
}


/*-------------------------------------------------------------------------*/
/* Body */

body {
  margin: 0;
  font-family: $font-sfprotext;
  font-weight: normal;
  line-height: 1.25;
}


/*-------------------------------------------------------------------------*/
/* Elements */
a {
  cursor: pointer;
}


.dropdow-menu {
  position: relative;
}
