<div class="modal-header">
    <cxi-icon-close name="close"
                    (click)="close()"></cxi-icon-close>
</div>

<div class="modal-body">
    <!--search - role-->
    <div class="search-role m-b">
        <div class="row p-20">
            <div class="col-6">
                <base-input-text name="search"
                                 placeholder="{{'Cxi Calendar.Search'|translate}}"
                                 [(ngModel)]="search"
                                 [debounceTime]="100"
                                 (debounceChange)="onChangeSearch()"></base-input-text>
            </div>
            <div class="col-6">
                <base-select name="role"
                             placeholder="{{'Cxi Calendar.Role'|translate}}"
                             [(ngModel)]="role"
                             (change)="onChangeRole()"></base-select>
            </div>
        </div>
    </div>


    <!--list staffs-->
    <div class="list-staffs">
        <div class="row all">
            <div class="col-12">
                <base-checkbox name="select-all"
                               label="{{'All'|translate}}"
                               [(ngModel)]="selectedAll"
                               (change)="onChangeSelectedAll($event)"></base-checkbox>
            </div>
        </div>

        <ng-template [ngIf]="staffs">
            <perfect-scrollbar>
                <div class="list">
                    <ng-template [ngIf]="staffs.length > 0">
                        <ng-template ngFor
                                     [ngForOf]="staffs"
                                     let-staff
                                     let-i="index">

                            <!--list item-->
                            <div class="list-item"
                                 [ngClass]="{
                                    'selected': selectedStaffs[i]
                                 }">

                                <!--selected-->
                                <base-checkbox name="{{i}}-check"
                                               [(ngModel)]="selectedStaffs[i]"
                                               (change)="onSelectedStaff()"></base-checkbox>

                                <!--avatar-->
                                <cxi-avatar-circle name="shift-items-{{i}}-avatar"
                                                   fullName="{{staff.name}}"
                                                   [src]="staff.avatar"></cxi-avatar-circle>

                                <!--staff-name-->
                                <div class="staff-name">
                                    {{staff.name}}
                                </div>
                            </div>
                            <!--end list item-->

                        </ng-template>
                    </ng-template>
                    <ng-template [ngIf]="staffs.length === 0">
                        {{'Messages.No results found'|translate}}
                    </ng-template>
                </div>
            </perfect-scrollbar>
        </ng-template>
    </div>
</div>

<div class="modal-footer">
    <div class="button-group">
        <base-button type="button"
                     buttonStyle="btn-default"
                     (click)="close()">
            {{'Cancel'|translate}}
        </base-button>
        <base-button type="submit"
                     buttonStyle="btn-primary"
                     (click)="add()"
                     [disabled]="isDisabledAddStaff">
            {{'Cxi Calendar.Add Staff'|translate}}
        </base-button>
    </div>
</div>
