@import "../../../../assets/scss/main";

.modal-header {
  position: relative;
  height: rem(44px);
  display: block;

  cxi-icon-close {
    position: absolute;
    right: rem(20px);
    top: rem(20px);
  }
}

.modal-body {
  .search-role {
    padding-right: rem(44px);
  }

  .list-staffs {
    $li-padding-tb: 10px;
    $li-height: 48px;
    $li-border: 1px;

    $li-checkbox: 24px;
    $li-checkbox-mr: 16px;
    $li-avatar: $li-height;
    $li-avatar-mt: 2px;
    $li-avatar-mb: 2px;

    $list-count-items: 5;
    $list-staffs-height: ($li-height + $li-padding-tb * 2 + $li-border) * $list-count-items;

    .all {
      margin-bottom: rem(20px);
    }

    .list {
      height: rem($list-staffs-height);

      .list-item {

        padding: rem($li-padding-tb) 0 rem($li-padding-tb) rem(20px);
        border-bottom: rem($li-border) solid $calendar-border-color;

        display: flex;

        &.selected {
          background: $grey-100;
        }

        base-checkbox {
          width: rem($li-checkbox);
          height: rem($li-checkbox);
          display: inline-block;
          margin-right: rem($li-checkbox-mr);
          margin-top: rem(($li-height - $li-checkbox)/2);
        }

        cxi-avatar-circle {
          margin-right: rem(10px);
        }

        .staff-name {
          @include fontSize(14px, 20px);
          padding: rem(($li-height - 20px)/2) 0;
        }
      }
    }
  }
}
