@import "~src/assets/scss/main";

.create-option {

  .create-option-body {
    background-color: $white;
    width: rem(570px);
    margin: auto;
    padding: rem(20px);

    .title-body {
      font-size: rem(16px);
      font-family: $font-sfprotext-bold;
      line-height: 1.5;
      margin-bottom: rem(20px);
    }
    .title-condition {
      font-size: rem(16px);
      font-weight: bold;
      line-height: 1.5;
      color: $grey-900;
      margin-bottom: rem(10px);
    }
  }
}
