<div class="create-option create-wrapper">
    <form #createOptionForm="ngForm"
          class="form-create-option"
          (ngSubmit)="save()">

        <div class="create-option-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        <i class="icon-navigation-left"></i>
                        {{'Option.Create New Option'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="button"
                                 buttonStyle="btn btn-default"
                                 (click)="cancel()">
                        {{'Cancel'|translate}}
                    </base-button>
                    <base-button type="submit"
                                 buttonStyle="btn-primary"
                                 [disabled]="!createOptionForm.form.valid">
                        {{'Create'|translate}}
                    </base-button>
                </div>
            </div>
        </div>

        <cxi-card title="{{'Option.Option'|translate}}">

            <!--name-->
            <div class="row">
                <div class="col-12">
                    <base-input-text name="key"
                                     label="{{'Option.Key'|translate}}"
                                     [(ngModel)]="option.key">
                    </base-input-text>
                </div>
            </div>

            <!--description-->
            <div class="row">
                <div class="col-12">
                    <base-textarea name="value"
                                   label="{{'Option.Value'|translate}}"
                                   [(ngModel)]="option.value"
                                   rows="3">
                    </base-textarea>
                </div>
            </div>

            <!--brand-->
            <div class="row" *ngIf="!isBrand">
                <div class="col-12">
                    <base-select name="select_brand_create"
                                 label="{{'Option.Brand'|translate}}"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="brands"
                                 [(ngModel)]="option.brand_id"
                    ></base-select>
                </div>
            </div>

            <!--json parse-->
            <div class="row">
                <div class="col-12">
                    <base-checkbox name="JSON parse"
                                   label="JSON parse"
                                   class="m-b-n"
                                   [(ngModel)]="option.is_json">
                    </base-checkbox>
                </div>
            </div>
        </cxi-card>

    </form>
</div>
