<div class="modal-header">
    EXHIBITOR
</div>

<div class="modal-body">
    <base-select name="exhibitor"
                 bindValue="value"
                 bindLabel="name"
                 [items]="types"
                 [(ngModel)]="type"
    >
    </base-select>
    <div class="row">
        <div class="col-12">
            <div class="ex-title">Select/Replace 1 exhibitor</div>
            <div class="list-ex" *ngFor="let item of listExhibitors">
                <div class="col-12 btn-add">
                    <a class="btn-addnew btn btn-default" (click)="add(item)"><span>{{item.company_name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


