<ng-template [ngIf]="value">

    <!--date-->
    <div class="row">
        <div class="col-6">
            <base-datepicker name="{{name}}-date"
                             [label]="label"
                             [(ngModel)]="value.date"></base-datepicker>
        </div>
    </div>


    <!--period date-->
    <cxi-period-date name="{{name}}-period-date"
                     [(ngModel)]="value.periodDate"></cxi-period-date>


    <!--remove specific day-->
    <cxi-icon-close name="{{name}}-remove"
                    (click)="removeThisSpecificDay()"></cxi-icon-close>
</ng-template>
