<div class="row">
  <div class="col-sm-12">
    <label>CUSTOMER LEVEL</label>
  </div>
  <div class="col-sm-6 mt-20" *ngIf="dataCustomerLevel && dataCustomerLevel.length >1">
    <input class="customer-level" type="checkbox" name="customerAll" [(ngModel)]="is_check_all" value="all"
      (click)="checkCustomerLevelAll()"> All
  </div>
  <div class="col-sm-6 mt-20" *ngFor="let item of dataCustomerLevel;let i = index">
    <input class="customer-level" type="checkbox" [name]="item.name" [checked]="customerlevel_req.indexOf(item) != -1"
      [value]="item.name" (click)="checkCustomerLevel(item)">{{item.name}}
  </div>
  <div class="col-sm-12 text-center mt-20" *ngIf="dataCustomerLevel && dataCustomerLevel.length <= 0">
    <p>The data is empty</p>
  </div>
</div>