@import "~src/assets/scss/main";

input[type=checkbox] {
    width: rem(18px);
    height: rem(18px); 
    border: rem(2px) solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    border-radius: rem(0px);
    display: inline-block;
    line-height: 0;
    margin-right: rem(5px);
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: sub;
    -webkit-appearance: none;
    vertical-align: bottom;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    outline: none !important;
    position: relative;

    &:disabled {
        background: #eee;
        opacity: 0.5;
    }

    &:after {
        transform: rotate(45deg);
        position: absolute;
        left: rem(4px);
        top: rem(1px);
        width: rem(5px);
        height: rem(10px);
        border-width: rem(2px);
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-color: #fff;
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in-out;
    }

    &:checked {
        background: $primary-800;
        border-color: $primary-800;

        &:before {
        animation: rippleOn 700ms forwards ease-out;
        content: "";
        position: absolute;
        left: rem(5px);
        top: rem(5px);
        background-color: $primary-800;
        height: rem(4px);
        width: rem(4px);
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0;
        }

        &:after {
        opacity: 1;
        visibility: visible;
        }
    }

    &.some {
        background: $accent-500;
        border-color: $accent-500;

        &::after {
        left: rem(6px);
        top: rem(2px);
        transform: rotate(90deg);
        width: rem(2px);
        position: absolute;
        height: rem(10px);
        border-width: rem(2px);
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-color: #fff;
        content: "";
        transition: all 0.15s ease-in-out;
        opacity: 1;
        visibility: visible;
        }
    }

    &.none {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
        border: rem(2px) solid #b4b9be;

        &:checked {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
        border: rem(2px) solid #b4b9be;
        }
    }

    &.all {
        background: $accent-500;
        border-color: $accent-500;

        &:after {
        transform: rotate(45deg);
        position: absolute;
        left: rem(4px);
        top: rem(1px);
        width: rem(5px);
        height: rem(10px);
        border-width: rem(2px);
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-color: #fff;
        content: "";
        opacity: 1;
        visibility: visible;
        transition: all 0.15s ease-in-out;
        }
    }
}
 