<div class="modal fade modal-cate-table" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-payment">
        <div class="d-flex align-items-center">
          <h5 class="modal-title" id="exampleModalLabel">Table Infomation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <form #createProductForm="ngForm" class="form-create-organization">
        <div class="modal-body modal-body-payment mt-20">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <base-input-text name="name" label="Name" width="full" [(ngModel)]="table.name" required>
                </base-input-text>
              </div>
              <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null">
                <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
                  (change)="changeOulet()" [(ngModel)]="table.brand_id">
                </base-select>
              </div>
              <div class="col-sm-12">
                <base-select name="outlet" label="Outlet" bindLabel="name" bindValue="id" [items]="outlet"
                  *ngIf="outlet.length > 0" [(ngModel)]="table.outlet_id">
                </base-select>
                <base-select name="outlet" label="Outlet" *ngIf="outlet.length <= 0" disabled>
                </base-select>
              </div>
              <div class="col-sm-12">
                <base-select name="floors" label="floors" bindLabel="name" bindValue="id" [items]="floors"
                  [(ngModel)]="table.floor_id">
                </base-select>
              </div>
              <div class="col-sm-12">
                <base-select name="table_category" label="Table category" bindLabel="name" bindValue="id"
                  [items]="table_categories" [(ngModel)]="table.table_category_id">
                </base-select>
              </div>
              <div class="col-sm-12">
                <app-cxi-upload-files name="upload-img" (file)="onFileChanged($event)" [(ngModel)]="table.images">
                </app-cxi-upload-files>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer modal-footer-payment">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()"
            [disabled]="!createProductForm.form.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->