@import "../../../assets/scss/main";

.create-product {

    .create-product-body {
        background-color: $white;
        width: rem(570px);
        margin: auto;
        padding: rem(20px);

        .title-body {
            font-size: rem(16px);
            font-family: $font-sfprotext-bold;
            line-height: 1.5;
            margin-bottom: rem(20px);
        }
    }
    .create-product-header {
        .title-header {
            display: flex;
            align-items: center;
            &:before{
                font-size: rem(24px);
            }
        }
        .btn-white{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #dde2e5;
            margin-right: rem(20px);
        }
    }
}
