@import '../../../assets/scss/main';

.create-specialist {

  .create-specialist-body {
    background-color: $white;
    width: rem(845px);
    /*margin: auto;*/
    padding: rem(20px);
    .cate-group{
      .card-header {
        background: transparent;
      }
      .card-header a:after {
        font-family: 'icon-bssfb';
        content:"\e932";
        float: right;
        color: grey;
      }
      .card-header a.collapsed:after {
        content:"\e931";
      }

      .card-header a:after {
        font-family: 'icon-bssfb';
        content:"\e932";
        float: right;
        color: $accent-500;
        font-size: rem(24px);
      }
      .card-header a.collapsed:after {
        content:"\e931";
        color: gray;
      }
      .card {
        background: $white;
        border-radius: rem(4px);
        padding: rem(20px);
        margin-bottom: rem(10px);
        border: 0;
        .card-header {
          border: 0;
          padding: 0;
          h4 {
            margin: 0;
            >a {
              color: #16181c;
              font-size: rem(16px);
              text-decoration: none;
              font-family: "sfprotextbold";
            }
          }
        }
        .card-body {
          padding: rem(20px) 0;
          .time-clock {
            position: relative;
            i {
              position: absolute;
              top: 50%;
              transform: translate(50%,-50%);
              right: 15%;
              font-size: 20px;
            }
          }
          .form-check-label {
            font-size: rem(16px);
            margin: rem(10px) 0;
            input[type=checkbox] {
              width: rem(18px);
              height: rem(18px);
              border: rem(2px) solid #b4b9be;
              background: #fff;
              color: #555;
              clear: none;
              cursor: pointer;
              border-radius: rem(0px);
              display: inline-block;
              line-height: 0;
              margin-right: rem(5px);
              outline: 0;
              padding: 0 !important;
              text-align: center;
              vertical-align: sub;
              -webkit-appearance: none;
              vertical-align: bottom;
              -webkit-transition: .05s border-color ease-in-out;
              transition: .05s border-color ease-in-out;
              outline: none !important;
              position: relative;

              &:disabled {
                background: #eee;
                opacity: 0.5;
              }

              &:after {
                transform: rotate(45deg);
                position: absolute;
                left: rem(4px);
                top: rem(1px);
                width: rem(5px);
                height: rem(10px);
                border-width: rem(2px);
                border-style: solid;
                border-top: 0;
                border-left: 0;
                border-color: #fff;
                content: '';
                opacity: 0;
                visibility: hidden;
                transition: all 0.15s ease-in-out;
              }

              &:checked {
                background: $primary-800;
                border-color: $primary-800;

                &:before {
                  animation: rippleOn 700ms forwards ease-out;
                  content: "";
                  position: absolute;
                  left: rem(5px);
                  top: rem(5px);
                  background-color: $primary-800;
                  height: rem(4px);
                  width: rem(4px);
                  border-radius: 100%;
                  z-index: 1;
                  opacity: 0;
                  margin: 0;
                }

                &:after {
                  opacity: 1;
                  visibility: visible;
                }
              }

              &.some {
                background: $accent-500;
                border-color: $accent-500;

                &::after {
                  left: rem(6px);
                  top: rem(2px);
                  transform: rotate(90deg);
                  width: rem(2px);
                  position: absolute;
                  height: rem(10px);
                  border-width: rem(2px);
                  border-style: solid;
                  border-top: 0;
                  border-left: 0;
                  border-color: #fff;
                  content: "";
                  transition: all 0.15s ease-in-out;
                  opacity: 1;
                  visibility: visible;
                }
              }

              &.none {
                background-color: transparent;
                background: transparent;
                border-color: transparent;
                border: rem(2px) solid #b4b9be;

                &:checked {
                  background-color: transparent;
                  background: transparent;
                  border-color: transparent;
                  border: rem(2px) solid #b4b9be;
                }
              }

              &.all {
                background: $accent-500;
                border-color: $accent-500;

                &:after {
                  transform: rotate(45deg);
                  position: absolute;
                  left: rem(4px);
                  top: rem(1px);
                  width: rem(5px);
                  height: rem(10px);
                  border-width: rem(2px);
                  border-style: solid;
                  border-top: 0;
                  border-left: 0;
                  border-color: #fff;
                  content: "";
                  opacity: 1;
                  visibility: visible;
                  transition: all 0.15s ease-in-out;
                }
              }
            }
          }
          .show-time{
            display: none;
          }
          .product-gift {
            border: 1px solid $grey-200;
            height: rem(112px);
            border-radius: 4px;
            overflow-y: auto;
            width: 100%;
            margin: auto;
            .d-flex {
              align-items: center;
              justify-content: space-between;
              p {
                margin: 0;
                padding: rem(5px) 0;
                cursor: pointer;
                i {
                  font-size: rem(22px);
                  color: $green-500;
                }
              }
            }
            .gift_arr {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .group-item {
            .item-pr {
              //width: 22%;
              display: inline-block;
              border-radius: 17px;
              background-color: #f4f4f6;
              text-align: center;
              margin: rem(5px);
              padding: rem(4px) rem(15px);
              .d-flex {
                align-items: center;
                justify-content: center;
                i {
                  font-size: 22px;
                  color: #f1295c;
                  cursor: pointer;
                }
              }
            }
          }
          .text-itempr {
            font-size: rem(16px);
            margin-top: rem(20px);
          }
          input[type=radio] {
            vertical-align: bottom;
            width: rem(18px);
            height: rem(18px);
            border-radius: 50%;
            border: rem(2px) solid #ccc;
            background: #fff;
            color: #555;
            clear: none;
            cursor: pointer;
            display: inline-block;
            line-height: 0;
            //margin: rem(-2px) rem(1px) 0 0 !important;
            margin-right: rem(7px);
            outline: 0;
            padding: 0 !important;
            text-align: center;
            //vertical-align: middle;
            -webkit-appearance: none;
            -webkit-box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
            box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
            -webkit-transition: .05s border-color ease-in-out;
            transition: .05s border-color ease-in-out;
            outline: none !important;
            position: relative;

            &:disabled {
              background: #eee;
              opacity: 0.5;
            }

            &:after {
              content: "\e930";
              font-family: $font-icon-bss;
              @include fontSize(14px, 14px);
              color:$white;
              display: inline-block;
              vertical-align: middle;
              width: auto;
              height: auto;
              text-align: center;
              opacity: 0;
              visibility: hidden;
            }

            &:before {
              animation: RadioRippleOn 700ms forwards ease-out;
              position: absolute;
              left: rem(3px);
              top: rem(3px);
              width: rem(8px);
              height: rem(8px);
              border-radius: 50%;
              background-color: $primary-800;
              z-index: 1;
              opacity: 0;
              margin: 0;

            }

            &:checked {
              background: $primary-800;
              border-color: $primary-800;

              &:before {
                content: "";
              }

              &:after {
                opacity: 1;
                visibility: visible;
                //transform: none;
              }
            }
          }
          .check-all {
            width: 40%;
          }
        }
      }
      .positon-pr {
        position: relative;
        button {
          position: absolute;
          top: 50%;
          right: 6%;
          transform: translate(0, -50%);
          background-color: $white;
          box-shadow: none;
          border: 0;
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
  .create-specialist-header {
    .title-header {
      display: flex;
      align-items: center;
      &:before{
        font-size: rem(24px);
      }
    }
    .btn-white{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #dde2e5;
      margin-right: rem(20px);
    }
  }
}
