<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row highlight">
            <div class="col-6">
                <base-input-text name="title"
                                 label="Vị trí"
                                 [(ngModel)]="value.title"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text
                        name="reportTitle"
                        label="Tên"
                        [(ngModel)]="value.content"
                ></base-input-text>
            </div>
        </div>
    </div>
</ng-template>
