<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="title-header">Compare Report</div>
      </div>
      <div class="col-sm-6 text-right position-re"></div>
    </div>
  </div>
  <div class="list-body list-compare mt-30">
    <div class="row">
      <div class="col-sm-1 w-1"></div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="">COMPARE OPTION</label>
          <select class="form-control" name="" id="">
            <option>Time Periods</option>
            <option>Time Periods 1</option>
            <option>Time Periods 2</option>
          </select>
        </div>
      </div>
      <div class="col-sm-8"></div>
      <div class="col-12">
        <div class="group-compare row">
          <div class="col-sm-1 w-1">
            <base-checkbox name="baseCheckboxDemo1" label=""></base-checkbox>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">DATE RANGE</label>
              <select class="form-control" name="" id="">
                <option>Custom</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">COLOR</label>
              <select class="form-control" name="" id="">
                <option>Blue</option>
                <option>Purple</option>
                <option>Green</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="btn-group">
              <label for=""></label>
              <button class="btn btn-default">
                01/01/2018
              </button>
              <button class="btn btn-default">
                01/01/2019
              </button>
              <button class="btn btn-default btn-single-icon">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="group-compare row">
          <div class="col-sm-1 w-1">
            <base-checkbox name="baseCheckboxDemo1" label=""></base-checkbox>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">DATE RANGE</label>
              <select class="form-control" name="" id="">
                <option>Custom</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">COLOR</label>
              <select class="form-control" name="" id="">
                <option>Blue</option>
                <option>Purple</option>
                <option>Green</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="btn-group">
              <label for=""></label>
              <button class="btn btn-default">
                01/01/2018
              </button>
              <button class="btn btn-default">
                01/01/2019
              </button>
              <button class="btn btn-default btn-single-icon">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="group-compare row">
          <div class="col-sm-1 w-1">
            <base-checkbox name="baseCheckboxDemo1" label=""></base-checkbox>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">DATE RANGE</label>
              <select class="form-control" name="" id="">
                <option>Custom</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">COLOR</label>
              <select class="form-control" name="" id="">
                <option>Blue</option>
                <option>Purple</option>
                <option>Green</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="btn-group">
              <label for=""></label>
              <button class="btn btn-default">
                01/01/2018
              </button>
              <button class="btn btn-default">
                01/01/2019
              </button>
              <button class="btn btn-default btn-single-icon">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
      <div class="col-6 mt-20">
        <button class="btn-setting btn btn-default">
          <div class="dflex">
            <i class="icon-add-new"></i> <span>Add Time</span>
          </div>
        </button>
      </div>
      <div class="col-6 mt-20 text-right">
        <base-button buttonStyle="btn btn-default" class="mg-r-20">
          <span>Cancel</span>
        </base-button>
        <base-button type="submit" buttonStyle="btn btn-primary">
          <span>Apply</span>
        </base-button>
      </div>
    </div>
  </div>
  <div class="list-body list-compare mt-20">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors"
      height="350" [legend]="chartLegend" [chartType]="chartType"></canvas>
  </div>
</div>