@import "~src/assets/scss/main";

.group-compare {
    display: flex;
    align-items: center;
    .btn-group {
        margin-top: rem(7px);
    }
}
.list-compare {
    background: $white;
    padding: rem(20px);
}
.w-1 {
    max-width: 10px;
}
.form-group {
    label {
        font-size: rem(12px);
    }
}
.mg-r-20 {
    margin-right: rem(20px);
}