@import "../../../../assets/scss/main";

.create-setting {
  .create-setting-header {
      .title-header {
          display: flex;
          align-items: center;
          &:before{
              font-size: rem(24px);
          }
      }
      .btn-white{
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          border: solid 1px #dde2e5;
          margin-right: rem(20px);
      }
  }
  .payment-method {
    //   .card-header a:after {
    //       font-family: 'icon-bssfb';
    //       content:"\e932";
    //       float: right;
    //       color: $accent-500;
    //   }
    .card-header a.collapsed:after {
        font-family: 'icon-bssfb';
          content: "\e912";
          font-size: rem(18px);
      }

    // .card-header a:after {
    //     font-family: 'sfprotextbold';
    //     content:"";
    //     float: right;
    //     color: $accent-500;
    //     font-size: rem(15px);
    // }
    .card-header a.collapsed:after {
        font-family: 'icon-bssfb';
        content: "\e912";
        color: $accent-500;
        font-size: rem(24px);
    }
    .card {
        background: $white;
        border-radius: rem(4px);
        padding: rem(15px);
        margin-bottom: rem(30px);
        border: 0;
        .card-header {
          border: 0;
          padding: 0;
          background-color: transparent;
            h4 {
                margin: 0;
                >a {
                    color: #20275a;
                    font-size: rem(18px);
                    text-decoration: none;
                    font-family: "sfprotextbold";
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: rem(18px);
                }
            }
            a {
                &.collapsed{
                    span {
                        display: none;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    color: #15a5de;
                    font-size: 14px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .card-body {
          padding: 0;
          padding-top: rem(20px);
        }
    }
  }
  .modal-header-payment {
    padding: rem(20px);
  }
  .modal-body-payment {
    padding: rem(10px);
  }
  .modal-footer-payment {
    padding: 0 rem(10px) rem(20px) rem(10px);
    .btn-secondary {
        background: #fff;
        color: #212529;
    }
  }
}
