<div class="create-setting create-wrapper">
  <form #createSettingForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
    <div class="create-setting-header create-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header">
            Notification
          </div>
        </div>
        <div class="col-sm-6 text-right button-group">
          <base-button type="button" buttonStyle="btn btn-primary" [disabled]="!createSettingForm.form.valid"
            data-toggle="modal" data-target="#exampleModal">
            <i class="icon-add-new"></i>
            <span>Add Notification</span>
          </base-button>
        </div>
      </div>
    </div>
    <div class="payment-method" id="accordion">
      <div class="row">
        <div class="col-sm-4 offset-sm-4">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                  class="collapsed">
                  Pusher
                  <span (click)="addNew()">SAVE</span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <base-input-text name="api" label="API" placeholder="API" width="full" placeholder="API">
                    </base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)" [(ngModel)]="value">
                    </base-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 offset-sm-4">
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                  class="collapsed">
                  Email
                  <span (click)="addNew()">SAVE</span>
                </a>
              </h4>

            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <base-input-text name="email" label="email" placeholder="email" width="full"></base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"></base-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 offset-sm-4">
          <div class="card">
            <div class="card-header" id="headingThree">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" class="collapsed"
                  aria-controls="collapseThree">
                  SMS
                  <span (click)="addNew()">SAVE</span>
                </a>
              </h4>

            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <base-input-text name="PHONE" label="PHONE" placeholder="PHONE" width="full"></base-input-text>
                  </div>
                  <div class="col-12"><label for="">SEND TO</label></div>
                  <div class="col-sm-12">
                    <base-checkbox name="All_Customer" label="All Customer"></base-checkbox>
                    <base-checkbox name="Gold_Customer" label="Gold Customer"></base-checkbox>
                    <base-checkbox name="Silver_Customer" label="Silver Customer"></base-checkbox>
                    <base-checkbox name="Platinum_Customer" label="Platinum Customer"></base-checkbox>
                  </div>
                  <div class="col-sm-12">
                    <base-input-text name="API" label="API" placeholder="API" width="full"></base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"></base-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 offset-sm-4">
          <div class="card">
            <div class="card-header" id="heading4">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"
                  class="collapsed">
                  One signal notification
                  <span (click)="addNew()">SAVE</span>
                </a>
              </h4>

            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <base-input-text name="api" label="API" placeholder="API" width="full"></base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <base-input-text name="client" label="CLIENT" placeholder="CLIENT" width="full"></base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <base-input-text name="url" label="REDIRECT URL" placeholder="REDIRECT URL" width="full">
                    </base-input-text>
                  </div>
                  <div class="col-sm-12">
                    <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"></base-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-payment">
            <h5 class="modal-title" id="exampleModalLabel">New Payment Method</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">&times;</span> -->
            </button>
          </div>
          <div class="modal-body modal-body-payment">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <base-input-text name="name" label="Name payment method" placeholder="Name payment method"
                    width="full">
                  </base-input-text>
                </div>
                <div class="col-sm-12">
                  <base-input-text name="api" label="API" width="full" placeholder="API">
                  </base-input-text>
                </div>
                <div class="col-sm-12">
                  <base-input-text name="client" label="CLIENT" placeholder="CLIENT" width="full"></base-input-text>
                </div>
                <div class="col-sm-12">
                  <base-input-text name="url" label="REDIRECT URL" placeholder="REDIRECT URL" width="full">
                  </base-input-text>
                </div>
                <div class="col-sm-12">
                  <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)" [(ngModel)]="value">
                  </base-switch>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer modal-footer-payment">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>