@import "~src/assets/scss/main";

.item {
  min-width: rem(120px);
}
.button-group {
  button {
    padding-top: 0 !important;
  }
  .icon-add-new {
    color: $green-500;
  }
  .icon-close {
    color: $red-500;
  }
  i {
    font-size: rem(24px);
  }
}
