<div class="row" *ngIf="value">
    <div class="item col-sm-3">
        <base-select name="attributes"
                     [bindLabel]="'name'"
                     [bindValue]="'id'"
                     [items]="attributes"
                     [(ngModel)]="value.attribute"></base-select>
    </div>

    <div class="item col-sm-1">
        <!--<base-select name="operators"-->
        <!--[items]="operators"-->
        <!--[bindLabel]="'name'"-->
        <!--[bindValue]="'value'"-->
        <!--[operator] = true-->
        <!--[(ngModel)]="value.operator"></base-select>-->
        <ng-select [items]="operators"
                   bindLabel="name"
                   [clearable]="false"
                   [virtualScroll]="true"
                   [(ngModel)]="value.operator">
            <ng-template ng-label-tmp let-item="item">
                <span class="ng-value-label">{{ item.name }}</span>
            </ng-template>
        </ng-select>
    </div>

    <div class="item col-sm-2">
        <base-input-text name="value"
                         [(ngModel)]="value.value"></base-input-text>
    </div>

    <div class="item col-sm-3 button-group">
        <base-button name="+"
                     type="button"
                     buttonStyle="btn-single-icon"
                     [disabled]="btnDisabled"
                     [loading]="btnLoading"
                     (click)="addItem()">
            <i class="icon-add-new"></i>
        </base-button>
        <base-button name="-"
                     type="button"
                     buttonStyle="btn-single-icon"
                     [disabled]="btnDisabled"
                     [loading]="btnLoading"
                     (click)="removeItem()">
            <i class="icon-close"></i>
        </base-button>
    </div>
</div>
