@import "~src/assets/scss/main";


$item-content-remove-w: 44px;

$item-content-qty-w: 78px;
$item-content-qty-mr: 20px;

ng-select {
  margin-bottom: rem(20px);
}


.item-content {
  position: relative;
  width: calc(100% - #{rem($item-content-remove-w)});

  .remove {
    position: absolute;
    top: rem(5px);
    right: rem(-44px);

    width: rem(24px);
    height: rem(24px);
    text-align: center;

    i {
      font-size: rem(24px);
      line-height: rem(24px);
      color: $red-500;
    }
  }

  ng-select,
  cxi-increase-decrease {
    display: inline-block;
    float: left;
  }

  ng-select {
    width: calc(100% - #{rem($item-content-qty-w + $item-content-qty-mr)});
    margin-right: rem($item-content-qty-mr);
  }

  cxi-increase-decrease {
    width: rem($item-content-qty-w);

    &.first-row {
      margin-top: rem(-$item-content-qty-mr);
    }
  }
}

//sub items
.m-t-sub {
  margin-top: rem(-20px);
}
