<label *ngIf="label"
       class="text-uppercase">
    {{label}}
    <cxi-required *ngIf="required"></cxi-required>
</label>


<!--main value-->
<ng-template ngFor
             [ngForOf]="outletsQuantities"
             let-outletQuantity
             let-i="index">
    <div class="row">

        <!--item-->
        <div class="col align-self-start col-12">
            <div class="item-content">

                <!--outlet-->
                <ng-select name="{{name}}-{{i}}"
                           class="ng-select-custom"
                           [clearable]="false"
                           [searchable]="searchable"
                           [(ngModel)]="outletQuantity.outlet_id"
                           (change)="onChangeNewOutletId($event)">
                    <ng-option *ngFor="let itemSelected of outlets"
                               [value]="itemSelected.id"
                               [disabled]="itemSelected['disabled']">
                        {{ itemSelected.name }}
                    </ng-option>
                </ng-select>

                <!--qty-->
                <cxi-increase-decrease
                    name="{{name}}-quantity"
                    label="{{
                        i===0
                        ? ('Product.Quantity'|translate)
                        : null
                    }}"
                    [ngClass]="{'first-row': i===0}"
                    [min]="1"
                    [max]="999"
                    [(ngModel)]="outletQuantity.quantity"
                    (change)="onChangeQuantity($event)"></cxi-increase-decrease>

                <ng-template [ngIf]="outletQuantity">
                    <a class="remove"
                       (click)="removeOutletQuantity(i)">
                        <i class="icon-close"></i>
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>


<!--add new-->
<div class="row">
    <div class="col align-self-start col-12">

        <!--add new-->
        <ng-template [ngIf]="isAddNew">
            <div class="item-content">
                <ng-select name="add-new"
                           class="ng-select-custom"
                           [clearable]="false"
                           [searchable]="searchable"
                           [(ngModel)]="newOutletId"
                           (change)="onChangeNewOutletId($event)">
                    <ng-option *ngFor="let item of outlets"
                               [value]="item.id"
                               [disabled]="item['disabled']">
                        {{ item.name }}
                    </ng-option>
                </ng-select>

                <!--<ng-template [ngIf]="selectedOutletIds && selectedOutletIds.length > 0">
                    <a class="remove" (click)="removeAddNew()">
                        <i class="icon-close"></i>
                    </a>
                </ng-template>-->
            </div>
        </ng-template>
    </div>
</div>


<base-button name="add-new"
             class="m-b d-b"
             type="button"
             buttonStyle="btn btn-primary"
             icon="icon-add-new"
             (click)="addNew()"
             [disabled]="isDisabledAddNew">
    {{'Product.Add Outlet'|translate}}
</base-button>
