<div class="edit-user edit-wrapper">
    <form #editUserForm="ngForm"
          class="form-edit-user"
          (ngSubmit)="editUser()">

        <div class="edit-user-header edit-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        <i class="icon-navigation-left"></i>
                        {{'User.Edit User'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="button"
                                 buttonStyle="btn btn-default"
                                 (click)="cancel()">
                        <span>{{'Cancel'|translate}}</span>
                    </base-button>
                    <base-button type="submit"
                                 buttonStyle="btn btn-primary"
                                 [disabled]="!editUserForm.form.valid">
                        <span>{{'Save'|translate}}</span>
                    </base-button>
                </div>
            </div>
        </div>

        <div class="edit-user-body">
            <div class="title-body">{{'User.Edit User'|translate}}</div>

            <div class="row p-20">
                <!--row-->
                <div class="col-4">
                    <base-input-text name="email"
                                     label="{{'User.Email'|translate}}"
                                     [(ngModel)]="user.email"
                                     required>
                    </base-input-text>
                </div>
                <div class="col-4">
                    <base-input-text name="first_name"
                                     label="{{'User.First Name'|translate}}"
                                     [(ngModel)]="user.first_name">
                    </base-input-text>
                </div>
                <div class="col-4">
                    <base-input-text name="last_name"
                                     label="{{'User.Last Name'|translate}}"
                                     [(ngModel)]="user.last_name">
                    </base-input-text>
                </div>

                <!--row 2-->
                <div class="col-4">
                    <base-datepicker name="select"
                                     label="{{'User.DOB'|translate}}"
                                     [(ngModel)]="user.dob"
                                     [minDate]="minDate"
                                     [maxDate]="maxDate"></base-datepicker>
                </div>
                <div class="col-4">
                    <base-select name="gender"
                                 label="{{'User.Gender'|translate}}"
                                 [items]="genders"
                                 bindLabel="name"
                                 bindValue="value"
                                 [(ngModel)]="user.gender">
                    </base-select>
                </div>
                <div class="col-4">
                    <base-input-text name="phone"
                                     label="{{'User.Phone number'|translate}}"
                                     [(ngModel)]="user.phone"
                                     required>
                    </base-input-text>
                </div>

                <!--row 3-->
                <div class="col-8">
                    <base-input-text name="address"
                                     label="{{'User.Address'|translate}}"
                                     [(ngModel)]="user.address"
                                     width="full">
                    </base-input-text>
                </div>
                <div class="col-4">
                </div>

                <!--row 5-->
                <div class="col-4">
                    <base-input-text name="password"
                                     label="{{'User.Password'|translate}}"
                                     [(ngModel)]="user.password"
                                     width="full">
                    </base-input-text>
                </div>
                <div class="col-4">
                    <base-input-text name="password_confirmation"
                                     label="{{'User.Password confirmation'|translate}}"
                                     [(ngModel)]="user.password_confirmation"
                                     width="full">
                    </base-input-text>
                </div>
                <div class="col-4">
                    <button type="button"
                            class="btn btn-primary btn-auto-generate"
                            (click)="autoGenerate()">
                        <i class="icon-auto"></i>
                        <span>{{'User.Auto Generate'|translate}}</span>
                    </button>
                </div>
            </div>


            <app-application-scope name="edit-user"
                                   [(brandId)]="user.brand_id"
                                   [(outletId)]="user.outlet_id"
                                   [(roleId)]="user.role_id"></app-application-scope>
        </div>
    </form>
</div>
