<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row highlight">
            <div class="col-12">
                <base-input-text name="title"
                                 label="Tiêu đề"
                                 [(ngModel)]="value.title"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <app-cxi-input-editor
                        name="{{name}}-report-title"
                        label="Quyền lợi"
                        [(ngModel)]="value.content"
                ></app-cxi-input-editor>
            </div>
        </div>
    </div>
</ng-template>
