@import "../../../../assets/scss/main";

.modal-cate-table {
    .modal-dialog {
        width: rem(430px);
        .modal-header {
            padding: rem(20px) rem(20px) 0 rem(20px);
            h5 {
                font-size: rem(16px);
                color: #16181c;
            }
            .close {
                position: unset;
                margin: 0;
                span {
                    font-size: rem(30px);
                    color: $red;
                }
            }
        }
        .d-flex {
            width: 100%;
            justify-content: space-between;
        }
        .modal-body {
            padding: 0;
        }
        .modal-footer {
            justify-content: center;
            padding: rem(20px);
            button {
                width: 45%;
                &.btn-secondary {
                    background-color: $white;
                    border: solid 1px $grey-100;
                    color: #989ca8;
                }
            }
        }
    }
}
