<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row break-time">
            <div class="col-6">
                <base-input-text name="name"
                                 label="Title"
                                 [(ngModel)]="value.name"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="type"
                                 label="Type"
                                 [(ngModel)]="value.type"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <app-cxi-datetimepicker name="start"
                                        label="Start time"
                                        [type]="'timer'"
                                        [(ngModel)]="value.from"
                ></app-cxi-datetimepicker>
            </div>
            <div class="col-6">
                <app-cxi-datetimepicker name="end"
                                        label="End time"
                                        [type]="'timer'"
                                        [minDate]="value.from"
                                        [(ngModel)]="value.to"
                ></app-cxi-datetimepicker>
            </div>
            <div class="col-12">
                <app-cxi-datetimepicker name="date"
                                        label="Date"
                                        [type]="'calendar'"
                                        [minDate]="minDate"
                                        [maxDate]="maxDate"
                                        [(ngModel)]="value.day"
                ></app-cxi-datetimepicker>
            </div>

        </div>
    </div>
</ng-template>
