@import "~src/assets/scss/main";


:host {
  background: $pale-grey;
  width: rem($sidebarWidth);
  min-width: rem($sidebarWidth);
  border-right: 1px solid #e2e3e6;
}


.sidebar {
  padding: rem(20px) 0;
  overflow-y: scroll;

  // height
  $sidebar-header-height: 60px;
  $sidebar-margin-bottom: 20px;
  height: calc(100vh - #{rem($sidebar-header-height)} - #{rem($sidebar-margin-bottom)});

  ul {
    > li {
      padding: 0 rem(15px);
      width: 100%;
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: bold;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $cool-gray;
        display: flex;
        padding: rem(14px) 0;

        &:active,
        &:hover,
        &:focus {
          background-color: transparent;
        }

        i {
          margin-right: rem(10px);
          font-size: rem(20px);
          line-height: rem(20px);
          padding: rem(2px);

          &.arrow {
            margin-right: 0;
            margin-left: rem(5px);
          }
        }

        font-weight: bold;

        span {
          margin-bottom: 0;
          display: table-caption;
          padding: rem(2px) 0;
        }

        &.active {
          color: $primary-800;
        }
      }


      ul {
        list-style: none;
        padding-left: rem(34px);

        > li {
          font-size: rem(14px);
          line-height: rem(20px);
          padding: 0;

          a {
            padding: rem(6px) 0;

            &.active {
              //color: $primary-500;
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  /*nav-bottom*/
  .nav-bottom {
    position: absolute;
    bottom: rem(20px);

    ul {
      li {

        min-height: rem(36px);
        font-weight: normal;
        cursor: default;

        &:not(:last-child) {
          margin-bottom: rem(10px);
        }

        .label {
          @include fontSize(10px, 16px);
          color: $cool-gray;
          display: block;
        }

        .value {
          @include fontSize(14px, 20px);
          color: $grey-900;
        }
      }
    }
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: $pale-grey;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $pale-grey;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: #cfd1d6;
  }
}



