<div class="sidebar"
id="sidebar">

<a class="toogle-navbar d-block d-sm-none">
  <!--<span (click)="toggle()"></span>-->
</a>

<div class="navi-wrap">

  <!--Nav menu-->
  <ng-template [ngIf]="menuItems">
    <nav class="navi b-b-dg">
      <ul class="nav">
        <ng-template ngFor
        [ngForOf]="menuItems"
        let-node
        let-i="index">
        <li [attr.data-index]="i">
          <!--Single item-->
          <ng-template [ngIf]="!node.children || node.children.length === 0">
            <a [routerLink]="[node.link]"
            [routerLinkActive]="'active'">
            <i class="{{ node.icon }}"></i>
            <span class="lable-nav-item">
              {{node.name}}
            </span>
          </a>
        </ng-template>

        <!--Parent item-->
        <ng-template [ngIf]="node.children && node.children.length > 0">
          <a (click)="toggleMenuItem(node)">
            <i [ngClass]="node.icon"></i>
            <span class="lable-nav-item">{{node.name}}</span>
            <i class="arrow"
            [ngClass]="{
            'icon-arrow-down': !node.isExpand,
            'icon-arrow-up': node.isExpand}"></i>
          </a>
          <ul [ngbCollapse]="isCollapse(node)">
            <ng-template ngFor
            [ngForOf]="node.children"
            let-childNode
            let-j="index">
            <ng-template [ngIf]="childNode.link">
              <li [attr.data-index]="j">
                <a [routerLink]="childNode.link"
                [routerLinkActive]="'active'">
                {{childNode.name}}
              </a>
            </li>
          </ng-template>
        </ng-template>
      </ul>
    </ng-template>
  </li>
</ng-template>
</ul>
</nav>
</ng-template>
</div>

<div class="nav-bottom" id="nav-bottom">
  <!--<ul class="nav" *ngIf="userScope">-->
    <!--<li *ngIf="userScope.organization && userScope.organization.id">-->
      <!--<span class="label text-uppercase">Organization</span>-->
      <!--<span class="val text-capitalize">{{userScope.organization.name}}</span>-->
      <!--</li>-->
      <!--<li *ngIf="userScope.brand && userScope.brand.id">-->
        <!--<span class="label text-uppercase">Brand</span>-->
        <!--<span class="val text-capitalize">{{userScope.brand.name}}</span>-->
        <!--</li>-->
        <!--<li *ngIf="userScope.outlet && userScope.outlet.id">-->
          <!--<span class="label text-uppercase">Outlet</span>-->
          <!--<span class="val text-capitalize">{{userScope.outlet.name}}</span>-->
          <!--</li>-->
          <!--</ul>-->
        </div>
      </div>
