@import "~src/assets/scss/main";

// ==== variables

// ==== scss

:host {
  display: grid;
}

.upload-img {
  border: rem(1px) dashed $grey-200;
  margin-bottom: rem(15px) !important;
  padding: rem(20px);
  text-align: center;
  border-radius: rem(8px);
  position: relative;
  overflow: hidden;
  &.xl-size{
    padding: rem(90px) !important;
  }

  img.add-image {
    height: rem(44px);
    width: rem(48px);
    margin-bottom: rem(20px);
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem(10px);
    background: $white;

    .item-preview {
      width: rem(120px);
      height: rem(120px);
      margin-right: rem(40px);

      display: inline-flex;
      float: left;
      position: relative;

      background: $grey-050;
      border: rem(1px) solid $grey-100;
      border-radius: rem(4px);

      .image-preview {
        display: inherit;
        border-radius: rem(4px);
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }

      .remove-item {
        display: inline-table;
        position: absolute;
        right: rem(-29px)
      }
    }
    .action-button{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }
}
