<ng-template [ngIf]="label">
    <cxi-label name="{{name}}-label"
               [label]="label"></cxi-label>
</ng-template>

<div class="upload-img" [ngClass]="{'xl-size': size === 'xl'}">
    <img class="add-image"
         alt="add image"
         src="assets/img/upload-file.png">

    <div class="action-button">
        <base-button type="button"
                     name="upload-file"
                     buttonStyle="btn btn-default"
                     (click)="uploadFileInput.click()">
            <i class="icon-arrow-up1"></i>
            <span translate="Upload File.Upload image"></span>
        </base-button>
    </div>
    <div class="preview" *ngIf="value && value.length > 0">
        <ng-template ngFor
                     [ngForOf]="value"
                     let-image
                     let-i="index">
            <div class="item-preview">
                <div class="image-preview">
                    <img class="img-fluid" [src]="image.original_image"/>
                </div>

                <div class="remove-item">
                    <cxi-icon-close (click)="removeImage(i, uploadFileInput)"></cxi-icon-close>
                </div>
            </div>
        </ng-template>
        <div class="action-button" *ngIf="value.length < uploadLimit && multiUpload">
            <base-button type="button"
                         name="upload-file"
                         buttonStyle="btn btn-default"
                         (click)="uploadFileInput.click()">
                <i class="icon-arrow-up1"></i>
                Upload
            </base-button>
        </div>
    </div>
</div>


<!--select new image-->
<input type="file"
       hidden="hidden"
       id="upload-file"
       accept="image/*"
       #uploadFileInput
       multiple
       (change)="onFileChanged($event, uploadFileInput)"/>




