@import "~src/assets/scss/main";


.list-header {
  display: inline-block;
  width: 100%;

  .title-header {
    display: inline-block;
    float: left;
    margin-right: rem(30px);
  }

  .select-group-by {
  }

  .select-day {
    margin-left: rem(20px);
  }

  .select-group-by,
  .select-day {
    .btn.btn-primary,
    .btn.btn-default {
      box-shadow: none;
    }
  }

  .row {
    //width: 100%;

    .col-sm-6 {
      display: inline-flex;
    }
  }

  .btn-date {
    min-width: rem(140px);
  }

  .date-start {
    position: absolute;
    top: rem(36px);

    input {
      display: none;
    }
  }

  .date-end {
    position: absolute;
    top: rem(36px);
    right: 0;

    input {
      display: none;
    }
  }
}
