<div class="list-brand-wrapper list-wrapper">
    <div class="list-header">
        <div class="row">
            <div class="col-4">
                <div class="title-header">Activity Logs</div>
            </div>
            <div class="col-8 text-right">
                <div class="btn-group select-group-by">
                    <button class="btn btn-default"
                            [ngClass]="{'active': timeSelected === 'day'}"
                            (click)="selectTime('day')">Day
                    </button>
                    <button class="btn btn-default"
                            [ngClass]="{'active': timeSelected === 'week'}"
                            (click)="selectTime('week')">Week
                    </button>
                    <button class="btn btn-default"
                            [ngClass]="{'active': timeSelected === 'month'}"
                            (click)="selectTime('month')">Month
                    </button>
                    <button class="btn btn-default"
                            [ngClass]="{'active': timeSelected === 'year'}"
                            (click)="selectTime('year')">Year
                    </button>
                </div>
                <div class="btn-group select-day">

                    <button class="btn btn-default btn-date"
                            (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
                        Start Date
                    </button>
                    <div class="date-start">
                        <input type="text"
                               ngbDatepicker
                               #dateStartDatepicker="ngbDatepicker"
                               [(ngModel)]="dateStart"/>
                    </div>

                    <button class="btn btn-default btn-date"
                            (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
                        End Date
                    </button>
                    <div class="date-end">
                        <input type="text"
                               ngbDatepicker
                               #dateEndDatepicker="ngbDatepicker"
                               placement="bottom-right"
                               [(ngModel)]="dateEnd"/>
                    </div>

                    <button class="btn btn-default btn-single-icon"
                            (click)="openDate()">
                        <i class="icon-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="demo" [config]="baseTableConfig" [columns]="baseTableColumns"></app-cxi-grid>
        </div>
    </div>
</div>
