<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Case comment template.Edit Case comment template"></div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" (click)="cancel()">
                        <span translate="Case comment template.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Case comment template.Update"></span>
                    </base-button>
                </div>
            </div>
        </div>
        <div class="row p-30">
            <div class="col-4">
                <div class="tranlate-attribute">
                    <ul>
                        <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                            <img src="assets/img/english.png" alt="">
                            <span>English</span>
                        </li>
                        <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
                            <img src="assets/img/vn.png" alt="">
                            <span>Tiếng Việt</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <span [class]="(tab == 'en')?'white-arrow':'white-arrow active'"></span>
                <div class="create-product-body create-body mg-0">
                    <div class="title-body" translate="Case comment template.Case comment template Information"></div>
                    <div class="row">
                        <div class="col-12" *ngIf="tab == 'en'">
                            <base-input-text name="title" label="title" width="full" [(ngModel)]="case_comment.title"
                                required>
                            </base-input-text>
                        </div>
                        <div class="col-12" *ngIf="tab == 'vn'">
                            <base-input-text name="title" label="title" width="full"
                                [(ngModel)]="case_comment.vi.title">
                            </base-input-text>
                        </div>
                        <div class="col-12" *ngIf="tab == 'en'">
                            <base-textarea name="content" label="content" [(ngModel)]="case_comment.content"
                                [maxLength]="10000">
                            </base-textarea>
                        </div>
                        <div class="col-12" *ngIf="tab == 'vn'">
                            <base-textarea name="content" label="content" [(ngModel)]="case_comment.vi.content"
                                [maxLength]="10000">
                            </base-textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>