<div class="register-page">
    <!--Logo-->
    <app-logo></app-logo>


    <div class="register-form">
        <form #registerForm="ngForm"
              class="form-register">
            <div class="form-group">
                <label>Your name</label>
                <input type="email"
                       placeholder="Your name"
                       class="with-validate"
                       name="regName"
                       [(ngModel)]="user.name"
                       required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email"
                       placeholder="Your email here"
                       class="with-validate"
                       name="regEmail"
                       [(ngModel)]="user.email"
                       [pattern]="emailPattern"
                       minlength="6"
                       required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       class="with-validate"
                       name="password"
                       [(ngModel)]="user.password"
                       appComparePassword="confirmPassword"
                       reverse="true"
                       minlength="6"
                       required>
                <span class="message-top">Minimum 6 characters</span>
            </div>
            <div class="form-group">
                <label>Password confirmation</label>
                <input type="password"
                       class="with-validate"
                       name="confirmPassword"
                       title="Confirm password"
                       [(ngModel)]="user.confirm_password"
                       appComparePassword="password"
                       minlength="6"
                       required>
                <span class="message-top">Minimum 6 characters</span>
            </div>
            <div class="form-group">
                <label>User type</label>
                <ng-select class="ng-select-custom" name="regUserType"
                           placeholder="Select user type"
                           bindLabel="name"
                           bindValue="id"
                           [items]="userTypes"
                           [clearable]="false"
                           [(ngModel)]="user.user_type_id">
                </ng-select>

            </div>
            <div class="form-group">
                <label class="ui-checkbox">
                    <input class="checkbox-inline"
                           name="agree"
                           type="checkbox"
                           [(ngModel)]="agree"
                           value="agree">
                    <span></span>
                    <label>
                        Agree the <a (click)="privacyAndPolicy()">terms and policy</a> and <a
                            (click)="termOfServices()">term of services</a>
                    </label>
                </label>
            </div>
            <base-button bClass="btn btn-block btn-primary"
                         (bClick)="register()"
                         [disabled]="registerForm.invalid || !agree"
                         [loading]="loading">
                Sign up
            </base-button>
            <div class="create-acc button-group">
                <div class="switch-acc">
                    Already have an account?
                </div>
                <button [routerLink]="['/auth/login']" class="btn btn-default pull-right">
                    Sign In
                </button>
            </div>
        </form>
    </div>
</div>
