@import "~src/assets/scss/main";

/*-------------------------------------------------------------------------*/
/*register-form*/
.register-form {
  padding: rem(24px) rem(20px) rem(30px) rem(20px);

  .logo {
    text-align: center;
    max-width: unset;

    a {
      display: block;

      img {
        width: rem(133px);
        height: rem(22px);
        text-decoration: none;
      }
    }
  }

  .img-center img {
    width: rem(100px);
    height: rem(100px);
  }

  .form-register {
    margin-top: rem(51px);
  }
}

.create-acc {
  margin-top: rem(30px);
  width: 100%;

  .switch-acc {
    padding: rem(10px) 0;
    text-align: center;
  }
}

a:not([href]):not([tabindex]) {
  font-weight: 600;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: $primary-800;
}

/*Responsive*/
@media screen and (min-width: 768px) {
  .register-page {
    height: 100vh;
    background-size: cover;
    //background: url('~src/assets/img/graphic-register.jpg') fixed center left;
  }

  .register-form {
    padding: rem(140px) rem(130px);
    width: rem(670px);

    .logo a img {
      width: rem(200px);
      height: rem(32px);
    }

    .img-center {
      margin-top: rem(50px);

      img {
        width: rem(150px);
        height: rem(150px);
      }
    }

    .form-register {
      margin-top: rem(50px);
    }

    .create-acc {
      max-width: rem(410px);
      margin: 0 auto;
      position: fixed;
      bottom: rem(70px);

      .switch-acc {
        margin: 0;
        @include fontSize(16px);
        display: inline;
        padding: rem(11px) 0;
        float: left;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .register-page {
    height: unset;
    background-size: unset;
  }

  .register-form {
    .create-acc {
      position: unset;
      margin-top: rem(140px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .register-page {
    background-size: cover;
  }
}
