<div class="row">
    <!--Title-->
    <div class="col-12">
        <h3>ICONS</h3>
    </div>
</div>


<div class="row">

    <!--icons-->
    <ng-template ngFor
                 [ngForOf]="icons"
                 let-icon
                 let-i="index">
        <div class="col-12">
            <div class="icon-item">
                <div class="icon" (click)="icon.collapsed = !icon.collapsed">
                    <span class="icon-html" [innerHTML]="icon.html"></span>
                    <span class="icon-label-name">{{icon.name}}</span>
                </div>
                <div class="code" [ngbCollapse]="icon.collapsed">
                    <pre>{{icon.html}}</pre>
                </div>
            </div>
        </div>
    </ng-template>

</div>
