@import "../../../../src/assets/scss/main";

.icon-item {
  margin-bottom: rem(20px);


  .icon {
    display: flex;

    i {
      width: rem(24px);
      height: rem(24px);
      display: inline-block;
    }

    span.icon-html {
      @include fontSize(24px, 24px);
      margin-right: rem(25px);

      width: rem(24px);
      height: rem(24px);
      display: inline-table;
    }

    span.icon-label-name {
      @include fontSize(16px, 24px);
      display: inline-block;
    }
  }

  .code {
    pre {
      padding: rem(2px) rem(10px);
      background: $grey-100;
      @include fontSize(16px, 24px);
    }
  }
}
