<table class="table ">
    <thead>
        <tr>
            <th class="product "> product</th>
            <th class="date "> date </th>
            <th class="status "> status</th>
            <th class="address "> address </th>
            <th class="price "> price</th>
        </tr>
    </thead>
    <tbody *ngIf="listOrderHistory.length > 0">
        <tr *ngFor="let item of listOrderHistory;let i = index">
            <td class="product columns-avatar">
                <div>
                    <div *ngFor="let _item of item.items" class="d-flex align-items-center pd-b-5">
                        <!-- <div class="avatar-wrap ">
                            <cxi-avatar-circle _nghost-cux-c12="">
                                <img _ngcontent-cux-c12="" class="avatar img-fluid" src="assets/img/demo/oval.png">
                            </cxi-avatar-circle>
                        </div> -->
                        <div class="title-row ">
                            <div>
                                <div class="text text-ellipsis ">{{_item.name}}</div>
                            </div>
                            <span class="column-text ">Order #{{_item.id}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td class="date ">
                <div>
                    <div class="">
                        <div class="title-row ">
                            <div>
                                <div class="text text-ellipsis ">{{item.created_at | date:'M/d/yyyy' }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td class="status ">
                <div>
                    <div class="">
                        <div class="title-row ">
                            <div>
                                <div class="text text-ellipsis "> {{item.status}} </div>
                            </div>

                        </div>
                    </div>
                </div>

            </td>
            <td class="address ">
                <div>
                    <div class="">
                        <div class="title-row ">
                            <div>
                                <div class="text text-ellipsis ">
                                    {{(item.shipping_address)?item.shipping_address.address1:'--'}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="price last-column ">
                <div>
                    <div class="">
                        <div class="title-row ">
                            <div>
                                <div class="text text-ellipsis "> {{item.sub_total}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="listOrderHistory.length <= 0">
        <tr>
            <td colspan="5" class="text-center">No results found.</td>
        </tr>
    </tbody>
</table>
<!-- <app-cxi-pagination *ngIf="listOrderHistory.length >= 0" (change)="onChangePagination()">
</app-cxi-pagination> -->