<label *ngIf="label" class="text-uppercase" for="{{name}}">
    {{label}}
</label>

<textarea class="form-control" name="{{name}}" [(ngModel)]="value" [maxLength]="maxLength" rows="{{rows}}"
    cols="{{cols}}" title="description" [style.resize]="resize ? 'auto': 'none'"></textarea>