<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="title-header">Cash Managment Functionality</div>
      </div>
      <div class="col-sm-6 text-right position-re"></div>
    </div>
  </div>
  <div class="list-body mt-30">
    <div class="multitab">
      <ul class="nav nav-pills">
        <li *ngFor="let item of stepy;let i = index" (click)="change(item)" [class]="(tab == item)?'active':'nav-item'">
          <a class="nav-link"> {{stepy_info[item]}}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="cash-manage-report" id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="title-left">STEP 1: CONFIRM SAFE DROPS</div>
                  <div class="total-report">
                    <p>TOTAL</p>
                    <p>2.000.000</p>
                  </div>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>SAFE DROP <i class="icon-dropdown"></i></th>
                      <th>STATION NAME <i class="icon-dropdown"></i></th>
                      <th>DROPPED BY <i class="icon-dropdown"></i></th>
                      <th>DATE <i class="icon-dropdown"></i></th>
                      <th>CURRENCY <i class="icon-dropdown"></i></th>
                      <th>DECLARED AMT</th>
                      <th>CONFIRMED AMT</th>
                      <th>VARIANCE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <div class="title-left">STEP 2: CREATE SAFE COUNTS</div>
                  <div class="total-report"></div>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>SAFE DROP <i class="icon-dropdown"></i></th>
                      <th>STATION NAME <i class="icon-dropdown"></i></th>
                      <th>DROPPED BY <i class="icon-dropdown"></i></th>
                      <th>DATE <i class="icon-dropdown"></i></th>
                      <th>CURRENCY <i class="icon-dropdown"></i></th>
                      <th>DECLARED AMT</th>
                      <th>CONFIRMED AMT</th>
                      <th>VARIANCE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <div class="title-left">STEP 3: CREATE BANK DEPOSIT</div>
                  <div class="total-report"></div>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>SAFE DROP <i class="icon-dropdown"></i></th>
                      <th>STATION NAME <i class="icon-dropdown"></i></th>
                      <th>DROPPED BY <i class="icon-dropdown"></i></th>
                      <th>DATE <i class="icon-dropdown"></i></th>
                      <th>CURRENCY <i class="icon-dropdown"></i></th>
                      <th>DECLARED AMT</th>
                      <th>CONFIRMED AMT</th>
                      <th>VARIANCE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  <div class="title-left">STEP 4: VALIDATE BANK DEPOSIT</div>
                  <div class="total-report"></div>
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>SAFE DROP <i class="icon-dropdown"></i></th>
                      <th>STATION NAME <i class="icon-dropdown"></i></th>
                      <th>DROPPED BY <i class="icon-dropdown"></i></th>
                      <th>DATE <i class="icon-dropdown"></i></th>
                      <th>CURRENCY <i class="icon-dropdown"></i></th>
                      <th>DECLARED AMT</th>
                      <th>CONFIRMED AMT</th>
                      <th>VARIANCE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>9912</td>
                      <td>T-Shirt L</td>
                      <td>-</td>
                      <td>100000007532</td>
                      <td>1</td>
                      <td>08/09/2019 12:59 PM</td>
                      <td>09/09/2019 5:40 PM</td>
                      <td>1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>