@import "~src/assets/scss/main";
.cash-manage-report {
    .card-header button::before {
        font-family: 'icon-bssfb';
        content:"\e932";
        float: left;
        color: grey;
    }
    .card-header button.collapsed::before {
        content:"\e931";
    }

    .card-header button::before {
        font-family: 'icon-bssfb';
        content:"\e932";
        float: left;
        color: $white;
        font-size: rem(24px);
    }
    .card-header button.collapsed::before {
        content:"\e931";
        color: gray;
    }
    .card {
        border: 0;
        margin-bottom: rem(10px);
        .card-header {
            background-color: transparent;
            padding: 0;
            border: 0;
            button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: rem(12px);
                width: 100%;
                text-decoration: none;
                background: #15a5de;
                color: $white;
                &.collapsed {
                    background: #e2e3e6;
                    color: #989ca8;
                }
                .total-report {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p {
                        margin: 0;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .title-left {
                    width: 75%;
                    text-align: left;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            
        }
        .card-body {
            padding: 0;
            width: 100%;
            overflow-x: auto;
        }
    }
}
.multitab {
    margin-left: rem(-30px);
    margin-right: rem(-30px);
    border-bottom: rem(1px) solid $grey-100;
    margin-bottom: rem(20px);

    padding-left: rem(30px);
    padding-right: rem(30px);
    ul {
        li {
            &.active {
                border-bottom: rem(2px) solid $accent-500;
                a {
                color: $accent-500;
                font-weight: bold;
                }
            }

            a {
                color: $cool-gray;
                @include fontSize(14px, 20px);
                padding: rem(8px) rem(7px) rem(6px) rem(13px);
            }
        }
    }
}