<label *ngIf="label"
       class="text-uppercase">
    {{label|baseMakeTitle}}
</label>

<ng-template ngFor
             let-radioItem
             [ngForOf]="internalData"
             let-i="index">

    <label for="{{name}}_{{radioItem.value}}_{{i}}"
           class="check-radio"
           [ngStyle]="radioStyle">
        <input type="radio"
               name="{{name}}-{{i}}"
               id="{{name}}_{{radioItem.value}}_{{i}}"
               [(ngModel)]="value"
               [value]="radioItem.value"
               (change)="onChange()"/>
        {{ getLabel(radioItem.name) }}
    </label>

</ng-template>
