<ng-template [ngIf]="value">
    <div class="working-hours-item">

        <!--remove-->
        <cxi-icon-close name="{{name}}-remove"
                        (click)="removeThisWorkingHourItem()"></cxi-icon-close>

        <!--date-->
        <div class="date">
            <div class="title">
                {{'Working Hour.Date'|translate}}
            </div>
            <app-cxi-days-of-week name="{{name}}-days"
                              [cols]="3"
                              [bordered]="false"
                              [transparentBackground]="true"
                              [disabledDays]="disabledDays"
                              [(days)]="value.days"
                              (daysOfWeekChange)="onChangeDaysOfWeek()"></app-cxi-days-of-week>
        </div>

        <!--periods-->
        <div class="periods">
            <div class="title">
                {{'Working Hour.Period'|translate}}
            </div>
            <ng-template ngFor
                         [ngForOf]="value.periods"
                         let-period
                         let-j="index">
                <div class="period-item">
                    <cxi-period-date name="{{name}}-periods-{{j}}"
                                     label="{{
                                    ('Working Hour.Period' | translate ) + ' ' + (j+1)
                                 }}"
                                     labelTo="{{'To'|translate}}"
                                     width="65"
                                     [(ngModel)]="period"></cxi-period-date>

                    <cxi-icon-close name="{{name}}-periods-remove"
                                    (click)="removePeriod(j)"></cxi-icon-close>
                </div>
            </ng-template>
            <base-button name="{{name}}-periods-add"
                         buttonStyle="btn btn-default"
                         icon="icon-add-new"
                         (click)="addPeriod()">
                {{'Working Hour.Add period'|translate}}
            </base-button>
        </div>
    </div>
</ng-template>
