@import "../../../../assets/scss/main";

.working-hours-item {
  padding: rem(20px);
  background: $bg-gray;
  margin-bottom: rem(20px);
  position: relative;

  cxi-icon-close {
    position: absolute;
    top: rem(20px);
    right: rem(20px);
  }

  .title {
    @include fontSize(16px, 24px, bold);
  }

  .date {
  }

  .periods {
    .title {
      margin-bottom: rem(10px);
    }

    .period-item {
      padding-right: rem(30px);
      position: relative;

      cxi-icon-close {
        position: absolute;
        right: 0;
        top: rem(20px);

        display: block;
        padding: rem(6px) 0;
      }
    }
  }
}
