@import "../../../../assets/scss/main";

/*-------------------------------------------------------------------------*/

:host {
  display: inline-flex;
  width: 100%;
}

/*cxi-checkbox*/
.cxi-checkbox {
  position: relative;
  margin-bottom: 0;
  color: $black;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  label {
    display: inline-block;
  }

  span {
    @include fontSize(16px, 24px);
    color: $grey-900;
    vertical-align: middle;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  input[type="checkbox"] {
    display: none;

    + span {
      &:before {
        content: "\e908";
        font-family: $font-icon-bss;
        @include fontSize(24px, 24px);
        color: $cool-gray;
        display: inline-block;
        vertical-align: middle;

        width: rem(24px);
        height: rem(24px);
        text-align: center;
        float: left;

        margin-right: rem(5px);
      }
    }

    &:checked {
      + span {
        &:before {
          content: "\e907";
          color: $primary-800;
        }
      }
    }
  }

  &.white {
    input[type="checkbox"] {
      + span:before {
        margin-right: rem(3px);
      }

      &:checked {
        + span:before {
          background-color: $bss-brand;
        }
      }
    }
  }

  span.bullet {
    float: left;

    $bullet-square-line-height: $lh;

    &.square {
      width: rem($bullet-square-line-height);
      height: rem($bullet-square-line-height);
      display: inline-block;
      margin-right: rem(10px);
    }

    $bullet-circle-line-height: $lh;
    $bullet-circle: 10px;
    $bullet-circle-padding: ($bullet-circle-line-height - $bullet-circle) / 2;

    &.circle {
      width: rem($bullet-circle);
      height: rem($bullet-circle);
      border-radius: 50%;
      margin: rem($bullet-circle-padding) rem($bullet-circle-padding) rem($bullet-circle-padding) 0;
    }
  }
}
