<label class="cxi-checkbox"
       title="{{title}}"
       [ngClass]="{
       'disabled': disabled,
       'text-ellipsis': textEllipsis
       }"
       for="{{name}}">

    <input name="{{name}}"
           id="{{name}}"
           type="checkbox"
           value="option1"
           [(ngModel)]="value"
           (change)="onChange()"
           [disabled]="disabled"
           [ngClass]="{'invalid': (invalid | async)}">

    <span *ngIf="!allowInput">

        <!--square, circle-->
        <span *ngIf="isSquare || isCircle"
              class="bullet"
              [ngClass]="{
                  'square': isSquare,
                  'circle': isCircle
              }"
              [style.backgroundColor]="color"
              [style.backgroundImage]="getBackGroundStripeColor()">
        </span>

        <!--label-->
        {{label}}
    </span>

    <span *ngIf="allowInput"><input [(ngModel)]="inputText" (keydown)="onChangeInput($event)"/></span>

</label>

<validation-messages *ngIf="invalid | async"
                     [messages]="failures | async">
</validation-messages>
