<div class="modal-header">
    Exhibitor Information
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="sub-title">{{exhibitor.company_name}}</div>
            <div class="item-content">Tax Code: {{exhibitor.company_tax_code}}</div>
            <div class="item-content">Website: {{exhibitor.company_website}}</div>
        </div>
    </div>
</div>


