@import "~src/assets/scss/main";

.rewards-setting {

  .rewards-setting-body {
    background-color: $white;
    width: rem(570px);
    margin: auto;
    padding: rem(20px);
    .title-body {
      font-size: rem(16px);
      font-family: $font-sfprotext-bold;
      line-height: 1.5;
      margin-bottom: rem(20px);
    }
    .title_exchange {
      display: inline-block;
    }
    .btn-add {
      display: inline-block;
      float: right;
      .btn {
        background-color: $primary-800;
        border-radius: rem(4px);
        color: $white;
        align-items: center;
        font-family: $font-sfprotext;
        border: 1px solid $primary-800;
        cursor: pointer;
      }
    }
    .exchange_rate {
      margin-left:  rem(-20px);
      margin-right:  rem(-20px);
      margin-bottom: rem(20px);
      table {
        tbody {
          tr:last-child {
            td {
              border-bottom: rem(1px) solid #dee2e6;
            }
          }
        }
        .icon-close {
          font-size: rem(24px);
          color: $red-500;
        }
      }
    }
    .title{
      font-size: rem(16px);
      font-family: $font-sfprotext-bold;
      line-height: 1.5;
      margin-bottom: rem(20px);
    }
  }
}



