<div class="rewards-setting create-wrapper">
    <ng-template [ngIf]="rewardsSetting">
        <form #redemptionSettingForm="ngForm"
              class="form-create-customer-level"
              (ngSubmit)="save()">

            <div class="rewards-setting-header create-header">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-header">
                            <i class="icon-navigation-left"></i>
                            {{'Loyalty Program.Rewards Setting'|translate}}
                        </div>
                    </div>

                    <div class="col-sm-6 text-right button-group">

                        <button class="btn btn-default"
                                type="button"
                                (click)="cancel(redemptionSettingForm)"
                                [disabled]="!isChangedData()">
                            <span>{{'Cancel'|translate}}</span>
                        </button>

                        <button type="submit"
                                class="btn btn-primary"
                                [disabled]="!redemptionSettingForm.form.valid || !isChangedData()">
                            <span>{{'Save'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>


            <!--New design begin-->
            <div class="row">
                <div class="rewards-setting-body">

                    <!--Exchange point-->
                    <div class="title-body">{{'Loyalty Program.Exchange point'|translate}}</div>

                    <!--currency-rates-->
                    <app-rewards-currency-rates
                        name="exchange-rates"
                        [currencies]="currencies"
                        [(currencyRate)]="rewardsSetting.currency_rate"></app-rewards-currency-rates>

                    <!--exchange rate-->
                    <div class="reward-exchange-rate">
                        <div class="title title_exchange">
                            {{'Loyalty Program.Exchange Rate'|translate}}
                        </div>

                        <div class="btn-add">
                            <button class="btn btn-default"
                                    type="button"
                                    (click)="openModalAdd()">
                                <i class="icon-add-new"></i> <span>{{'Add'|translate}}</span>
                            </button>
                        </div>

                        <ng-template [ngIf]="rewardsSetting.customer_level_exchange_rate && rewardsSetting.customer_level_exchange_rate.length > 0">
                            <div class="row exchange_rate">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <ng-template ngFor
                                                     let-column
                                                     [ngForOf]="columns">
                                            <th>
                                                {{column.title}}
                                            </th>
                                        </ng-template>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-template ngFor
                                                 let-item
                                                 [ngForOf]="rewardsSetting.customer_level_exchange_rate"
                                                 let-i="index">
                                        <tr>
                                            <td>
                                                {{item.name}}
                                            </td>
                                            <td>
                                                <base-input-text name="accumulated_rate-{{i}}"
                                                                 [(ngModel)]="item.accumulated_rate"></base-input-text>
                                            </td>
                                            <td>
                                                <base-input-text name="maximum_amount-{{i}}"
                                                                 [(ngModel)]="item.maximum_amount"></base-input-text>
                                            </td>
                                            <td>
                                                <i class="icon-close" (click)="removeItem(i)"></i>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </div>

                    <div class="title">{{'Loyalty Program.Point Accumulated'|translate}}</div>
                    <base-radio name="point_accumulated"
                                [values]="pointAccumulatedOptions"
                                [(ngModel)]="rewardsSetting.point_accumulated"></base-radio>

                    <ng-template [ngIf]="rewardsSetting.point_accumulated === 'specific_stores'">
                        <base-selection-two-columns name="specific-stores"
                                                    [items]="outlets"
                                                    bindLabel="name"
                                                    bindValue="id"
                                                    [(ngModel)]="rewardsSetting.outlets"></base-selection-two-columns>
                    </ng-template>

                    <div class="title">{{'Loyalty Program.Reward Point for Reviewing Product'|translate}}</div>
                    <div class="row">
                        <div class="col-6">
                            <base-input-text name="for_reviewing_product_point"
                                             [(ngModel)]="rewardsSetting.reviewing_point"></base-input-text>
                            <base-radio name="for_reviewing_product"
                                        [values]="alwaysOneTimeOptions"
                                        [(ngModel)]="rewardsSetting.reviewing_earning_time"></base-radio>
                        </div>
                    </div>

                    <div class="title">{{'Loyalty Program.Reward Point for Rating'|translate}}</div>
                    <div class="row">
                        <div class="col-6">
                            <base-input-text name="for_rating_point"
                                             [(ngModel)]="rewardsSetting.rating_point"></base-input-text>
                            <base-radio name="for_rating"
                                        [values]="alwaysOneTimeOptions"
                                        [(ngModel)]="rewardsSetting.rating_earning_time"></base-radio>
                        </div>
                    </div>
                    <!--</cxi-card>-->

                </div>
            </div>
            <!--New design end-->
        </form>
    </ng-template>
</div>
