<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row highlight">
            <div class="col-12">
                <div class="color-title"><p>Color</p></div>
                <input label="Color" [(colorPicker)]="value.color" [style.background]="value.color"/>
                <base-input-text name="title_vi"
                                 label="Title"
                                 [(ngModel)]="value.title"
                >
                </base-input-text>
                <base-input-text name="content_vi"
                                 label="Content"
                                 [(ngModel)]="value.content"
                >
                </base-input-text>
                <base-input-text name="description"
                                 label="Description"
                                 [(ngModel)]="value.description"
                >
                </base-input-text>
            </div>
        </div>
    </div>
</ng-template>
