<div class="list-role list-wrapper">
    <div class="list-role-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">Permission Management</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default"
                        [routerLink]="['../create']">
                    <i class="icon-add-new"></i> <span>New Permission</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-role-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="demo"
                            [config]="baseTableConfig"
                            [columns]="columns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
