<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Mail Management.Create Mail">
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..','list']">
                        <span translate="Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Create"></span>
                    </base-button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mail-info">
                    <base-input-text name="name"
                                     label="Name"
                                     [(ngModel)]="content.name"
                                     [maxLength]="5000"
                                     required=""></base-input-text>
                </div>
                <div class="mail-info">
                    <app-cxi-upload-files name="thumbnail"
                                          label="Thumbnail"
                                          (file)="onFileThumbnail($event)"
                                          [(ngModel)]="content.images"
                    ></app-cxi-upload-files>

                </div>
            </div>
            <div class="col-12">
                <cxi-card title="Vietnamese" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="vietnamese" *ngIf="componentAdding.vi">
                    <div class="row">
                        <div class="col-12">
                            <base-input-text name="title_vi"
                                             label="Title"
                                             [(ngModel)]="content.vi.title"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="address_vi"
                                             label="Address"
                                             [(ngModel)]="content.vi.contact.address"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="phone_vi"
                                             label="Phone Number"
                                             [(ngModel)]="content.vi.contact.phone"
                                             [maxLength]="500"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="fax_vi"
                                             label="Fax"
                                             [(ngModel)]="content.vi.contact.fax"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-12">
                            <app-cxi-input-editor
                                    name="content_vi"
                                    label="Content"
                                    [(ngModel)]="content.vi.content"></app-cxi-input-editor>
                        </div>
                        <div class="col-12">
                            <app-cxi-upload-files name="content"
                                                  label="Thumbnail"
                                                  [multiUpload]="true"
                                                  (file)="onFileContent($event)"
                                                  [(ngModel)]="content.vi.files"
                            ></app-cxi-upload-files>
                        </div>
                    </div>
                </cxi-card>
            </div>
            <div class="col-12">
                <cxi-card title="English" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="english" *ngIf="componentAdding.en">
                    <div class="row">
                        <div class="col-12">
                            <base-input-text name="title_en"
                                             label="Title"
                                             [(ngModel)]="content.en.title"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="address_en"
                                             label="Address"
                                             [(ngModel)]="content.en.contact.address"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="phone_en"
                                             label="Phone Number"
                                             [(ngModel)]="content.en.contact.phone"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="fax_en"
                                             label="Fax"
                                             [(ngModel)]="content.en.contact.fax"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-12">
                            <app-cxi-input-editor
                                    name="content_en"
                                    label="Content"
                                    [(ngModel)]="content.en.content"></app-cxi-input-editor>
                        </div>
                        <div class="col-12">
                            <app-cxi-upload-files name="letter-image"
                                                  label="Thumbnail"
                                                  [multiUpload]="true"
                                                  (file)="onFileContent($event)"
                                                  [(ngModel)]="content.en.files"
                            ></app-cxi-upload-files>
                        </div>
                    </div>
                </cxi-card>
            </div>
            <div class="col-12">
                <div class="create-user-body">
                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="component"
                                         bindValue="key"
                                         bindLabel="name"
                                         [items]="listComponent"
                                         [(ngModel)]="component"
                            >
                            </base-select>
                        </div>
                        <div class="col-6">
                            <base-button
                                    type="button"
                                    icon="icon-add-new"
                                    buttonStyle="btn-default"
                                    (click)="addComponent()">
                                Add more
                            </base-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
