@import "../../../../assets/scss/main";


//
$cal-event-height: 40px;
$cal-event-padding: 10px;
$cal-event-inner-height: $cal-event-height - ($cal-event-padding * 2);
$cal-event-border-radius: 4px;
$cal-event-border-color: #e0e0e0;

// text
$cal-event-text-font-size: 12px;
$cal-event-text-line-height: $cal-event-text-font-size * 1.5;
$cal-event-text-padding-top-bottom: ($cal-event-inner-height - $cal-event-text-line-height) / 2;

// icons
$cal-event-icon-size: 16px;
$cal-event-icon-padding: ($cal-event-inner-height - $cal-event-icon-size)/2;

.event {
  display: inline-block;
  height: rem($cal-event-height);
  border-radius: rem($cal-event-border-radius);
  padding: rem($cal-event-padding);
  position: relative;
  //cursor: pointer;

  // normal style
  //border: rem(1px) solid $cal-event-border-color;
  background: $white;

  &:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1;
  }

  .event-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: inherit;
    padding-right: rem($cal-event-icon-size);

    i {
      @include fontSize($cal-event-icon-size, $cal-event-icon-size);
      padding: rem($cal-event-icon-padding) 0;
      display: inline-block;
      float: left;
    }

    .icon-calendar {
      color: #ca1f56;
    }

    .start-end {
      @include fontSize($cal-event-text-font-size, $cal-event-text-line-height);
      padding: rem($cal-event-text-padding-top-bottom) 0;
      margin-left: rem(5px);
      display: inline;
    }

    .badge {

    }
  }

  .event-detail {
    $event-detail-width: 16px;
    $event-detail-height: 16px;

    width: rem($event-detail-width);
    height: rem($event-detail-height);
    display: inline-block;
    position: absolute;
    top: rem(12px);
    right: rem(10px);
    text-align: center;

    i {
      @include fontSize(14px, 16px);
    }

    .icon-search {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
