<div class="event"
     [style.width.rem]="getWidth()"
     [style.background]="getBackground()">

    <div class="event-wrap">

        <div class="start-end"
             [ngSwitch]="shiftItem.status">
            <ng-template [ngSwitchCase]="null">
                <!--nothing-->
            </ng-template>
            <ng-template [ngSwitchCase]="'clockedIn'">
                <i class="icon-history"></i>
                {{shiftItem.clockedInAt}}
            </ng-template>
            <ng-template [ngSwitchCase]="'clockedOut'">
                <i class="icon-history"></i>
                {{shiftItem.clockedInAt}} - {{shiftItem.clockedOutAt}}
            </ng-template>
            <ng-template [ngSwitchCase]="'approvedOff'">
                <ng-template [ngIf]="shiftItem.clockedOutTime">
                    <i class="icon-history"></i>
                    {{shiftItem.clockedInAt}} - {{shiftItem.clockedOutAt}}
                </ng-template>
                <ng-template [ngIf]="shiftItem.clockedInTime">
                    <i class="icon-history"></i>
                    {{shiftItem.clockedInAt}}
                </ng-template>
            </ng-template>
            <ng-template [ngSwitchCase]="'offWithoutApproved'">
                <ng-template [ngIf]="shiftItem.clockedOutTime">
                    <i class="icon-history"></i>
                    {{shiftItem.clockedInAt}} - {{shiftItem.clockedOutAt}}
                </ng-template>
                <ng-template [ngIf]="shiftItem.clockedInTime">
                    <i class="icon-history"></i>
                    {{shiftItem.clockedInAt}}
                </ng-template>
            </ng-template>
        </div>
    </div>


    <!--detail event-->
    <!--actions-->
    <div class="event-detail">
        <a #popoverNotification="ngbPopover"
           popoverClass="popover-calendar-event-detail"
           placement="bottom-right"
           [ngbPopover]="popContentNotification"
           [autoClose]="true"
           container="body">
            <i class="icon-combined"></i>
        </a>

        <ng-template #popContentNotification>
            <div class="title">{{'Cxi Calendar.Checklist'|translate}}:</div>
            <ng-template [ngIf]="shiftItem.statistics">
                <div class="status">
                    <span class="1">
                        {{
                        'Cxi Calendar.tasks done before shift done'|translate: {
                            done_tasks: shiftItem.statistics.totalTaskDoneBefore,
                            total_tasks: shiftItem.statistics.totalTask
                        }
                        }}
                    </span>
                    <span class="2">
                        {{
                        'Cxi Calendar.tasks done after shift done'|translate: {
                            done_tasks: shiftItem.statistics.totalTaskDoneAfter,
                            total_tasks: shiftItem.statistics.totalTask
                        }
                        }}
                    </span>
                </div>
            </ng-template>


            <div class="buttons">

                <div class="row p-10">
                    <!--leave-->
                    <ng-template [ngIf]="isShow('leave')">
                        <div class="col-6">
                            <button class="btn btn-default"
                                    (click)="onClickOnAction('leave')">
                                {{'Cxi Calendar.Leave'|translate}}
                            </button>
                        </div>
                    </ng-template>

                    <!--absent-->
                    <ng-template [ngIf]="isShow('absent')">
                        <div class="col-6">
                            <button class="btn btn-default"
                                    (click)="onClickOnAction('absent')">
                                {{'Cxi Calendar.Absent'|translate}}
                            </button>
                        </div>
                    </ng-template>
                </div>

                <div class="row p-10">
                    <!--clockedIn-->
                    <ng-template [ngIf]="isShow('clockedIn')">
                        <div class="col-6">
                            <button class="btn btn-accent"
                                    (click)="onClickOnAction('clockedIn')">
                                {{'Cxi Calendar.Clock in'|translate}}
                            </button>
                        </div>
                    </ng-template>

                    <!--remove-->
                    <ng-template [ngIf]="isShow('remove')">
                        <div class="col-6">
                            <button class="btn btn-accent"
                                    (click)="onClickOnAction('remove')">
                                {{'Cxi Calendar.Remove'|translate}}
                            </button>
                        </div>
                    </ng-template>
                </div>

                <!--clockedOut-->
                <ng-template [ngIf]="isShow('clockedOut')">
                    <div class="row p-10">
                        <div class="col-12">
                            <button class="btn btn-primary"
                                    (click)="onClickOnAction('clockedOut')">
                                {{'Cxi Calendar.Clock out'|translate}}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-template>
        <!-- Template Module -->
    </div>
</div>
