<div class="list-brand-wrapper list-wrapper">
    <div class="list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Currency.Currency'|translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="demo"
                          [config]="cxiGridConfig"
                          [columns]="cxiGridColumns"></app-cxi-grid>
        </div>
    </div>
</div>
