<ng-template [ngIf]="workingHourHolidays && workingHourHolidays.length > 0">
    <ng-template ngFor
                 [ngForOf]="workingHourHolidays"
                 let-occasion
                 let-i="index">
        <base-checkbox name="{{name}}-{{i}}-check"
                       [ngClass]="{'m-b-n': i === workingHourHolidays.length - 1}"
                       [label]="occasion.name"
                       [(ngModel)]="workingHourHolidayValues[i]"
                       (change)="onCheckOccasion()"></base-checkbox>
    </ng-template>
</ng-template>
