<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <cxi-card [title]="value.name || 'Ticket'" [size]="'xl'">
        <div class="add-on-type panel-group m-b">

            <div class="remove-item">
                <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
            </div>

            <!--enable-for-promotion-->

            <div class="row ticket">
                <div class="col-6">
                    <base-checkbox name="isAutoApproved-{{index}}"
                                   [label]="'Require confirmation'"
                                   [disabled] = "payment_method === 'bank'"
                                   *ngIf="!value.haveChild"
                                   [(ngModel)]="value.is_auto_approved"></base-checkbox>
                </div>
                <div class="col-12">
                    <base-input-text name="name-{{index}}"
                                     label="Title"
                                     [(ngModel)]="value.name"
                    >
                    </base-input-text>
                </div>
                <div class="col-6">
                    <base-input-text name="ticket_code-{{index}}" type="text" label="Code" width="full"
                                     *ngIf="!value.haveChild"
                                     [(ngModel)]="value.code">
                    </base-input-text>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary btn-form"   *ngIf="!value.haveChild" (click)="autoGenerate()">
                        <i class="icon-auto"></i>
                        <span>Auto Generate</span>
                    </button>
                </div>
                <div class="col-12">
                    <base-select name="type-{{index}}"
                                 bindValue="value"
                                 label="Type"
                                 bindLabel="name"
                                 [items]="types"
                                 *ngIf="isChildren"
                                 [(ngModel)]="value.type"
                    >
                    </base-select>
                </div>

                <div class="col-6">
                    <base-select name="type_ticket-{{index}}"
                                 label="Payment"
                                 bindValue="value"
                                 bindLabel="name"
                                 *ngIf="!value.haveChild"
                                 [items]="paymentType"
                                 (change)="handleTicketChange($event)"
                                 [(ngModel)]="value.payment_type"></base-select>
                </div>
                <div class="col-6">
                    <base-integer name="price-{{index}}"
                                  label="Giá tiền"
                                  *ngIf="!value.haveChild"
                                  [disabled]="value.payment_type === 'free'"
                                  [(ngModel)]="value.price"
                    >
                    </base-integer>
                </div>

                <div class="col-12">
                    <base-checkbox name="isLimitRegistration-{{index}}"
                                   [label]="'Limit registration'"
                                   *ngIf="!value.haveChild"
                                   [(ngModel)]="value.limit_registration"></base-checkbox>
                </div>
                <div class="col-6">
                    <base-integer name="minJoiner-{{index}}"
                                  *ngIf="!value.haveChild && value.limit_registration"
                                  label="Minimum participant"
                                  [(ngModel)]="value.minimum_purchase"
                    >
                    </base-integer>
                </div>
                <div class="col-6">
                    <base-integer name="maxJoiner-{{index}}"
                                  *ngIf="!value.haveChild && value.limit_registration"
                                  label="Maximum participant"
                                  [(ngModel)]="value.maximum_purchase"
                    >
                    </base-integer>
                </div>
                <div class="col-12">
                    <base-checkbox name="isUnlimited-{{index}}"
                                   [label]="'Ticket limitation'"
                                   *ngIf="!value.haveChild"
                                   [(ngModel)]="value.is_unlimited"></base-checkbox>
                </div>
                <div class="col-6">
                    <base-integer name="quantity-{{index}}"
                                  label="Amount"
                                  *ngIf="value.is_unlimited && !value.haveChild"
                                  [(ngModel)]="value.limit"
                    >
                    </base-integer>
                </div>
                <div class="col-12">
                    <base-input-text name="location-{{index}}"
                                     label="Location"
                                     *ngIf="!value.haveChild"
                                     [(ngModel)]="value.location"
                    >
                    </base-input-text>
                </div>
                <div class="col-6">
                    <app-cxi-datetimepicker name="start-{{index}}"
                                            label="Start time"
                                            [type]="'calendar'"
                                            [minDate]="minDate"
                                            [maxDate]="maxDate"
                                            *ngIf="!value.haveChild"
                                            [(ngModel)]="value.start_time"
                    ></app-cxi-datetimepicker>
                </div>
                <div class="col-6">
                    <app-cxi-datetimepicker name="end-{{index}}"
                                            label="End time"
                                            [type]="'calendar'"
                                            [minDate]="value.start_time"
                                            [maxDate]="maxDate"
                                            *ngIf="!value.haveChild"
                                            [(ngModel)]="value.end_time"
                    ></app-cxi-datetimepicker>
                </div>
                <div class="col-6">
                    <app-cxi-datetimepicker name="startSold-{{index}}"
                                            label="Opening times"
                                            [type]="'calendar'"
                                            *ngIf="!value.haveChild"
                                            [maxDate]="value.start_time"
                                            [(ngModel)]="value.start_sold"
                    ></app-cxi-datetimepicker>
                </div>
                <div class="col-6">
                    <app-cxi-datetimepicker name="endSold-{{index}}"
                                            label="End in"
                                            [type]="'calendar'"
                                            *ngIf="!value.haveChild"
                                            [maxDate]="value.start_time"
                                            [minDate]="value.start_sold"
                                            [(ngModel)]="value.end_sold"
                    ></app-cxi-datetimepicker>
                </div>


                <div class="col-12" *ngIf="!value.haveChild">
                    <span>Session</span>
                    <app-select-ticket-breaktimes
                            name="breaktime-{{index}}"
                            [minDate]="value.start_time"
                            [maxDate]="value.end_time"
                            [(ngModel)]="value.extend_data.break_times"></app-select-ticket-breaktimes>
                </div>
                <div class="col-12" *ngIf="isChildren">
                    <span>Sub-ticket</span>
                    <app-select-sub-tickets
                            name="children-{{index}}"
                            [isChildren]="false"
                            (change)="handleChangeChildren()"
                            [allowEmpty]="false"
                            [payment_method] = "payment_method"
                            [(ngModel)]="value.children"></app-select-sub-tickets>
                </div>
            </div>
        </div>
    </cxi-card>
</ng-template>

