<!--label-->
<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">
    {{label|baseMakeTitle}}

    <cxi-required *ngIf="required"></cxi-required>
</label>


<!--ng-select-->
<ng-select class="ng-select-custom"
           name="{{name}}"
           id="{{name}}"
           placeholder="{{placeholder}}"
           [clearable]="clearable"
           [multiple]="multiple"
           [closeOnSelect]="closeOnSelect"
           [searchable]="searchable"
           [(ngModel)]="value"
           [ngClass]="{
                'w-xxs': width === 'xxs',
                'w-xs': width === 'xs',
                'w-xss': width === 'xss',
                'w-xsm': width === 'xsm',
                'w-sm': width === 'sm',
                'w-md': width === 'md',
                'w-lg': width === 'lg',
                'w-xl': width === 'xl',
                'w-xxl': width === 'xxl',
                'd-b': display === 'block',
                'd-i-b': display === 'inline-block',
                'select-pagination' : custom == true
                }"
           (change)="onChange()"
           [disabled]="disabled">

    <label>View</label>
    <ng-option *ngFor="let item of internalItems"
               [value]="getValueItem(item)"
               [disabled]="isDisabledItem(item)">

        <!--avatar-->
        <ng-template [ngIf]="getAvatarItem(item)">
            <cxi-avatar-circle name="{{name}}-{{item.id}}-avatar"
                               width="16"
                               height="16"
                               [src]="getAvatarItem(item)"></cxi-avatar-circle>
        </ng-template>

        {{ getLabelItem(item) }}
    </ng-option>
</ng-select>


<!--validation-messages-->
<validation-messages *ngIf="(invalid | async) && model.control.touched"
                     [messages]="failures | async">
</validation-messages>
