@import "~src/assets/scss/main";


.select-pagination {
  position: absolute;
  z-index: 100;
  width: rem(125px) !important;
  top: rem(30px);

  &:before {
    content: "VIEW";
    position: absolute;
    top: 50%;
    font-size: rem(14px);
    left: rem(16px);
    width: rem(36px);
    z-index: 99999;
    transform: translateY(-50%);
    color: $cool-gray;
    display: block !important;
  }
}


/* avatar */
cxi-avatar-circle {
  margin-right: rem(4px);
}
