@import "../../../../src/assets/scss/main";


.order-detail {
  background-color: $white;
  width: rem(1200px) !important;
  padding: rem(20px);
  margin: 0 auto !important;

  .booking-item {
    border-bottom: 1px solid #2d2d2d;
    padding-left: rem(10px);

    .item-title {
      font-size: rem(18px);
      font-weight: bold;
      margin-bottom: rem(20px);
      margin-top: rem(10px);
    }

    .item-content {
      margin-bottom: rem(15px);
      margin-left: rem(15px);

      .icon-promotion {
        margin-right: rem(10px);
      }
    }

    .ticket {
      padding-left: rem(15px);
      padding-bottom: rem(20px);

      .sub-title {
        font-size: rem(15px);
        font-weight: bold;
        margin-bottom: rem(15px);
      }

      .item {
        text-align: right;
      }
    }

    .customer {
      .customer-item {
        padding-bottom: rem(30px);

        .image-certification {
          margin-bottom: rem(20px);

          img {
            width: rem(300px);
          }
        }
      }
    }
  }

  .total {
    padding-left: rem(20px);
    padding-top: rem(15px);

    .sub-title {
      font-size: rem(15px);
      font-weight: bold;
    }

    .content {
      font-size: rem(14px);
      font-weight: bold;
      text-align: right;
    }
  }
}
