<div class="order-detail create-wrapper" *ngIf="isLoaded">
    <div class="create-product-header create-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Order.Order details'|translate}}
                </div>
            </div>
            <div class="col-sm-6 text-right" *ngIf="order.status !== 'confirmed' && order.status !== 'canceled'">
                <div class="button-group">
                    <button type="submit"
                            class="btn btn-primary"
                            (click)="onConfirm()"
                    >
                        <span>{{'Order.Approve'|translate}}</span>
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            (click)="onCancel()"
                    >
                        <span>{{'Order.Reject'|translate}}</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-6 text-right" *ngIf="order.status === 'confirmed' && order.status !== 'canceled'">
                <div class="button-group">
                    <button type="button"
                            class="btn btn-default"
                            (click)="onPrint()"
                    >
                        <span>{{'Order.Print badge'|translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="booking-info">
        <div class="row">
            <div class="col-7">
                <div class="booking-item">
                    <div class="item-title">{{'Order.Order code'|translate}}: {{order.resource.code}}</div>
                    <div class="item-content">{{'Order.Date time'|translate}}: {{order.created_at}}</div>
                    <div class="item-content">{{'Order.Status'|translate}}: {{order.status_label}}</div>
                </div>
                <div class="booking-item">
                    <div class="item-title">{{'Order.Event information'|translate}}</div>
                    <div class="ticket" *ngFor="let ticket of order.items">
                        <div class="sub-title">{{ticket.product.name | uppercase}}</div>
                        <div class="item-content">{{'Order.Date'|translate}}: {{ticket.product.start_time}}</div>
                        <div class="item-content">{{'Order.Location'|translate}}: {{ticket.product.location}}</div>
                    </div>
                </div>
                <div class="booking-item">
                    <div class="item-title">{{'Order.Ordered by'|translate}}</div>
                    <div class="item-content">{{'Order.Full name'|translate}}: {{order.customer_name}}</div>
                    <div class="item-content">{{'Order.Email'|translate}}: {{order.customer_email}}</div>
                    <div class="item-content">{{'Order.Phone'|translate}}: {{order.customer_phone}}</div>
                </div>
                <div class="booking-item">
                    <div class="item-title">{{'Order.Customer information'|translate}}</div>
                    <div class="customer" *ngFor="let customers of order.items">
                        <div class="customer-item" *ngFor="let customer of customers.items">
                            <div class="row">
                                <div class="col-7">
                                    <div class="item-content">{{'Order.Full name'|translate}}: {{customer.customer_first_name}} {{customer.customer_last_name}}</div>
                                    <div class="item-content">{{'Order.DOB'|translate}}: {{customer.customer_dob}}</div>
                                    <div class="item-content">{{'Order.Gender'|translate}}: {{customer.customer_gender}}</div>
                                    <div class="item-content">{{'Order.Email'|translate}}: {{customer.customer_email}}</div>
                                    <div class="item-content">{{'Order.Phone'|translate}}: {{customer.customer_phone}}</div>
                                    <div class="item-content">{{'Order.Address'|translate}}: {{customer.customer_address}}</div>
                                    <div class="item-content">{{'Order.Certificate'|translate}}: {{customer.customer_position}}</div>
                                    <div class="item-content">{{'Order.Postgraduate degree'|translate}}: {{customer.customer_degree}}</div>
                                    <div class="item-content">{{'Order.Work unit'|translate}}: {{customer.customer_company}}</div>
                                    <div class="item-content">{{'Order.Practicing certificate number'|translate}}: {{customer.customer_certification}}</div>
                                    <div class="item-content">{{'Order.Date range'|translate}}: {{customer.customer_date_of_certification}}</div>
                                    <div class="item-content">{{'Order.Issued by'|translate}}: {{customer.customer_place_of_certification}}</div>
                                    <div class="item-content">{{'Order.File of college diploma and Practicing certificate'|translate}}</div>
                                    <div class="image-certification" *ngFor="let item of customer.customer_images_of_certification">
                                        <img [src]="item._original_image">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="qr_code">
                                        <qrcode [qrdata]="customer.export_qrcode"
                                                *ngIf="customer.export_qrcode && order.status === 'confirmed'"
                                                [width]="250"></qrcode>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-item">
                    <div class="item-title">{{'Order.Registration information'|translate}}</div>
                    <div class="ticket" *ngFor="let ticket of order.items">
                        <div class="row">
                            <div class="col-6">
                                <div class="item-content">
                                    <i class="icon-promotion"></i><span>{{ticket.item_total}}
                                    x {{ticket.product.name}}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="item">{{ticket.items[0].price | baseMonetary}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="row">
                        <div class="col-6">
                            <div class="sub-title">{{'Order.Total'| translate | uppercase}}</div>
                        </div>
                        <div class="col-6">
                            <div class="content">{{order.sub_total | baseMonetary}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

