@import "~src/assets/scss/main";

:host {
  position: relative;
  margin-bottom: rem(10px) !important;
}

.icon-valid {
  position: absolute;
  bottom: rem(27px);
  right: rem(12px);
  margin-top: 0;

  width: rem(13px);
  height: rem(13px);
  background: $red-500;
  border-radius: 50%;
  color: $white;
  text-align: center;
  @include fontSize(10px, 13px);
}

[class^="icon-"],
[class*=" icon-"] {
  position: absolute;
  top: rem(26px);
  right: rem(8px);

  color: $cool-gray;

  @include fontSize(24px, 24px);
}

.form-control {
  &.ng-touched.invalid {
    border-color: $red-500;
  }
}
label {
  margin-top: rem(15px);
  margin-bottom: rem(15px);
}
.editor {
  margin-bottom: rem(20px) !important;
}
