<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">
    {{label|baseMakeTitle}}

    <cxi-required *ngIf="required"></cxi-required>
</label>

<div class="editor">
    <editor id="{{name}}" [init]="config" [(ngModel)]="value"></editor>
</div>


<!--<span *ngIf="(invalid | async) && model.control.touched"-->
      <!--class="icon-valid">!</span>-->

<!--<span *ngIf="icon" class="{{icon}}"></span>-->

<!--<validation-messages *ngIf="(invalid | async) && model.control.touched"-->
                     <!--[messages]="failures | async">-->
<!--</validation-messages>-->

