<form #currencyForm="ngForm">
    <div class="modal-header modal-header-create-currency">
        <h4 class="title">{{'Currency.Add New Currency'|translate}}</h4>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="cancel()">
            <i class="icon-close"></i>
        </button>
    </div>

    <div class="modal-body modal-body-create-currency">
        <div class="row p-20">
            <div class="col-12">
                <base-input-text name="iso-code"
                                 label="{{'Currency.ISO Code'|translate}}"
                                 [(ngModel)]="currency.code"
                                 (ngModelChange)="onChangeCurrencyCode()"
                                 required></base-input-text>
            </div>
            <div class="col-12">
                <base-input-text name="currency"
                                 label="{{'Currency.Currency name'|translate}}"
                                 [(ngModel)]="currency.name"
                                 (ngModelChange)="onChangeCurrencyName()"
                                 required></base-input-text>

            </div>
        </div>

        <div class="row p-10">
            <div class="col-6">
                <base-input-text name="symbol"
                                 label="{{'Currency.Symbol'|translate}}"
                                 [(ngModel)]="currency.symbol"
                                 (ngModelChange)="onChangeCurrencySymbol()"
                                 required></base-input-text>

            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-create-currency">

        <base-button type="button"
                     buttonStyle="btn-default"
                     class="pull-left"
                     (click)="reset(); currencyForm.reset(); currencyForm.resetForm();">
            {{'Reset'|translate}}
        </base-button>

        <base-button type="submit"
                     buttonStyle="btn-primary"
                     class="pull-right"
                     (click)="yes()"
                     [disabled]="currencyForm.invalid || !isChanged">
            {{'Add'|translate}}
        </base-button>
    </div>
</form>
