@import "../../../../../assets/scss/main";

.modal-body-create-currency {

}

.modal-footer-create-currency {
  text-align: left;
  position: initial;
  display: flow-root;

  base-button {
    margin: 0;
  }
}
