@import "../../../../assets/scss/main";

h4.title {
  @include fontSize(16px, 24px, bold);
  margin-bottom: rem(15px);
}

.modal-header-create-customer-level-icon {

}

.modal-body-create-customer-level-icon {

  .upload-file-div {
    display: inline-flex;
    float: left;
  }

  .name {
    $pl: 22px;

    padding-left: rem($pl);
    padding-top: rem(40px);
    padding-bottom: rem(40px);
    display: inline-block;
    width: rem(432px + $pl);
    float: left;
  }

  .application-scope {
    margin-bottom: rem(50px);
  }
}

.modal-footer-create-customer-level-icon {
  padding: 0 rem(20px) rem(20px) rem(20px);

  text-align: left;
  position: initial;
  display: flow-root;

  base-button {
    margin: 0;
  }
}
