<div class="modal-header modal-header-create-customer-level-icon">
    <h4 class="title">{{'Customer level icon.Add New Icons'|translate}}</h4>
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cancel()">
        <i class="icon-close"></i>
    </button>
</div>

<div class="modal-body modal-body-create-customer-level-icon">
    <div class="row p-20 m-b-md">
        <div class="col-12">
            <!--cxi-upload-file-->
            <div class="upload-file-div">
                <app-cxi-upload-file name="upload-img"
                                     (file)="onFileChanged($event)"
                                     [(ngModel)]="customerLevelIcon.image"
                                     required></app-cxi-upload-file>
            </div>

            <div class="name">
                <base-select name="name"
                             label="{{'Customer level icon.Level name'|translate}}"
                             bindLabel="name"
                             bindValue="id"
                             [items]="customerLevels"
                             [(ngModel)]="customerLevelIcon.customer_level_id"
                             required></base-select>
            </div>
        </div>
    </div>

    <ng-template [ngIf]="!isHideApplicationScope">
        <div class="row m-b-md">
            <div class="col-12">
                <h4 class="title">{{'Customer level icon.Select Application Scope'|translate}}</h4>
            </div>
            <div class="col-4">
                <base-select name="brand"
                             label="{{'Brand.Brand'|translate}}"
                             bindLabel="name"
                             bindValue="id"
                             [items]="brands"
                             [(ngModel)]="customerLevelIcon.brand_id"
                             (change)="onChangeBrand($event)"
                             required></base-select>
            </div>
        </div>
    </ng-template>
</div>


<div class="modal-footer modal-footer-create-customer-level-icon">

    <base-button type="button"
                 buttonStyle="btn-default"
                 class="pull-left"
                 (click)="reset()">
        {{'Reset'|translate}}
    </base-button>

    <base-button type="submit"
                 buttonStyle="btn-primary"
                 class="pull-right"
                 (click)="add()">
        {{'Add'|translate}}
    </base-button>
</div>
