<!--label-->
<ng-template [ngIf]="label !== '' && label !== null && getType(label) !== 'undefined'">
    <label class="text-uppercase"
           for="{{name}}">
        {{label | baseMakeTitle}}
        <cxi-required *ngIf="required"></cxi-required>
    </label>
</ng-template>

<!--Show empty line height 20px-->
<ng-template [ngIf]="label === ''">
    <label class="text-uppercase empty-label"
           for="{{name}}">
        Empty label
    </label>
</ng-template>


<!--not show anything-->
<ng-template [ngIf]="label === null || getType(label) === 'undefined'">
    <!--no label-->
</ng-template>
