<div class="list-attribute list-wrapper">
    <div class="list-attribute-header list-header list-header-cxi">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">{{'Attribute.Attributes'|translate}}</div>
            </div>

            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="btn-addnew btn btn-default" [routerLink]="['../create']">
                        <i class="icon-add-new"></i> <span>{{'Attribute.New Attribute'|translate}}</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="list-attribute-body list-body-cxi">
            <div class="row">
                <div class="col-sm-12">
                    <app-cxi-grid name="list-attributes" [config]="cxiTableConfig" [columns]="cxiColumns">
                    </app-cxi-grid>
                </div>
            </div>
        </div>
    </div>
</div>
