<div class="modal-header">
    <div class="modal-title">
        {{'Order.Add Product'|translate}}
    </div>
</div>

<div class="modal-body">

    <!--Select product-->
    <ng-template [ngIf]="!selectedProduct">
        <div class="select-product">
            <app-select-product [categories]="categories"
                                (product)="onSelectProduct($event)"></app-select-product>
        </div>
    </ng-template>


    <!--Select variants-->
    <ng-template [ngIf]="selectedProduct">


        <!--select-variants-->
        <div class="select-variants">
            <app-select-variant [product]="selectedProduct"
                                [(variant)]="selectedVariant"
                                [(orderProduct)]="orderProduct"
                                (add)="onAddVariant($event)"></app-select-variant>

        </div>


    </ng-template>
</div>
