@import "../../../../assets/scss/main";

:host {
}

.cxi-days-of-week {
  display: block;
  padding: rem(10px);
  background: $white;

  &.bordered {
    border: rem(1px) solid $grey-200;
    border-radius: rem(4px);
  }

  &.transparent-background {
    background: transparent;
  }

  .days-list {
    display: inline-flex;
    width: 100%;

    base-checkbox {
      margin-bottom: rem(10px);
    }
  }
}
