<div class="cxi-days-of-week"
     [ngClass]="{
        'bordered': bordered,
        'transparent-background': transparentBackground
    }">

    <div class="row p-20 days-list">
        <ng-template ngFor
                     [ngForOf]="daysOfWeekSelections"
                     let-daysOfWeekSelection
                     let-i="index">

            <!--begin days of weeks item-->
            <div class="col-6"
                 [ngClass]="getColClass()"
                 [ngStyle]="getStyleDay(daysOfWeekSelection)">
                <base-checkbox name="{{name}}-dow-{{i}}"
                               label="{{daysOfWeekSelection.name}}"
                               [ngClass]="{'m-b-n': i === daysOfWeekSelections.length - 1}"
                               [disabled]="disabled || isDisabledItem(i)"
                               (change)="onChange()"
                               [(ngModel)]="internalValues[daysOfWeekSelection.value]"></base-checkbox>
            </div>
            <!--end days of weeks item-->

        </ng-template>
    </div>
</div>
