<ng-template [ngIf]="shippingAddress">
    <cxi-card title="{{'Order.Shipping Address'|translate}}"
              className="delivery-information">
        <div class="row p-20">
            <!--Customer Name-->
            <div class="col-6">
                <base-input-text name="customer_name"
                                 label="{{'Order.Customer Name'|translate}}"
                                 [(ngModel)]="shippingAddress.name"></base-input-text>
            </div>

            <!--phone_number-->
            <div class="col-6">
                <base-input-text name="phone_number"
                                 label="{{'Order.Phone number'|translate}}"
                                 [(ngModel)]="shippingAddress.phone"></base-input-text>
            </div>

            <!--shipping_address-->
            <div class="col-12">
                <base-input-google-places name="shipping-address-address"
                                          label="{{'Order.Address'|translate}}"
                                          [(ngModel)]="shippingAddress.address1"
                                          (addressChange)="handleAddressChange($event)"></base-input-google-places>
            </div>


            <!--city-->
            <div class="col-6">
                <base-input-text name="city"
                                 label="{{'Order.City'|translate}}"
                                 [(ngModel)]="shippingAddress.city"></base-input-text>
            </div>

            <!--district-->
            <div class="col-6">
                <base-input-text name="district"
                                 label="{{'Order.District'|translate}}"
                                 [(ngModel)]="shippingAddress.district"></base-input-text>
            </div>

            <!--ward-->
            <div class="col-6">
                <base-input-text name="ward"
                                 label="{{'Order.Ward'|translate}}"
                                 [(ngModel)]="shippingAddress.ward"></base-input-text>
            </div>

            <!--latitude-->
            <div class="col-6" hidden>
                <base-input-text name="latitude"
                                 label="{{'Order.Latitude'|translate}}"
                                 [(ngModel)]="shippingAddress.latitude"></base-input-text>
            </div>

            <!--longitude-->
            <div class="col-6" hidden>
                <base-input-text name="longitude"
                                 label="{{'Order.Longitude'|translate}}"
                                 [(ngModel)]="shippingAddress.longitude"></base-input-text>
            </div>
        </div>

        <div class="button-group" *ngIf="customer">
            <base-button name="add-customer"
                         buttonStyle="btn btn-primary"
                         (click)="addAddress()">
                {{'Order.Select available address'|translate}}
            </base-button>
        </div>
    </cxi-card>
</ng-template>
