<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Voucher.Voucher'|translate}}
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-primary"
                        [routerLink]="['../create']">
                    <i class="icon-add-new"></i>
                    <span>{{'Voucher.Add Voucher'|translate}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-body">
        <div class="base-panel delivery-management">
            <!--<div class="title-panel">Delivery Management</div>-->

            <div class="row p-25">
                <div class="col-4">
                    <div class="box-item green">
                        <div class="name">
                            <span class="des">
                                {{'Voucher.Total Active Voucher'|translate}}
                            </span>
                        </div>
                        <span class="chart"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="box-item blue">
                        <div class="name">
                            <span class="des">
                                {{'Voucher.Total Voucher'|translate}}
                            </span>
                        </div>
                        <span class="chart"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="box-item red">
                        <div class="name">
                            <span class="des">
                                {{'Voucher.Today Total Voucher Expenses'|translate}}
                            </span>
                        </div>
                        <span class="chart"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="voucher"
                              [config]="cxiGridConfig"
                              [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
