
<h3>Base select</h3>
<h4>Select</h4>
<div class="row">
    <div class="col-4">
        <base-select name="select"
                     label="Select Demo"
                     bindLabel="name"
                     bindValue="id"
                     [items]="baseSelectItems"
                     [(ngModel)]="baseSelectDemo"></base-select>
    </div>
</div>
<h4>Avatar</h4>
<div class="row">
    <div class="col-4">
        <base-select name="select"
                     label="Select Demo"
                     bindLabel="name"
                     bindValue="id"
                     bindAvatar="avatar"
                     [items]="users"
                     [(ngModel)]="selectedUsers"></base-select>
    </div>
</div>

<br>
<h3>Multi Select</h3>
<div class="row">
    <div class="col-4">
        <base-select name="select"
                     label="Multi Select Demo"
                     bindLabel="name"
                     bindValue="id"
                     [items]="baseSelectItems"
                     [multiple]="true"
                     [(ngModel)]="baseMultiselectDemo"></base-select>
    </div>
</div>

<br>
<h3>Cxi Select simple</h3>
<div class="row">
    <div class="col-6">
        <cxi-select-simple name="cxiSelectSimpleDemo"
                           label="cxi Select Simple Demo"
                           bindLabel="name"
                           bindValue="id"
                           [items]="categories"
                           [(ngModel)]="cxiSelectSimpleDemo"></cxi-select-simple>

        <cxi-select-simple name="cxiSelectSimpleDemo2"
                           label="cxi Select Simple Demo 2 (Auto Add New)"
                           bindLabel="name"
                           bindValue="id"
                           [autoAddNew]="true"
                           [items]="categories"
                           [(ngModel)]="cxiSelectSimpleDemo2"></cxi-select-simple>

        <cxi-select-simple name="cxiSelectSimpleDemo3"
                           label="cxi Select Simple Demo 3 (children)"
                           subLabel="children name"
                           bindLabel="name"
                           bindValue="id"
                           btnAddLabel="Add player"
                           btnAddSubLabel="Add child"
                           [isTree]="true"
                           [isSelectItem]="true"
                           [items]="categories"
                           [(ngModel)]="cxiSelectSimpleDemo3"></cxi-select-simple>
    </div>
</div>

<h3>Base select two columns</h3>

<div class="row">
    <div class="col-6">
        <base-selection-two-columns name="base-selection-two-columns"
                                    label="base-selection-two-columns"
                                    [items]="baseSelectItems"
                                    bindLabel="name"
                                    bindValue="id"
                                    [(ngModel)]="baseSelectTwoColumns"></base-selection-two-columns>
    </div>
    <div class="col-6"></div>
</div>


<h3>Cxi selection products</h3>

<!--<ng-template [ngIf]="products">-->
<div class="row">
    <div class="col-6">
        <cxi-select-products name="selection-products"
                             [(ngModel)]="selectionProductIds"></cxi-select-products>
    </div>
</div>

<h3>Base select with checkbox</h3>

<div class="row">
    <div class="col-6">
        <app-cxi-selection-with-checkbox name="selection-with-checkbox"
                                    label="selection-with-checkbox"
                                    [items]="baseSelectItems"
                                    bindLabel="name"
                                    bindValue="id"
                                    [(ngModel)]="baseSelectTwoColumns"></app-cxi-selection-with-checkbox>
    </div>
    <div class="col-6"></div>
</div>
<!--</ng-template>-->
