<label *ngIf="label"
       class="text-uppercase">
    {{label|baseMakeTitle}}
</label>

<div
       [ngClass]="{'w-xxs': width === 'xxs',
            'w-xs': width === 'xs',
            'w-xss': width === 'xss',
            'w-xsm': width === 'xsm',
            'w-sm': width === 'sm',
            'w-md': width === 'md',
            'w-lg': width === 'lg',
            'w-xl': width === 'xl',
            'w-xxl': width === 'xxl',
            'w-full': width === 'full'
            }">{{value}}</div>


<span *ngIf="icon" class="{{icon}}"></span>
