<div class="list-brand-wrapper list-wrapper">

    <form #bannerSettingForm="ngForm"
          class="form-create-organization"
          (ngSubmit)="save()">

        <div class="list-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Banner.Banner'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="submit"
                                 buttonStyle="btn btn-primary"
                                 [disabled]="!bannerSettingForm.form.valid || !isChangedData()">
                        <span>{{'Save'|translate}}</span>
                    </base-button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <!--Website-->
                <cxi-card name="banner-in-website"
                          title="{{'Banner.Banner in Website'|translate}}">

                    <!--banner links-->
                    <app-banner-links name="web-banner"
                                      [(ngModel)]="banner.web_links"></app-banner-links>

                </cxi-card>


                <!--Mobile-->
                <cxi-card name="banner-in-mobile"
                          title="{{'Banner.Banner in Mobile'|translate}}">


                    <!--banner links-->
                    <app-banner-links name="mobile-banner"
                                      [(ngModel)]="banner.mobile_links"></app-banner-links>

                </cxi-card>

            </div>
        </div>

    </form>

</div>
