<label *ngIf="label"
       class="text-uppercase">
    {{label|baseMakeTitle}}
</label>

<div class="base-selection">
    <div class="row p-0">
        <div class="col-12">
            <div class="head">
                <base-input-text name="search"
                                 [placeholder]="'Search'"
                                 [inputClass]="'selection-search'"
                                 [(ngModel)]="filterAttrs.value"></base-input-text>
            </div>
        </div>
    </div>


    <div class="row p-0 list-items">
        <div class="col-12">
            <div class="unselected">
                <ul>
                    <ng-template ngFor
                                 let-item
                                 [ngForOf]="items|baseFilterNotIncludeId:value|baseFilter:filterAttrs|baseSort"
                                 let-i="index">
                        <li>
                            {{item[bindLabel]}}
                            <div class="group-action">
                                <i class="icon-add-new" (click)="select(item)"></i>
                            </div>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="col-12 select-wrap">
    <span class="title">{{'Cxi Selection.Selected Stores'|translate}}:</span>

    <div class="selected">

        <ng-template ngFor
                     let-item
                     [ngForOf]="items|baseFilterIncludeId:value|baseSort"
                     let-i="index">

            <div class="selected-item">
                <span>{{item[bindLabel]}}</span>
                <div class="group-action">
                    <i class="icon-close" (click)="unselect(item)"></i>
                </div>
            </div>
        </ng-template>

    </div>
</div>
