<div class="edit-brand edit-wrapper">
    <form #createOrganizationForm="ngForm" class="form-edit-brand" (ngSubmit)="onSubmit()">
        <div class="edit-brand-header edit-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Brand.Edit Brand'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button"
                                     buttonStyle="btn btn-default"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!createOrganizationForm.form.valid">
                            <span>{{'Save'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab">

            <!--brand info-->
            <cxi-card name="edit-brand"
                      title="{{'Brand.Brand Info'|translate}}">
                <div class="row p-20">
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <base-input-text name="{{'name-'+lang.code}}"
                                                 label="{{ ('Brand.Brand Name'|translate )  + ' (' + lang.code + ')' }}"
                                                 [(ngModel)]="brand[lang.code].name"
                                                 required>
                                </base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>

                    <div class="col-12">
                        <base-input-text name="contact_name"
                                         label="{{'Brand.Contact Name'|translate}}"
                                         [(ngModel)]="brand.contact_name">
                        </base-input-text>
                    </div>

                    <div class="col-6">
                        <base-input-text type="email"
                                         name="email"
                                         label="{{'Brand.Email'|translate}}"
                                         [(ngModel)]="brand.contact_email"
                                         required>
                        </base-input-text>
                    </div>

                    <div class="col-6">
                        <base-input-text name="hotline"
                                         label="{{'Brand.Hotline'|translate}}"
                                         [(ngModel)]="brand.contact_number"
                                         required>
                        </base-input-text>
                    </div>

                    <div class="col-6">
                        <base-input-text name="Website"
                                         label="{{'Brand.Website'|translate}}"
                                         [(ngModel)]="brand.website">
                        </base-input-text>
                    </div>

                    <div class="col-6">
                        <base-select name="select_scope"
                                     label="{{'Brand.Type'|translate}}"
                                     bindLabel="name"
                                     bindValue="value"
                                     disabled
                                     [items]="scope"
                                     [(ngModel)]="brand.scope"
                        ></base-select>
                    </div>

                    <div class="col-12 ">
                        <app-cxi-upload-files name="upload-img"
                                              class="m-b-n"
                                              label="{{'Brand.Logo'|translate}}"
                                              (file)="onFileChanged($event)"
                                              [(ngModel)]="brand.images"></app-cxi-upload-files>
                    </div>
                </div>
            </cxi-card>
            <!--end brand info-->

        </cxi-language-left-sidebar>
    </form>
</div>
