<div class="list-wrapper">
  <div class="list-header">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <div class="title-header">Customer's Orders Report</div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="btn-group">
          <div class="btn btn-default active">Day</div>
          <div class="btn btn-default">Week</div>
          <div class="btn btn-default">Month</div>
          <div class="btn btn-default">Year</div>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <div class="btn-group">
          <button class="btn btn-default btn-date" (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
            <span translate="dashboard.Start Date">{{dateStart | baseDate }}</span>
          </button>
          <div class="date-start">
            <input type="text" ngbDatepicker #dateStartDatepicker="ngbDatepicker" [(ngModel)]="dateStart" />
          </div>

          <button class="btn btn-default btn-date" (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
            <span translate="dashboard.End Date">{{dateEnd | baseDate }}</span>
          </button>
          <div class="date-end">
            <input type="text" ngbDatepicker #dateEndDatepicker="ngbDatepicker" placement="bottom-right"
              [(ngModel)]="dateEnd" />
          </div>

          <button class="btn btn-default btn-single-icon" (click)="openDate()">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="group-order-report">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="#">All Customers <span><i class="icon-arrow-left"></i> Export</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Active Customers <span><i class="icon-arrow-left"></i> Excel / CSV</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Orders Information <span><i class="icon-arrow-left"></i>Excel / CSV</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span><i class="icon-print"></i> Print Report</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <span class="title-order-report">Expand All</span>
        <span class="title-order-report">Collapse All</span>
      </div>
      <div class="col-sm-12 mt-20">
        <table class="table">
          <thead>
            <tr>
              <th>CUSTOMER <i class="icon-dropdown"></i></th>
              <th>QUANTITY <i class="icon-dropdown"></i></th>
              <th>LATEST ORDER <i class="icon-dropdown"></i></th>
              <th>PAYMENT TOTAL <i class="icon-dropdown"></i></th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of customerOrderReport;let i = index">
            <tr class="order-top">
              <td>{{item.name}}</td>
              <td>{{item.total_orders}}</td>
              <td>{{item.latest_order | date:'M/d/yyyy HH:mm:ss' }}</td>
              <td>{{item.payment_total}}</td>
              <td colspan="2" class="text-right color-text" (click)="showOrder(item)">
                <i class="icon-print"></i> Excel / CSV
                <i [class]="(!item.isShow)?'active fadeOut icon-chevron-down':'icon-chevron-up'"></i>
              </td>
            </tr>
            <ng-template [ngIf]="!item.isShow">
              <tr class="tr-custom border-top">
                <td><span>Customer ID</span></td>
                <td>{{item.id}}</td>
                <td><span>Customer Level</span></td>
                <td>{{(item.level)?item.level:'--'}}</td>
                <td><span>Email</span></td>
                <td>{{item.email}}</td>
              </tr>
              <tr class="tr-custom">
                <td><span>Total Orders</span></td>
                <td>{{item.total_orders}}</td>
                <td><span>Total Paid</span></td>
                <td>{{item.total_paid}}</td>
                <td colspan="2" class="color-text"><i class="icon-arrow-left"></i> View less</td>
              </tr>
              <tr class="tr-custom">
                <td colspan="8">
                  <table class="table table-custom">
                    <thead>
                      <tr>
                        <th>ORDER <i class="icon-dropdown"></i></th>
                        <th>DATE <i class="icon-dropdown"></i></th>
                        <th>METHOD <i class="icon-dropdown"></i></th>
                        <th>PAYMENT TOTAL <i class="icon-dropdown"></i></th>
                        <th>APPLICATION SCOPE <i class="icon-dropdown"></i></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item_child of item.orders;let i_child = index">
                        <td scope="row">#{{item_child.id}}</td>
                        <td>{{item_child.date | date:'M/d/yyyy HH:mm:ss' }}</td>
                        <td>{{(item_child.payment_method)?item.payment_method:'--'}}</td>
                        <td>{{item_child.payment_total}}</td>
                        <td>{{item_child.application_scope}}</td>
                        <td class="color-text"><i class="icon-print"></i> Excel / CSV</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>