@import "../../../../../src/assets/scss/main";

:host {
  position: relative;
}

.filter {
  margin-bottom: rem(20px);
}

.table {
  tr {
    th {
      padding: rem(14px) rem(20px) !important;
      &.without-salesman {
        display: none!important;
      }
    }
    td {
      &.without-salesman {
        display: none!important;
      }
    }
  }

  .object-ellipsis, .quantity-ellipsis, .ticket-ellipsis {
    ul {
      padding-left: 0;

      li {
        list-style: none;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.multitab {
  margin-left: rem(-30px);
  margin-right: rem(-30px);
  border-bottom: rem(1px) solid $grey-100;
  margin-bottom: rem(20px);

  padding-left: rem(30px);
  padding-right: rem(30px);

  ul {
    li {

      &.active {
        border-bottom: rem(2px) solid $accent-500;

        a {
          color: $accent-500;
          font-weight: bold;
        }
      }

      a {
        color: $cool-gray;
        @include fontSize(14px, 20px);
        padding: rem(8px) rem(7px) rem(6px) rem(13px);
      }
    }
  }
}


/*avatar in td*/
.avatar-wrap {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;

  //display: table-caption;
  width: rem(48px);
  height: rem(48px);
}

.columns-icon-status {
  i {
    position: absolute;
    font-size: rem(15px);
  }

  .title-row {
    margin-left: rem(23px);
  }
}


// tag
$margin-gap: 2px;
.tag {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin: rem(-$margin-gap);

  .tag-item-wrap {
    padding: rem($margin-gap);
  }

  .tag-item {
    @include fontSize(14px, 20px);
    border: rem(1px) solid $grey-200;
    padding: rem(2px) rem(8px);
    display: inline-block;
    border-radius: rem(12px);
    flex: 0 0 50%;

    + .tag-item {
      margin-left: rem(10px);
    }
  }
}


// switch
.switch {
  display: flex;

  i {
    @include fontSize(20px);
    position: absolute;
    top: 0;
    left: 0;
    display: contents;
  }
}


// translations
cxi-grid-translations {
  position: absolute;
  top: 0;
  left: rem(-27px);
  z-index: 1;
}


// icon
.icon-star {
  color: $green-500;
}
