<!--<pre>{{rows|json}}</pre>-->
<!--<pre>{{filterAttrs|json}}</pre>-->

<div class="row filter" *ngIf="config.filtering">
    <div class="col-sm-12">
        <base-filter name="users-filter" [(ngModel)]="filterAttrs" (messageFilterCustomer)="FilterCustomer($event)"
                     (change)="onChangeFilterData($event)">
        </base-filter>
    </div>
</div>


<!--multitab-->
<ng-template [ngIf]="config.multitab">
    <div class="multitab">
        <ul class="nav nav-pills">
            <ng-template ngFor [ngForOf]="config.tabs" let-tab let-t="index">
                <ng-template [ngIf]="tab">
                    <li class="nav-item" [ngClass]="{'active': isActiveTab(tab)}">
                        <a class="nav-link" (click)="selectTab(tab)">
                            {{tab.title}}
                        </a>
                    </li>
                </ng-template>
            </ng-template>
        </ul>
    </div>
</ng-template>

<!--translatable-->
<ng-template [ngIf]="config.translatable">
    <cxi-grid-translations name="{{name}}-translations" (change)="onChangeLocale($event)">
    </cxi-grid-translations>
</ng-template>

<!--table-->
<table class="table" *ngIf="columns && columns.length">
    <thead>
    <tr>
        <ng-template [ngIf]="config.selecting">
            <th class="selecting">
                <div class="form-group">
                    <input type="checkbox" name="select-all" id="select-all" [(ngModel)]="selectedAll"
                           (change)="selectAll()" [ngClass]="{'all': isSelectedAll(),
                                'some': isSelectedSomething(),
                                'none': isSelectedNone() }">
                </div>
            </th>
        </ng-template>

        <!--  Columns -->
        <ng-template ngFor let-column [ngForOf]="columns">

            <!--begin th-->
            <th (click)="orderBy(column.name)" [class]="column.className" [ngClass]="{
                    'sortable': config.sorting && column.sortable
                }">

                {{column.title}}

                <!--sorting-->
                <ng-template [ngIf]="config.sorting && column.sortable">
                    <i [hidden]="orderByName !== column.name"
                       [ngClass]="{'icon-arrow-up': !orderReverse, 'icon-arrow-down': orderReverse}"></i>
                    <i class="icon-dropdown" [hidden]="orderByName === column.name"></i>
                </ng-template>
                <!--end sorting-->

            </th>
            <!--end th-->

        </ng-template>
    </tr>
    </thead>

    <!--tbody start-->
    <tbody>
    <ng-template [ngIf]="(rows && rows.length ) > 0">
        <ng-template ngFor let-row [ngForOf]="rows" let-i="index">
            <ng-template [ngIf]="row">
                <tr>
                    <ng-template [ngIf]="config.selecting">
                        <td class="selecting">
                            <div class="form-group">
                                <input type="checkbox" name="select-{{i}}" [(ngModel)]="row.selected"
                                       (change)="selectRow(row)">
                            </div>
                        </td>
                    </ng-template>

                    <!--Content TD-->
                    <ng-template ngFor let-column [ngForOf]="columns" let-j="index">

                        <td class="" [class]="column.className" [ngClass]="{'last-column': j === columns.length - 1,
                                'columns-avatar': column.avatar,
                                'columns-action': column.action}" [ngStyle]="{'max-width.rem': getDefaultMaxWidth() }">

                            <div [ngSwitch]="column.type">

                                <!--switch-->
                                <div *ngSwitchCase="'switch'" class="switch">
                                    <ng-template [ngIf]="getValue(row, column)">
                                        <i class="icon-active" (click)="handleSwitchAction(row, column)"></i>
                                    </ng-template>
                                    <ng-template [ngIf]="!getValue(row, column)">
                                        <i class="icon-inactive" (click)="handleSwitchAction(row, column)"></i>
                                    </ng-template>
                                </div>

                                <!--text-->
                                <div *ngSwitchDefault>

                                    <!--avatar-->
                                    <ng-template [ngIf]="column.avatar && row[column.avatar]">
                                        <div class="avatar-wrap">
                                            <cxi-avatar-circle [src]="getImage(row, column.avatar)">
                                            </cxi-avatar-circle>
                                        </div>
                                    </ng-template>

                                    <!--content-->
                                    <ng-template [ngIf]="column.name">
                                        <div class="title-row">
                                            <!--Primary name-->
                                            <div [ngSwitch]="column.format">
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'boolean'">
                                                    {{ getValue(row, column) | baseBoolean }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'gender'">
                                                    {{ getValue(row, column) | baseGender }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'date'">
                                                    {{ getValue(row, column) | baseDate }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'datetime'">
                                                    {{ getValue(row, column) | baseDateTime }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'monetary'">
                                                    {{ getValue(row, column) | baseMonetary }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'percentage'">
                                                    {{ getValue(row, column) | basePercentage }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'phone-number'">
                                                    {{ getValue(row, column) | cxiPhoneNumber }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'rich-text'">
                                                    {{ getValue(row, column) | cxiStripHtml}}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'dateTime'">
                                                    {{ getValue(row, column) | baseDate }}
                                                </div>
                                                <div class="tag-type" [ngClass]="column.format"
                                                     *ngSwitchCase="'tag'">
                                                    <ul class="tag">
                                                        <ng-template ngFor [ngForOf]="getValue(row, column)"
                                                                     let-node let-nodeIndex="index">
                                                            <li class="tag-item-wrap" [attr.data-index]="nodeIndex">
                                                                <div class="tag-item">
                                                                    {{ node[column.fieldOption] }}
                                                                </div>
                                                            </li>
                                                        </ng-template>
                                                    </ul>
                                                </div>
                                                <div class="tag-type" [ngClass]="column.format"
                                                     *ngSwitchCase="'fullname'">
                                                    <ul class="tag">
                                                        <ng-template ngFor [ngForOf]="getValue(row, column)"
                                                                     let-node let-nodeIndex="index">
                                                            <li class="tag-item-wrap" [attr.data-index]="nodeIndex">
                                                                <div class="tag-item">
                                                                    {{ node[column.fieldOption] }}
                                                                    {{ node[column.fieldOption1] }}
                                                                </div>
                                                            </li>
                                                        </ng-template>
                                                    </ul>
                                                </div>
                                                <div class="text text-ellipsis object-ellipsis"
                                                     [ngClass]="column.format" *ngSwitchCase="'object'">
                                                    <ul *ngFor="let item of getValue(row, column)">
                                                        <li *ngIf="item.product">
                                                            {{item.product.code}}
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="text text-ellipsis ticket-ellipsis"
                                                     [ngClass]="column.format" *ngSwitchCase="'ticket-price'">
                                                    <ul *ngFor="let item of getValue(row, column)">
                                                        <li>
                                                            {{item.items[0].price | baseMonetary}}
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="text text-ellipsis quantity-ellipsis"
                                                     [ngClass]="column.format" *ngSwitchCase="'quantity'">
                                                    <ul *ngFor="let item of getValue(row, column)">
                                                        <li>
                                                            x {{item.item_total}}
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="text text-ellipsis" *ngSwitchDefault>
                                                    {{ getValue(row, column) }}
                                                </div>
                                            </div>

                                            <!--Secondary name-->
                                            <ng-template
                                                [ngIf]="column.secondary_name && row[column.secondary_name]">
                                                <span class="column-text">{{row[column.secondary_name]}}</span>
                                            </ng-template>
                                        </div>
                                    </ng-template>

                                </div>
                            </div>

                            <!--action-->
                            <ng-template [ngIf]="column.action">
                                <base-button name="action-in-column" buttonStyle="btn btn-default"
                                             (click)="onActionColumn(row)">
                                    {{column.action.label}}
                                </base-button>
                            </ng-template>
                        </td>
                    </ng-template>

                    <td class="action" *ngIf="config.actions">
                        <div class="group-action">
                            <!--status-->
                            <i class="icon-close" *ngIf="isActivateRowAction('onCancel', row)"
                               (click)="handleRowAction('onCancel', row)"></i>
                            <i class="icon-check" *ngIf="isActivateRowAction('onConfirm', row)"
                               (click)="handleRowAction('onConfirm', row)"></i>
                            <i class="icon-edit" *ngIf="isActivateRowAction('onEdit', row)"
                               (click)="handleRowAction('onEdit', row)"></i>
                            <i class="icon-reply" *ngIf="isActivateRowAction('onComment', row)"
                               (click)="handleRowAction('onComment', row)"></i>
                            <i class="icon-orders" *ngIf="isActivateRowAction('onDetail', row)"
                               (click)="handleRowAction('onDetail', row)"></i>
                            <i class="icon-active" *ngIf="isActivateRowAction('onDeactivate', row)"
                               (click)="handleRowAction('onDeactivate', row)"></i>
                            <i class="icon-inactive" *ngIf="isActivateRowAction('onActivate', row)"
                               (click)="handleRowAction('onActivate', row)"></i>
                            <i class="icon-trash" *ngIf="isActivateRowAction('onDelete', row)"
                               (click)="handleRowAction('onDelete', row)"></i>
                            <i class=""
                               [ngClass]="{'icon-star': row.is_stand_out, 'icon-star-o': !row.is_stand_out}"
                               *ngIf="isActivateRowAction('onStandOut', row)"
                               (click)="handleRowAction('onStandOut', row)"></i>
                            <i class="icon-new-user" *ngIf="isActivateRowAction('onAddSalesman', row)"
                               (click)="handleRowAction('onAddSalesman', row)"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </ng-template>

    <!--No results found.-->
    <ng-template [ngIf]=" (rows &&  rows.length  === 0) && !isLoading">
        <tr>
            <td class="text-center" [colSpan]="columns.length + 1">
                {{'Messages.No results found'|translate}}
            </td>
        </tr>
    </ng-template>
    <!--No results found end.-->

    <!--No results found.-->
    <ng-template [ngIf]="(rows &&  rows.length  === 0) && isLoading">
        <tr>
            <td class="text-center" [colSpan]="columns.length + 1">
                {{'Messages.Loading...'|translate}}
            </td>
        </tr>
    </ng-template>
    <!--No results found end.-->

    </tbody>
    <!--tbody end-->

</table>

<app-cxi-pagination *ngIf="config.paging"
                    name="{{name}}-pagination"
                    gridName="{{name}}"
                    [(currentPage)]="currentPage"
                    [(perPage)]="perPage"
                    (change)="onChangePagination()"
                    (currentPageChange)="onChangeCurrentPage($event)"
                    (perPageChange)="onChangePerPage($event)">
</app-cxi-pagination>
