<div class="title-header">
    <a *ngIf="level > 1"
       (click)="up()">
        <i class="icon-arrow-left1"></i>
    </a>
    {{ getLabel() | translate }}
</div>

<!--category-->
<ng-template [ngIf]="level === 1">

    <!--select category -->
    <cxi-card-items [items]="categories"
                    (select)="onSelect($event)"></cxi-card-items>
</ng-template>


<!--sub-category-->
<ng-template [ngIf]="level === 2">

    <!--select sub-category-->
    <cxi-card-items [items]="subCategories"
                    (select)="onSelect($event)"></cxi-card-items>

</ng-template>


<ng-template [ngIf]="level === 3">

    <!--select products-->
    <cxi-card-items [items]="products"
                    (select)="onSelect($event)"></cxi-card-items>

</ng-template>
