@import "../../../../../src/assets/scss/main";

.title-header {
  @include fontSize(16px, 24px);
  display: flex;
  font-weight: bold;
  color: $grey-900;
  margin-bottom: rem(24px);

  i {
    @include fontSize(24px, 24px);
    margin-right: rem(16px);
  }
}


