<div class="row" *ngIf="!isHiddenApplicationScope">
    <div class="col-12">
        <div class="title-body">
            {{'scope.Application Scope'|translate}}
        </div>

        <!--organization - brands - outlets-->
        <div class="row p-20">

            <!--row 6-->
            <div class="col-4" *ngIf="!isHiddenBrand">
                <base-select name="{{name}}-brand"
                             label="{{'scope.Choose brand'|translate}}"
                             [items]="brands"
                             bindLabel="name"
                             bindValue="id"
                             [(ngModel)]="brandId"
                             [clearable]="true"
                             (ngModelChange)="onSelectBrand($event)">
                </base-select>
            </div>
            <div class="col-4" *ngIf="!isHiddenOutlet">
                <base-select name="{{name}}-outlet"
                             label="{{'scope.Choose outlet'|translate}}"
                             [items]="outlets"
                             bindLabel="name"
                             bindValue="id"
                             [clearable]="true"
                             [(ngModel)]="outletId">
                </base-select>
            </div>
        </div>

        <!--roles-->
        <div class="row p-20">

            <!--row 7-->
            <div class="col-4">
                <base-select name="{{name}}-role"
                             label="{{'scope.User role'|translate}}"
                             class="m-b-n"
                             [items]="roles"
                             bindLabel="name"
                             bindValue="id"
                             [(ngModel)]="roleId"
                             required>
                </base-select>
            </div>
        </div>
    </div>
</div>
