@import "~src/assets/scss/main";


.create-user-body {
  background-color: $white;
  max-width: rem(550px);
  margin: auto;
  padding: rem(20px) 0;

  .title-body {
    font-size: rem(16px);
    font-family: $font-sfprotext-bold;
    line-height: 1.5;
    margin-bottom: rem(20px);
  }
  base-select{
    margin-bottom: 0;
  }
}
