<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body">
    <form #changePasswordForm="ngForm"
          class="form-edit-profile">
        <div class="form-title">Change password</div>
        <div class="row">
            <div class="col-12">
                <cxi-input-password name="current_password"
                                    label="current password"
                                    [(ngModel)]="changePasswordObj.current_password"></cxi-input-password>
            </div>
            <div class="col-12">
                <cxi-input-password name="password"
                                    label="new password"
                                    [(ngModel)]="changePasswordObj.password"></cxi-input-password>
            </div>
            <div class="col-12">
                <cxi-input-password name="password_confirmation"
                                    label="new password confirmation"
                                    [(ngModel)]="changePasswordObj.password_confirmation"></cxi-input-password>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <base-button type="submit"
                 buttonStyle="btn btn-primary btn-block"
                 [disabled]="changePasswordForm.invalid"
                 (click)="changePassword()">
        Change
    </base-button>
</div>
