<!--<pre>{{search|json}}</pre>-->
<!--<pre>{{filterAttrs|json}}</pre>-->

<div class="row filter" *ngIf="config.filtering">
    <div class="col-sm-12">
        <base-filter name="users-filter"
                     [(ngModel)]="filterAttrs"
                     (change)="onChangeFilterData($event)">
        </base-filter>
    </div>
</div>


<!--multitab-->
<ng-template [ngIf]="config.multitab">
    <div class="multitab">
        <ul class="nav nav-pills">
            <ng-template ngFor
                         [ngForOf]="config.tabs"
                         let-tab
                         let-t="index">
                <ng-template [ngIf]="tab">
                    <li class="nav-item"
                        [ngClass]="{'active': isActiveTab(tab)}">
                        <a class="nav-link" (click)="selectTab(tab)">
                            {{tab.title}}
                        </a>
                    </li>
                </ng-template>
            </ng-template>
        </ul>
    </div>
</ng-template>

<table class="table" *ngIf="columns && columns.length">
    <thead>
    <tr>
        <ng-template [ngIf]="config.selecting">
            <th class="selecting">
                <div class="form-group">
                    <input type="checkbox"
                           name="select-all"
                           id="select-all"
                           [(ngModel)]="selectedAll"
                           (change)="selectAll()"
                           [ngClass]="{'all': isSelectedAll(),
                                'some': isSelectedSomething(),
                                'none': isSelectedNone() }">
                </div>
            </th>
        </ng-template>

        <!--  Columns -->
        <ng-template ngFor let-column [ngForOf]="columns">
            <th (click)="orderBy(column.name)">
                {{column.title}}
                <ng-template [ngIf]="config.sorting">
                    <i [hidden]="columnName !== column.name"
                       [ngClass]="{'icon-arrow-up': !reverse, 'icon-arrow-down': reverse}"></i>
                    <i class="icon-dropdown" [hidden]="columnName === column.name"></i>
                </ng-template>
            </th>
        </ng-template>
    </tr>
    </thead>

    <!--tbody start-->
    <tbody>
    <ng-template [ngIf]="(rows && rows.length ) > 0">
        <ng-template ngFor
                     let-row
                     [ngForOf]="rows"
                     let-i="index">
            <ng-template [ngIf]="row">
                <tr>
                    <ng-template [ngIf]="config.selecting">
                        <td class="selecting">
                            <div class="form-group">
                                <input type="checkbox"
                                       name="select-{{i}}"
                                       [(ngModel)]="row.selected"
                                       (change)="selectRow()">
                            </div>
                        </td>
                    </ng-template>

                    <!--Content TD-->
                    <ng-template ngFor
                                 let-column
                                 [ngForOf]="columns"
                                 let-j="index">

                        <td class=""
                            [ngClass]="{'last-column': j === columns.length - 1,
                                'columns-avatar': column.avatar,
                                'columns-action': column.action}"
                            [ngStyle]="{'max-width.rem': getDefaultMaxWidth() }">

                            <!--avatar-->
                            <ng-template [ngIf]="column.avatar && row[column.avatar]">
                                <!--<img class="avatar img-fluid"
                                     [src]="getImage(row, column.avatar)"
                                     (error)="errorHandler($event)">-->

                                <div class="avatar-wrap">
                                    <cxi-avatar-circle [src]="getImage(row, column.avatar)"></cxi-avatar-circle>
                                </div>
                            </ng-template>


                            <!--content-->
                            <ng-template [ngIf]="column.name">
                                <div class="title-row">
                                    <!--Primary name-->
                                    <div [ngSwitch]="column.name">
                                        <div [ngClass]="column.name" *ngSwitchCase="'options'">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item" *ngFor="let node of row[column.name]"
                                                    [attr.data-index]="i">
                                                    {{node[column.fieldOption]}}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="default" *ngSwitchDefault>
                                            <div [ngSwitch]="column.format">
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'boolean'">
                                                    {{row[column.name] | baseBoolean }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'gender'">
                                                    {{row[column.name] | baseGender }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'date'">
                                                    {{row[column.name] | baseDate }}
                                                </div>
                                                <div class="text text-ellipsis" [ngClass]="column.format"
                                                     *ngSwitchCase="'monetary'">
                                                    {{row[column.name] | baseMonetary }}
                                                </div>
                                                <div class="text text-ellipsis" *ngSwitchDefault>
                                                    {{ getValue(row, column.name) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Secondary name-->
                                    <ng-template [ngIf]="column.secondary_name && row[column.secondary_name]">
                                        <span class="column-text">{{row[column.secondary_name]}}</span>
                                    </ng-template>
                                </div>
                            </ng-template>


                            <!--action-->
                            <ng-template [ngIf]="column.action">
                                <base-button name="action-in-column"
                                             buttonStyle="btn btn-default"
                                             (click)="onActionColumn(row)">
                                    {{column.action.label}}
                                </base-button>
                            </ng-template>
                        </td>
                    </ng-template>

                    <td class="action" *ngIf="config.actions">
                        <div class="group-action">
                            <!--status-->
                            <i class="icon-close"
                               *ngIf="isActivateRowAction('onCancel', row)"
                               (click)="handleRowAction('onCancel', row)"></i>
                            <i class="icon-check"
                               *ngIf="isActivateRowAction('onConfirm', row)"
                               (click)="handleRowAction('onConfirm', row)"></i>
                            <i class="icon-edit"
                               *ngIf="isActivateRowAction('onEdit', row)"
                               (click)="handleRowAction('onEdit', row)"></i>
                            <i class="icon-active"
                               *ngIf="isActivateRowAction('onDeactivate', row)"
                               (click)="handleRowAction('onDeactivate', row)"></i>
                            <i class="icon-inactive"
                               *ngIf="isActivateRowAction('onActivate', row)"
                               (click)="handleRowAction('onActivate', row)"></i>
                            <i class="icon-trash"
                               *ngIf="isActivateRowAction('onDelete', row)"
                               (click)="handleRowAction('onDelete', row)"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </ng-template>

    <!--No results found.-->
    <ng-template [ngIf]=" (rows &&  rows.length ) === 0">
        <tr>
            <td class="text-center" [colSpan]="columns.length + 1">
                No results found.
            </td>
        </tr>
    </ng-template>
    <!--No results found end.-->
    </tbody>
    <!--tbody end-->

</table>

<app-cxi-pagination *ngIf="config.paging"
                    (change)="onChangePagination()">
</app-cxi-pagination>
