
.btn-add-condition {
  margin-top: rem(20px) !important;
  border-radius: rem(4px)!important;
  background-color: #20275a;
  color: white !important;
  padding-top: rem(8px) !important;
  padding-bottom: rem(8px) !important;
}
