<ng-template ngFor let-condition [ngForOf]="value" let-i="index">
    <base-condition name="base-condition"
                    (add)="onAdd(i)"
                    (remove)="onRemove(i)"
                    [(ngModel)]="condition"></base-condition>
</ng-template>

<div class="row m-b">
    <div class="col-12">
        <a class="btn btn-add-condition btn-primary" (click)="addNewGroup()">
            <i class="icon-add-new"></i> <span>Add New Condition</span>
        </a>
    </div>
</div>

