<ng-template [ngIf]="value">

    <div class="panel-group allow-items">
        <cxi-icon-close class="close"
                        title="{{'Remove'|translate}}"
                        (click)="removeComboItem()"></cxi-icon-close>

        <div class="row p-20">
            <div class="col-5">
                <base-select name="{{name}}-product-id"
                             label="{{'Product.Allow items'|translate}}"
                             bindValue="id"
                             bindLabel="name"
                             [items]="products"
                             [(ngModel)]="value.product_id"
                             (change)="onChangeProduct($event)"></base-select>
            </div>

            <ng-template [ngIf]="value.child">
                <div class="col-5">
                    <ng-template [ngIf]="selectedProduct && selectedProduct.variants">
                        <base-select name="{{name}}-variant"
                                     label="{{'Product.Variant'|translate}}"
                                     bindLabel="name"
                                     bindValue="id"
                                     [items]="selectedProduct.variants"
                                     [(ngModel)]="value.child.product_id"
                                     (change)="onChangeVariant($event)"></base-select>
                    </ng-template>
                </div>
            </ng-template>
        </div>

        <!--add-ons-->
        <div class="panel-group add-on-type p-b-n">
            <div class="row">
                <div class="col-5">
                    <cxi-select-simple
                        name="{{name}}-add-on-type"
                        label="{{'Product.Add-on Type'|translate}}"
                        btnAddStyle="btn btn-default"
                        btnAddLabel="{{'Product.Add Add-on Type'|translate}}"
                        bindValue="id"
                        bindLabel="name"
                        [items]="addOnTypes"
                        [(ngModel)]="value.addon_types"></cxi-select-simple>
                </div>
            </div>
        </div>
    </div>

</ng-template>

