@import "~src/assets/scss/main";

.allow-items {
  background: $white;
  border: rem(1px) solid $grey-200;
  padding: rem(20px);
  border-radius: rem(4px);
  margin-bottom: rem(20px);
  position: relative;

  .close {
    position: absolute;
    right: rem(20px);
    top: rem(20px);
  }
}

