<div class="create-product create-wrapper">
  <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
    <div class="create-product-header create-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header" translate="Addon type.Edit Add on types">

          </div>
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn-cancel btn btn-white" (click)="cancel()">
            <span translate="Addon type.Cancel"></span>
          </button>
          <button type="submit" class="btn-addnew btn btn-primary" [disabled]="!createProductForm.form.valid">
            <span translate="Addon type.Update"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="tranlate-attribute">
        <ul>
          <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
            <img src="assets/img/english.png" alt="">
            <span>English</span>
          </li>
          <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
            <img src="assets/img/vn.png" alt="">
            <span>Tiếng Việt</span>
          </li>
        </ul>
      </div>
      <div class="create-product-body create-body mg-0">
        <div class="title-body" translate="Addon type.Add on types Information"></div>
        <div class="row">
          <div class="col-12" *ngIf="tab == 'en'">
            <base-input-text name="name" label="Name" width="full" [(ngModel)]="addOnType.name" required>
            </base-input-text>
          </div>
          <div class="col-12" *ngIf="tab == 'vn'">
            <base-input-text name="name" label="Name" width="full" [(ngModel)]="addOnType.vi.name">
            </base-input-text>
          </div>
          <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null">
            <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
              [(ngModel)]="addOnType.brand_id">
            </base-select>
          </div>
          <div class="col-12" *ngIf="tab == 'en'">
            <base-input-text name="description" label="Description" width="full" [(ngModel)]="addOnType.description">
            </base-input-text>
          </div>
          <div class="col-12" *ngIf="tab == 'vn'">
            <base-input-text name="description" label="Description" width="full" [(ngModel)]="addOnType.vi.description">
            </base-input-text>
          </div>
          <div class="col-12">
            <base-select name="DisplayType" label="Display Type" [items]="displayTypes" [bindLabel]="'name'"
              [bindValue]="'value'" [(ngModel)]="addOnType.display_type" width="full">
            </base-select>
          </div>
          <div class="col-12">
            <!-- <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"
              [(ngModel)]="addOnType.status">
            </base-switch> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>