<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Products'|translate}}
                </div>
            </div>

            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="btn btn-primary"
                            [routerLink]="['../create']">
                        <i class="icon-add-new"></i>
                        <span>{{'Product.New Product'|translate}}</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="list-product-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="products"
                              [config]="cxiGridConfig"
                              [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
