<div class="list-customer list-wrapper">
    <div class="list-customer-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header" translate="Customer.Customers"></div>
            </div>
            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="mr-20 btn-addnew btn btn-default" (click)="switch()"
                        [disabled]="backlist.list.length <= 0">
                        <i class="icon-arrow-right1"></i>
                        <span>Move to Black list</span>
                    </button>
                    <button class="btn-addnew btn btn-default" [routerLink]="['../create']">
                        <i class="icon-new-user"></i> <span translate="Customer.NewCustomer"></span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="listCustomer" (mesFilterCustomer)="FilterCustomer($event)" [config]="cxiGridConfig"
                (checkedAllItem)="checkCustomerAll($event)" (clearFilterCustomer)="clearHobby($event)"
                [showHobby]='isShow' [dataHobby]="hobby_req" (checkedItem)="checkCustomer($event)"
                [columns]="cxiGridColumns"></app-cxi-grid>
        </div>
    </div>
    <div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="exampleModal-cancelLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-changeStatus">
                <div class="modal-header modal-header-payment">
                </div>
                <div class="modal-body modal-body-payment">
                    <p class="mg-0">Please choose :</p>
                    <div class="row">
                        <div class="col-sm-6 mt-10" *ngFor="let item of hobbies;let i = index">
                            <input class="hobbies" type="checkbox" [name]="item.value" [value]="item.id"
                                (click)="checkHobby(item)">{{item.name}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center pt-0">
                    <div class="button-group text-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="searchHobby()">
                            <i class="icon-search"></i>
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-add-saleman></app-add-saleman> -->
</div>