<div class="list-category list-wrapper ">
    <div class="list-category-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header" translate="Category.Categories"></div>
            </div>

            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="btn btn-primary btn-list-cxi" [routerLink]="['../create']">
                        <i class="icon-add-new"></i> <span translate="Category.New Category"></span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="list-body list-body-cxi">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="categories" [config]="cxiGridConfig" [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>