<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">
    {{label|baseMakeTitle}}
</label>

<label class="base-switch"
       for="{{name}}">
    <input name="{{name}}"
           id="{{name}}"
           type="checkbox"
           value="option1"
           [(ngModel)]="value"
           [ngClass]="{'invalid': (invalid | async)}"
           (change)="onChange()">

    <ng-template [ngIf]="true">
        <span>
            {{
            (
                value
                    ? (yesLabel ? yesLabel : '')
                    : (noLabel ? noLabel : '')
            ) | baseMakeTitle
            }}
        </span>
    </ng-template>
</label>

<validation-messages *ngIf="invalid | async"
                     [messages]="failures | async">
</validation-messages>
