@import "~src/assets/scss/main";

/*-------------------------------------------------------------------------*/
/*ui-checkbox*/
.base-switch {
  position: relative;
  margin-bottom: 0;
  color: $black;
  display: block;

  label {
    display: inline-block;
  }

  span {
    color: $grey-900;
    @include fontSize(14px, 24px);
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  input[type="checkbox"] {
    display: none;

    + span {
      &:before {
        content: "\e92d";
        color: $cool-gray;
        font-family: $font-icon-bss;
        @include fontSize(24px, 24px);
        display: inline-block;
        vertical-align: middle;

        margin-right: rem(5px);
      }
    }

    &:checked {
      + span {
        &:before {
          content: "\e92e";
          color: $green-500;
          font-family: $font-icon-bss;
        }
      }
    }
  }

  &.white {
    input[type="checkbox"] {
      + span:before {
        margin-right: rem(3px);
      }

      &:checked {
        + span:before {
          background-color: $bss-brand;
        }
      }
    }
  }
}
