<div class="create-outlet create-wrapper">
    <form #createOutletForm="ngForm" class="form-create-outlet" (ngSubmit)="onSubmit()">
        <div class="create-outlet-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Outlet.Create New Outlet'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button"
                                     buttonStyle="btn-default btn"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!createOutletForm.form.valid">
                            <span>{{'Create'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab"
                                   (tabChange)="onTabChange($event)">

            <cxi-card name="create-outlet"
                      title="{{'Outlet.New Outlet'|translate}}">
                <div class="row p-20">
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <base-input-text name="{{'name-'+lang.code}}"
                                                 label="{{ ('Outlet.Outlet Name'|translate) + ' (' + lang.code + ')'}}"
                                                 [(ngModel)]="outlet[lang.code].name"
                                                 required>
                                </base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>
                    <div class="col-6">
                        <base-input-text name="contact_name"
                                         label="{{'Outlet.Contact Name'|translate}}"
                                         [(ngModel)]="outlet.contact_name">
                        </base-input-text>
                    </div>
                    <div class="col-6">
                        <base-input-text type="email"
                                         name="contact_email"
                                         label="{{'Outlet.Contact email'|translate}}"
                                         [(ngModel)]="outlet.contact_email">
                        </base-input-text>
                    </div>
                    <div class="col-6">
                        <base-input-text name="hotline"
                                         label="{{'Outlet.Hotline'|translate}}"
                                         [(ngModel)]="outlet.contact_number"
                                         required>
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-google-places name="google_places"
                                                  label="{{'Outlet.Address'|translate}}"
                                                  [(ngModel)]="outlet.street"
                                                  (addressChange)="handleAddressChange($event)"
                                                  required></base-input-google-places>
                    </div>

                    <div class="col-12" *ngIf="!isHiddenBrand">
                        <div class="title-body">{{'Outlet.Application Scope'|translate}}</div>
                    </div>

                    <!--organization - brands-->

                    <div class="col-6" *ngIf="!isHiddenBrand">
                        <base-select name="choose brand"
                                     label="{{'Outlet.Choose brand'|translate}}"
                                     [items]="brands"
                                     bindLabel="name"
                                     bindValue="id"
                                     [(ngModel)]="outlet.parent_id"
                                     (ngModelChange)="onSelectBrand($event)">
                        </base-select>
                    </div>

                </div>
            </cxi-card>
        </cxi-language-left-sidebar>
    </form>
</div>
