<div class="row" *ngIf="!isHideSelectBrand">
    <div class="col-12">
        <base-select name="brand" label="{{'scope.Brand'|translate}}" bindLabel="name" bindValue="id" [items]="brands"
            [(ngModel)]="brandId" (change)="onChangeBrand($event)"></base-select>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <cxi-select-simple name="Outlet" label="Outlet" btnAddStyle="btn btn-primary"
            btnAddLabel="{{'Product.Add Outlet'|translate}}" bindValue="id" bindLabel="name" [items]="outlets"
            [(ngModel)]="outletIds" (change)="onOutletsChange()"></cxi-select-simple>
    </div>
</div>