<h1>CXI BASE COMPONENTS</h1>

<div class="dashboard-wrapper">
    <br>
    <h3>Base Buttons</h3>
    <p>Primary</p>
    <div class="button-group">
        <base-button type="button"
                     name="Button Primary"
                     buttonStyle="btn-primary"
                     (click)="buttonClick()"
                     [disabled]="baseButtonDisabled"
                     [loading]="baseButtonLoading">
            Button Primary
        </base-button>
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-primary"
                     (click)="buttonClick()"
                     [pressed]="true"
                     [loading]="baseButtonLoading">
            Button Primary (Pressed)
        </base-button>
        <base-button type="button" name="Button Primary"
                     buttonStyle="btn-primary" (click)="buttonClick()"
                     [disabled]="true"
                     [loading]="baseButtonLoading">
            Button Primary (Disabled)
        </base-button>

    </div>
    <br>
    <p>Primary (icon)</p>
    <div class="button-group">
        <base-button type="button"
                     name="Button Primary"
                     buttonStyle="btn-primary"
                     (click)="buttonClick()"
                     [icon]="'icon-add-new'"
                     [loading]="baseButtonLoading">
            Button Primary
        </base-button>
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-primary"
                     (click)="buttonClick()"
                     [icon]="'icon-add-new'"
                     [pressed]="true"
                     [loading]="baseButtonLoading">
            Button Primary (Pressed)
        </base-button>
        <base-button type="button"
                     name="Button Primary"
                     buttonStyle="btn-primary"
                     (click)="buttonClick()"
                     [icon]="'icon-add-new'"
                     [disabled]="true"
                     [loading]="baseButtonLoading">
            Button Primary (Disabled)
        </base-button>

    </div>
    <br>
    <p>Secondary</p>
    <div class="button-group">
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-default"
                     (click)="buttonClick()"
                     [disabled]="baseButtonDisabled"
                     [loading]="baseButtonLoading">
            Button Default
        </base-button>
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-default"
                     (click)="buttonClick()"
                     [pressed]="true"
                     [loading]="baseButtonLoading">
            Button Default (Pressed)
        </base-button>
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-default"
                     (click)="buttonClick()"
                     [disabled]="true"
                     [loading]="baseButtonLoading">
            Button Default (Disabled)
        </base-button>
    </div>
    <br>
    <p>Secondary (icon)</p>
    <div class="button-group">
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-default"
                     (click)="buttonClick()"
                     [icon]="'icon-add-new'"
                     [disabled]="baseButtonDisabled"
                     [loading]="baseButtonLoading">
            Button Default
        </base-button>
        <base-button type="button"
                     name="Button Default"
                     buttonStyle="btn-default"
                     (click)="buttonClick()"
                     [icon]="'icon-add-new'"
                     [pressed]="true"
                     [loading]="baseButtonLoading">
            Button Default (Pressed)
        </base-button>
        <base-button type="button" name="Button Default"
                     buttonStyle="btn-default"
                     (click)="buttonClick()"
                     [icon]="'icon-add-new'"
                     [disabled]="true"
                     [loading]="baseButtonLoading">
            Button Default (Disabled)
        </base-button>
    </div>
    <br>
    <cxi-options name="cxi-options"
                 label="cxi-options"
                 [options]="demoOptions"
                 [(ngModel)]="demoOptionId"></cxi-options>

    <br>
    <br>
    <h3>FORM</h3>
    <form #demoForm="ngForm">
        <div class="row">
            <div class="col-4">

                <base-switch name="baseSwitchDemo"
                             label="base Switch Demo"
                             yesLabel="Write text here (yes)"
                             noLabel="Write text here (no)"
                             [(ngModel)]="baseSwitchDemo">
                </base-switch>

                <base-input-text name="name" label="Organization Name"
                                 [(ngModel)]="baseInputTextDemo"></base-input-text>

                <base-input-text name="name" label="Business Name"
                                 [(ngModel)]="baseInputTextDemo"></base-input-text>

                <base-input-google-places name="google-places"
                                          label="Address"
                                          [(ngModel)]="baseGooglePlace"
                                          (addressChange)="handleAddressChange($event)"></base-input-google-places>

                <ng-template [ngIf]="baseGooglePlace">
                    <pre>{{ baseGooglePlace|json }}</pre>
                    <pre>{{ baseAddress|json }}</pre>
                </ng-template>

            </div>

            <div class="col-4">
                <base-monetary name="demo-base-monetary"
                               label="Base Monetary Demo"
                               placeholder="Please input a monetary Amount"
                               [(ngModel)]="baseMonetaryDemo"></base-monetary>

                <base-integer name="demo-base-integer"
                              label="Base Integer Demo"
                              placeholder="Please input a integer number"
                              [(ngModel)]="baseIntegerDemo"></base-integer>

                <app-cxi-upload-file name="upload-img"
                                     (file)="onFileChanged($event)"
                                     [(ngModel)]="baseUploadFile"></app-cxi-upload-file>
                <pre>media files: {{baseUploadFile|json}}</pre>


            </div>

            <div class="col-4">
                <cxi-customer-level name="cxi-customer-level"
                                    label="cxi-customer-level"
                                    [level]="'Silver'"
                                    [value]="20"
                                    [maxLevel]="100"></cxi-customer-level>

                <cxi-increase-decrease name="cxi-increase"
                                       label="cxi-increase"
                                       [(ngModel)]="cxiIncrease"></cxi-increase-decrease>

            </div>
        </div>

        <h3>Base radio</h3>
        <h4>Ai đẹp trai nhất?</h4>
        <div class="row">
            <div class="col-6">
                <base-radio name="baseRadio"
                            label="radio demo 1"
                            [values]="baseRadioValues"
                            [(ngModel)]="baseRadio"></base-radio>

                <base-radio name="baseRadio2"
                            label="radio demo 2: 2-col"
                            [values]="baseRadioValues"
                            [cols]="2"
                            [(ngModel)]="baseRadio"></base-radio>

                <base-radio name="baseRadio3"
                            label="radio demo 3: items"
                            [values]="baseRadioValues3"
                            [cols]="3"
                            [(ngModel)]="baseRadio"></base-radio>
            </div>
        </div>

        <h3>Base checkbox</h3>
        <div class="row">
            <div class="col-6">
                <base-checkbox name="baseCheckboxDemo1"
                               label="Bạn có người yêu chưa?"
                               [(ngModel)]="baseCheckboxDemo1"></base-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <base-checkbox name="baseCheckboxDemo2"
                               [isSquare]="true"
                               [color]="'light-purple'"
                               label="Shift B: 10PM - 6AM (Checkbox with color)"></base-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <base-checkbox name="baseCheckboxDemo3"
                               [isCircle]="true"
                               [color]="'violet'"
                               label="Role C (Checkbox with color)"></base-checkbox>
            </div>
        </div>


        <br>
        <h3>Cxi date picker</h3>
        <base-datepicker name="base-datepicker"
                         label="DOB"
                         [(ngModel)]="baseDatepickerDemo"
                         [minDate]="minDate"
                         [maxDate]="maxDate"></base-datepicker>

        <br>
        <h3>Cxi time picker</h3>
        <cxi-time-picker name="cxiTimePickerDemo1"
                         label="Time picker demo 1"
                         [(ngModel)]="cxiTimePickerDemo1"></cxi-time-picker>

        <br>
        <h3>Cxi time picker</h3>
        <cxi-time-picker name="cxiTimePickerDemo2"
                         label="Time picker demo 2 (spinners)"
                         [spinners]="true"
                         [(ngModel)]="cxiTimePickerDemo2"></cxi-time-picker>
    </form>
</div>
