@import "~src/assets/scss/main";

.validation-form {
    padding: 0;
    margin: 0;
    list-style: none;
    >li{
        font-size: rem(12px);
        color: $red-500;
    }
}

.validation-messenge-wrapper {
    color: $red-500;

    ul {
        list-style-type: none;
        padding: 0;
    }
}
