@import "~src/assets/scss/main";

ng-select {
  margin-bottom: rem(20px);
}


.item-content {
  position: relative;
  margin-right: rem(44px);

  .remove {
    position: absolute;
    top: rem(5px);
    right: rem(-44px);

    width: rem(24px);
    height: rem(24px);
    text-align: center;

    i {
      font-size: rem(24px);
      line-height: rem(24px);
      color: $red-500;
    }
  }
}

//sub items
.m-t-sub {
  margin-top: rem(-20px);
}

.item-content {
  base-checkbox {
    position: absolute;
    top: rem(7px);
    left: rem(7px);

    display: inline-block;
    margin-bottom: 0;
  }
}
