<label *ngIf="label"
       class="text-uppercase">
    {{label}}
    <cxi-required *ngIf="required"></cxi-required>
</label>


<!--main value-->
<ng-template ngFor
             [ngForOf]="currentValues"
             let-itemVal
             let-i="index">
    <div class="row">

        <!--item-->
        <div class="col align-self-start"
             [ngClass]="{'col-12': !isTree, 'col-6': isTree}">
            <div class="item-content">
                <ng-select name="{{name}}-{{i}}"
                           class="ng-select-custom"
                           [ngClass]="{
                                'select-checkbox': isSelectItem
                           }"
                           [clearable]="false"
                           [searchable]="searchable"
                           [(ngModel)]="currentValues[i]"
                           (change)="onChangeNewVal($event)">
                    <ng-option *ngFor="let itemSelected of items"
                               [value]="itemSelected[bindValue]"
                               [disabled]="itemSelected['disabled']">
                        {{ itemSelected[bindLabel] }}
                    </ng-option>
                </ng-select>

                <ng-template [ngIf]="itemVal">
                    <a class="remove"
                       (click)="removeParent(itemVal)">
                        <i class="icon-close"></i>
                    </a>
                </ng-template>

                <!--check item: selected item-->
                <ng-template [ngIf]="isSelectItem">
                    <base-checkbox name="{{name}}-{{i}}-check"
                                   [(ngModel)]="selectCurrentValues[i]"
                                   (change)="onChangeSelectItem(i)"></base-checkbox>
                </ng-template>
            </div>
        </div>

        <ng-template [ngIf]="isTree && getSubItems(itemVal)">
            <div class="col align-self-end"
                 [ngClass]="{'m-t-sub': subLabel }">
                <cxi-select-simple name="sub-items"
                                   label="{{subLabel}}"
                                   bindLabel="name"
                                   bindValue="id"
                                   btnAddStyle="{{btnAddSubStyle}}"
                                   btnAddLabel="{{btnAddSubLabel}}"
                                   [items]="getSubItems(itemVal)"
                                   [(ngModel)]="subValues[i]"
                                   (change)="onChangeSubVal($event)"></cxi-select-simple>
            </div>
        </ng-template>
    </div>
</ng-template>


<!--add new-->
<div class="row">
    <div class="col align-self-start"
         [ngClass]="{'col-12': !isTree, 'col-6': isTree}">

        <!--add new-->
        <ng-template [ngIf]="isAddNew">
            <div class="item-content">
                <ng-select name="add-new"
                           class="ng-select-custom"
                           [clearable]="false"
                           [searchable]="searchable"
                           [(ngModel)]="newVal"
                           (change)="onChangeNewVal($event)">
                    <ng-option *ngFor="let item of items"
                               [value]="item[bindValue]"
                               [disabled]="item['disabled']">
                        {{ item[bindLabel] }}
                    </ng-option>
                </ng-select>

                <ng-template [ngIf]="currentValues && currentValues.length > 0">
                    <a class="remove" (click)="removeAddNew()">
                        <i class="icon-close"></i>
                    </a>
                </ng-template>
            </div>
        </ng-template>
    </div>
</div>


<ng-template [ngIf]="!autoAddNew">
    <base-button name="add-new"
                 class="m-b d-b"
                 type="button"
                 buttonStyle="{{btnAddStyle}}"
                 icon="icon-add-new"
                 (click)="addNew()"
                 [disabled]="isDisabledAddNew()">
        {{ btnAddLabel }}
    </base-button>
</ng-template>


<!--validation-messages-->
<validation-messages *ngIf="(invalid | async) && model.control.touched"
                     [messages]="failures | async">
</validation-messages>


<!--select-->
<ng-select name="cxi-select-simple-{{name}}"
           hidden="hidden"
           multiple="true"
           [bindValue]="bindValue"
           [bindLabel]="bindLabel"
           [items]="items"
           [(ngModel)]="value"></ng-select>


<!--<pre>invalid: {{invalid|async}}</pre>-->
<!--<pre>value: {{value|json}}</pre>-->
<!--<pre>currentValues: {{currentValues|json}}</pre>-->
<!--<pre>subValues: {{subValues|json}}</pre>-->
<!--<pre>selectCurrentValues: {{selectCurrentValues|json}}</pre>-->
<!--<pre>selectSubValues: {{selectSubValues|json}}</pre>-->
<!--<pre>selectSubValues: {{autoAddNew|json}}</pre>-->
