<ng-template ngFor let-moduleImage [ngForOf]="value" let-i="index">
    <app-select-module-image name="{{name}}-{{i}}"
                      (remove)="onRemove(i)"
                      [(ngModel)]="moduleImage"
                      (change)="onChangeVariantAddOnType()"></app-select-module-image>


</ng-template>

<div class="row m-b">
    <div class="col-12">
        <base-button name="{{name}}-add-aot"
                     type="button"
                     icon="icon-add-new"
                     buttonStyle="btn-default"
                     [disabled]="isDisabledAddNew()"
                     (click)="addAddOnType()">
            Add more
        </base-button>
    </div>
</div>

