@import '../../../assets/scss/main';

.create-wrapper {
  &.create-doctor {
    .create-header {
      margin-bottom: rem(15px);
    }
    .title-header {
      display: flex;
      align-items: center;
      font-family: $font-sfprotext-bold;
      &.title-page {
        font-size: rem(24px);
        margin-bottom: rem(15px);
        color: $primary-800;
      }
      &.title-body {
        font-size: rem(20px);
        margin-bottom: rem(19px);
      }
    }

    .create-doctor-body {
      .header-left {
        padding-top: rem(20px);
        background-color: $white;
        .img-left {
          width: rem(120px);
          height: rem(120px);
          object-fit: contain;
          border: solid 1px #dde2e5;
          margin: 0 auto;
          border-radius: 50%;
          margin-bottom: rem(30px);
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .group-btn {
          border-top: 1px solid #e2e3e6;
          display: flex;
          form{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .btn.btn-default {
              border: 0px;
              width: 50%;
              height: rem(60px);
              font-size: rem(16px);
              color: $cool-gray;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: unset;
              >label {
                font-size: rem(16px);
                color: $cool-gray;
                cursor: pointer;
                display: flex;
                align-items: center;
              }
              &:last-child{
                border-left: solid 1px #dde2e5;
              }
              i {
                margin-right: rem(5px);
                font-size: rem(24px);
                &.icon-image{
                  color: $accent-500;
                }
                &.icon-close{
                  color: #f4341b;
                }
              }
            }
          }
        }
      }
      .body-left {
        padding-top: rem(20px);
        background-color: $white;
        margin-top: rem(20px);
        .box-group {
          .title-box {
            font-family: $font-sfprotext-bold;
            font-size: rem(20px);
            line-height: 1.5;
            text-transform: uppercase;
          }
          .g-item {
            padding-bottom: rem(20px);
            padding-left: rem(20px);
            padding-right: rem(20px);
          }
          &.group-total {
            .level {
              display: flex;
              align-items: center;
              .color-level {
                width: rem(76px);
                height: rem(24px);
                border-radius: rem(15px);
                background-color: $accent-500;
                margin-right: rem(15px);
              }
            }
            .btn-up-level {
              width: 100%;
              height: rem(60px);
              display: flex;
              align-items: center;
              justify-content: center;
              border: 0;
              border-top: 1px solid #e2e3e6;
              box-shadow: unset;
              font-size: 16px;
              color: $cool-gray;
              >i {
                color: $accent-500;
                font-size: rem(24px);
              }
            }
          }
          &.group-rating {
            .g-item {
              &.title-box {
                padding-bottom: rem(10px);
              }
            }
          }
        }
      }
    }
    .create-doctor-header {
      .title-header {
        display: flex;
        align-items: center;
        &:before{
          font-size: rem(24px);
        }
      }
      .btn-white{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #dde2e5;
        margin-right: rem(20px);
      }
    }
  }
}
