<div class="create-doctor create-wrapper">
    <form #createDoctorForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-doctor-header create-header">
            <div class="row">
                <div class="col-sm-12 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..','list']">
                        <span translate="Doctor.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createDoctorForm.form.valid">
                        <span translate="Doctor.Create"></span>
                    </base-button>
                </div>
            </div>
        </div>

        <div class="create-doctor-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-header title-page" translate="Doctor.New Doctor"></div>
                        </div>
                    </div>
                    <div class="header-left">
                        <div class="img-left" *ngIf="doctor.avatar">
                            <img [src]="doctor.avatar" alt="">
                        </div>
                        <div class="img-left" *ngIf="!doctor.avatar">
                            <img src="/assets/img/avatar-default.jpg" alt="">
                        </div>
                        <div class="group-btn">
                            <form (ngSubmit)="onUpload()">
                                <div class="btn btn-default">
                                    <label>
                                        <i class="icon-image"></i> Upload
                                        <input type="file" hidden (change)="onFileChanged($event)" accept="image/*">
                                    </label>
                                </div>
                                <button class="btn btn-default" type="button" [disabled]="doctor.avatar == null"
                                        (click)="removeUpload()">
                                    <i class="icon-close"></i>Remove
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="body-left">
                        <div class="box-group group-total">
                            <div class="g-item title-box" translate="Doctor.Total Balance"></div>
                            <div class="g-item">3.000.000</div>
                            <div class="g-item level">
                                <div class="color-level"></div><div class="text-level" translate="Doctor.Doctor"></div>
                            </div>
                            <button class="btn btn-default btn-up-level" type="button">
                                <i class="icon-arrow-up1"></i> <span translate="Doctor.Up Level"></span>
                            </button>
                        </div>
                    </div>
                    <div class="body-left">
                        <div class="box-group group-rating">
                            <div class="g-item title-box" translate="Doctor.Rating"></div>
                            <div class="g-item g-rating">
                                <cxi-rating-small [onlyIcon]="true" [rating]="4"></cxi-rating-small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-12">
                            <div class="title-header title-body" translate="Doctor.Doctor Information"></div>
                        </div>
                    </div>
                    <div class="create-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="title-body" translate="Doctor.Personal Information"></div>
                            </div>
                            <div class="col-4">
                                <base-input-text name="email" label="{{'Doctor.Email'|translate}}" width="full" [(ngModel)]="doctor.email" required>
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <base-input-text name="first_name" label="{{'Doctor.First Name'|translate}}" width="full"
                                                 [(ngModel)]="doctor.first_name" required>
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <base-input-text name="last_name" label="{{'Doctor.Last Name'|translate}}" width="full"
                                                 [(ngModel)]="doctor.last_name" required>
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <base-datepicker name="dob" label="{{'Doctor.DOB'|translate}}" [(ngModel)]="doctor.dob" [minDate]="minDate"
                                                 [maxDate]="maxDate" required></base-datepicker>
                            </div>
                            <div class="col-4">
                                <base-select name="genders" label="{{'Doctor.Gender'|translate}}" [items]="genders" [bindLabel]="'name'" [bindValue]="'value'"
                                             [(ngModel)]="doctor.gender" width="full" required>
                                </base-select>
                            </div>
                            <div class="col-4">
                                <base-input-text name="cell_phone" label="{{'Doctor.Cell Phone'|translate}}" width="full"
                                                 [(ngModel)]="doctor.cell_phone" baseInteger required>
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <base-input-text name="home_telephone" label="{{'Doctor.Home Telephone'|translate}}" width="full"
                                                 [(ngModel)]="doctor.home_telephone" baseInteger required>
                                </base-input-text>
                            </div>
                            <div class="col-4">
<!--                                <base-select name="nationality" label="{{'Doctor.Nationality'|translate}}" [items]="nationality" [bindLabel]="'name'" [bindValue]="'id'"-->
                                <base-select name="nationality" label="{{'Doctor.Nationality'|translate}}"
                                             [items]="[]"
                                             [bindLabel]="'name'"
                                             [bindValue]="'id'"
                                             [multiple]="true"
                                             [(ngModel)]="doctor.nationality" width="full" required>
                                </base-select>
                            </div>
                            <!--Language-->
                            <div class="col-12">
                                <div class="title-body" translate="Doctor.Language"></div>
                            </div>
                            <div class="col-4">
                                <!--<base-select name="foreign_language" label="{{'Doctor.Foreign Language'|translate}}" [items]="foreign_language" [bindLabel]="'name'" [bindValue]="'id'"-->
                                <base-select name="foreign_language" label="{{'Doctor.Foreign Language'|translate}}"
                                             [items]="[]"
                                             [bindLabel]="'name'"
                                             [bindValue]="'id'"
                                             [multiple]="true"
                                             [(ngModel)]="doctor.foreign_language" width="full" required>
                                </base-select>
                            </div>
                            <div class="col-4">
                                <!--<base-select name="level" label="{{'Doctor.Level'|translate}}" [items]="level" [bindLabel]="'name'" [bindValue]="'id'"-->
                                <base-select name="level" label="{{'Doctor.Level'|translate}}"
                                             [items]="[]"
                                             [bindLabel]="'name'"
                                             [bindValue]="'id'"
                                             [multiple]="true"
                                             [(ngModel)]="doctor.level" width="full" required>
                                </base-select>
                            </div>
                            <!--Add more-->
                            <div class="col-12">
                                <button type="button" class="btn btn-primary">
                                    <i class="icon-add-new"></i>
                                    <span translate="Doctor.Add More"></span>
                                </button>
                            </div>
                            <div class="col-12">
                                <base-input-google-places name="google-places" label="{{'Doctor.Home Address' | translate}}"
                                                          [(ngModel)]="doctor.home_address"
                                                          (addressChange)="handleAddressChange($event, 'home_address')"></base-input-google-places>
                            </div>
                            <div class="col-12">
                                <base-input-google-places name="google-places" label="{{'Doctor.Clinic Address' | translate}}"
                                                          [(ngModel)]="doctor.clinic_address"
                                                          (addressChange)="handleAddressChange($event, 'clinic_address')"></base-input-google-places>
                            </div>
                            <div class="col-12">
                                <!--<base-select name="health_center" label="Health Center" [items]="health_center" [bindLabel]="'name'" [bindValue]="'id'"-->
                                <base-select name="health_center" label="{{'Doctor.Health Center' | translate}}"
                                             [items]="[]"
                                             [bindLabel]="'name'"
                                             [bindValue]="'id'"
                                             [multiple]="true"
                                             [(ngModel)]="doctor.health_center" width="full" required>
                                </base-select>
                            </div>
                            <!--Password-->
                            <div class="col-4">
                                <base-input-text name="password"
                                                 label="{{'Doctor.Password'|translate}}"
                                                 width="full"
                                                 placeholder="Enter password"
                                                 icon="icon-lock"
                                                 [(ngModel)]="doctor.password">
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <base-input-text name="password_confirmation"
                                                 label="{{'Doctor.Password confirmation'|translate}}"
                                                 width="full"
                                                 placeholder="Enter password"
                                                 [(ngModel)]="doctor.password_confirmation">
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-primary btn-form" (click)="autoGenerate()">
                                    <!--<i class="icon-auto"></i>-->
                                    <span translate="Doctor.Auto Generate"></span>
                                </button>
                            </div>
                            <div class="col-4">
                                <base-input-text name="language" label="{{'Doctor.Language'|translate}}" width="full"
                                                 [(ngModel)]="doctor.language">
                                </base-input-text>
                            </div>
                            <div class="col-4">
                                <base-datepicker name="member_since" label="{{'Doctor.Member Since'|translate}}" [(ngModel)]="doctor.member_since"
                                                 [minDate]="minDate"
                                                 [maxDate]="maxDate" [disabled]="true"></base-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
