<div class="create-user create-wrapper">
    <ng-template [ngIf]="voucher">
        <form #editVoucherForm="ngForm"
              (ngSubmit)="editVoucher()">

            <div class="create-user-header create-header">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title-header">
                            {{'Voucher.Edit Voucher'|translate}}
                            <i class="icon-navigation-left"></i>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right button-group">
                        <base-button type="button"
                                     buttonStyle="btn btn-default"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!editVoucherForm.form.valid">
                            <span>{{'Update'|translate}}</span>
                        </base-button>
                    </div>
                </div>
            </div>

            <!--Begin Select Type-->
            <cxi-card name="add-new-voucher"
                      title="{{'Voucher.Select Type'|translate}}">

                <div class="row p-20">

                    <!--name-->
                    <div class="col-12">
                        <base-input-text name="name"
                                         label="{{'Voucher.Name'|translate}}"
                                         [(ngModel)]="voucher.name">
                        </base-input-text>
                    </div>

                    <!--quantity-->
                    <div class="col-6">
                        <base-integer name="quantity"
                                      label="{{'Voucher.Quantity'|translate}}"
                                      [(ngModel)]="voucher.quantity">
                        </base-integer>
                    </div>
                    <div class="col-6"></div>

                    <!--description-->
                    <div class="col-12">
                        <!--<base-input-text name="description"
                                         label="{{'Voucher.Description'|translate}}"
                                         [(ngModel)]="voucher.description">
                        </base-input-text>-->
                        <app-cxi-input-editor name="description"
                                              label="{{'Voucher.Description'|translate}}"
                                              [(ngModel)]="voucher.description"></app-cxi-input-editor>
                    </div>
                </div>

                <div class="row p-20">
                    <!--Type-->
                    <div class="col-6">
                        <base-select name="type"
                                     label="{{'Voucher.Type'|translate}}"
                                     [bindLabel]="'name'"
                                     [bindValue]="'value'"
                                     [items]="types"
                                     [(ngModel)]="voucher.type">
                        </base-select>
                    </div>

                    <!--Amount-->
                    <div class="col-6">
                        <ng-template [ngIf]="voucher.type === 'cash_voucher_statistic'">
                            <base-monetary name="amount"
                                           class="m-b-n"
                                           label="{{'Voucher.Amount'|translate}}"
                                           [(ngModel)]="voucher.amount">
                            </base-monetary>
                        </ng-template>
                        <ng-template [ngIf]="voucher.type === 'cash_voucher_discount'">
                            <base-percentage name="amount"
                                             class="m-b-n"
                                             label="{{'Voucher.Discount'|translate}}"
                                             [(ngModel)]="voucher.amount">
                            </base-percentage>
                        </ng-template>
                    </div>
                </div>

                <div class="row p-20">
                    <!--Begin date - Expiry date-->
                    <div class="col-6">
                        <base-datepicker name="begin_date"
                                         label="{{'Voucher.Begin date'|translate}}"
                                         [(ngModel)]="voucher.begin_date"
                                         [minDate]="minDate"
                                         required></base-datepicker>
                    </div>
                    <div class="col-6">
                        <base-datepicker name="expiry_date"
                                         label="{{'Voucher.Expiry date'|translate}}"
                                         [(ngModel)]="voucher.expiry_date"
                                         [minDate]="minDate"
                                         required></base-datepicker>
                    </div>
                </div>


                <!--allow_to_redeem-->
                <div class="row p-20">

                    <!--allow_to_redeem-->
                    <div class="col-6">
                        <base-checkbox name="allow_to_redeem"
                                       label="{{'Voucher.Allow to redeem'|translate}}"
                                       [(ngModel)]="voucher.allow_to_redeem">
                        </base-checkbox>
                    </div>

                    <!--point_to_redeem-->
                    <ng-template [ngIf]="voucher.allow_to_redeem">
                        <div class="col-6">
                            <base-integer name="point_to_redeem"
                                          label="{{'Voucher.Point to redeem'|translate}}"
                                          [(ngModel)]="voucher.point_to_redeem"></base-integer>
                        </div>
                    </ng-template>
                </div>

                <div class="row p-20">

                    <!--Upload file-->
                    <div class="col-12">
                        <app-cxi-upload-file name="upload-img"
                                             [(ngModel)]="voucher.image"></app-cxi-upload-file>
                    </div>

                    <!--Minimum order & maximum order-->
                    <div class="col-6">
                        <base-monetary name="minimum_order"
                                       class="m-b-n"
                                       label="{{'Voucher.Minimum order'|translate}}"
                                       [(ngModel)]="voucher.minimum_order">
                        </base-monetary>
                    </div>
                    <div class="col-6">
                        <base-monetary name="maximum_order"
                                       class="m-b-n"
                                       label="{{'Voucher.Maximum order'|translate}}"
                                       [(ngModel)]="voucher.maximum_discount">
                        </base-monetary>
                    </div>

                </div>
            </cxi-card>
            <!--End Select Type-->

            <!--Applied Item-->
            <cxi-card name="applied-items"
                      title="{{'Voucher.Applied Items'|translate}}">

                <div class="row p-20">
                    <div class="col-12">
                        <base-radio name="is_all_items"
                                    [ngClass]="{'m-b-n': voucher.all_items}"
                                    [values]="allItemsOptions"
                                    [cols]="3"
                                    [(ngModel)]="voucher.all_items">
                        </base-radio>
                    </div>

                    <div class="col-12">
                        <ng-template [ngIf]="!voucher.all_items">
                            <cxi-select-products name="create-voucher"
                                                 class="m-b-n"
                                                 [(ngModel)]="voucher.outlets"></cxi-select-products>
                        </ng-template>
                    </div>
                </div>
            </cxi-card>
            <!--End Applied Item-->

            <!--Begin application-scope-->
            <cxi-card name="application-scope"
                      title="{{'Voucher.Select Application Scope'|translate}}">
                <div class="row p-20">
                    <div class="col-12">
                        <base-radio name="is_all_outlets"
                                    [ngClass]="{'m-b-n': voucher.all_outlets}"
                                    [values]="allOutletsOptions"
                                    [(ngModel)]="voucher.all_outlets">
                        </base-radio>
                    </div>
                    <ng-template [ngIf]="!voucher.all_outlets">
                        <div class="col-12">
                            <cxi-select-simple name="Address"
                                               label="{{'scope.Address'|translate}}"
                                               btnAddStyle="btn btn-primary"
                                               btnAddLabel="{{'Voucher.Add Outlet'|translate}}"
                                               bindValue="id"
                                               bindLabel="name"
                                               [items]="outlets"
                                               [(ngModel)]="voucher.outlets"></cxi-select-simple>
                        </div>
                    </ng-template>
                </div>
            </cxi-card>
            <!--End application-scope-->

        </form>
    </ng-template>
</div>
