<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Reminder.New Reminder">

                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..','list']">
                        <span translate="Reminder.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Reminder.Create"></span>
                    </base-button>
                </div>
            </div>
        </div>
        <cxi-language-left-sidebar name="left-sidebar-language" [(tab)]="tab">
            <cxi-card name="create-reminder" size="md" title="{{'Reminder.Reminder Information'|translate}}"
                justify="left">
                <div class="row">
                    <div class="col-12" *ngIf="!outletId">
                        <app-scope name="app-scope" [(brandId)]="reminder.brandId"
                            (outletIdsChange)="changeOutlet($event)" [(outletIds)]="reminder.outletId">
                        </app-scope>
                    </div>
                    <div class="col-12">
                        <ng-template ngFor [ngForOf]="reminder.translations" let-translation>
                            <ng-template [ngIf]="translation.locale === tab">
                                <base-input-text name="name" label="title" required [(ngModel)]="translation.title"></base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>
                    <div class="col-12">
                        <base-datepicker required name="start-Date" label="start Date" [minDate]="minDate"
                            [(ngModel)]="reminder.startDate">
                        </base-datepicker>
                    </div>
                    <div class="col-12">
                        <app-sento-component name="send-to" label="send to" [items]="users" [(array)]="reminder.sendTo"
                            bindLabel="name" bindValue="id">
                        </app-sento-component>
                    </div>
                    <div class="col-12">
                        <label for="">TIME</label>
                        <div class="d-flex">
                            <base-select name="f-h" class="f-d m-b-n" bindLabel="name" bindValue="value" [items]="hours"
                                class="width-time" [(ngModel)]="reminder.hour"></base-select>
                            <base-select name="f-m" class="f-m m-b-n" bindLabel="name" bindValue="value"
                                [items]="minutes" class="width-time" [(ngModel)]="reminder.minute">
                            </base-select>
                            <base-select name="f-y" class="f-y m-b-n" [items]="meridiems"
                                [(ngModel)]="reminder.meridiem" class="width-time">
                            </base-select>
                        </div>
                    </div>
                    <div class="col-12">
                        <base-select name="repeatType" label="repeat" bindLabel="name" bindValue="value"
                            [items]="repeatTypes" [(ngModel)]="reminder.repeatType" (change)="repeatReminder()">
                        </base-select>
                    </div>
                    <ng-template [ngIf]="reminder.repeatType == 'weekly'">
                        <div class="col-12">
                            <div class="item-week">
                                <div class="row">
                                    <div class="col-6 mt-10" *ngFor="let item of days;let i = index">
                                        <input class="days" type="checkbox" [name]="item.name" [value]="item.name"
                                            (click)="checkDays(item)">{{item.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <base-integer name="end-after" class="m-b-n" label="END AFTER"
                                    [maxLength]="getMaxLengthEndAfter()" [(ngModel)]="reminder.endAfter"
                                    [disabled]="isDisabledEndAfter()"></base-integer>
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <div class="cxi-label-value">
                                    <span class="label">Occurrences</span>
                                    <span class="value">
                                        {{
                                        '(' +
                                        (
                                            calculateOccurrences() | baseDate
                                        ) +
                                        ')'
                                        }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </cxi-card>
        </cxi-language-left-sidebar>
    </form>
</div>
