@import "../../../assets/scss/main";

.width-time {
    width: rem(75px)!important;
}
.item-week {
    border: 1px solid #ccc;
    padding: rem(10px);
    padding-top: 0;
    margin-bottom: rem(20px);
    border-radius: rem(4px);
}
.cxi-label-value {
    width: 100%;
    margin-top: rem(20px);
    .label {
        float: left;
    }
    .value {
        float: right;
        font-weight: bold;
    }
}