<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Addon.Edit Add on">

                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn-cancel btn btn-white" (click)="cancel()">
                        <span>{{'Cancel'|translate}}</span>
                    </button>
                    <button type="submit" class="btn-addnew btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span>{{'Addon.Update'|translate}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="tranlate-attribute">
                <ul>
                    <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                        <img src="assets/img/english.png" alt="">
                        <span>English</span>
                    </li>
                    <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
                        <img src="assets/img/vn.png" alt="">
                        <span>Tiếng Việt</span>
                    </li>
                </ul>
            </div>
            <div class="create-product-body create-body mg-0">
                <div class="title-body" translate="Addon.Add on Information"></div>
                <div class="row">
                    <div class="col-12" *ngIf="tab == 'en'">
                        <base-input-text name="name" label="Name" width="full" [(ngModel)]="addOn.name" required>
                        </base-input-text>
                    </div>
                    <div class="col-12" *ngIf="tab == 'vn'">
                        <base-input-text name="name" label="Name" width="full" [(ngModel)]="addOn.vi.name">
                        </base-input-text>
                    </div>
                    <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null">
                        <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
                                     [(ngModel)]="addOn.brand_id">
                        </base-select>
                    </div>
                    <div class="col-12" *ngIf="tab == 'en'">
                        <base-input-text name="description" label="Description" width="full"
                                         [(ngModel)]="addOn.description">
                        </base-input-text>
                    </div>
                    <div class="col-12" *ngIf="tab == 'vn'">
                        <base-input-text name="description" label="Description" width="full"
                                         [(ngModel)]="addOn.vi.description">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <app-cxi-upload-files name="upload-img" (file)="onFileChanged($event)"
                                              [(ngModel)]="addOn.images">
                        </app-cxi-upload-files>
                    </div>
                    <!-- <div class="col-6 offset-3">
                        <div class="product-img">
                            <form (ngSubmit)="onUpload()">
                                <label>
                                    <div class="upload-img">
                                        <i class="icon-image"></i>
                                        <input type="file" hidden="hidden" (change)="onFileChanged($event)"
                                            accept="image/*">
                                    </div>
                                </label>
                                <img class="img-fluid" *ngIf="addOn.image != null"
                                    [src]="(addOn.image)?baseUrl+addOn.image:''" alt="">
                            </form>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </form>
</div>
