<div class="card-body" id="form">
    <div class="row">
        <div class="col-6" *ngIf="userScope.organization && userScope.brand == null">
            <div class="form-group">
                <label class="text-promotion">SELECT BRAND</label>
                <select class="form-control form-control-promotion" (change)="onChangeBrand($event)"
                    [(ngModel)]="brand_id" [ngModelOptions]="{standalone: true}">
                    <option value="customer_pr" disabled>Please choose</option>
                    <option *ngFor="let item of brand;let i = index" [value]="item.id">{{item.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-6" *ngIf="userScope.organization && userScope.brand == null"></div>
        <div class="col-3">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="all_outlets" value="all" (click)="checkAllScope()"
                        [(ngModel)]="check_outlet">
                    All
                </label>
            </div>
        </div>
        <div class="col-9">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="all_outlets" value="custom"
                        (click)="checkCustomScope()" [(ngModel)]="check_outlet">
                    Custom
                </label>
            </div>
        </div>
        <div class="col-12 check-outlet mt-20" *ngIf="check_outlet == 'custom'">
            <div class="d-flex">
                <div class="form-group">
                    <label class="text-promotion">SELECT OUTLET</label>
                    <select class="form-control form-control-promotion" [(ngModel)]="outlet_item"
                        [ngModelOptions]="{standalone: true}">
                        <option value="customer_pr" disabled>Please choose</option>
                        <option *ngFor="let item of outlet;let i = index" [value]="item.id" [id]="item.name"
                            [disabled]="selected_outlet.indexOf(item) !== -1 || item['disabled']">
                            {{item.name}}
                        </option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" (click)="addOutletByBrand()" [disabled]="show_outlet">
                    <span>Add</span>
                </button>
            </div>
        </div>
        <div class="col-12" *ngIf="check_outlet == 'custom'">
            <label class="text-itempr">Selected Items:</label>
            <div class="group-item" *ngIf="selected_outlet.length >0">
                <div class="item-pr" *ngFor="let item of selected_outlet;let i = index">
                    <div class="d-flex">
                        <span>{{item.name}}</span>
                        <i (click)="removeSelectOutlet(item)" class="icon-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>