<div class="role-shift">
    <div class="row">

        <!--col1: shifts-->
        <div class="col-6">
            <cxi-card title="{{'Calendar.Shift'|translate}}"
                      size="full"
                      hideCollapse="true">
                <ng-template [ngIf]="shifts && shifts.length > 0">
                    <div class="row shifts-group">
                        <div class="col-6">
                            <base-checkbox
                                name="{{name}}-shift-all"
                                label="{{'All'|translate}}"
                                [(ngModel)]="selectedAllShifts"
                                (change)="onChangeSelectAllShifts()"></base-checkbox>
                        </div>

                        <!--begin shifts-->
                        <ng-template ngFor
                                     [ngForOf]="shifts"
                                     let-shiftItem
                                     let-i="index">
                            <div class="col-6">
                                <base-checkbox
                                    name="{{name}}-shift-{{i}}"
                                    title="{{shiftItem.fromToTime}}"
                                    textEllipsis="true"
                                    label="{{
                                    shiftItem.name
                                        ? shiftItem.name
                                        : ('Cxi Calendar.Shift' | translate)
                                    }}:
                                    {{
                                        shiftItem.fromToTime
                                    }}"
                                    [isSquare]="true"
                                    [color]="shiftItem.backgroundColor"
                                    [(ngModel)]="selectedShifts[i]"
                                    (change)="onChangeSelectShift()"></base-checkbox>
                            </div>
                        </ng-template>
                        <!--end shifts-->


                        <!--Only show leave, absent when day view-->
                        <ng-template [ngIf]="typeView==='day'">
                            <!--Leave-->
                            <div class="col-6">
                                <base-checkbox
                                    name="{{name}}-shift-leave"
                                    title="{{'Cxi Calendar.Leave' | translate}}"
                                    textEllipsis="true"
                                    label="{{'Cxi Calendar.Leave' | translate}}"
                                    [isSquare]="true"
                                    color="#f4f4f6"
                                    [(ngModel)]="selectedShifts['leave']"
                                    (change)="onChangeSelectShift()"></base-checkbox>
                            </div>

                            <!--Absent-->
                            <div class="col-6">
                                <base-checkbox
                                    name="{{name}}-shift-absent"
                                    title="{{'Cxi Calendar.Absent' | translate}}"
                                    textEllipsis="true"
                                    label="{{'Cxi Calendar.Absent' | translate}}"
                                    [isSquare]="true"
                                    color="#f4f4f6"
                                    bulletStripeColor1="#e4e4e6"
                                    bulletStripeColor2="#f4f4f6"
                                    bulletStripeWidth="6"
                                    [(ngModel)]="selectedShifts['absent']"
                                    (change)="onChangeSelectShift()"></base-checkbox>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
            </cxi-card>
        </div>

        <!--col2: roles-->
        <div class="col-6">
            <cxi-card title="{{'Calendar.Role'|translate}}"
                      size="full"
                      hideCollapse="true">
                <div class="row roles-group">
                    <div class="col-6">
                        <base-checkbox
                            name="{{name}}-roles-all"
                            label="{{'All'|translate}}"
                            [(ngModel)]="selectedAllRoles"
                            (change)="onChangeSelectAllRoles()"></base-checkbox>
                    </div>

                    <!--begin roles-->
                    <ng-template ngFor
                                 [ngForOf]="roles"
                                 let-role
                                 let-i="index">
                        <div class="col-6">
                            <base-checkbox
                                name="{{name}}-roles-{{i}}"
                                title="{{role.name}}"
                                textEllipsis="true"
                                label="{{role.name}}"
                                [isCircle]="true"
                                [color]="role.color"
                                [(ngModel)]="selectedRoles[i]"
                                (change)="onChangeSelectRole()"></base-checkbox>
                        </div>
                    </ng-template>
                    <!--end roles-->
                </div>
            </cxi-card>
        </div>
    </div>
</div>
