@import "../../../../assets/scss/main";


.role-shift {
  .shifts-group,
  .roles-group {
    margin-bottom: rem(-$m);

    base-checkbox {
      display: inline-block;
      margin-bottom: rem($m);
    }
  }
}
