@import "../../../../assets/scss/main";

.cxi-badge {
  @include fontSize(14px, 20px);
  color: $white;

  padding: rem(2px) rem(7.5px);
  border-radius: rem(12px);
  display: inline-block;

  &.yellow {
    background: $yellow-500;
  }

  span {
    display: inline-block;
  }
}
