<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Addon.New Add on">

                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..','list']">
                        <span translate="Addon.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Addon.Create"></span>
                    </base-button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="tranlate-attribute">
                <ul>
                    <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                        <img src="assets/img/english.png" alt="">
                        <span>English</span>
                    </li>
                    <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
                        <img src="assets/img/vn.png" alt="">
                        <span>Tiếng Việt</span>
                    </li>
                </ul>
            </div>
            <div class="create-product-body create-body mg-0">
                <div class="title-body" translate="Addon.Add on Information"></div>
                <div class="row">
                    <div class="col-12" *ngIf="tab == 'en'">
                        <base-input-text name="name" label="Name" width="full" [(ngModel)]="addOn.name" required>
                        </base-input-text>
                    </div>
                    <div class="col-12" *ngIf="tab == 'vn'">
                        <base-input-text name="name" label="Name" width="full" [(ngModel)]="addOn.vi.name">
                        </base-input-text>
                    </div>
                    <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null">
                        <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
                            [(ngModel)]="addOn.brand_id">
                        </base-select>
                    </div>
                    <div class="col-12" *ngIf="tab == 'en'">
                        <base-input-text name="description" label="Description" width="full" [(ngModel)]="addOn.description">
                        </base-input-text>
                    </div>
                    <div class="col-12" *ngIf="tab == 'vn'">
                        <base-input-text name="description" label="Description" width="full" [(ngModel)]="addOn.vi.description">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"
                            [(ngModel)]="addOn.status">
                        </base-switch>
                    </div>
                    <div class="col-12">
                        <app-cxi-upload-files name="upload-img" (file)="onFileChanged($event)"
                            [(ngModel)]="addOn.images">
                        </app-cxi-upload-files>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>