@import "../../../../assets/scss/main";

.create-product {

    .create-product-body {
        background-color: $white;
        width: rem(570px);
        margin: auto;
        padding: rem(20px);

        .title-body {
            font-size: rem(16px);
            font-family: $font-sfprotext-bold;
            line-height: 1.5;
            margin-bottom: rem(20px);
        }
        .product-img {
            height: rem(200px);
            background: #dfe7ed;
            position: relative;
            border-radius: rem(4px); 
            form{
                display: unset;
                .upload-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    i {
                        font-size: rem(60px);
                        color: #9eadba;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .create-product-header {
        .title-header {
            display: flex;
            align-items: center;
            &:before{
                font-size: rem(24px);
            }
        }
        .btn-white{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #dde2e5;
            margin-right: rem(20px);
        }
    }
}
