@import "../../../../assets/scss/main";
.btn-group-header{
 > div{
  display: inline-block;
  & + div{
    margin-left: rem(20px);
  }
 }
}
.group-btn-discount {
  //margin-top: rem(20px);
  button.btn-setting {
    &:last-child{
      margin-right: 0px!important;
    }
  }
}
.list-header{
  .btn {
    &.btn-primary,
    &.btn-default,
    &.btn-secondary,
    &.btn-white,
    &.btn-cancel {
      padding: rem($btnPaddingTopBottom) rem(15px);
    }
  }
}
.list-body {
  .group-order-report{
    background: $white;
    margin: rem(20px) 0;
    .item-customer-report {
      border-right: 1px solid $grey-100;
      padding: rem(10px);
      margin: rem(10px);
      &.border-none {
        border: 0px; 
      }
      >ul {
        margin: 0;
        padding: 0;
        list-style: none;
        >li{
          display: inline-block;
          padding-right: rem(5px);
          font-size: rem(14px);
          cursor: pointer;
          &:last-child{
            color: $accent-500;
          }
        }
      }
    }
  }
  .title-order-report {
    margin-bottom: rem(20px);
    padding-right: rem(10px);
  }
  .tr-custom {
    &.border-top {
      border-top: 1px solid #ccc;
    }
    td {
      text-align: center;
      border: 0;
    }
  }
  .table-custom {
    border: 1px solid #ccc;
    tbody {
      td {
        border-top: 1px solid #ccc;
      }
    }
  }
  .order-top {
    td {
      font-weight: bold;
      font-size: rem(14px);
      font-family: "sfprotextbold";
      &.color-text {
        color: #15a5de;
        font-weight: unset;
        font-family: "sfprotextregular";
        cursor: pointer;
      }
      .icon-chevron-up  {
        font-size: 24px;
        vertical-align: middle;
        color: #989ca8;
      }
      .active  {
        font-size: 24px;
        vertical-align: middle;
        color: #15a5de;
      }
    }
  }
  span {
    color: #989ca8;
  }
  .color-text {
    color: #15a5de;
    font-weight: unset;
    font-family: "sfprotextregular";
    cursor: pointer;
  }
}
.btn-date {
  min-width: rem(140px);
}

.date-start {
  position: absolute;
  top: rem(36px);

  input {
    display: none;
  }
}

.date-end {
  position: absolute;
  top: rem(36px);
  right: 0;

  input {
    display: none;
  }

  
}