<form #commissionForm="ngForm">
    <div class="modal-header modal-header-create-commission">
        <h4 class="title">{{'Commission.Add New Commission'|translate}}</h4>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close" (click)="cancel()">
            <i class="icon-close"></i>
        </button>
    </div>

    <div class="modal-body modal-body-create-commission">
        <div class="row p-20 m-b-md">
            <div class="col-12">
                <!--cxi-upload-file-->
                <div class="upload-file-div">
                    <app-cxi-upload-file name="upload-img"
                                         (file)="onFileChanged($event)"
                                         [(ngModel)]="commission.image"></app-cxi-upload-file>
                </div>

                <div class="name">
                    <base-input-text name="name"
                                     label="{{'Commission.Commission name'|translate}}"
                                     [(ngModel)]="commission.name"
                                     required></base-input-text>

                </div>
            </div>
        </div>

        <ng-template [ngIf]="!isHideSelectBrand">
            <div class="row m-b-md">
                <div class="col-12">
                    <h4 class="title">{{'Commission.Select Application Scope'|translate}}</h4>
                </div>
                <div class="col-4">
                    <base-select name="brand"
                                 label="{{'Brand.Brand'|translate}}"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="brands"
                                 [(ngModel)]="commission.brand_id"
                                 (change)="onChangeBrand($event)"></base-select>
                </div>
            </div>
        </ng-template>


        <div class="row m-b-md">
            <div class="col-12 ">
                <h4 class="title">{{'Commission.Select Outlets'|translate}}</h4>
            </div>

            <div class="col-12 m-b all-outlets">
                <base-radio name="application-scope"
                            label="{{'scope.Outlets'|translate}}"
                            [values]="productApplicationScopes"
                            [(ngModel)]="commission.all_outlets"></base-radio>


                <ng-template [ngIf]="commission.all_outlets">
                    <base-percentage name="all_outlets_percentage"
                                     class="all_outlets_percentage"
                                     [label]=""
                                     [(ngModel)]="commission.all_outlets_percentage"></base-percentage>
                </ng-template>
            </div>

            <ng-template [ngIf]="!commission.all_outlets">
                <div class="col-12">
                    <ng-template ngFor
                                 [ngForOf]="commission.outlets"
                                 let-commissionOutlet
                                 let-i="index">

                        <div class="row address-item">
                            <div class="col-12">
                                <div class="address">
                                    <base-select name="outlet-{{i}}-{{commissionOutlet.outlet_id}}"
                                                 bindLabel="name"
                                                 bindValue="id"
                                                 [label]="getLabelAddress(i)|async"
                                                 [items]="outlets"
                                                 [(ngModel)]="commissionOutlet.outlet_id"
                                                 (change)="onChangeOutlet()"></base-select>
                                </div>

                                <div class="value">
                                    <base-percentage name="value-{{i}}-{{commissionOutlet.outlet_id}}"
                                                     [label]="getLabelValue(i)|async"
                                                     [(ngModel)]="commissionOutlet.percentage"></base-percentage>


                                    <cxi-icon-close name="remove-outlets"
                                                    class="remove-outlets"
                                                    title="Remove address"
                                                    (click)="onRemoveOutlet(commissionOutlet)"></cxi-icon-close>
                                </div>
                            </div>
                        </div>

                    </ng-template>

                    <base-button name="add-outlet"
                                 buttonStyle="btn btn-primary"
                                 icon="icon-add-new"
                                 [disabled]="isDisableAddOutletButton()"
                                 (click)="addNewOutlet()">
                        {{'Commission.Add Outlet'|translate}}
                    </base-button>
                </div>
            </ng-template>
        </div>
    </div>


    <div class="modal-footer modal-footer-create-commission">

        <base-button type="button"
                     buttonStyle="btn-default"
                     class="pull-left"
                     (click)="reset()">
            {{'Reset'|translate}}
        </base-button>

        <base-button type="submit"
                     buttonStyle="btn-primary"
                     class="pull-right"
                     (click)="yes()"
                     [disabled]="commissionForm.invalid">
            {{'Add'|translate}}
        </base-button>
    </div>
</form>
