<div class="nav-date text-right">
    <div class="btn-group select-group-by">
        <button class="btn btn-default"
                [ngClass]="{'active': typeView === 'day'}"
                (click)="selectTypeView('day')">
            <span>{{'Cxi Calendar.Day'|translate}}</span>
        </button>
        <button class="btn btn-default"
                [ngClass]="{'active': typeView === 'week'}"
                (click)="selectTypeView('week')">
            <span>{{'Cxi Calendar.Week'|translate}}</span>
        </button>
    </div>
    <div class="btn-group select-day">
        <button class="btn btn-default btn-date"
                (click)="fromDateDatepicker.toggle();">
            <span>
                {{
                selectedDate
                    ? (
                        (
                            typeView === 'day'
                                ? this.selectedDate
                                : (
                                    typeView === 'week'
                                        ? (
                                            isCurrentTime
                                                ? selectedDate
                                                : fromDate
                                        )
                                        : selectedDate
                                )
                        ) | baseDate
                    )
                    : ('Cxi Calendar.Start Date'|translate)
                }}
            </span>
        </button>
        <div class="date-end">
            <input type="text"
                   ngbDatepicker
                   #fromDateDatepicker="ngbDatepicker"
                   placement="bottom-right"
                   [(ngModel)]="selectedDate"
                   (ngModelChange)="onChangeSelectedDate()"/>
        </div>
        <button class="btn btn-default btn-single-icon"
                (click)="openDate()">
            <i class="icon-calendar"></i>
        </button>
    </div>
</div>
