@import "../../../../assets/scss/main";

.nav-date {
  display: inline-flex;
  position: absolute;
  top: rem(-80px);
  right: rem(15px);

  .select-group-by {
    margin-right: rem(20px);
  }

  .date-end {
    position: absolute;
    top: rem(36px);
    right: 0;

    input {
      display: none;
    }
  }
}
