@import "../../../../assets/scss/main";

.product-item {
  background: #f7f7f8;
  padding: rem(20px);
  margin-bottom: rem(20px);

  .title-product-item {
    @include fontSize(16px, 24px);
    color: $grey-900;
    font-weight: bold;
    margin-bottom: rem(20px);
  }

}
