<!--combo-product-->
<ng-template [ngIf]="value">
    <div class="product-item">

        <cxi-icon-close class="close"
                        title="{{'Remove'|translate}}"
                        (click)="removeComboItem()"></cxi-icon-close>

        <!--title combo-->
        <div class="title-product-item">
            {{ 'Product.Product #' | translate: translateParam }}
        </div>

        <!--product detail-->
        <div class="row p-20">

            <!--product-name-->
            <div class="col-4">
                <base-input-text name="{{name}}-product-name"
                                 label="{{'Product.Product name'|translate}}"
                                 [(ngModel)]="value.name"></base-input-text>
            </div>


            <!--if flexible price-->
            <ng-template [ngIf]="isFlexiblePrice()">

                <!--price or percentage-->
                <div class="col-3">
                    <ng-template [ngIf]="value.unit === 'currency'">
                        <base-monetary name="{{name}}-price"
                                       label="{{'Product.Price'|translate}}"
                                       [(ngModel)]="value.price"></base-monetary>
                    </ng-template>

                    <ng-template [ngIf]="value.unit === 'percentage'">
                        <base-percentage name="{{name}}-percentage"
                                         label="{{'Product.Discount percentage'|translate}}"
                                         [(ngModel)]="value.percentage"></base-percentage>
                    </ng-template>
                </div>

                <!--unit-->
                <div class="col-3">
                    <base-select name="{{name}}-unit"
                                 label="{{'Product.Unit'|translate}}"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="productUnits"
                                 [(ngModel)]="value.unit"></base-select>
                </div>
            </ng-template>
        </div>

        <!--allow-items-->
        <cxi-select-combo-items name="{{name}}-items"
                                [products]="clonedProducts"
                                [(ngModel)]="value.items"></cxi-select-combo-items>


    </div>
</ng-template>
