<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body">
    <h4>Change status:</h4>
    <div class="mt-20" *ngIf="order.status == 'confirmed'">
        <base-radio name="dob-type-pr" [values]="confirmed_change_status" [(ngModel)]="status"></base-radio>
    </div>
    <div class="mt-20" *ngIf="order.status == 'delivered'">
        <base-radio name="dob-type-pr" [values]="processing_change_status" [(ngModel)]="status"></base-radio>
    </div>
    <div class="mt-20" *ngIf="order.status == 'canceled'">
        <base-radio name="dob-type-pr" [values]="cancel_change_status" [(ngModel)]="status"></base-radio>
    </div>
    <div class="mt-20" *ngIf="order.status == 'completed'">
        <base-radio name="dob-type-pr" [values]="completed_change_status" [(ngModel)]="status"></base-radio>
    </div>
</div>


<div class="modal-footer">
    <div class="button-group">
        <base-button type="button" buttonStyle="btn-default" (click)="no()">
            No
        </base-button>

        <base-button type="submit" buttonStyle="btn-primary" (click)="yes()">
            Yes
        </base-button>
    </div>
</div>
