<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">Case comment</div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" (click)="cancel()">
                        <span translate="Case.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" (click)="editCase()">
                        <span>Edit</span>
                    </base-button>
                </div>
            </div>
        </div>
        <div class="create-product-body create-body">
            <div class="title-body" translate="Case.Case Information"></div>
            <div class="row">
                <div class="col-6">
                    <div class="text-tile">Created date</div>
                    <div class="text-body">{{case_management.created_at | date:'MM/dd/yyyy h:mma'}}</div>
                </div>
                <div class="col-6">
                    <div class="text-tile">Updated date</div>
                    <div class="text-body">{{case_management.updated_at | date:'MM/dd/yyyy h:mma'}}</div>
                </div>
                <div class="col-12">
                    <div class="text-tile">Title</div>
                    <div class="text-body">{{case_management.name}}</div>
                </div>
                <div class="col-12">
                    <div class="text-tile">Status</div>
                    <div class="text-body text-trans">{{case_management.status}}</div>
                </div>
                <div class="col-12">
                    <div class="text-tile">Request</div>
                    <div class="text-body">{{(case_management.request)?case_management.request:'--'}}</div>
                </div>
                <div class="col-12">
                    <div class="text-tile">Reponsible parties</div>
                    <div class="list-repons" *ngFor="let item of case_management.responsible_parties;let i = index">
                        <span>{{item.first_name }}</span>
                        <span *ngIf="!(case_management.responsible_parties.length - 1 == i)">,</span>
                    </div>
                    <div class="text-body" *ngIf="case_management.responsible_parties.length <= 0">--</div>
                </div>
                <div class="col-12">
                    <div class="text-tile">Priority</div>
                    <div class="text-body text-trans">{{case_management.priority}}</div>
                </div>
                <div class="col-12">
                    <div class="text-tile">Expiration date</div>
                    <div class="text-body">{{case_management.expired_at | baseDate}}</div>
                    <div class="text-body" *ngIf="!case_management.expired_at">--</div>
                </div>
            </div>
        </div>
        <div class="create-product-body create-body mt-20">
            <div class="title-body">Comment</div>
            <div class="row">
                <div class="col-1">
                    <span class="icon-customer icon-cmm"></span>
                </div>
                <div class="col-5">
                    <base-select name="status" label="" [items]="status" [bindLabel]="'name'" [bindValue]="'value'"
                        [(ngModel)]="_status" width="full">
                    </base-select>
                </div>
                <div class="col-5">
                    <base-select name="priority" label="" [items]="priority" [bindLabel]="'name'" [bindValue]="'value'"
                        [(ngModel)]="_priority" width="full">
                    </base-select>
                </div>
                <div class="col-12">
                    <base-textarea name="content" label="" [(ngModel)]="case_comment.content" [maxLength]="10000">
                    </base-textarea>
                </div>
                <div class="col-2" (click)="createComment()">
                    <button
                        [disabled]="case_comment.content == null || case_comment.content == ''"
                        class="btn btn btn-primary">
                        Send
                    </button>
                </div>
                <div class="col-5">
                    <!-- <base-select name="case" [items]="case_managements" [bindLabel]="'title'" [bindValue]="'id'"
                        width="full">
                    </base-select> -->
                    <base-datepicker name="expiration-date" [(ngModel)]="_expired_at"></base-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-20" *ngFor="let item of case_comments;let i = index">
                    <div class="d-flex align-items-center">
                        <span class="icon-customer"></span>
                        <div class="infor-user">
                            <div class="name-user">
                                {{(item.created_by)?item.name_comment: '--'}}
                            </div>
                            <div class="name-date">{{item.updated_at | baseDate}}</div>
                        </div>
                    </div>
                    <div class="content mt-10">{{item.content}}</div>
                </div>
            </div>
        </div>
        <div class="pagi">
            <app-cxi-pagination *ngIf="case_comments.length >= 1" (change)="onChangePagination()">
            </app-cxi-pagination>
        </div>
    </form>
</div>