@import "../../../assets/scss/main";

.text-tile {
    font-size: rem(14px);
    font-family: "sfprotextbold";
}
.text-body {
    color: #989ca8!important;
    margin-bottom: rem(10px);
    &.text-trans {
        text-transform: capitalize;
    }
}
.list-repons {
    display: inline-block;
    color: #989ca8!important;
    margin-bottom: rem(10px);
    margin-right: rem(5px);
}
.icon-customer {
    font-size: rem(20px);
    margin-right: rem(5px);
}
.infor-user {
    .name-user {
        text-transform: uppercase;
        font-size: rem(14px);
    }
}
.content {
    border: 1px solid #ccc;
    padding: rem(20px);
}
.icon-cmm {
    font-size: rem(24px);
    line-height: rem(30px);
}