<div class="list-wrapper">
    <div class="list-header">
        <div class="row">
            <div class="col-4">
                <div class="title-header" translate="dashboard.Dashboard">
                </div>
            </div>
            <div class="col-8 text-right">
                <div class="btn-group select-group-by">
                    <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'day'}"
                            (click)="selectTime('day')">
                        <span translate="dashboard.Day"></span>
                    </button>
                    <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'week'}"
                            (click)="selectTime('week')">
                        <span translate="dashboard.Week"></span>
                    </button>
                    <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'month'}"
                            (click)="selectTime('month')">
                        <span translate="dashboard.Month"></span>
                    </button>
                    <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'year'}"
                            (click)="selectTime('year')">
                        <span translate="dashboard.Year"></span>
                    </button>
                </div>
                <div class="btn-group select-day">

                    <button class="btn btn-default btn-date"
                            (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
                        <span translate="dashboard.Start Date">{{dateStart | baseDate }}</span>
                    </button>
                    <div class="date-start">
                        <input type="text" ngbDatepicker #dateStartDatepicker="ngbDatepicker" [(ngModel)]="dateStart"/>
                    </div>

                    <button class="btn btn-default btn-date"
                            (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
                        <span translate="dashboard.End Date">{{dateEnd | baseDate }}</span>
                    </button>
                    <div class="date-end">
                        <input type="text" ngbDatepicker #dateEndDatepicker="ngbDatepicker" placement="bottom-right"
                               [(ngModel)]="dateEnd"/>
                    </div>

                    <button class="btn btn-default btn-single-icon" (click)="openDate()">
                        <i class="icon-calendar"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-body">
        <div class="row m-b-md">
            <div class="col-sm-12">
                <!--delivery-management-->
                <app-delivery-management [timeSelected]="timeSelected" [dateStart]="dateStart" [dateEnd]="dateEnd">
                </app-delivery-management>
            </div>
        </div>

        <div class="row m-b-md">
            <div class="col-sm-9">
                <app-orders-summarize [timeSelected]="timeSelected" [dateStart]="dateStart" [dateEnd]="dateEnd">
                </app-orders-summarize>
            </div>

            <div class="col-sm-3" *ngIf="isShowTrendingOrder">
                <!--trending-orders-->
                <app-trending-orders [timeSelected]="timeSelected" [dateStart]="dateStart" [dateEnd]="dateEnd">
                </app-trending-orders>
            </div>
        </div>

        <!--Loyalty program-->

        <app-loyalty-program-statistics [timeSelected]="timeSelected"
                                        [dateStart]="dateStart"
                                        [dateEnd]="dateEnd"></app-loyalty-program-statistics>


        <div class="row">
            <div class="col-sm-3">
                <app-latest-comment [timeSelected]="timeSelected" [dateStart]="dateStart"
                                    [dateEnd]="dateEnd"></app-latest-comment>
            </div>

            <!--Latest customers-->
            <div class="col-sm-9" *ngIf="isShowLatestCustomer">
                <app-latest-customers [timeSelected]="timeSelected" [dateStart]="dateStart" [dateEnd]="dateEnd">
                </app-latest-customers>
            </div>
        </div>
    </div>
</div>
