@import "~src/assets/scss/main";

.base-panel {
  background: $white;
  padding: rem(20px);
  border-radius: rem(4px);

  .title-panel {
    @include fontSize(16px, 24px);
    color: $grey-900;
    font-weight: bold;
    margin-bottom: rem(20px);
  }
}

.list-header {
  display: inline-block;
  width: 100%;

  .title-header {
    display: inline-block;
    float: left;
    margin-right: rem(30px);
  }

  .select-group-by {
  }

  .select-day {
    margin-left: rem(20px);
  }

  .select-group-by,
  .select-day {
    .btn.btn-primary,
    .btn.btn-default {
      box-shadow: none;
    }
  }

  .row {
    //width: 100%;

    .col-sm-6 {
      display: inline-flex;
    }
  }

  .btn-date {
    min-width: rem(140px);
  }

  .date-start {
    position: absolute;
    top: rem(36px);

    input {
      display: none;
    }
  }

  .date-end {
    position: absolute;
    top: rem(36px);
    right: 0;

    input {
      display: none;
    }
  }
}

.dashboard-body {
  margin-top: rem(30px);

  .delivery-management {
    height: rem(163px);

    .box-item {
      border: rem(1px) solid $grey-200;
      border-radius: rem(8px);
      height: rem(79px);
      padding: rem(10px) rem(20px) rem(10px) rem(15px);
      position: relative;

      .name {
        width: calc(100% - #{rem(81px)});

        .value {
          @include fontSize(24px, 36px);

          font-weight: bold;
          display: inherit;
          margin-bottom: rem(5px);
        }

        .des {
          @include fontSize(12px, 18px);
          color: $cool-gray;
          font-weight: bold;
        }
      }

      .chart {
        width: rem(81px);
        height: rem(52px);

        float: right;

        position: absolute;
        right: rem(20px);
        bottom: 0;
      }

      &.green {
        .name .value {
          color: #08cd08;
        }

        .chart {
          background-image: linear-gradient(to bottom, $green-500, rgba(0, 204, 0, 0));
        }
      }

      &.blue {
        .name .value {
          color: $accent-500;
        }

        .chart {
          background-image: linear-gradient(to bottom, $accent-500, rgba(42, 194, 208, 0));
        }
      }

      &.red {
        .name .value {
          color: #f4341b;
        }

        .chart {
          background-image: linear-gradient(to bottom, #f4341b, rgba(244, 52, 27, 0));
        }
      }
    }
  }

  .orders-view {
    height: rem(378px);
  }

  


}
