<div class="base-panel delivery-management">
    <div class="title-panel"
         translate="dashboard.Delivery Management">
    </div>

    <div class="row p-25">
        <div class="col-4">
            <div class="box-item green">
                <div class="name">
                    <span class="value"
                          cxiCountUp
                          [endVal]="totalDeliveryOrders"
                          [decimals]="0"></span>
                    <span class="des text-uppercase"
                          translate="dashboard.Total delivery orders">
                    </span>
                </div>
                <span class="chart">
                    <canvas baseChart
                            [labels]="lineChartLabels"
                            [datasets]="lineChartData1"
                            [options]="lineChartOptions"
                            [chartType]="lineChartType"></canvas>
                </span>
            </div>
        </div>
        <div class="col-4">
            <div class="box-item blue">
                <div class="name">
                    <span class="value"
                          cxiCountUp
                          [endVal]="deliveredOrders"
                          [decimals]="0"></span>
                    <span class="des text-uppercase"
                          translate="dashboard.On-time orders">
                    </span>
                </div>
                <span class="chart">
                    <canvas baseChart
                            [labels]="lineChartLabels"
                            [datasets]="lineChartData2"
                            [options]="lineChartOptions"
                            [chartType]="lineChartType"></canvas>
                </span>
            </div>
        </div>
        <div class="col-4">
            <div class="box-item red">
                <div class="name">
                    <span class="value"
                          cxiCountUp
                          [endVal]="canceledOrders"
                          [decimals]="0"></span>
                    <span class="des text-uppercase"
                          translate="dashboard.Canceled orders"></span>
                </div>
                <span class="chart">
                    <canvas baseChart
                            [labels]="lineChartLabels"
                            [datasets]="lineChartData3"
                            [options]="lineChartOptions"
                            [chartType]="lineChartType"></canvas>
                </span>
            </div>
        </div>
    </div>
</div>
