@import "~src/assets/scss/main";

.delivery-management {
  height: rem(163px);

  .box-item {
    border: rem(1px) solid $grey-200;
    border-radius: rem(8px);
    height: rem(79px);
    padding: rem(10px) rem(20px) rem(10px) rem(15px);
    position: relative;

    .name {
      width: calc(100% - #{rem(81px)});

      .value {
        @include fontSize(24px, 36px);

        font-weight: bold;
        display: inherit;
        margin-bottom: rem(5px);
      }

      .des {
        @include fontSize(12px, 18px);
        color: $cool-gray;
        font-weight: bold;
      }
    }

    .chart {
      width: rem(81px);
      height: rem(52px);

      float: right;

      position: absolute;
      right: rem(20px);
      bottom: 0;
    }

    &.green {
      .name .value {
        color: #08cd08;
      }

      .chart {
        background-image: linear-gradient(to bottom, $green-500, rgba(0, 204, 0, 0));
      }
    }

    &.blue {
      .name .value {
        color: $accent-500;
      }

      .chart {
        background-image: linear-gradient(to bottom, $accent-500, rgba(42, 194, 208, 0));
      }
    }

    &.red {
      .name .value {
        color: #f4341b;
      }

      .chart {
        background-image: linear-gradient(to bottom, #f4341b, rgba(244, 52, 27, 0));
      }
    }
  }
}
