@import "~src/assets/scss/main";

.filters-container {
  display: inline-block;
  margin-right: rem(5px);
  max-width: rem(280px);

  .filter-group {
    border: rem(1px) solid #e2e3e6;
    border-radius: rem(18px) !important;
    display: flex;
    height: rem(38px);

    align-items: center;
    padding: 0 rem(15px);
    background-color: $white;

    .filter-input {
      display: inline-block;
      height: rem(36px);

      input.form-control {
        &:focus {
          background-color: transparent;
        }
      }
    }

    strong {
      color: $cool-gray;
      text-transform: capitalize;
      white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }

    .icon-close {
      font-size: rem(22px);
      color: $cool-gray;
    }
  }
}


//btn-add-filter
.btn-add-filter {
  border-radius: rem(18px);
  //border: 1px solid $grey-100;
  //padding: rem(5px) rem(15px);
  //@include fontSize(14px, 24px);
  //font-weight: bold;
  //color: $cool-gray;

  i {
    @include fontSize(20px, 24px);
    float: left;
    margin-right: rem(5px);
    color: $accent-500;
  }

  &.dropdown-toggle {
    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: none;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &:hover {
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:active {
    background-color: transparent;
    border: 1px solid $grey-100;
    color: $cool-gray;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-dropdown-item {
  text-transform: capitalize;
}
