<ng-template ngFor let-selectedFilter [ngForOf]="value" let-i="index">
    <ng-template [ngIf]="selectedFilter && selectedFilter.selected">
        <div class="filters-container">
            <div class="filter-group">
                <strong *ngIf="selectedFilter.isShow">{{selectedFilter.title ? selectedFilter.title : selectedFilter.name}}</strong>
                <strong *ngIf="!selectedFilter.isShow">{{selectedFilter.title ? selectedFilter.title : selectedFilter.name}}:</strong>
                <ng-template [ngIf]="!selectedFilter.isShow">
                    <base-filter-input class="filter-input"
                                    name="filter-input-{{i}}"
                                    [placeholder]="selectedFilter.name"
                                    [filterType]="selectedFilter.filterType"
                                    [filterData]="selectedFilter.filterData"
                                    [format]="selectedFilter.format"
                                    [(ngModel)]="selectedFilter.value"
                                    (change)="onChangeFilterInput()">
                    </base-filter-input>
                </ng-template>
                <a (click)="remove(i)" class="d-flex align-items-center">
                    <i class="icon-close"></i>
                </a>
            </div>
        </div>
    </ng-template>
</ng-template>

<!--Add a filter-->
<div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
    <button class="btn btn-default btn-add-filter"
            id="dropdownBasic1" ngbDropdownToggle
            [disabled]="isDisabledAddAFilter()">
        <i class="icon-add-new"></i>
        {{'Cxi filter.Add a Filter'|translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ng-template ngFor let-ft [ngForOf]="value" let-i="index">
            <button ngbDropdownItem class="btn-dropdown-item"
                    (click)=" myDrop.close();addAFilter(ft);"
                    [disabled]="ft.selected">
                {{ft.title ? ft.title : ft.name}}
            </button>
        </ng-template>
    </div>
</div>
