<cxi-card title="{{'Product.Select Variant'|translate}}"
          className="select-variant"
          [size]="((!value || value.length === 0) ? 'md': 'lg')">

    <ng-template [ngIf]="value && value.length > 0">
        <ng-template ngFor
                     [ngForOf]="value"
                     let-variant
                     let-i="index">

            <cxi-select-variant name="var-{{i}}"
                                [attributes]="attributes"
                                [addOnTypes]="addOnTypes"
                                [addOns]="addOns"
                                [superAttributes]="superAttributes"
                                [isEdit]="isEdit"
                                (add)="onAdd(i)"
                                (remove)="onRemove(i)"
                                [(ngModel)]="variant"></cxi-select-variant>

        </ng-template>
    </ng-template>


    <ng-template [ngIf]="!value || value.length === 0">
        <div class="panel-body">
            <base-button name="var-add"
                         type="button"
                         buttonStyle="btn-primary"
                         icon="icon-add-new"
                         (click)="addVariant()">
                {{'Product.Add Variant'|translate}}
            </base-button>
        </div>
    </ng-template>
</cxi-card>
