<table class="table" *ngIf="sales">
    <thead>
        <tr>
            <th class="sortable" *ngFor="let item of filterTable;let i = index">
                <label class="mg-0" (click)="showListOrder(item,i)">
                    {{item.name}}
                    <i *ngIf="item.isShowAsc && !item._disable" class="icon-dropdown"></i>
                    <i *ngIf="item.isShowDesc && !item._disable"
                        [class]="(!item.isShow)?'icon-arrow-up':'icon-arrow-down'"></i>
                </label>
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let item of sales;let i = index">
        <tr>
            <td *ngFor="let _item of item.categories;let _i = index">
                {{(_item.name)?_item.name:''}}
            </td>
            <td>{{(item.name)?item.name:'--'}}</td>
            <td>{{(item.price)?item.price:'--'}}</td>
            <td>{{(item.quantity)?item.quantity:'--'}}</td>
            <td>{{(item.sales_total)?item.sales_total:'--'}}</td>
            <td>{{(item.brand_name)?item.brand_name:''}} {{(item.outlet_name)?'/ '+ item.outlet_name:''}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="sales.length <= 0">
        <tr>
            <td class="text-center" colspan="6">
                No results found.
            </td>
        </tr>
    </tbody>
</table>
<app-cxi-pagination (change)="onChangePagination()" [(currentPage)]="current_page" [(perPage)]="per_page"
    [(total)]="total"></app-cxi-pagination>