<div class="list-wrapper">
  <div class="list-header">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <div class="title-header">Hourly Sales</div>
      </div>
      <div class="col-sm-8 text-right">
        <div class="btn-group mr-20">
          <div class="btn btn-default active">Day</div>
          <div class="btn btn-default">Week</div>
          <div class="btn btn-default">Month</div>
          <div class="btn btn-default">Year</div>
        </div>
        <div class="btn-group">
          <button class="btn btn-default btn-date" (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
            <span translate="dashboard.Start Date"></span>
          </button>
          <div class="date-start">
            <input type="text" ngbDatepicker #dateStartDatepicker="ngbDatepicker" [(ngModel)]="dateStart" />
          </div>

          <button class="btn btn-default btn-date" (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
            <span translate="dashboard.End Date"></span>
          </button>
          <div class="date-end">
            <input type="text" ngbDatepicker #dateEndDatepicker="ngbDatepicker" placement="bottom-right"
              [(ngModel)]="dateEnd" />
          </div>

          <button class="btn btn-default btn-single-icon" (click)="openDate()">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-12 text-right mt-20">
        <button class="btn-setting btn btn-default">
          <div class="dflex">
            <i class="icon-settings"></i> <span>Compare</span>
          </div>
        </button>
        <button class="btn-setting btn btn-default">
          <div class="dflex">
            <i class="icon-print"></i> <span>Print</span>
          </div>
        </button>
        <button class="btn-setting btn btn-default ">
          <div class="dflex">
            <i class="icon-settings"></i> <span>Export</span>
          </div>
        </button>
        <button class="btn-addnew btn btn-default filters-report">
          <div class="dflex">
            <i class="icon-filter"></i> <span>Filters</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>TIME <i class="icon-dropdown"></i></th>
              <th>TRANSACTION <i class="icon-dropdown"></i></th>
              <th>AVG. SALES/ORDER <i class="icon-dropdown"></i></th>
              <th>SALES <i class="icon-dropdown"></i></th>
              <th>% SALES/DAY <i class="icon-dropdown"></i></th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of hourly_sales;let i = index">
            <tr>
              <td>{{item.period}}</td>
              <td>{{item.transaction_total}}</td>
              <td>{{item.avg_sale_with_order}}</td>
              <td>{{item.sale_total}}</td>
              <td>{{item.sale_percent}}</td>
              <td (click)="showOrder(item)">
                <i [class]="(!item.isShow)?'active fadeOut icon-chevron-down':'icon-chevron-up'"></i>
              </td>
            </tr>
            <ng-template [ngIf]="!item.isShow">
              <tr *ngFor="let item_child of item.childs;let i_child = index">
                <td>{{item_child.order_type}}</td>
                <td>{{item_child.transaction_total}}</td>
                <td>{{item_child.avg_sale_with_order}}</td>
                <td>{{item_child.sale_total}}</td>
                <td>{{item_child.sale_percent}}</td>
                <td></td>
              </tr>
            </ng-template>
          </tbody>
          <tbody *ngIf="hourly_sales.length <= 0">
            <tr>
              <td class="text-center" colspan="6">
                No results found.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>