@import "~src/assets/scss/main";

.icon-chevron-down, .icon-chevron-up {
    font-size: rem(22px);
    cursor: pointer;
    &.active {
        color: #15a5de;
    }
}
.btn-date {
    min-width: rem(140px);
}

.date-start {
    position: absolute;
    top: rem(36px);

    input {
        display: none;
    }
}

.date-end {
    position: absolute;
    top: rem(36px);
    right: 0;

    input {
            display: none;
        }
}