<app-header></app-header>

<div class="app-body d-flex">
    <app-sidebar *ngIf="isShowSidebar"></app-sidebar>

    <div class="main flex-fill">
    	<div class="scroll-page-horizontal">
	        <!--CXI Breadcrumbs-->
	        <cxi-breadcrumbs></cxi-breadcrumbs>

	        <router-outlet class="router-outlet"></router-outlet>
        </div>
    </div>

    <div class="spinner" *ngIf="true"></div>
</div>
