@import "~src/assets/scss/main";

//test.component.css content
:host {

  .app-body {
    background: $pale-grey;
    height: calc(100vh - #{rem(60px)});
    overflow: hidden;

    .main {
      // background: #00a3d5;
      // height: calc(100% - #{$baseHeaderHeight});
      height: 100%;
      overflow: auto;

    }
  }
}
