<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Resource Management.Create Event">
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..']">
                        <span translate="Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Create"></span>
                    </base-button>
                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab">

            <cxi-card name="create-shift"
                      size="full"
                      title="{{'Resource Management.Information'|translate}}"
                      justify="left">

                <div class="row p-20">
                    <div class="col-6">
                        <app-cxi-datetimepicker name="startTime"
                                                label="{{'Resource Management.Start Time'|translate}}"
                                                [(ngModel)]="event.start_time"
                                                [minDate]="minDate"
                                                required=""
                        ></app-cxi-datetimepicker>
                    </div>

                    <div class="col-6">
                        <app-cxi-datetimepicker name="endTime"
                                                label="{{'Resource Management.End Time'|translate}}"
                                                [(ngModel)]="event.end_time"
                                                [minDate]="event.start_time"
                                                required=""
                        ></app-cxi-datetimepicker>
                    </div>
                </div>

                <div class="row p-20">

                    <!--name-->
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <base-input-text name="name-{{lang.code}}"
                                                 label="{{ ('Resource Management.Title'|translate) + ' (' + lang.code + ')' }}"
                                                 required [maxLength]="255"
                                                 [(ngModel)]="event[lang.code].title"></base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>

                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <app-cxi-input-editor name="content-{{lang.code}}"
                                                      label="{{ ('Resource Management.Content'|translate) + ' (' + lang.code + ')' }}"
                                                      required
                                                      [(ngModel)]="event[lang.code].content"></app-cxi-input-editor>
                            </ng-template>
                        </ng-template>
                    </div>

                </div>
                <div class="row p-20">
                    <div class="col-12">
                        <app-cxi-upload-file name="image"
                                             label="{{'Resource Management.Content Image'|translate}}"
                                             [(ngModel)]="event.content_image"
                        ></app-cxi-upload-file>
                    </div>
                </div>

            </cxi-card>

        </cxi-language-left-sidebar>
    </form>
</div>
