<div class="list-wrapper">
  <div class="list-header">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <div class="title-header">Gift Cards Report</div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="btn-group">
          <div class="btn btn-default active">Day</div>
          <div class="btn btn-default">Week</div>
          <div class="btn btn-default">Month</div>
          <div class="btn btn-default">Year</div>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <div class="btn-group">
          <button class="btn btn-default" (click)="startDate()">
            Start Date
          </button>
          <button class="btn btn-default" (click)="endDate()">
            End Date
          </button>
          <button class="btn btn-default btn-single-icon" (click)="openDate()">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <div class="group-btn-discount">
          <button class="btn-setting btn btn-default">
            <i class="icon-settings"></i> <span>Print</span>
          </button>
          <button class="btn-setting btn btn-default">
            <i class="icon-settings"></i> <span>Export</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <base-table name="delivery" [config]="baseTableConfig" [rows]="delivery" [columns]="baseTableColumns">
        </base-table>
      </div>
    </div>
  </div>
</div>