<div class="create-wrapper">
    <form #createShiftForm="ngForm"
          class="form-create-outlet"
          (ngSubmit)="onSubmit()">

        <div class="create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Shift management.Add new Shift'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button"
                                     buttonStyle="btn-default btn"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!createShiftForm.form.valid">
                            <span>{{'Create'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab">

            <cxi-card name="create-shift"
                      size="md"
                      title="{{'Shift management.Create shift'|translate}}"
                      justify="left">

                <div class="row p-20">

                    <!--name-->
                    <div class="col-8">
                        <ng-template ngFor
                                     [ngForOf]="shift.translations"
                                     let-translation>
                            <ng-template [ngIf]="translation.locale === tab">
                                <base-input-text name="name"
                                                 label="{{ ('Shift management.Name'|translate) + ' (' + translation.locale + ')' }}"
                                                 required
                                                 [(ngModel)]="translation.name"></base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>

                    <!--background-->
                    <div class="col-4">
                        <cxi-color-picker name="background"
                                          label="{{'Shift management.Background color'|translate}}"
                                          [(ngModel)]="shift.backgroundColor"></cxi-color-picker>
                    </div>
                </div>

                <div class="row p-20">
                    <!--char-->
                    <div class="col-4">
                        <base-input-text name="char"
                                         label="{{'Shift management.Symbol'|translate}}"
                                         required
                                         [maxLength]="1"
                                         [(ngModel)]="shift.char"></base-input-text>
                    </div>
                </div>

                <!--start date-->
                <div class="row p-20">
                    <div class="col-6">
                        <base-datepicker name="start_date"
                                         label="{{'Shift management.Start date'|translate}}"
                                         [minDate]="today"
                                         (change)="onHandleChange()"
                                         [(ngModel)]="shift.startDate"></base-datepicker>
                    </div>

                    <div class="col-12">
                        <cxi-period-date name="period-date"
                                         labelTo="{{'To'|translate}}"
                                         [(ngModel)]="shift.periodDate"></cxi-period-date>
                    </div>
                </div>

                <!--repeat-->
                <div class="row p-20">
                    <div class="col-8">
                        <base-select name="repeat"
                                     bindValue="value"
                                     bindLabel="name"
                                     label="{{'Shift management.Repeat'|translate}}"
                                     [items]="repeats"
                                     [(ngModel)]="shift.repeatType"
                                     (change)="onChangeRepeatType()"></base-select>
                    </div>
                </div>

                <div class="row"
                     [ngbCollapse]="isCollapseShiftDaysOfWeek()">
                    <div class="col-12">
                        <app-cxi-days-of-week name="shift-days-of-week"
                                              [cols]="2"
                                              (daysOfWeekChange)="onHandleChange()"
                                              [(days)]="shift.days"></app-cxi-days-of-week>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <base-integer name="end-after"
                                      class="m-b-n"
                                      label="{{'Shift management.End after'|translate}}"
                                      [maxLength]="getMaxLengthEndAfter()"
                                      [(ngModel)]="shift.endAfter"
                                      (change)="onEndAfterChange()"
                                      [disabled]="isDisabledEndAfter()"></base-integer>
                    </div>
                    <div class="col-6">
                        <div class="cxi-label-value">
                            <span class="label">{{'Shift management.Occurrences'|translate}}</span>
                            <span class="value">
                                {{
                                '(' +
                                (
                                    estimate | baseDate
                                ) +
                                ')'
                                }}
                                </span>
                        </div>
                    </div>
                </div>
            </cxi-card>

        </cxi-language-left-sidebar>

    </form>
</div>
