<form #currencyForm="ngForm">
    <div class="modal-header modal-header-create-currency">
        <h4 class="title">{{'Currency.Add New Currency'|translate}}</h4>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close" (click)="cancel()">
            <i class="icon-close"></i>
        </button>
    </div>

    <div class="modal-body modal-body-create-currency">
        <div class="row p-20">
            <div class="col-12">
                <base-input-text name="iso-code"
                                 label="{{'Currency.ISO Code'|translate}}"
                                 [(ngModel)]="currency.code"
                                 required
                                 disabled></base-input-text>

            </div>
            <div class="col-12">
                <base-select name="currency"
                             label="{{'Currency.Currency name'|translate}}"
                             [items]="supportedCurrencies"
                             bindLabel="name"
                             bindValue="name"
                             [(ngModel)]="currency.name"
                             (change)="onChangeCurrency($event)"
                             required></base-select>

            </div>
        </div>

        <div class="row p-10">
            <div class="col-6">
                <base-input-text name="symbol"
                                 label="{{'Currency.Symbol'|translate}}"
                                 [(ngModel)]="currency.symbol"
                                 required
                                 disabled></base-input-text>

            </div>
            <div class="col-6">
                <base-input-text name="thousands_separator"
                                 label="{{'Currency.Thousands Separator'|translate}}"
                                 maxLength="1"
                                 [(ngModel)]="currency.thousands_separator"
                                 (change)="onChangeThousandsSeparator($event)"></base-input-text>

            </div>
            <div class="col-6">
                <base-input-text name="decimal_separator"
                                 label="{{'Currency.Decimal Separator'|translate}}"
                                 maxLength="1"
                                 [(ngModel)]="currency.decimal_separator"
                                 (change)="onChangeDecimalSeparator($event)"></base-input-text>

            </div>
            <div class="col-6">
                <base-integer name="decimal_places"
                              label="{{'Currency.Decimal Places'|translate}}"
                              maxLength="1"
                              [(ngModel)]="currency.decimal_places"
                              (change)="onChangeDecimalPlaces($event)"></base-integer>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <span class="preview">{{'Currency.Preview'|translate}}: </span>
                <span>{{ transformPreview() }}</span>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-create-currency">

        <base-button type="button"
                     buttonStyle="btn-default"
                     class="pull-left"
                     (click)="reset()">
            {{'Reset'|translate}}
        </base-button>

        <base-button type="submit"
                     buttonStyle="btn-primary"
                     class="pull-right"
                     (click)="yes()"
                     [disabled]="currencyForm.invalid || !isChanged">
            {{'Add'|translate}}
        </base-button>
    </div>
</form>
