<!--<div class="modal-header modal-header-discard text-center">
    <h4>Unsaved changes</h4>
</div>-->

<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body modal-body-discard">
    <h4 class="text-center">{{'Messages.Unsaved changes'|translate}}</h4>

    <p>{{'Messages.If you leave this page, any changes you have made will be lost. Are you sure you wish to leave this page ?'|translate}}</p>
</div>


<!--<div class="modal-footer modal-footer-discard">
    <button class="btn btn-warning" (click)="ok()">
        Discard changes
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Cancel</button>
</div>-->

<div class="modal-footer">
    <div class="button-group">
        <base-button type="button"
                     buttonStyle="btn-default"
                     (click)="no()">
            {{btnNo|translate}}
        </base-button>

        <base-button type="submit"
                     buttonStyle="btn-primary"
                     (click)="yes()">
            {{btnYes|translate}}
        </base-button>
    </div>
</div>
