<!--<pre>{{product|json}}</pre>-->
<!--<pre>{{superAttributes|json}}</pre>-->

<!--<pre>orderProduct: {{orderProduct|json}}</pre>-->
<!--<pre>currentOptionId:{{currentOptionId|json}}</pre>-->
<!--<pre>currentSuperAttributeId:{{currentSuperAttributeId|json}}</pre>-->


<!--Select Attributes & Check variants-->
<ng-template [ngIf]="!isSelectAddOn || !variant">
    <div class="select-variants">

        <!--title-->
        <div class="row m-b title-select-variants">
            <div class="col-12">
                <div class="product-info">
                    <div class="header">
                        <div class="image">
                            <cxi-image [src]="product.base_image"
                                       width="64"
                                       height="64"
                                       borderRadius="8"></cxi-image>
                        </div>
                        <div class="name">
                            {{ getProductName() }}
                        </div>
                    </div>
                </div>
            </div>


            <base-button name="add-order-product"
                         buttonStyle="btn btn-primary"
                         (click)="doneAddOrderProduct()"
                         [disabled]="disableButtonAddOrderProduct()">
                Add
            </base-button>
        </div>

        <!--Table-->
        <div class="row">
            <div class="col-12">
                <div class="product-details">
                    <table>

                        <!--Variants-->
                        <ng-template [ngIf]="product.variants && product.variants.length > 0">
                            <ng-template ngFor
                                         [ngForOf]="superAttributes"
                                         let-superAttribute
                                         let-j="index">
                                <tr>
                                    <td class="attribute">
                                        {{superAttribute.name}}
                                    </td>
                                    <td class="option">
                                        <cxi-options name="super-attributes-{{j}}"
                                                     [options]="superAttribute.options"
                                                     [(ngModel)]="selections[superAttribute.id]"
                                                     (change)="onChangeOption($event, superAttribute.id)"></cxi-options>
                                    </td>
                                    <td class="price"></td>
                                </tr>
                            </ng-template>
                        </ng-template>

                        <!--Quantity-->
                        <tr>
                            <td class="attribute">
                                Quantity
                            </td>
                            <td class="option">
                                <cxi-increase-decrease
                                    [min]="1"
                                    [max]="99"
                                    [(ngModel)]="orderProduct.qty_ordered"
                                    (change)="onChangeQuantity($event)"></cxi-increase-decrease>
                            </td>
                            <td class="price">
                                {{ getPriceProductOrVariant() }}đ
                            </td>
                        </tr>


                        <!--Add-on-->
                        <tr>
                            <td class="attribute">
                                Add-Ons
                            </td>
                            <td class="option">
                                <a class="add"
                                   [ngClass]="{'disabled': !variant}"
                                   (click)="addAddOn()">
                                    Add
                                </a>
                            </td>
                            <td class="price">
                                {{ calculatePriceOrderProductAddOns() }}đ
                            </td>
                        </tr>


                        <!--Add -on list-->
                        <ng-template [ngIf]="orderProduct.addons && orderProduct.addons.length > 0">
                            <ng-template ngFor
                                         [ngForOf]="orderProduct.addons"
                                         let-orderProductAddOn>
                                <tr class="add-ons-list">
                                    <td class="attribute-option" colspan="2">
                                        <a class="brd" (click)="removeAddOn(orderProductAddOn)">
                                            <i class="icon-close"></i>
                                        </a>
                                        {{ getNameOfOrderProductAddOn(orderProductAddOn) }}
                                    </td>
                                    <td class="price">
                                        {{ orderProductAddOn.total }}đ
                                    </td>
                                </tr>
                            </ng-template>

                            <!--span for add-on list-->
                            <tr class="span-for-add-ons-list">
                                <td colspan="3"></td>
                            </tr>
                        </ng-template>


                        <!--TOTAL-->
                        <tr>
                            <td class="total" colspan="2">
                                TOTAL
                            </td>
                            <td class="price total">
                                {{ getTotalProductOrVariant() }}đ
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!--Select Add-Ons-->
<ng-template [ngIf]="isSelectAddOn && variant">
    <div class="select-add-ons">
        <div class="title-add-ons">
            <a (click)="backToSelectVariant()">
                <i class="icon-arrow-left1"></i>
            </a>
            Add-Ons
        </div>

        <base-button name="add-add-on"
                     buttonStyle="btn btn-primary"
                     (click)="doneAddAddOn()">
            Add
        </base-button>


        <!--Table product-add-ons-->
        <div class="product-add-ons">
            <ng-template [ngIf]="variant">
                <table>
                    <!--Add-Ons-->
                    <ng-template [ngIf]="variant.addon_types">
                        <ng-template ngFor
                                     [ngForOf]="variant.addon_types"
                                     let-productAddOnType
                                     let-i="index">

                            <!--switch: display type-->
                            <tbody [ngSwitch]="getDisplayTypeOfProductAddOnType(productAddOnType)">

                            <!--Type = Multiple-->
                            <ng-template [ngSwitchCase]="'multiple'">

                                <!--add-on-types-->
                                <tr class="add-on-types">
                                    <td colspan="3" class="bold">
                                        {{ getNameOfProductAddOnType(productAddOnType) }}
                                    </td>
                                </tr>

                                <!--Add-Ons-->
                                <ng-template ngFor
                                             [ngForOf]="productAddOnType.addons"
                                             let-productAddOn
                                             let-j="index">


                                    <tr class="add-ons">
                                        <td>
                                            <base-checkbox name="select-add-on-{{i}}-{{j}}"
                                                           label="{{ getNameOfProductAddOn(productAddOn) }}"
                                                           [(ngModel)]="productAddOn.selected"></base-checkbox>

                                        </td>
                                        <td>
                                            <cxi-increase-decrease
                                                [(ngModel)]="productAddOn.quantity"></cxi-increase-decrease>
                                        </td>
                                        <td class="price">
                                            {{ calculatePriceAddOn(productAddOn) }}
                                        </td>
                                    </tr>

                                </ng-template>
                            </ng-template>


                            <!--true-false-->
                            <ng-template [ngSwitchCase]="'true-false'">
                                <!--add-on-types-->
                                <tr class="add-on-types">
                                    <td colspan="3" class="bold">
                                        {{ getNameOfProductAddOnType(productAddOnType) }}
                                    </td>
                                </tr>

                                <!--Add-Ons-->
                                <ng-template ngFor
                                             [ngForOf]="productAddOnType.addons"
                                             let-productAddOn
                                             let-j="index">


                                    <tr class="add-ons">
                                        <td>
                                            <base-checkbox name="select-add-on-{{i}}-{{j}}"
                                                           label="{{ getNameOfProductAddOn(productAddOn) }}"
                                                           [(ngModel)]="productAddOn.selected"></base-checkbox>
                                        </td>
                                        <td></td>
                                        <td class="price">
                                            {{ calculatePriceAddOn(productAddOn) }}
                                        </td>
                                    </tr>

                                </ng-template>
                            </ng-template>


                            <!--single-->
                            <ng-template [ngSwitchCase]="'single'">
                                <!--add-on-types-->
                                <tr class="add-on-types">
                                    <td class="bold">
                                        {{ getNameOfProductAddOnType(productAddOnType) }}
                                    </td>
                                    <td>
                                        <ng-template [ngIf]="productAddOnType.single_options">
                                            <cxi-options name="aot-{{i}}"
                                                         [options]="productAddOnType.single_options"
                                                         [(ngModel)]="productAddOnType.single_add_on_id"></cxi-options>
                                        </ng-template>
                                    </td>
                                    <td class="price">
                                        {{ calculatePriceAddOnTypeSingle(productAddOnType) }}
                                    </td>
                                </tr>
                            </ng-template>
                            </tbody>
                        </ng-template>
                    </ng-template>
                </table>
            </ng-template>
        </div>
    </div>
</ng-template>

