@import "~src/assets/scss/main";

.select-variants {
  .title-select-variants {
    position: relative;

    base-button {
      position: absolute;
      right: rem(20px);
      top: 0;
    }
  }

  .product-info {
    margin-bottom: rem(-24px);
    display: inline-flex;
    position: relative;
    padding-bottom: rem(24px);

    .header {
      position: relative;
      display: inline;

      .image {
        margin-right: rem(16px);
      }

      .image,
      .name {
        display: inline-block;
        float: left;
      }

      .name {
        @include fontSize(18px, 28px, bold);
        color: $grey-900;
      }
    }
  }
}


.product-details,
.product-add-ons {
  margin-left: rem(-20px);
  margin-right: rem(-20px);
}

table {
  width: 100%;
  @include fontSize(18px, 28px, bold);

  tr {
    > td {
      padding: rem(18px) rem(24px);
      border-top: rem(2px) solid $grey-100;

      &.price {
        text-align: right;
        color: $cool-gray;

        &.total {
          color: $grey-900;
          font-weight: bold;
        }
      }

      &.bold {
        font-weight: bold;
      }

      .add {
        color: $accent-500;

        &.disabled {
          pointer-events: none;
          color: $grey-100;
        }
      }

    }

    &.add-on-types {
      > td {
        padding-bottom: rem(10px);
      }
    }

    &.add-ons {
      > td {
        base-checkbox {
          float: left;
        }

        border-top: none;
        font-weight: normal;
        padding-top: rem(12px);
        padding-bottom: rem(20px);
      }
    }

    &.add-ons-list {
      > td {
        @include fontSize(16px, 24px, normal);
        padding: rem(8px) rem(20px);
        border-top: none;

        &.attribute-option {
          padding-left: rem(81px);
          position: relative;

          a.brd {
            border-left: rem(1px) solid $grey-100;
            display: block;
            height: rem(40px);
            //width: rem(1px);
            position: absolute;
            left: rem(24px);
            top: 0;

            padding: rem(8px) rem(0px) rem(8px) rem(16px);

            i {
              @include fontSize(24px, 24px);
            }
          }
        }
      }
    }

    &.span-for-add-ons-list {
      > td {
        border-top: none;
        padding: rem(8px);
      }
    }
  }
}

.title-add-ons {

  @include fontSize(16px, 24px);
  display: flex;
  font-weight: bold;
  color: $grey-900;
  margin-bottom: rem(24px);

  i {
    @include fontSize(24px, 24px);
    margin-right: rem(16px);
  }

}

.select-add-ons {
  base-button {
    position: absolute;
    top: rem(10px);
    right: rem(20px);
  }
}
