<!--variant-item-->
<ng-template [ngIf]="value">
    <div class="panel-body">
        <div class="row">
            <div class="col-12 variant-item">

                <div class="row p-20">
                    <!--name-->
                    <div class="col-4">
                        <base-input-text name="{{name}}-name"
                                         label="{{'Product.Variant name'|translate}}"
                                         [(ngModel)]="value.name"></base-input-text>
                    </div>
                    <!--price-->
                    <div class="col-4">
                        <base-monetary name="{{name}}-price"
                                       label="{{'Product.Price'|translate}}"
                                       [(ngModel)]="value.price"></base-monetary>
                    </div>
                    <!--status-->
                    <div class="col-4">
                        <base-switch name="{{name}}-status"
                                     label="{{'Product.Status'|translate}}"
                                     yesLabel="Active"
                                     [(ngModel)]="value.status">
                        </base-switch>
                    </div>
                </div>

                <!--variant-attributes-->
                <cxi-select-variant-attributes name="{{name}}-att"
                                               [attributes]="clonedAttributes"
                                               [superAttributes]="superAttributes"
                                               [disabled]="isDisabledAttributes()"
                                               [(ngModel)]="value.attributes"></cxi-select-variant-attributes>

                <!-- add-on types -->
                <cxi-select-variant-addon-types name="{{name}}-aot"
                                                [addOnTypes]="clonedAddOnTypes"
                                                [addOns]="addOns"
                                                [(ngModel)]="value.addon_types"></cxi-select-variant-addon-types>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <base-button name="{{name}}-add"
                     type="button"
                     buttonStyle="btn-primary"
                     icon="icon-add-new"
                     (click)="addVariant()">
            {{'Product.Add Variant'|translate}}
        </base-button>

        <base-button name="{{name}}-remove"
                     type="button"
                     buttonStyle="btn-default"
                     icon="icon-close"
                     (click)="removeVariant()">
            {{'Product.Remove Variant'|translate}}
        </base-button>
    </div>
</ng-template>
