<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Task Management.Edit Task">
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['../..']">
                        <span translate="Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Update"></span>
                    </base-button>
                </div>
            </div>
        </div>
        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab">

            <cxi-card name="create-shift"
                      size="md"
                      title="{{'Task Management.Information'|translate}}"
                      justify="left">

                <div class="row p-20">

                    <!--name-->
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="task.translations"
                                     let-translation>
                            <ng-template [ngIf]="translation.locale === tab">
                                <base-input-text name="name-{{translation.locale}}"
                                                 label="{{ ('Task Management.Name'|translate) + ' (' + translation.locale + ')' }}"
                                                 required
                                                 [(ngModel)]="translation.name"></base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>

                    <!--description-->
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="task.translations"
                                     let-translation>
                            <ng-template [ngIf]="translation.locale === tab">
                                <base-textarea name="description-{{translation.locale}}"
                                               label="{{ ('Task Management.Description'|translate) + ' (' + translation.locale + ')' }}"
                                               [maxLength]="500"
                                               [(ngModel)]="translation.description"></base-textarea>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>


            </cxi-card>

        </cxi-language-left-sidebar>
    </form>
</div>
