@import "~src/assets/scss/main";

.modal-header.modal-header-discard {
  display: block;
  text-align: center;
  border: 0px;
  padding-top: rem(30px);
  padding-bottom: rem(10px);

  h4 {
    font-size: rem(18px);
    font-weight: bold;
    color: #555;
  }
}

.modal-body-discard {
  text-align: center;
  padding: 0 rem(10px);
  border: 0px;

  p {
    margin: 0;
    font-size: rem(16px);
    color: #a9aaad;
  }
}

.modal-footer-discard {
  border: 0px;
  display: flex;
  justify-content: center;
  padding-top: rem(20px);
  padding-bottom: rem(30px);

  .btn {
    padding: rem(8px) rem(15px);
  }

  .btn-warning {
    color: #fff;
    background-color: #f3aa41;
  }

  .btn-defaul {
    background-color: #eee;
    border: 1px solid #ccc;
  }
}
