<div class="modal-header modal-header-discard text-center">
    <h4>Confirm Discard changes</h4>
</div>
<div class="modal-body modal-body-discard">
    <p>Are you sure you want to discard all changes to this page?</p>
</div>
<div class="modal-footer modal-footer-discard">
    <button class="btn btn-warning" (click)="ok()">
        Discard changes
    </button>
    <button type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="cancel()">
        Cancel
    </button>
</div>
