<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">
    {{label}}
</label>

<input type="{{type}}"
       name="{{name}}"
       id="{{name}}"
       class="form-control"
       [maxLength]="maxLength"
       [placeholder]="placeholder"
       [(ngModel)]="value"
       [ngClass]="{'invalid': (invalid | async)}"
       [disabled]="disabled"
       baseInteger/>

<validation-messages *ngIf="invalid | async"
                     [messages]="failures | async">
</validation-messages>
