<label *ngIf="label"
       class="text-uppercase">

    {{label | baseMakeTitle}}

</label>


<input [owlDateTime]="name"  (dateTimeChange)="onChange()" [disabled]="disabled" [owlDateTimeTrigger]="name" [max] ="maxDate" [min]="minDate" [(ngModel)]="value">
<owl-date-time [pickerType]="type" #name></owl-date-time>



