<div class="modal-header modal-header-status-confirmation">
    <div class="d-flex">
        <h4>Assign customer to salesman</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
            <i class="icon-close"></i>
        </button>
    </div>
</div>
<div class="modal-body modal-body-status-confirmation">
    <div class="col-6 offset-3">
        <input class="form-control form-control-salesman" type="text" name="search-user" placeholder="Search"
            (keyup)="onKey($event)" [(ngModel)]="key_search">
    </div>
    <div class="col-12 mt-10">
        <table class="table">
            <thead>
                <tr>
                    <th class="sortable" *ngFor="let item of filterTable;let i = index">
                        <label class="mg-0" (click)="showListOrder(item,i)">
                            {{item.name}}
                            <i *ngIf="item.isShowAsc && !item._disable" class="icon-dropdown"></i>
                            <i *ngIf="item.isShowDesc && !item._disable"
                                [class]="(!item.isShow)?'icon-arrow-up':'icon-arrow-down'"></i>
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of users;let i = index">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{(item.brand)?item.brand.name:''}} {{(item.outlet)?'/ '+ item.outlet.name:''}}</td>
                    <td>
                        <button class="btn btn-default btn-salesman" [disabled]="item.id == customers.salesman.id"
                            (click)="assignSalemans(item)">
                            <span *ngIf="item.id == customers.salesman.id">Assigned</span>
                            <span *ngIf="item.id !== customers.salesman.id">Assign</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="5" *ngIf="users.length <= 0">
                        No results found.
                    </td>
                </tr>
            </tbody>
        </table>
        <app-cxi-pagination (change)="onChangePagination()" [(currentPage)]="current_page" [(perPage)]="per_page"
            [(total)]="total"></app-cxi-pagination>
    </div>
</div>
<div class="modal-footer modal-status-confirmation"></div>