@import "~src/assets/scss/main";

.btn-salesman {
    background-color: #20275a;
    border-radius: 0.28571429rem;
    color: #ffffff;
    -webkit-box-align: center;
    align-items: center;
    font-family: "sfprotextregular";
    border: 1px solid #20275a;
    cursor: pointer;
    &:disabled{
        background-color: #20275a;
    }
}
h4 {
    font-size: 1.71428571rem;
    margin: 0;
    font-weight: normal;
    color: #20275a;
    font-family: "sfprotextbold";
}
.form-control-salesman {
    border-radius: rem(12px);
}