<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row bank">
            <div class="col-12">
                <base-input-text name="price"
                                 label="Chủ tài khoản"
                                 [(ngModel)]="value.owner"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <base-input-text name="price"
                                 label="Ngân hàng"
                                 [(ngModel)]="value.bank"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <base-input-text name="price"
                                 label="Số tài khoản"
                                 [(ngModel)]="value.accountNumber"
                >
                </base-input-text>
            </div>
        </div>
    </div>
</ng-template>
