<div class="chart-report">
    <div style="display: block">
        <canvas baseChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" height="100"
            [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>