@import "../../../../assets/scss/main";
.btn-date {
    min-width: rem(140px);
}

.date-start {
    position: absolute;
    top: rem(36px);

    input {
        display: none;
    }
}

.date-end {
    position: absolute;
    top: rem(36px);
    right: 0;

    input {
            display: none;
        }
}