<label *ngIf="label"
       class="text-uppercase">
    {{label|baseMakeTitle}}
</label>


<div class="increase">
    <a class="minus" (click)="dec()"
       [ngClass]="{'m-r-sm': !showValue}">
        <i class="icon-minus"></i>
    </a>

    <ng-template [ngIf]="showValue">
        <span class="value">{{value}}</span>
    </ng-template>

    <a class="plus" (click)="inc()">
        <i class="icon-add-new"></i>
    </a>
</div>
