@import "~src/assets/scss/main";

.increase {
  padding: rem(6px) 0;
  display: flex;

  a {
    float: left;

    &.minus {
      i {
        background: $red-050;
        color: $red-500;
      }
    }

    &.plus {
      i {
        background: $green-050;
        color: $green-500;
      }
    }

    i {
      width: rem(24px);
      height: rem(24px);
      border-radius: 50%;
      display: inline-block;

      text-align: center;
      @include fontSize(18px, 24px);
    }
  }


  .value {
    @include fontSize(14px, 20px);
    width: rem(30px);
    display: inline-block;
    text-align: center;
    padding: rem(2px) 0;
    float: left;
  }
}


