<div class="create-setting create-wrapper">
    <form #createSettingForm="ngForm"
          class="form-create-organization"
          (ngSubmit)="onSubmit()">
        <div class="create-setting-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Setting.Setting'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="submit"
                                 buttonStyle="btn btn-primary"
                                 [disabled]="!createSettingForm.form.valid || !isChangedData()">
                        <span>{{'Update'|translate}}</span>
                    </base-button>
                </div>
            </div>
        </div>

        <cxi-card name="setting-profile"
                  title="{{
                        (
                        currentScope === 'organizations'
                            ? 'Setting.Organization profile'
                            : (
                            currentScope === 'brands'
                                ? 'Setting.Brand profile'
                                :'Setting.Outlet profile'
                            )
                        ) | translate
                  }}"
                  hideCollapse="true">

            <!--Organizations-->
            <ng-template [ngIf]="userScope.organization !== null && userScope.brand === null">
                <div class="row p-20">
                    <div class="col-12">
                        <base-input-text name="name"
                                         label="{{'Setting.Organization Name'|translate}}:"
                                         [(ngModel)]="userScope.organization.name"></base-input-text>
                    </div>
                    <div class="col-6">
                        <base-input-text name="tax-code"
                                         label="{{'Setting.Tax code'|translate}}:"
                                         [(ngModel)]="userScope.organization.tax_code"></base-input-text>
                    </div>
                    <div class="col-6">
                        <base-input-text name="phone"
                                         label="{{'Setting.Phone'|translate}}:"
                                         [(ngModel)]="userScope.organization.phone">
                        </base-input-text>
                    </div>
                    <div class="col-6">
                        <base-integer name="max-brands"
                                      label="{{'Setting.Maximum Brands'|translate}}:"
                                      [(ngModel)]="userScope.organization.max_brands"
                                      disabled></base-integer>
                    </div>

                    <ng-template [ngIf]="userScope.organization && userScope.organization.website">
                        <div class="col-6">
                            <base-input-text name="app-id"
                                             label="{{'Setting.App ID'|translate}}:"
                                             [(ngModel)]="userScope.organization.website.app_id"
                                             disabled>
                            </base-input-text>
                        </div>
                    </ng-template>

                    <!--QR code-->
                    <ng-template [ngIf]="userScope.organization && userScope.organization.website && userScope.organization.website.app_id">
                        <div class="col-12">
                            <qrcode [qrdata]="userScope.organization.website.app_id"
                                    [width]="255"></qrcode>
                        </div>
                    </ng-template>

                    <div class="col-12">
                        <app-cxi-upload-files name="upload-img"
                                              class="m-b-n"
                                              (file)="onFileChanged($event)"
                                              [(ngModel)]="userScope.organization.images"></app-cxi-upload-files>
                    </div>
                </div>
            </ng-template>

            <!--brands-->
            <ng-template [ngIf]="userScope.brand !== null && userScope.outlet === null">
                <div class="row p-20">
                    <div class="col-12">
                        <base-input-text name="Brand"
                                         label="{{'Setting.Brand Name'|translate}}:"
                                         [(ngModel)]="userScope.brand.name">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="Contact"
                                         label="{{'Setting.Contact Name'|translate}}:"
                                         width="full"
                                         [(ngModel)]="userScope.brand.contact_name">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="email"
                                         label="{{'Setting.Contact Email'|translate}}:"
                                         [(ngModel)]="userScope.brand.contact_email">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="Hotline"
                                         label="{{'Setting.Hotline'|translate}}"
                                         [(ngModel)]="userScope.brand.contact_number">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="Website"
                                         label="{{'Setting.Website'|translate}}:"
                                         [(ngModel)]="userScope.brand.website">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <app-cxi-upload-files name="upload-img"
                                              class="m-b-n"
                                              (file)="onFileChanged($event)"
                                              [(ngModel)]="userScope.brand.images">
                        </app-cxi-upload-files>
                    </div>
                </div>
            </ng-template>

            <!--outlets-->
            <ng-template [ngIf]="userScope.outlet !== null">
                <div class="row p-20">
                    <div class="col-12">
                        <base-input-text name="Outlet"
                                         label="{{'Setting.Outlet Name'|translate}}:"
                                         [(ngModel)]="userScope.outlet.name">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="name"
                                         label="{{'Setting.Contact Name'|translate}}:"
                                         [(ngModel)]="userScope.outlet.contact_name">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="Contact Email"
                                         label="{{'Setting.Contact Email'|translate}}:"
                                         [(ngModel)]="userScope.outlet.contact_email">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="address"
                                         label="{{'Setting.Address'|translate}}:"
                                         [(ngModel)]="userScope.outlet.street">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="Hotline"
                                         class="m-b-n"
                                         label="{{'Setting.Hotline'|translate}}:"
                                         [(ngModel)]="userScope.outlet.contact_number">
                        </base-input-text>
                    </div>
                </div>
            </ng-template>
        </cxi-card>
    </form>
</div>
