@import "src/assets/scss/main";

.banner-link-item {
  padding: rem(10px);
  background: #f7f7f8;
  position: relative;

  .lft,
  .rgt {
    display: inline-block;
  }

  .lft {

  }

  .rgt {
    //width: rem($upl-width-col-2);
    //margin-left: $upl-m-l;

    width: calc(100% - #{rem(10px)} - #{rem(24px + 5px)});
    top: rem(10px);
    left: 0;
    padding-left: rem(140px + 10px + 10px);
    position: absolute;
  }

  cxi-icon-close {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
  }
}
