<ng-template ngFor
             [ngForOf]="value"
             let-bannerLink
             let-i="index">

    <div class="row m-b">
        <div class="col-12">
            <div class="banner-link-item">
                <div class="lft">
                    <app-cxi-upload-file name="{{name}}-{{i}}-upload-img"
                                         (file)="onFileChanged($event)"
                                         [(ngModel)]="bannerLink.image"></app-cxi-upload-file>
                </div>

                <div class="rgt">

                    <base-textarea name="{{name}}-{{i}}-link-to"
                                       label="{{'Banner.Link to'|translate}}"
                                       [(ngModel)]="bannerLink.link_to"></base-textarea>


                </div>


                <cxi-icon-close name="{{name}}-{{i}}-remove-outlets"
                                class="remove-outlets"
                                title="{{'Banner.Remove banner'|translate}}"
                                (click)="onRemoveBanner(i)"></cxi-icon-close>
            </div>
        </div>
    </div>

</ng-template>

<base-button name="{{name}}-add-link"
             buttonStyle="btn btn-primary"
             icon="icon-add-new"
             (click)="addNewBanner()">
    {{'Banner.Add Banner'|translate}}
</base-button>
