<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row sponsor">
            <div class="col-4">
                <base-input-text name="name"
                                 label="Name"
                                 [(ngModel)]="value.name"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="domain"
                                 label="Web URL"
                                 [(ngModel)]="value.domain"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-select name="rank"
                             bindValue="value"
                             bindLabel="name"
                             label="Level"
                             [items]="level"
                             [(ngModel)]="value.package"
                >
                </base-select>
            </div>
            <div class="col-12">
                <app-cxi-upload-file name="upload-img"
                                 (file)="onFileContent($event)"
                                 [(ngModel)]="value.file"
                ></app-cxi-upload-file>
            </div>
        </div>
    </div>
</ng-template>
