<div class="modal-header modal-header-status-confirmation">
    <h4>Attribute</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()"><i
        class="icon-close">
    </i>
    </button>
</div>
<div class="modal-body modal-body-status-confirmation">
    <base-select name="select" label="Select attribute"
                 [bindLabel]="'admin_name'" [bindValue]="'id'"
                 [items]="items" [multiple]="true"
                 [(ngModel)]="data"></base-select>
</div>


<div class="modal-footer modal-status-confirmation">
    <div class="button-group">

        <base-button type="submit"
                     buttonStyle="btn-primary"
                     (click)="yes()">
            {{btnYes}}
        </base-button>
    </div>
</div>
