<div class="cal-day-view">
    <div class="cal-day-header">
        <div class="filter-users">
            <div class="head-filter">
                <base-select name="staff"
                             bindValue="id"
                             bindLabel="name"
                             [items]="internalShiftItemDayUsers"
                             [clearable]="true"
                             [(ngModel)]="filterUserId"
                             (change)="onChangeFilterUser()"></base-select>
            </div>
        </div>
        <div class="hours">

            <perfect-scrollbar
                class="hidden-scroll-x"
                #perfectScrollbarDayHour
                [config]="perfectScrollbarConfigDayHour">

                <div class="hour-view">

                    <!--begin hours range-->
                    <ng-template ngFor
                                 [ngForOf]="hours"
                                 let-hour>
                        <!--hour-->
                        <div class="hour-item" id="hour-item">
                            <div class="hour">
                                <span class="h">{{hourTransform(hour)}}</span>
                                <span class="dl">{{daylight(hour)}}</span>
                            </div>
                        </div>
                        <!--end hour-->
                    </ng-template>
                    <!--end hours range-->

                    <!--timeline-->
                    <div class="timeline">
                        <div class="timeline-container">
                            <ng-template ngFor
                                         [ngForOf]="[1,2,3,4,5,6,7,8,9,10]"
                                         let-i="index">
                                <div class="now-axis"
                                     [style.top.rem]="getPositionTopNowAxis(i)"
                                     [style.left.rem]="getPositionLeftNowAxis()">
                                    <ng-template [ngIf]="i === 0">
                                            <span class="circle-white"
                                                  [style.top.rem]="getPositionTopNowAxisCircle(i)"></span>
                                        <span class="circle-black"
                                              [style.top.rem]="getPositionTopNowAxisCircle(i)"></span>
                                    </ng-template>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>

            </perfect-scrollbar>
        </div>
    </div>

    <div class="cal-day-body">

        <!--Begin Sidebar-->
        <div class="sidebar"
             [style.height.rem]="getBodyViewRange()">

            <perfect-scrollbar
                class="hidden-scroll-y"
                #perfectScrollbarSidebarUser
                [config]="perfectScrollbarConfigSidebarUser">
                <div class="sidebar-view"
                     [style.height.rem]="getBodyViewRange()">

                    <ng-template [ngIf]="internalShiftCalendarsDay && internalShiftCalendarsDay.length > 0">
                        <ng-template ngFor
                                     [ngForOf]="internalShiftCalendarsDay"
                                     let-shiftCalendar
                                     let-i="index">
                            <div class="user"
                                 [ngStyle]="getStyleRoleColor(shiftCalendar)">

                                <cxi-avatar-circle [src]="shiftCalendar.avatar"
                                                   height="32"
                                                   width="32"></cxi-avatar-circle>

                                <span class="user_name">
                                            {{ shiftCalendar.name | cxiCapitalize }}
                                        </span>

                                <!--Add a filter-->
                                <div class="pull-right">
                                    <div ngbDropdown
                                         #myDrop="ngbDropdown"
                                         class="d-block">
                                        <button class="btn btn-link"
                                                id="dropdownBasic1"
                                                ngbDropdownToggle>
                                            <i class="icon-more"></i>
                                        </button>
                                        <div ngbDropdownMenu
                                             aria-labelledby="dropdownBasic1"
                                             class="dropdown-menu dropdown-menu-right">
                                            <!--list shift blocks-->
                                            <perfect-scrollbar>
                                                <div class="list-shift-blocks">
                                                    <ng-template [ngIf]="shiftBlocks && shiftBlocks.length > 0">
                                                        <ng-template ngFor
                                                                     [ngForOf]="getAvailableShiftBlocks(shiftCalendar)"
                                                                     let-availableShiftBlock
                                                                     let-i="index">
                                                            <div ngbDropdownItem
                                                                 (click)="myDrop.close()"
                                                                 [disabled]="availableShiftBlock.selected">
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center"
                                                                    [ngClass]="{
                                                                        'disabled': availableShiftBlock._disabled
                                                                    }">
                                                                    <div class="text">
                                                                        <div class="d-block name">
                                                                            {{
                                                                            availableShiftBlock.name | cxiCapitalize
                                                                            }}
                                                                        </div>
                                                                        <span>
                                                                        {{
                                                                            availableShiftBlock.fromTime
                                                                            }}
                                                                            -
                                                                            {{
                                                                            availableShiftBlock.toTime
                                                                            }}
                                                                    </span>
                                                                    </div>
                                                                    <button class="btn btn-primary"
                                                                            [disabled]="availableShiftBlock._disabled"
                                                                            (click)="assignShiftForUser(availableShiftBlock, shiftCalendar)">
                                                                        {{
                                                                        (
                                                                            !availableShiftBlock._disabled
                                                                                ? 'Assign'
                                                                                : 'Assigned'
                                                                        ) | translate
                                                                        }}
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ng-template>
                                                    <ng-template
                                                        [ngIf]="!shiftBlocks || shiftBlocks.length === 0">
                                                        <div class="not-found">
                                                            {{'Messages.No results found'|translate}}
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </perfect-scrollbar>
                                            <!--end list shift blocks-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </perfect-scrollbar>
        </div>
        <!--End sidebar-->

        <!--Begin Body calendar-->
        <div class="body">

            <perfect-scrollbar
                (psScrollX)="onPsScrollX($event)"
                (psScrollY)="onPsScrollY($event)">
                <div class="body-view"
                     [style.height.rem]="getBodyViewRange()">

                    <div class="hours-range"
                         id="hours-range"
                         [style.height.rem]="getHeightHoursRange()">

                        <div class="events"
                             [style.height.rem]="getEventsHeight()">

                            <!--events range-->
                            <ng-template
                                [ngIf]="internalShiftCalendarsDay && internalShiftCalendarsDay.length > 0">
                                <ng-template ngFor
                                             [ngForOf]="internalShiftCalendarsDay"
                                             let-shiftCalendar
                                             let-i="index">
                                    <div class="event-item">
                                        <ng-template ngFor
                                                     [ngForOf]="hours"
                                                     let-hour>
                                            <!--grid-->
                                            <div class="grid">
                                                <div class="horizontal-left"></div>
                                                <div class="horizontal-right"></div>
                                            </div>
                                            <!--end grid-->
                                        </ng-template>

                                        <ng-template ngFor
                                                     [ngForOf]="shiftCalendar.shiftsItem"
                                                     let-shiftItem
                                                     let-j="index">
                                            <cxi-calendar-event
                                                name="{{name}}-shifts-{{shiftItem.id}}"
                                                [shiftItem]="shiftItem"
                                                [style.top.rem]="getPositionTopEvent(shiftItem, i)"
                                                [style.left.rem]="getPositionLeftEvent(shiftItem)"
                                                [width.rem]="getWidthEvent(shiftItem)"
                                                (removedShiftItem)="onRemovedShiftItem($event)">
                                            </cxi-calendar-event>
                                        </ng-template>
                                    </div>

                                </ng-template>
                            </ng-template>
                            <!--end events-->

                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <!--End Body calendar-->

    </div>
</div>
