@import "../../../../assets/scss/main";

// ==================  mixins  ==================

@mixin userColor($colorName) {
  $colors: (
    primary: $primary-500,
    accent: $accent-500
  );

  border-left: rem(3px) solid map-get($colors, $colorName);
}

// ==================  variables  ==================

// cell
$cal-cell-height: 56px;
$cal-cell-width: 56px;
$cal-cell-width-left: 28px;
$cal-cell-width-right: 28px;
$cal-cell-width-distance: 0px;

// timeline
$cal-now-axis-border: 2px;
$cal-now-axis-color: #212121;
$cal-now-axis-circle-width: 16px;
$cal-now-axis-circle-color: #e0e0e0;

$cal-sidebar-w: 300px;

// mix
$cal-border-radius: 4px;
$cal-border-color: #e0e0e0;

// ==================  css  ==================

.cal-day-view {
  border-bottom-left-radius: rem($cal-border-radius);
  border-bottom-right-radius: rem($cal-border-radius);
  overflow: hidden;

  .cal-day-header {
    height: rem($cal-cell-height);

    .filter-users {
      background: $white;
      width: rem($cal-sidebar-w);
      height: 100%;
      display: inline-block;
      border-left: rem(1px) solid $cal-border-color;
      border-right: rem(1px) solid $cal-border-color;
      border-bottom: rem(1px) solid $cal-border-color;
      float: left;

      .head-filter {
        padding: rem(10px);
        width: rem($cal-sidebar-w);
        height: rem($cal-cell-height);
        display: inline-block;
        float: left;

        border-bottom: rem(1px) solid $cal-border-color;
      }
    }

    .hours {
      height: rem(56px * (10 + 1));
      display: flex;
      background: $white;
      overflow-x: hidden;

      .hour-view {
        width: auto;
        height: rem(56px * (10 + 1));
        display: inline-flex;
        position: relative;

        .hour-item {
          display: inline-block;
          //margin-right: rem(24px);

          .hour {
            width: rem($cal-cell-width + $cal-cell-width-distance);
            height: rem($cal-cell-height);
            /* margin-right: 24px; */
            padding: rem(10px) rem(24px) rem(10px) 0;
            border-bottom: rem(1px) solid $cal-border-color;

            .h,
            .dl {
              width: rem($cal-cell-width);
              display: block;
              text-align: center;
            }

            .h {
              @include fontSize(16px, 24px, bold);
            }

            .dl {
              @include fontSize(10px, 12px);
            }
          }
        }

        .timeline {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: rem(56px * (10 + 1));

          .timeline-container {
            position: relative;
            height: 100%;

            .now-axis {
              width: rem($cal-now-axis-border);
              height: rem($cal-cell-height);
              display: inline-block;
              float: left;
              background: $cal-now-axis-color;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;

              .circle-white {
                width: rem($cal-now-axis-circle-width);
                height: rem($cal-now-axis-circle-width);
                border-radius: 50%;
                border: rem(1px) solid $cal-now-axis-circle-color;
                background: $white;
                position: absolute;
                margin-left: rem(-$cal-now-axis-circle-width/2 + $cal-now-axis-border/2);
              }

              .circle-black {
                width: rem($cal-now-axis-circle-width - 2px);
                height: rem($cal-now-axis-circle-width - 2px);
                border-radius: 50%;
                border: rem($cal-now-axis-circle-width/4 - 1px) solid $white;
                background: $black;
                position: absolute;
                left: rem(-$cal-now-axis-circle-width/2 + $cal-now-axis-border / 2 + 1px);
                margin-top: rem(1px);
              }
            }
          }
        }
      }
    }
  }

  .cal-day-body {
    display: flex;
  }

  // sidebar
  .sidebar {
    background: $white;
    width: rem($cal-sidebar-w);
    //min-height: 40rem;
    display: inline-block;

    //border-left: rem(1px) solid $cal-border-color;
    border-right: rem(1px) solid $cal-border-color;
    //border-bottom: rem(1px) solid $cal-border-color;

    float: left;

    .user {
      height: rem($cal-cell-height);
      display: inline-block;
      padding: rem(12px) rem(12px) rem(12px) rem(20px);
      width: 100%;

      border-left: rem(3px) solid $cal-border-color;
      border-bottom: rem(1px) solid $cal-border-color;

      position: relative;
      float: left;

      &.primary {
        @include userColor('primary');
      }

      &.accent {
        @include userColor('accent');
      }

      cxi-avatar-circle,
      .user_name {
        float: left;
      }

      .user_name {
        @include fontSize(14px, 20px);
        display: inline-block;
        margin-left: rem(10px);
        padding: rem(8px) 0;
      }

      &:hover {
        i.arrow {
          display: inline-block !important;
        }
      }

      i.arrow {
        @include fontSize(24px, 24px);
        padding: rem(8px);
        background: $primary-050;
        border-radius: 50%;
        color: $bss-input-bg;
        position: absolute;
        right: rem(5px);
        top: rem(8px);
        display: none;
        z-index: 111;
      }

      $dropdown-width: 290px;
      $dropdown-item-height: 64px;
      $dropdown-maximum-items: 5;
      $dropdown-scroll-view: $dropdown-item-height * $dropdown-maximum-items;

      .dropdown {
        margin: rem(4px) 0;

        .btn-link {
          color: $primary-400;

          width: rem(24px);
          height: rem(24px);
          border: none;
          padding: 0;

          &:hover {
            color: $primary-400;
            text-decoration: none;
          }

          .icon-more {
            @include fontSize(24px, 24px);
            display: block;
          }
        }

        .dropdown-toggle:after {
          display: none;
        }

        .dropdown-menu {
          padding: 0;
          width: rem($dropdown-width);
          margin-top: rem(10px);
          border: none;
          box-shadow: 0 rem(8px) rem(10px) 0 rgba(0, 0, 0, 0.1);
          border-radius: rem(4px);

          &.dropdown-menu-right {
            left: auto !important;
            right: 0;
          }

          .dropdown-item {
            padding: rem(14px) rem(29px) rem(14px - 1px) rem(14px);

            &:hover {
              background: #f5f5f5;
            }

            & + .dropdown-item {
              border-top: solid 1px #e0e0e0;
            }

            .text {

              .name {
                @include fontSize(14px, 20px);
                font-family: $font-sfprotext-bold
              }

              span {
                @include fontSize(10px, 16px);
              }
            }

            .disabled {
              .text {
                color: $grey-100;
              }
            }
          }

          .not-found {
            max-height: rem($dropdown-scroll-view);
            line-height: rem($dropdown-scroll-view);
            text-align: center;
          }
        }

        .list-shift-blocks {
          max-height: rem($dropdown-scroll-view);
        }
      }
    }
  }

  // body
  .body {
    width: calc(100% - #{rem($cal-sidebar-w)});
    height: rem(10 * $cal-cell-height);
    display: inherit;
    background: $white;
    //border-right: rem(1px) solid $cal-border-color;
    position: relative;
    float: left;

    .body-view {
      max-width: 100%;
      display: flex;
      // height: rem(10 * $cal-cell-height);
    }

    .hours-range {
      display: grid;
      float: left;
      width: 100%;
      //border-bottom: rem(1px) solid $cal-border-color;
      position: relative;

      .grid {
        height: rem($cal-cell-height);
        width: calc(#{rem($cal-cell-width)} + #{rem($cal-cell-width-distance)});
        display: flex;

        .horizontal-left {
          width: rem($cal-cell-width-left);
          height: rem($cal-cell-height);
          display: inline-block;
          float: left;

          border-right: rem(1px) solid $cal-border-color;
          border-bottom: rem(1px) solid $cal-border-color;
        }

        .horizontal-right {
          width: calc(#{rem($cal-cell-width-right)} + #{rem($cal-cell-width-distance)});
          height: rem($cal-cell-height);
          float: left;
          display: inline;

          border-bottom: rem(1px) solid $cal-border-color;
        }
      }

      .events {
        flex-wrap: wrap;
        height: rem($cal-cell-height);
        display: flex;

        position: relative;

        .event-item {
          display: flex;
        }

        cxi-calendar-event {
          position: absolute;
          top: 0;
          left: 0;
          margin: rem(8px) 0;
        }
      }
    }
  }
}
