<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row">
            <div class="col-12">
                <base-checkbox name="{{name}}-enable-promotion"
                               label="{{'Product.Enable for promotion'|translate}}"
                               [(ngModel)]="value.enable_promotion"></base-checkbox>
            </div>
        </div>

        <!--add-on-type-->
        <div class="row p-20">
            <div class="col-5">
                <base-select name="{{name}}-add-on-type"
                             label="{{'Product.Add-on type'|translate}}"
                             bindValue="id"
                             bindLabel="name"
                             [items]="addOnTypes"
                             [(ngModel)]="value.id"
                             (change)="onChangeVariantAddOnType($event)"></base-select>
            </div>

            <!--
            <div class="col-3">
                <base-select name="display-type"
                             label="display-type"
                             bindValue="value"
                             bindLabel="name"
                             [items]="productDisplayTypes"
                             [(ngModel)]="value.display_type"></base-select>
            </div>
            -->

            <ng-template [ngIf]="value.apply_same_price">
                <div class="col-3">
                    <base-monetary name="{{name}}-price"
                                   label="price"
                                   [(ngModel)]="value.price"></base-monetary>
                </div>
            </ng-template>
        </div>

        <!--apply-same-price-for-all-->
        <div class="row">
            <div class="col-12">
                <base-checkbox name="{{name}}-apply-same-price"
                               label="{{'Product.Apply same price for all'|translate}}"
                               [(ngModel)]="value.apply_same_price"
                               (change)="onChangeApplySamePriceForAll()"></base-checkbox>
            </div>
        </div>

        <!--allow-items-->
        <cxi-select-variant-addons name="{{name}}-ao"
                                   [addOns]="clonedAddOns"
                                   [applySamePrice]="value.apply_same_price"
                                   [(ngModel)]="value.addons"></cxi-select-variant-addons>
    </div>
</ng-template>


<!--<pre>{{value|json}}</pre>-->
<!--<pre>addOns:{{addOns|json}}</pre>-->
<!--<pre>clonedAddOns:{{clonedAddOns|json}}</pre>-->
