<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="title-header">Tables</div>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn-addnew btn btn-default" data-toggle="modal" data-target="#exampleModal"
          (click)="addNewTable()">
          <i class="icon-add-new"></i> <span>Add New Tables</span>
        </button>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <app-cxi-grid name="tables" [config]="cxiGridConfig" [columns]="cxiGridColumns"></app-cxi-grid>
      </div>
    </div>
  </div>
</div>
<app-create-tables *ngIf="dataTable"></app-create-tables>
<app-edit-tables *ngIf="isShow" [dataTable]="tables"></app-edit-tables>