<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">
  {{label|baseMakeTitle}}

  <cxi-required *ngIf="required"></cxi-required>
</label>

<input type="password"
       name="{{name}}"
       id="{{name}}"
       class="form-control"
       [maxLength]="maxLength"
       [placeholder]="placeholder"
       [(ngModel)]="value"
       [ngClass]="{'invalid': (invalid | async),
            'w-xxs': width === 'xxs',
            'w-xs': width === 'xs',
            'w-xss': width === 'xss',
            'w-xsm': width === 'xsm',
            'w-sm': width === 'sm',
            'w-md': width === 'md',
            'w-lg': width === 'lg',
            'w-xl': width === 'xl',
            'w-xxl': width === 'xxl',
            'w-full': width === 'full'
            }"
       (change)="onChange()"
       [required]="required"
       [disabled]="disabled"/>


<span *ngIf="(invalid | async) && model.control.touched"
      class="icon-valid">!</span>

<span *ngIf="icon" class="{{icon}}"></span>

<validation-messages *ngIf="(invalid | async) && model.control.touched"
                     [messages]="failures | async">
</validation-messages>

