<!--label-->
<cxi-label [name]="name"
            [label]="label"></cxi-label>

<!--Input-->
<input type="{{type}}"
       name="{{name}}"
       id="{{name}}"
       class="form-control"
       maxlength="2"
       [placeholder]="placeholder"
       [(ngModel)]="value"
       (change)="onChange()"
       [ngClass]="{'invalid': (invalid | async)}"
       basePercentage/>


<ng-template [ngIf]="showIncreasement">
    <cxi-increase-decrease class="increase-percentage"
                           min="0"
                           max="100"
                           [showValue]="false"
                           [(ngModel)]="value"></cxi-increase-decrease>
</ng-template>


<!--validation-messages-->
<validation-messages *ngIf="invalid | async"
                     [messages]="failures | async">
</validation-messages>
