<ng-template [ngIf]="value">
    <cxi-card title="{{'Order.Promotion'|translate}}">
        <div class="row p-20">
            <div class="col-6">
                <base-select name="promotion"
                             label="{{'Order.Promotion'|translate}}"
                             bindLabel="name"
                             bindValue="id"
                             [items]="promotions"
                             [(ngModel)]="value.promotion_id"
                             (change)="onChangePromotion($event)"></base-select>
            </div>

            <div class="col-6">
                <base-input-text name="discount_code"
                                 label="{{'Order.Discount code'|translate}}"
                                 [attr.placeholder]="'Order.Value'|translate"
                                 [(ngModel)]="value.code"
                                 disabled></base-input-text>
            </div>

            <div class="col-6">
                <base-input-text name="discount"
                                 label="{{'Order.Discount (%)'|translate}}"
                                 [attr.placeholder]="'Order.Value'|translate"
                                 [(ngModel)]="value.discount_amount"
                                 [disabled]="isDisabledDiscount()"></base-input-text>
            </div>

            <div class="col-6">
                <base-input-text name="maximum_discount"
                                 label="{{'Order.Maximum discount (VND)'|translate}}"
                                 [attr.placeholder]="'Order.Value'|translate"
                                 [(ngModel)]="value.maximum_discount"></base-input-text>
            </div>
        </div>
    </cxi-card>
</ng-template>

