@import "../../../../assets/scss/main";

.attribute-option-item {
  background: #f7f7f8;
  padding: rem(30px) rem(10px) rem(30px) rem(10px);

  position: relative;

  cxi-icon-close {
    position: absolute;
    top: rem(10px);
    right: rem(10px);
  }

  $w-item: 530px;
  $w-upload-file: 140px;
  $p-item: 10px;

  .upload-file-div {
    display: inline-flex;
    float: left;
  }

  .name {
    $m-l: 10px;
    $w: $w-item - (2 * $p-item) - $m-l - $w-upload-file;

    margin-left: rem($m-l);
    display: inline-block;
    width: rem($w);
    float: left;
  }
}
