<ng-template [ngIf]="value">

    <!--attribute-option-item-->
    <div class="attribute-option-item m-b-sm">
        <cxi-icon-close name="remove-attribute-option"
                        (click)="onRemove()"></cxi-icon-close>

        <div class="row m-b">
            <div class="col-12">
                <!--cxi-upload-file-->
                <div class="upload-file-div">
                    <app-cxi-upload-file name="{{name}}-upload-img"
                                         (file)="onFileChanged($event)"
                                         [(ngModel)]="value.image"></app-cxi-upload-file>
                </div>

                <div class="name">
                    <!--<base-textarea name="{{name}}-description"
                                       class="m-b-n"
                                       label="{{'Attribute.Description'|translate}}"
                                       rows="5"
                                       [resize]="false"
                                       [(ngModel)]="value.description"></base-textarea>-->
                    <app-cxi-input-editor name="{{name}}-description"
                                          class="m-b-n"
                                          label="{{ ('Attribute.Description'|translate) }}"
                                          [(ngModel)]="value.description"></app-cxi-input-editor>
                </div>
            </div>
        </div>

        <div class="row p-10">
            <div class="col-4">
                <base-input-text name="{{name}}-name"
                                 class="m-b-n"
                                 label="{{'Attribute.Value'|translate}}"
                                 [(ngModel)]="value.name"></base-input-text>
            </div>

            <!--Begin value by locale-->
            <ng-template ngFor
                         [ngForOf]="value.translations"
                         let-attributeOptionTranslation
                         let-i="index">
                <div class="col-8" *ngIf="showTranslate == attributeOptionTranslation.locale">
                    <base-input-text name="{{name}}-translations-{{i}}"
                                     class="m-b-n"
                                     label="{{attributeOptionTranslation.locale}}"
                                     [(ngModel)]="attributeOptionTranslation.label"></base-input-text>
                </div>
            </ng-template>
            <!--End value by locale-->

        </div>
    </div>
    <!--end attribute-option-item-->

</ng-template>
