<div class="modal-header modal-header-deactive">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"
            (click)="cancel()">
        <i class="icon-close"></i>
    </button>
</div>

<div class="modal-body modal-body-deactive">
    <h4>Deactivate</h4>
    <label>
        <input name="deactivate" type="radio"
               value="temporary"
               [(ngModel)]="deactivateUser.selection">
        This is temporary
    </label>

    <!--SELECT PERIOD-->
    <div class="form-group" *ngIf="deactivateUser.selection == 'temporary'">
        <label for="my-select">SELECT PERIOD</label>
        <select id="my-select" class="form-control" name="">
            <option>1</option>
            isShow
            <option>2</option>
            <option>3</option>
        </select>
    </div>

    <label>
        <input name="deactivate" type="radio"
               value="private"
               [(ngModel)]="deactivateUser.selection">
        I have a private concern of this user
    </label>

    <label>
        <input name="deactivate" type="radio"
               value="other"
               [(ngModel)]="deactivateUser.selection">
        Other, please explain further:
    </label>

    <div class="form-group" *ngIf="deactivateUser.selection == 'other'">
        <textarea name="explain" class="form-control" rows="3"
                  [(ngModel)]="deactivateUser.reason"></textarea>
    </div>
</div>

<div class="modal-footer modal-footer-deactive">
    <div class="button-group">
        <base-button type="button"
                     buttonStyle="btn-primary"
                     (click)="yes()">
            Deactivate
        </base-button>
        <base-button type="button"
                     buttonStyle="btn-default"
                     (click)="no()">
            Cancel
        </base-button>
    </div>
</div>
