@import "~src/assets/scss/main";

label {
  display: block;
  margin-bottom: rem(20px);
  cursor: pointer;
  font-size: rem(16px);
}

// radio
input[type=radio] {
  width: rem(18px);
  height: rem(18px);
  border-radius: 50%;
  border: rem(2px) solid #ccc;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  margin: rem(-2px) rem(7px) 0 0 !important;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
  box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
  outline: none !important;
  position: relative;

  &:disabled {
    background: #eee;
    opacity: 0.5;
  }

  &:after {
    content: '';
    position: absolute;
    left: rem(3px);
    top: rem(3px);
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background-color: $primary-800;

    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease;
    transform: scale(0.5);
  }

  &:before {
    animation: RadioRippleOn 700ms forwards ease-out;
    position: absolute;
    left: rem(3px);
    top: rem(3px);
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background-color: $primary-800;
    z-index: 1;
    opacity: 0;
    margin: 0;

  }

  &:checked {
    // background: $primary-800;
    border-color: $primary-800;

    &:before {
      content: "";
    }

    &:after {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}

.modal-header-deactive {
  border-bottom: 0;
  padding: rem(54px) rem(60px) 0 rem(60px);
}

.modal-body-deactive {
  padding: 0 rem(60px);

  h4 {
    font-size: rem(16px);
    font-weight: bold;
    margin-bottom: rem(20px);
  }
}

.modal-footer-deactive {
  padding: rem(40px) rem(60px);
  border-top: none;

  .button-group {
    width: 100%;

    base-button {
      width: calc(50% - #{rem(15px)});
      display: inline-grid;
    }
  }
}

//Animate
@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(8, 8);
  }
}

@keyframes RadioRippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(5, 5);
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(10, 10);
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 rem(2px) rgba(0, 0, 0, 0.1), 0 0 rem(10px) rem(10px) #f2f2f2, 0 0 0 rem(10px) rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 rem(2px) rgba(0, 0, 0, 0.1), 0 0 rem(10px) rem(10px) #f2f2f2, 0 0 0 rem(10px) rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
  }
}
