@import "../../../assets/scss/main";

//.holiday {
//  padding: rem(20px);
//  background: $bg-gray;
//
//  .title {
//    @include fontSize(16px, 24px, bold);
//    margin-bottom: rem(10px);
//  }
//
//  .sub-title {
//    @include fontSize(12px, 18px);
//    text-transform: uppercase;
//    margin-bottom: rem(12px);
//  }
//}
