<div class="create-wrapper">
    <form #createOutletForm="ngForm"
          class="form-create-outlet"
          (ngSubmit)="onSubmit()">
        <div class="create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Working Hour.Update Working Hours'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!createOutletForm.form.valid || !isChangedData()">
                            <span>
                                {{
                                (
                                    isEdit ? 'Save' : 'Create'
                                ) |translate
                                }}
                            </span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>


        <!--Working hours-->
        <cxi-card name="working-hours"
                  title="{{'Working Hour.Working Hours'|translate}}">
            <div class="row">
                <div class="col-12">

                    <!--start working-hours-items-->
                    <working-hours-items name="working-hour-items"
                                         [(ngModel)]="workingHour.data"></working-hours-items>
                    <!--end working-hour-items-->

                </div>
            </div>
        </cxi-card>


        <!--Exclude-->
        <cxi-card name="exclude"
                  title="{{'Working Hour.Exclude'|translate}}">

            <div class="row">
                <div class="col-12">

                    <!--start working-hours-items-->
                    <working-hours-excludes name="working-hours-excludes"
                                            [(ngModel)]="workingHour.excludeList"></working-hours-excludes>
                    <!--end working-hour-items-->

                </div>
            </div>
        </cxi-card>
    </form>
</div>

