<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">

    {{label | baseMakeTitle}}
</label>

<ngb-timepicker
        name="{{name}}"
        id="{{name}}"
        [spinners]="spinners"
        [(ngModel)]="value"></ngb-timepicker>

<validation-messages *ngIf="invalid | async"
                     [messages]="failures | async">
</validation-messages>
