<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row topic">
            <div class="col-12">
                <app-cxi-upload-file name="upload-img"
                                     (file)="onFileContent($event)"
                                     [(ngModel)]="value.image_id"
                                     required=""
                ></app-cxi-upload-file>
            </div>

            <div class="col-6">
                <base-input-text name="title_vi"
                                 label="Title (Vietnamese)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.title_vi"

                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="title_en"
                                 label="Title (English)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.title_en"

                >
                </base-input-text>
            </div>
        </div>
    </div>
</ng-template>
