@import "~src/assets/scss/main";

.multitab {
    margin-left: rem(-30px);
    margin-right: rem(-30px);
    border-bottom: rem(1px) solid $grey-100;
    margin-bottom: rem(20px);

    padding-left: rem(30px);
    padding-right: rem(30px);
    ul {
        li {
            &.active {
                border-bottom: rem(2px) solid $accent-500;
                a {
                color: $accent-500;
                font-weight: bold;
                }
            }

            a {
                color: $cool-gray;
                @include fontSize(14px, 20px);
                padding: rem(8px) rem(7px) rem(6px) rem(13px);
            }
        }
    }
}
