<div class="list-wrapper">
    <div class="list-header">
        <div class="row align-items-center">
            <div class="col-sm-3">
                <div class="title-header">Delivery Reports</div>
            </div>
            <div class="col-sm-9 text-right position-re">
                <div class="d-flex align-items-center text-right pull-right">
                    <button class="btn-setting btn btn-default">
                        <div class="dflex">
                            <i class="icon-settings"></i> <span>Print</span>
                        </div>
                    </button>
                    <div class="dropdow-export">
                        <button class="btn-setting btn btn-default export-btn">
                            <div class="dflex">
                                <i class="icon-settings"></i> <span>Export</span>
                            </div>
                        </button>
                        <div class="export">
                            <ul class="export-list">
                                <li>CSV</li>
                                <li>XLS</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn-addnew btn btn-default filters-report">
                        <i class="icon-filter"></i> <span>Filters</span>
                    </button>
                    <div class="filters">
                        <div class="row row-white">
                            <div class="col-sm-4 text-left border-right">
                                <h4>EMPLOYEES</h4>
                                <span>Type a name</span>
                                <base-radio name="baseRadio" [values]="baseRadioValues" [(ngModel)]="baseRadio">
                                </base-radio>
                            </div>
                            <div class="col-sm-4 text-left border-right">
                                <h4>POS Station</h4>
                                <span>Type a POS</span>
                                <base-radio name="baseRadio1" [values]="baseRadioValues1" [(ngModel)]="baseRadio1">
                                </base-radio>
                            </div>
                            <div class="col-sm-4 text-left border-right">
                                <h4>Action</h4>
                                <span>Type an action</span>
                                <base-radio name="baseRadio2" [values]="baseRadioValues2" [(ngModel)]="baseRadio2">
                                </base-radio>
                            </div>
                            <div class="col-sm-12 filters-btn">
                                <button class="btn-addnew btn btn-default">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-body mt-30">
        <div class="multitab">
            <ul class="nav nav-pills">
                <li *ngFor="let item of stepy;let i = index" (click)="change(item)"
                    [class]="(tab == item)?'active':'nav-item'">
                    <a class="nav-link"> {{stepy_info[item]}}</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12" *ngIf="tab == 'completed'">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>order <i class="icon-dropdown"></i></th> -->
                            <th>ORDER DETAIL <i class="icon-dropdown"></i></th>
                            <th>CUSTOMER <i class="icon-dropdown"></i></th>
                            <th>CALL CENTER <i class="icon-dropdown"></i></th>
                            <th>DRIVER <i class="icon-dropdown"></i></th>
                            <th>CREATED DATE <i class="icon-dropdown"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderCompleted;let i = index">
                            <!-- <td>{{item.id}}</td> -->
                            <td>
                                <div class="title-row" *ngIf="item.items && item.items != null">
                                    <div class="options">
                                        <ul class="list-group list-group-flush"
                                            *ngFor="let _item of item.items;let _i = index">
                                            <li class="list-group-item">{{_item.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.customer_last_name}} {{item.customer_first_name}}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>{{item.created_at| baseDate}}</td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="5" *ngIf="orderCompleted.length <= 0"> No results found.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-cxi-pagination *ngIf="orderCompleted.length >= 0" (change)="onChangePagination()"></app-cxi-pagination>
            </div>
            <div class="col-sm-12" *ngIf="tab == 'canceled'">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>order <i class="icon-dropdown"></i></th> -->
                            <th>ORDER DETAIL <i class="icon-dropdown"></i></th>
                            <th>CUSTOMER <i class="icon-dropdown"></i></th>
                            <th>CALL CENTER <i class="icon-dropdown"></i></th>
                            <th>DRIVER <i class="icon-dropdown"></i></th>
                            <th>CREATED DATE <i class="icon-dropdown"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderCanceled;let i = index">
                            <!-- <td>{{i+1}}</td> -->
                            <td>
                                <div class="title-row" *ngIf="item.items && item.items != null">
                                    <div class="options">
                                        <ul class="list-group list-group-flush"
                                            *ngFor="let _item of item.items;let _i = index">
                                            <li class="list-group-item">{{_item.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.customer_last_name}} {{item.customer_first_name}}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>{{item.created_at| baseDate}}</td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="5" *ngIf="orderCanceled.length <= 0"> No results found.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-cxi-pagination *ngIf="orderCanceled.length >= 0" (change)="onChangePagination()"></app-cxi-pagination>
            </div>
        </div>
    </div>
</div>