<div class="list-user list-wrapper">
    <div class="list-user-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">Organizations Management</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default"
                        [routerLink]="['../create']">
                    <i class="icon-add-new"></i> <span>New Organization</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-user-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid
                    name="list-organizations"
                    [config]="cxiGridConfig"
                    [columns]="columns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
