@import "~src/assets/scss/main";
.latest-comment {
    height: rem(378px);
    position: relative;

    .navigation {
      position: absolute;
      top: rem(20px);
      right: rem(20px);

      a {
        width: rem(24px);
        height: rem(24px);
        display: block;
        padding: rem(2px);
        float: right;

        & + a {
          margin-right: rem(5px);
        }

        &:hover {
          background: $grey-050;
        }

        &.disabled,
        &:disabled {
          i {
            color: $grey-100;
            cursor: not-allowed;
          }
        }

        &:active,
        &:focus {
          background: $grey-100;

          &.disabled,
          &:disabled {
            i {
              color: $grey-300;
            }
          }
        }

        i {
          @include fontSize(20px, 20px);
          font-weight: bold;
          color: $cool-gray;
          text-align: center;
        }
      }
    }

    .comment {
      .user-info {
        height: rem(32px);
        margin-bottom: rem(20px);

        .name-avatar {
          width: calc(100% - #{rem(26px)});
          display: inline-block;
          position: relative;

          img {
            margin-right: rem(10px);
          }

          .name {
            color: $grey-900;
            position: absolute;
            left: rem(42px);
            top: rem(-3px);
            @include fontSize(14px, 20px);
          }

          .date {
            color: $cool-gray;
            @include fontSize(12px, 18px);
            position: absolute;
            left: rem(42px);
            bottom: rem(-3px);
          }
        }

        .rating {
          float: right;
          padding: rem(7px) 0;
        }
      }

      .message {
        height: rem(200px);
        @include fontSize(14px, 20px);
        color: $grey-900;
      }
    }

    .reply {
      height: rem(60px);
      margin-left: rem(-20px);
      margin-right: rem(-20px);
      border-top: rem(2px) solid $grey-050;
      text-align: center;
      padding: rem(18px) 0;

      span {
        @include fontSize(16px, 24px);
        font-weight: bold;
        color: $cool-gray;
        display: inline-flex;
      }

      i {
        margin-right: rem(4px);
        color: $accent-500;
        @include fontSize(20px, 24px);
      }

    }
  }