<div class="base-panel latest-comment">
    <div class="title-panel" translate="dashboard.Latest comment"></div>

    <div class="navigation" *ngIf="latest_comments && latest_comments.length >0">
        <a>
            <i class="icon-arrow-right1"></i>
        </a>
        <a class="disabled" disabled>
            <i class="icon-arrow-left1"></i>
        </a>
    </div>

    <div class="comment" *ngIf="latest_comments && latest_comments.length >0">
        <div class="user-info">
            <div class="name-avatar">
                <img src="assets/img/demo/ava.png" alt="logo" width="32" height="32" />
                <span class="name">Marion Perez</span>
                <span class="date">1 min ago</span>
            </div>

            <!--<div class="rating">
                <span>4</span>
                <img src="star.png" alt="star" width="16" height="16">
            </div>-->

            <div class="rating">
                <cxi-rating-small [rating]="4"></cxi-rating-small>
            </div>
        </div>
        <div class="message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</p>
        </div>
    </div>
    <div *ngIf="latest_comments && latest_comments.length <= 0">
        <p>No comments yet !</p>
    </div>
    <div class="reply" *ngIf="latest_comments && latest_comments.length >0">
        <span>
            <i class="icon-reply"></i>
            <span translate="dashboard.Reply"></span>
        </span>
    </div>
</div>