@import '~src/assets/scss/main';

.rating {
  display: inline-block;

  span {
    @include fontSize(12px, 18px);
    margin-right: rem(2px);
    color: $cool-gray;
  }

  i {
    width: rem(18px);
    height: rem(18px);
    color: $yellow-500
  }

  &.only-icon-rating {
    .icon-star {
      @include fontSize(20px, 18px);
      &.i-rated {
        color: $yellow-500;
      }
    }
  }
}
