<div *ngIf="!onlyIcon" class="rating">
    <span>{{rating}}</span>
    <i class="icon-star"></i>
</div>
<div *ngIf="!!onlyIcon" class="rating only-icon-rating">
    <span class="icon-star"
          [ngClass]="{'i-rated': rating > 0}"></span>
          <!--[ngStyle]="{
          'background': 'linear-gradient(to right, '+color+' 100%, #989ca8 0%)',
          'background-size': percent+'%',
          'background-repeat': 'no-repeat',
          'background-position': 'left',
          'color': color }"></span>-->
    <span class="icon-star"
          [ngClass]="{'i-rated': rating > 1}"></span>
    <span class="icon-star"
          [ngClass]="{'i-rated': rating > 2}"></span>
    <span class="icon-star"
          [ngClass]="{'i-rated': rating > 3}"></span>
    <span class="icon-star"
          [ngClass]="{'i-rated': rating > 4}"></span>
</div>
