<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body">
    <p>Are you sure you want to cancel ?</p>
    <div class="form-group">
        <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
    </div>
</div>


<div class="modal-footer">
    <div class="button-group">
        <base-button type="button" buttonStyle="btn-default" (click)="no()">
            No
        </base-button>

        <base-button type="submit" buttonStyle="btn-primary" (click)="yes()">
            Yes
        </base-button>
    </div>
</div>
