@import "~src/assets/scss/main.scss";

.error-container {
    height: 100vh;
    width: 100%;
    display: table;
    .error-text {
        height: 100%;
        width: rem(220px);
        margin: 0 auto;
        // transform: translateY(50%);
        text-align: center;
        display: table-cell;
        vertical-align: middle
    }
}
