<div class="list-wrapper">
  <div class="list-header">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <div class="title-header">Invoice Reporting</div>
      </div>
      <div class="col-sm-8 text-right">
        <div class="btn-group mr-20">
          <div class="btn btn-default active">Day</div>
          <div class="btn btn-default">Week</div>
          <div class="btn btn-default">Month</div>
          <div class="btn btn-default">Year</div>
        </div>
        <div class="btn-group">
          <button class="btn btn-default">
            Start Date
          </button>
          <button class="btn btn-default">
            End Date
          </button>
          <button class="btn btn-default btn-single-icon">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-12 text-right mt-20">
        <button class="btn-setting btn btn-default">
          <div class="dflex">
            <i class="icon-print"></i> <span>Print</span>
          </div>
        </button>
        <button class="btn-setting btn btn-default ">
          <div class="dflex">
            <i class="icon-settings"></i> <span>Export</span>
          </div>
        </button>
        <button class="btn-addnew btn btn-default filters-report">
          <div class="dflex">
            <i class="icon-filter"></i> <span>Filters</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th># INVOICE <i class="icon-dropdown"></i></th>
              <th>CUSTOMER ID <i class="icon-dropdown"></i></th>
              <th>DATE <i class="icon-dropdown"></i></th>
              <th>AMOUNT DUE <i class="icon-dropdown"></i></th>
              <th>TOTAL PAID <i class="icon-dropdown"></i></th>
              <th>STATUS <i class="icon-dropdown"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>125</td>
              <td>A2Supply</td>
              <td>25/07/2019</td>
              <td>560.000</td>
              <td>200.000</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>125</td>
              <td>A2Supply</td>
              <td>25/07/2019</td>
              <td>560.000</td>
              <td>200.000</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>125</td>
              <td>A2Supply</td>
              <td>25/07/2019</td>
              <td>560.000</td>
              <td>200.000</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>125</td>
              <td>A2Supply</td>
              <td>25/07/2019</td>
              <td>560.000</td>
              <td>200.000</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>125</td>
              <td>A2Supply</td>
              <td>25/07/2019</td>
              <td>560.000</td>
              <td>200.000</td>
              <td>Paid</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>