<div class="app-layout">
    <!--Loading navigation-->
<!--    <div [hidden]="!loading" class="loader">-->
<!--        <h2>Loading...</h2>-->
<!--    </div>-->

    <!--Loading API -->
    <div class="loading-api">
        <ngx-spinner></ngx-spinner>
    </div>

    <div class="router-output">
        <router-outlet></router-outlet>
    </div>
</div>
