@import "~src/assets/scss/main";

//.loader {
//    height: 100vh;
//    width: 100%;
//    text-align: center;
//    display: table;
//    position: fixed;
//    top: 0;
//    right: 0;
//    left: 0;
//    bottom: 0;
//    background: $primary-500;
//
//    h2 {
//        vertical-align: middle;
//        line-height: normal;
//        display: table-cell;
//        color: $white;
//    }
//}
