<div id="time-str">
    <div class="mt-20" *ngFor="let item of weekly_schedules_clients;let i = index">
        <input class="time-pd" type="checkbox" [checked]="weekly_schedules_ar.indexOf(item) !== -1"
            (click)="checkDate(item,i)">{{item.day_name}}
        <div *ngIf="item.isShow">
            <div class="row mt-20">
                <div class="col-sm-6 positon-pr">
                    <input type="time" value="{{item.start}}" class="form-control" />
                    <button type="button" (click)="open(item)"><i class="icon-history"></i></button>
                </div>
                <div class="col-sm-6 positon-pr">
                    <input type="time" value="{{item.end}}" class="form-control" />
                    <button type="button" (click)="open1(item)"><i class="icon-history"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>