@import "~src/assets/scss/main";

.positon-pr {
    position: relative;
    .form-control {
      pointer-events: none;
    }
    button {
      position: absolute;
      top: 50%;
      right: 6%;
      transform: translate(0, -50%);
      background-color: $white;
      box-shadow: none;
      border: 0;
      i {
        font-size: 20px;
      }
    }
}