@import "~src/assets/scss/main";

.remove-item {
  position: relative;

  .remove {
    position: absolute;
    top: rem(26px);
    left: rem(10px);

    width: rem(24px);
    height: rem(24px);
    text-align: center;

    i {
      font-size: rem(24px);
      line-height: rem(24px);
      color: $red-500;
    }
  }
}
