<ng-template [ngIf]="value">
    <div class="row p-20">
        <div class="col-5">
            <base-select name="{{name}}-allow-items"
                         label="{{'Product.Allow items'|translate}}"
                         bindValue="id"
                         bindLabel="name"
                         [items]="addOns"
                         [(ngModel)]="value.id"
                         (change)="onChangeVariantAddon($event)"></base-select>
        </div>
        <div class="col-3" *ngIf="!applySamePrice">
            <base-monetary name="{{name}}-price"
                           label="{{'Product.Price'|translate}}"
                           [(ngModel)]="value.price"></base-monetary>
        </div>
        <div class="col-4 remove-item">
            <a class="remove" (click)="removeAddOn()">
                <i class="icon-close"></i>
            </a>
        </div>
    </div>
</ng-template>
