<div class="forgot-page">
    <!--Logo-->
    <app-logo></app-logo>

    <div class="forgot-screen">

        <div class="title-center">
            {{ 'ForgotPassword.Reset password'| translate }}
        </div>
        <div class="description">
            {{ 'ForgotPassword.We have sent a reset password email' | translate : {email: email} }}
        </div>

        <div class="description">
            {{ 'ForgotPassword.Didnt received the email yet? Please check your spam folder, or resend the email.' | translate : {email: email} }}
        </div>

        <form #forgotPassword="ngForm"
              class="form-forgot"
              novalidate>

            <div class="btn-group-auth">
                <button class="btn btn-block btn-auth"
                        (click)="submit()"
                        [disabled]="forgotPassword.invalid || loading || isDisabledResend">
                    {{
                    !isDisabledResend
                        ? ('Re-send' | translate)
                        : (
                            ('Re-send' | translate) + ' ' + (minutes$|async) + ':' + (seconds$|async)
                        )
                    }}
                </button>
            </div>

        </form>
    </div>
</div>
