<label *ngIf="label"
       class="text-uppercase">
    {{label|baseMakeTitle}}
</label>

<div class="base-selection">
    <div class="row p-0">
        <div class="col-12">
            <div class="head">
                <base-input-text name="search"
                                 [placeholder]="'Search'"
                                 [inputClass]="'selection-search'"
                                 [(ngModel)]="filterAttrs.value"></base-input-text>
            </div>
        </div>
    </div>


    <div class="row p-0 list-items">
        <div class="col-12">
            <div class="unselected">
                <ul>
                    <ng-template ngFor
                                 let-item
                                 [ngForOf]="items|baseFilterNotIncludeId:value|baseFilter:filterAttrs"
                                 let-i="index">
                        <li>
                            <div class="item-checkbox">
                                <base-checkbox name="{{i}}-check"
                                               label="{{item[bindLabel]}}"
                                               [(ngModel)]="internalValues[i]"
                                               (change)="onChange($event, item)"></base-checkbox>
                            </div>
                        </li>
                    </ng-template>
                    <li>
                        <div class="item-checkbox">
                            <base-checkbox name="check"
                                           (inputChange)="onInputCheckboxChange($event)"
                                           [allowInput]="true"></base-checkbox>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
