@import "~src/assets/scss/main";


.select-items-container {
  margin-left: rem(-12px);
}

.card-items {
  width: rem(1050px);
  padding: 0;
  margin: 0 auto;
  display: block;
  height: auto;

  .card-item {
    width: rem(126px);
    height: rem(202px);
    display: inline-block;
    float: left;

    margin-bottom: rem(24px);
    margin-left: rem(24px);

    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: rem(126px);
      height: rem(126px);

      border-top-left-radius: rem(8px);
      border-top-right-radius: rem(8px);
    }

    .description {
      display: inline-block;
      padding: rem(8px);

      background: white;
      border-bottom-left-radius: rem(8px);
      border-bottom-right-radius: rem(8px);

      width: 100%;
      height: rem(76px);

      .name {
        @include fontSize(14px, 20px);
        color: $grey-900;
      }
    }

    + .category-item {

    }
  }
  .remove-item {
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    z-index: 9;
  }
}
