<div class="select-items-container">
    <div class="card-items">
        <ng-template ngFor
                     [ngForOf]="items"
                     let-item
                     let-i="index">

            <div class="card-item"
                 (click)="selectItem(item)">
                <div class="avatar">
                    <cxi-image [src]="item.base_image"></cxi-image>
                </div>
                <div class="description">
                <span class="name">
                    {{item.name}}
                </span>
                    <ng-template [ngIf]="item.price">
                            <span class="price">
                                {{item.price}}
                            </span>
                    </ng-template>
                </div>
            </div>
        </ng-template>

    </div>
</div>
