<div class="edit-customer-level create-wrapper">
    <form #editCustomerLevelForm="ngForm"
          class="form-edit-customer-level"
          (ngSubmit)="save()">

        <div class="edit-customer-level-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        <i class="icon-navigation-left"></i>
                        Edit Customer Level
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <button class="btn btn-default btn-cancel"
                            (click)="cancel()">
                        <span>Cancel</span>
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-addnew"
                            [disabled]="!editCustomerLevelForm.form.valid">
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="edit-customer-level-body">
            <div class="title-body">Information</div>

            <!--name-->
            <div class="row">
                <div class="col-12">
                    <base-input-text name="name"
                                     label="name"
                                     [(ngModel)]="customerLevel.name"
                                     required>
                    </base-input-text>
                </div>
            </div>

            <!--description-->
            <div class="row">
                <div class="col-12">
                    <!--<base-input-text name="description"
                                     label="description"
                                     [(ngModel)]="customerLevel.description">
                    </base-input-text>-->
                    <app-cxi-input-editor name="description"
                                          label="{{'Customer level.Description'|translate}}"
                                          [(ngModel)]="customerLevel.description"></app-cxi-input-editor>
                </div>
            </div>

            <!--previous level-->
            <div class="row">
                <div class="col-12">
                    <base-select name="select_previous_edit"
                                 label="Previous Level"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="customerAvailable"
                                 [(ngModel)]="customerLevel.previous_id"
                    ></base-select>
                </div>
            </div>

            <!--brand-->
            <div class="row" *ngIf="!isBrand">
                <div class="col-12">
                    <base-select name="select_brand_edit"
                                 label="Brand"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="brands"
                                 [(ngModel)]="customerLevel.brand_id"
                    ></base-select>
                </div>
            </div>

            <!--conditions-->
            <div class="row">
                <div class="col-12">
                    <!--<base-conditions name="base-conditions"
                                     label="Condition"
                                     [attributes]="attributes"
                                     [operators]="operators"
                                     [(ngModel)]="customerLevel.conditions"></base-conditions>-->

                    <base-group-conditions name="base-conditions"
                                           label="Condition"
                                           [(ngModel)]="customerLevel.conditions"></base-group-conditions>
                </div>
            </div>
        </div>
    </form>
</div>
