@import "~src/assets/scss/main";

.edit-customer-level {

  .edit-customer-level-body {
    background-color: $white;
    width: rem(845px);
    margin: auto;
    padding: rem(20px);

    .title-body {
      font-size: rem(16px);
      font-family: $font-sfprotext-bold;
      line-height: 1.5;
      margin-bottom: rem(20px);
    }
  }
}
