<cxi-card title="{{ 'Order.Product Info' |translate }}"
          className="product-info"
          [size]="productInfoSize">

    <!--    <pre>{{productInfoSize|json}}</pre>-->
    <!--    <pre>{{order.items|json}}</pre>-->

    <ng-template [ngIf]="value && value.length">
        <div class="order-products-list">
            <table class="table">
                <thead>
                <tr>
                    <th (click)="orderBy('id')">
                        No.
                        <i [hidden]="columnName !== 'id'"
                           [ngClass]="{'icon-arrow-up': !reverse,'icon-arrow-down': reverse}"></i>
                        <i class="icon-dropdown" [hidden]="columnName === 'id'"></i>
                    </th>
                    <th (click)="orderBy('name')">
                        Product name
                        <i [hidden]="columnName !== 'name'"
                           [ngClass]="{'icon-arrow-up': !reverse,'icon-arrow-down': reverse}"></i>
                        <i class="icon-dropdown" [hidden]="columnName === 'name'"></i>
                    </th>
                    <th (click)="orderBy('price')">
                        Price
                        <i [hidden]="columnName !== 'price'"
                           [ngClass]="{'icon-arrow-up': !reverse,'icon-arrow-down': reverse}"></i>
                        <i class="icon-dropdown" [hidden]="columnName === 'price'"></i>
                    </th>
                    <ng-template [ngIf]="existItemHasAddons()">
                        <th (click)="orderBy('addOns')">
                            Add-ons
                            <i [hidden]="columnName !== 'addOns'"
                               [ngClass]="{'icon-arrow-up': !reverse,'icon-arrow-down': reverse}"></i>
                            <i class="icon-dropdown" [hidden]="columnName === 'addOns'"></i>
                        </th>
                    </ng-template>
                    <th (click)="orderBy('qty_ordered')">
                        Quantity
                        <i [hidden]="columnName !== 'qty_ordered'"
                           [ngClass]="{'icon-arrow-up': !reverse,'icon-arrow-down': reverse}"></i>
                        <i class="icon-dropdown" [hidden]="columnName === 'qty_ordered'"></i>
                    </th>
                    <th (click)="orderBy('total')">
                        Total price
                        <i [hidden]="columnName !== 'total'"
                           [ngClass]="{'icon-arrow-up': !reverse,'icon-arrow-down': reverse}"></i>
                        <i class="icon-dropdown" [hidden]="columnName === 'total'"></i>
                    </th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <ng-template ngFor
                             let-orderProduct
                             [ngForOf]="value"
                             let-i="index">
                    <tr>
                        <td>
                            <div class="title-row">
                                <div class="text text-ellipsis">
                                    {{ getValue(orderProduct, 'id') }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="title-row">
                                <div class="text text-ellipsis">
                                    {{ getValue(orderProduct, 'name') }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="title-row">
                                <div class="text text-ellipsis">
                                    <base-monetary name="order-product-price-{{i}}"
                                                   [(ngModel)]="orderProduct.price"
                                                   (change)="changePriceOfProduct(orderProduct)"></base-monetary>
                                </div>
                            </div>
                        </td>

                        <!--td addons list-->
                        <ng-template [ngIf]="existItemHasAddons()">
                            <td>
                                <div class="title-row">

                                    <!--add-ons-->
                                    <ng-template [ngIf]="getValue(orderProduct, 'addons')">
                                        <ul class="cxi-tag-option">
                                            <ng-template ngFor
                                                         [ngForOf]="getValue(orderProduct, 'addons')"
                                                         let-addOn
                                                         let-addOnIndex="index">
                                                <li class="tag-item-wrap"
                                                    [attr.data-index]="addOnIndex">
                                                    <div class="tag-item">
                                                        {{ addOn['qty_ordered'] + ' x ' + addOn['name'] }}
                                                    </div>
                                                </li>
                                            </ng-template>
                                        </ul>
                                    </ng-template>
                                    <!--add-ons-->

                                </div>
                            </td>
                        </ng-template>
                        <!--end td addons list-->

                        <td>
                            <div class="title-row">
                                <div class="text text-ellipsis">
                                    {{ getValue(orderProduct, 'qty_ordered') }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="title-row">
                                <div class="text text-ellipsis">
                                    {{ getValue(orderProduct, 'total') | baseMonetary }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <cxi-icon-close (click)="removeOrderProduct(orderProduct)"></cxi-icon-close>
                        </td>
                    </tr>
                </ng-template>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="3">
                        <base-button name="add-order-product-tb"
                                     buttonStyle="btn btn-primary"
                                     icon="icon-add-new"
                                     (click)="addProduct()">
                            {{'Order.Add Product'|translate}}
                        </base-button>
                    </td>
                    <ng-template [ngIf]="existItemHasAddons()">
                        <td></td>
                    </ng-template>
                    <td>
                        <span class="total text-uppercase">{{'Order.Total'|translate}}:</span>
                    </td>
                    <td>
                        <span class="total text-uppercase">
                            {{order.sub_total | baseMonetary }}
                        </span>
                    </td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </ng-template>

    <ng-template [ngIf]="!value || !value.length">
        <div class="button-group">
            <base-button name="add-product"
                         buttonStyle="btn btn-primary"
                         icon="icon-add-new"
                         (click)="addProduct()">
                {{'Order.Add Product'|translate}}
            </base-button>
        </div>
    </ng-template>
</cxi-card>
