<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">
        <!--enable-for-promotion-->
        <div class="row event-timeline">
            <div class="col-4">
                <base-input-text name="fist_name"
                                 label="{{'Order.First Name'|translate}}"
                                 [(ngModel)]="value.customer_first_name"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="last_name"
                                 label="{{'Order.Last Name'|translate}}"
                                 [(ngModel)]="value.customer_last_name"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="email"
                                 label="{{'Order.Email Address'|translate}}"
                                 [(ngModel)]="value.customer_email"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="phone_number"
                                 label="{{'Order.Phone Number'|translate}}"
                                 [(ngModel)]="value.customer_phone"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <app-cxi-datetimepicker name="date"
                                        label="{{'Order.DOB'|translate}}"
                                        [type]="'calendar'"
                                        [minDate]="minDate"
                                        [maxDate]="value.customer_date_of_certification ? value.customer_date_of_certification : maxDate"
                                        [(ngModel)]="value.customer_dob"
                ></app-cxi-datetimepicker>

            </div>
            <div class="col-4">
                <base-select name="gender"
                             label="{{'Order.Gender'|translate}}"
                             [items]="genders"
                             [bindLabel]="'name'"
                             [bindValue]="'value'"
                             [(ngModel)]="value.customer_gender"
                             width="full">
                </base-select>
            </div>
            <div class="col-4">
                <base-input-text name="degree"
                                 label="{{'Order.Postgraduate degree'|translate}}"
                                 [(ngModel)]="value.customer_degree"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="position"
                                 label="{{'Order.Certificate'|translate}}"
                                 [(ngModel)]="value.customer_position"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="company"
                                 label="{{'Order.Work unit'|translate}}"
                                 [(ngModel)]="value.customer_company"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="certification"
                                 label="{{'Order.Practicing certificate number'|translate}}"
                                 [(ngModel)]="value.customer_certification"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <app-cxi-datetimepicker name="dateOfCertification"
                                        label="{{'Order.Date range'|translate}}"
                                        [type]="'calendar'"
                                        [minDate]="minDate"
                                        [maxDate]="maxDate"
                                        [(ngModel)]="value.customer_date_of_certification"
                ></app-cxi-datetimepicker>
            </div>
            <div class="col-4">
                <!--<base-select name="placeOfCertification"-->
                <!--label="Nơi cấp"-->
                <!--[items]="listCountry"-->
                <!--[bindLabel]="'name'"-->
                <!--[bindValue]="'value'"-->
                <!--[(ngModel)]="value.placeOfCertification"-->
                <!--width="full">-->
                <!--</base-select>-->
                <base-input-text name="certification"
                                 label="{{'Order.Issued by'|translate}}"
                                 [(ngModel)]="value.certification"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <p>{{'Order.Attach a file of college diploma and Practicing certificate'|translate}}</p>
                <app-cxi-booking-upload-multi-images name="upload-img"
                                                     (file)="onFileContent($event)"
                                                     [(ngModel)]="value.file"
                ></app-cxi-booking-upload-multi-images>
            </div>

        </div>
    </div>
</ng-template>
