<ng-template [ngIf]="orderDriver">
    <cxi-card title="{{'Order.Driver Information'|translate}}"
              className="delivery-information"
              badge="{{
                        (
                            (delivery && delivery.driver_confirmed)
                                ? 'Order.Delivery.Confirmed'
                                : 'Order.Delivery.Not confirmed'
                        ) | translate
                    }}">


        <!--Info-->
        <ng-template [ngIf]="orderDriver.id">

            <!--Driver info-->
            <div class="row p-20">

                <!--deliver_id-->
                <div class="col-6">
                    <base-input-text name="assign-driver"
                                     label="{{'Order.Assign Driver'|translate}}"
                                     [(ngModel)]="orderDriver.name"
                                     disabled></base-input-text>
                </div>

                <!--phone number-->
                <div class="col-6">
                    <base-input-text name="phone-number"
                                     label="{{'Order.Phone Number'|translate}}"
                                     [(ngModel)]="orderDriver.phone"
                                     disabled></base-input-text>
                </div>

                <!--email-->
                <div class="col-6">
                    <base-input-text name="email"
                                     label="{{'Order.Email'|translate}}"
                                     [(ngModel)]="orderDriver.email"
                                     disabled></base-input-text>
                </div>

                <!--outlet-->
                <div class="col-6">
                    <base-input-text name="outlet"
                                     label="{{'Order.Outlet'|translate}}"
                                     [(ngModel)]="orderDriver.outlet"
                                     disabled></base-input-text>
                </div>

            </div>
        </ng-template>

        <!--Add & Edit-->
        <div class="button-group">
            <base-button name="add-customer"
                         buttonStyle="btn btn-primary"
                         (click)="addDriver()"
                         [disabled]="isDisabledAddDriver()">
                {{
                (
                    orderDriver.id
                        ? 'Order.Edit driver'
                        : 'Order.Add driver'
                ) | translate
                }}
            </base-button>
        </div>
    </cxi-card>
</ng-template>
