@import "~src/assets/scss/main";


.search-bar {
  width: rem(373px);

  display: block;
  margin: 0 auto rem(20px);

  input {
    color: $cool-gray;
    width: 100%;
    text-align: center;
    border-radius: rem(20px);
    background-color: $grey-050;
    height: rem(36px);
    border: none;
    box-shadow: none;

    &.empty {
      background-image: url('../../../assets/img/search2.png');
      background-repeat: no-repeat;
      background-position: rem(152px) center;
      background-size: rem(14px) rem(14px);
      text-indent: rem(171px);
      text-align: left;
    }

    &::-webkit-input-placeholder {
      color: $primary-050;
    }

    &::-moz-placeholder {
      color: $primary-050;
    }

    &:-ms-input-placeholder {
      color: $primary-050;
    }
  }
}

