@import "~src/assets/scss/main";

.reset-password-page {

  .change-pass-screen {
    padding: rem(214px) rem(20px) rem(30px) rem(20px);
    color: $white;

    .logo {
      text-align: center;

      a {
        display: block;

        img {
          width: rem(133px);
          height: rem(22px);
          text-decoration: none;
        }
      }
    }

    .title-center {
      text-align: center;
      font-size: rem(36px);
      line-height: rem(44px);
      color: $white;
      font-weight: 600;
      margin-bottom: rem(20px);
    }

    .form-login {
      margin-top: rem(51px);
    }


    .btn-group-auth {
      margin-top: rem(60px);

      .btn-auth {
        @include fontSize(14px, 20px);
        padding-top: rem(14px);
        padding-bottom: rem(14px);
        height: rem(48px);
      }
    }
  }
}

/*Responsive*/

@media screen and (min-width: 768px) {
  .change-pass-screen {
    padding: 5rem rem(15px) rem(70px) rem(15px);
    max-width: rem(440px);
    margin: 0 auto;

    .logo {
      a {
        img {
          width: rem(200px);
          height: rem(32px);
        }
      }
    }

    .title-center {
      text-align: center;
      font-size: rem(36px);
      line-height: rem(44px);
    }

    .img-center {
      margin-top: rem(50px);
    }

    .form-login {
      margin-top: rem(50px);
    }
  }
}
