<div class="reset-password-page">

    <!--Logo-->
    <app-logo></app-logo>

    <div class="change-pass-screen">

        <div class="title-center">
            {{ 'ResetPassword.Reset Password'| translate }}
        </div>
        <div class="description" hidden>
            {{ 'ResetPassword.Reset Password' | translate }}
        </div>

        <form #resetPasswordForm="ngForm"
              class="form-login">

            <div class="form-group">
                <label class="text-capitalize"
                       for="password"
                       hidden>
                    {{ 'ResetPassword.New password' | translate }}
                </label>
                <input type="password"
                       id="password"
                       name="newPassword"
                       class="lg"
                       placeholder="New password"
                       [attr.placeholder]="'ResetPassword.New password' | translate"
                       [(ngModel)]="password"
                       appComparePassword="confirmPassword"
                       reverse="true"
                       required>
            </div>

            <div class="form-group">
                <label class="text-capitalize"
                       for="confirmPassword"
                       hidden>
                    {{ 'ResetPassword.Confirm password' | translate }}
                </label>
                <input type="password"
                       [attr.placeholder]="'ResetPassword.Confirm password' | translate"
                       id="confirmPassword"
                       name="confirmPassword"
                       title="Confirm password"
                       class="lg"
                       [(ngModel)]="password_confirmation"
                       appComparePassword="newPassword"
                       required>
            </div>

            <div class="btn-group-auth">
                <button type="submit"
                        class="btn btn-block btn-primary btn-auth"
                        [disabled]="resetPasswordForm.invalid"
                        (click)="submit()">
                    {{ 'ResetPassword.OK' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>
