<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-product" (ngSubmit)="onSubmit()">

        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Product.Create New Product'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <button type="button" class="btn btn-default" (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </button>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="!createProductForm.form.valid">
                            <span>{{'Create'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab"
                                   (tabChange)="onTabChange($event)">

            <ng-template [ngIf]="schemaProduct && schemaProduct.configurable">

                <!--Select product type-->
                <cxi-card title="{{'Product.Select product type'|translate}}"
                          className="select-product-type">

                    <!--product-type-->
                    <div class="row">
                        <div class="col-4">
                            <base-select name="product-type" class="m-b-n"
                                         label="{{'Product.Product type'|translate}}"
                                         bindLabel="name"
                                         bindValue="id"
                                         [items]="productTypes"
                                         [(ngModel)]="product.type">
                            </base-select>
                        </div>
                    </div>
                </cxi-card>
            </ng-template>

            <!--Product Information-->
            <cxi-card title="{{'Product.Product Information'|translate}}"
                      className="product-information">

                <!--SKU-->
                <div class="row">
                    <div class="col-12">
                        <base-input-text name="sku" label="{{'Product.SKU'|translate}}"
                                         [(ngModel)]="product.sku"
                                         required=""></base-input-text>
                    </div>
                </div>

                <!--Sold out-->
                <div class="row">
                    <div class="col-6">
                        <base-checkbox name="sold_out"
                                       label="{{'Product.Sold Out'|translate}}"
                                       [(ngModel)]="product.sold_out"></base-checkbox>
                    </div>
                    <div class="col-6">
                        <base-checkbox name="is_stand_out"
                                       label="{{'Product.Mark as Feature'|translate}}"
                                       [(ngModel)]="product.is_stand_out"></base-checkbox>
                    </div>
                </div>

                <!--product name-->
                <div class="row">
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <base-input-text
                                    name="{{'name-'+lang.code}}"
                                    label="{{ ('Product.Product name'|translate) + ' (' + lang.code + ')'}}"
                                    [(ngModel)]="product[lang.code].name"
                                    required=""></base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>

                <!--price & status-->
                <ng-template [ngIf]="product.type==='combo'">
                    <!--status-->
                    <div class="row p-20">
                        <div class="col-6">
                            <base-switch name="status" label="{{'Product.Status'|translate}}"
                                         yesLabel="{{'Apply'|translate}}" noLabel="{{'Apply'|translate}}"
                                         [(ngModel)]="product.status">
                            </base-switch>
                        </div>
                    </div>
                    <!--price-->
                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="price-type" label="{{'Product.Price'|translate}}"
                                         bindLabel="name"
                                         bindValue="id" [items]="priceTypes"
                                         [(ngModel)]="product.price_type"></base-select>
                        </div>
                        <ng-template [ngIf]="product.price_type === 'fixed'">
                            <div class="col-6">
                                <base-monetary name="price" label="" [(ngModel)]="product.price">
                                </base-monetary>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
                <ng-template [ngIf]="product.type!=='combo'">
                    <div class="row p-20">
                        <div class="col-6">
                            <base-monetary name="price" label="{{'Product.Price'|translate}}"
                                           [(ngModel)]="product.price">
                            </base-monetary>
                        </div>
                        <div class="col-6">
                            <base-switch name="status" label="{{'Product.Status'|translate}}" yesLabel="Apply"
                                         noLabel="Apply" [(ngModel)]="product.status">
                            </base-switch>
                        </div>
                    </div>
                </ng-template>

                <!--description-->
                <div class="row">
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <app-cxi-input-editor
                                    name="{{ 'description-' + lang.code }}"
                                    label="{{ ('Product.Description'|translate) + ' (' + lang.code + ')' }}"
                                    [(ngModel)]="product[lang.code].description"></app-cxi-input-editor>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>

                <!--upload file-->
                <div class="row">
                    <div class="col-12">
                        <app-cxi-upload-file name="create-cover-image"
                                             label="{{'Product.Cover Image'|translate}}"
                                             (file)="onFileChanged($event)"
                                             [(ngModel)]="product.cover_image"></app-cxi-upload-file>
                    </div>
                    <div class="col-12">
                        <app-cxi-upload-file name="create-display-image"
                                             label="{{'Product.Display Image'|translate}}"
                                             (file)="onFileChanged($event)"
                                             [(ngModel)]="product.display_image"></app-cxi-upload-file>
                    </div>
                    <div class="col-12">
                        <app-upload-files name="create-upload-img"
                                          label="{{'Product.Images'|translate}}"
                                          (file)="onFileChanged($event)"
                                          [(ngModel)]="product.images"></app-upload-files>
                    </div>
                </div>
            </cxi-card>

            <!--Select category-->
            <cxi-card title="{{'Product.Select category'|translate}}" className="select-category">
                <div class="row">
                    <div class="col-12">
                        <!--<pre>{{product.categories|json}}</pre>-->

                        <cxi-select-simple name="categories" label="{{'Product.Categories'|translate}}"
                                           bindLabel="name" bindValue="id" [isTree]="true" [isSelectItem]="true"
                                           subLabel="{{'Product.Sub categories'|translate}}"
                                           btnAddSubLabel="{{'Product.Add Sub Category'|translate}}"
                                           btnAddLabel="{{'Product.Add Category'|translate}}"
                                           [items]="categories"
                                           [(ngModel)]="product.categories"></cxi-select-simple>
                    </div>
                </div>
            </cxi-card>
            <!--                <pre>{{product.categories|json}}</pre>-->

            <!--show add-on-->
            <ng-template [ngIf]="schemaProduct && schemaProduct['add-on']">

                <!--Select Add-On Types-->
                <ng-template [ngIf]="product.type === 'simple'">
                    <cxi-card title="{{'Product.Select Add-On Types'|translate}}" className="select-add-on-types">

                        <!-- add-on types -->
                        <cxi-select-variant-addon-types name="product-aot" [addOnTypes]="addOnTypes"
                                                        [addOns]="addOns"
                                                        [(ngModel)]="product.addon_types"></cxi-select-variant-addon-types>
                    </cxi-card>
                </ng-template>
            </ng-template>

            <!--Select Variant-->
            <ng-template [ngIf]="product.type === 'configurable'">
                <cxi-select-variants name="variants" [attributes]="attributes" [addOnTypes]="addOnTypes"
                                     [addOns]="addOns" [(superAttributes)]="product.super_attributes"
                                     [(ngModel)]="product.variants">
                </cxi-select-variants>

                <!--                        <pre>{{product.super_attributes|json}}</pre>-->
            </ng-template>

            <!--Combo: products-list-->
            <ng-template [ngIf]="product.type === 'combo'">

                <cxi-select-combo name="product-combo" [products]="products" [addOnTypes]="addOnTypes"
                                  [addOns]="addOns" [priceType]="product.price_type"
                                  [(ngModel)]="product.combos">
                </cxi-select-combo>

            </ng-template>


            <!--Select application scope-->
            <cxi-select-application-scope name="create-product-as" [(brandId)]="product.brand_id"
                                          [(outletsQuantities)]="product.outlets"
                                          [(applicationScope)]="product.application_scope">
            </cxi-select-application-scope>
        </cxi-language-left-sidebar>
    </form>
</div>
