<ng-template [ngIf]="src || (!firstName && !lastName)">
    <img class="avatar img-fluid"
         title="{{fullName}}"
         [src]="src"
         (error)="errorHandler($event)"
         [ngStyle]="getStyleImgAvatar()">
</ng-template>

<ng-template [ngIf]="!src && (firstName || lastName)">
    <div class="avatar-name"
         [style.width.rem]="remWidth"
         [style.height.rem]="remHeight"
         [ngStyle]="getStyleImgAvatar()">
        <span class="f">
            {{firstName ? firstName.charAt(0).toUpperCase() : ''}}
        </span>
        <span class="l">
            {{lastName ? lastName.charAt(0).toUpperCase() : ''}}
        </span>
    </div>
</ng-template>
