@import "../../../../assets/scss/main";

$w: 48px;

:host {
  display: inline-block;
}

img {
  width: rem($w);
  height: rem($w);
  border-radius: 50%;
  object-fit: cover;
}

.avatar-name {
  text-align: center;
  width: rem($w);
  height: rem($w);
  background: $grey-050;
  border-radius: 50%;
  @include fontSize(24px, $w);

  span {
    display: inline-block;
  }
}
