@import "~src/assets/scss/main";

.head {
  height: rem(60px);
  
  .navbar {
    padding: rem(10px) rem(20px);
    color: $primary-050;
    background-color: $primary-800;

    .navbar-brand {
      padding: 0 rem(20px) 0 0;
      margin-right: 0;
      border-right: rem(1px) solid $primary-500;

      img {
        height: rem(40px);
        width: rem(95px);
      }
    }

    .navbar-toggler {
      background-color: $white;
    }

    //.scope {
    //  padding: rem(11px) rem(18px);
    //
    //  i {
    //    @include fontSize(16px, 16px);
    //    margin-right: rem(5px);
    //    color: $accent-500;
    //    float: left;
    //  }
    //
    //  .outlet {
    //    @include fontSize(16px, 17px);
    //    border-bottom: rem(1px) solid $primary-050;
    //    text-transform: uppercase;
    //    float: left;;
    //  }
    //
    //}

    .search-bar {

      width: rem(373px);


      input {
        color: $primary-050;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        background-color: $bss-input-bg;
        height: rem(34px);
        border: none;

        &.empty {
          background-image: url('../../../assets/img/search.png');
          background-repeat: no-repeat;
          background-position: rem(152px) center;
          background-size: rem(14px) rem(14px);
          text-indent: rem(171px);
          text-align: left;
        }

        &::-webkit-input-placeholder {
          color: $primary-050;
        }

        &::-moz-placeholder {
          color: $primary-050;
        }

        &:-ms-input-placeholder {
          color: $primary-050;
        }
      }
    }

    .info {
      > div{
        margin-left: rem(30px);
      }
      
      .bss-popover-header{
        left: auto !important;
        right: 0;
      }
      i {
        font-size: rem(24px);
        cursor: pointer;
      }

      /*notification*/
      .notification {
        .dropdown-toggle::after {
          border-top: inherit;
          border-right: inherit;
        }

        .dropdown-menu {
          min-width: rem(370px);
        }
      }

      .unread {
        position: relative;

        &::after {
          content: '';
          width: rem(8px);
          height: rem(8px);
          border-radius: 50%;
          position: absolute;
          background-color: #f4341b;
          right: 0;
          top: 0;
        }
      }

      .user {
        cursor: pointer;

        .name {
          font-family: $font-sfprotext-bold;
          color: $white;
          line-height: 1.43;
          letter-spacing: normal;

          max-width: rem(96px);
        }
      }


      .avatar-circle {
        display: inline-block;
        height: rem(40px);
        width: rem(40px);
        border-radius: 50%;
        overflow: hidden;
        margin-right: rem(10px);

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
