<header class="head" [ngClass]="{'user-manager': isUserManager}">

    <nav class="navbar navbar-light navbar-expand-sm">
        <a class="navbar-brand" [routerLink]="['/']">

            <!--CXI logo-->
            <img src="assets/img/bss-full-logo-default@2x.png" class="img-responsive" />

        </a>

        <!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        -->

        <!--header scope-->
        <app-header-scope></app-header-scope>


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            <!--search-bar-->
            <form class="form-inline d-flex ml-auto mr-auto text-center">
                <!-- <div class="search-bar">
                    <input class="form-control"
                           type="text"
                           name="searchStr"
                           id="searchStr"
                           [(ngModel)]="searchStr"
                           [attr.placeholder]="'header.Search' | translate"
                           [ngClass]="{'empty': searchStr.length === 0}">
                </div> -->
            </form>

            <div class="info dropdow-menu d-flex align-items-center">
                <div class="notification">
                    <i class="icon-notification unread" #popoverNotification="ngbPopover"
                       popoverClass="bss-popover-header bss-popover-module" placement="bottom"
                       [ngbPopover]="popContentNotification" [autoClose]="'true'"></i>

                    <ng-template #popContentNotification>
                        <span *ngIf="notification.length <= 0">
                            No announcement !!
                        </span>
                    </ng-template>
                    <!-- Template Module -->
                </div>

                <!--change module: -->
                <!--<div class="module d-flex">
                    &lt;!&ndash; Template Module &ndash;&gt;
                    <ng-template #popTitleModule>
                    </ng-template>

                    <ng-template #popContentModule>
                        <div class="pop-module-content">
                            <div class="d-flex">
                                <a class="btn" [routerLink]="['/organization-management/']">
                                    <img src="assets/img/folder.png" class="img-responsive"
                                         (error)="errorHandler($event)"/>
                                    <div class="module-name">Organize</div>
                                </a>
                                <a class="btn" [routerLink]="['/sale-management/']">
                                    <img src="assets/img/shop.png" class="img-responsive"
                                         (error)="errorHandler($event)"/>
                                    <div class="module-name">Sale</div>
                                </a>
                                <a class="btn">
                                    <img src="assets/img/share.png" class="img-responsive"
                                         (error)="errorHandler($event)"/>
                                    <div class="module-name">Level</div>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                    &lt;!&ndash; Template Module &ndash;&gt;

                    <i class="icon-window" [ngbPopover]="popContentModule"
                       popoverClass="bss-popover-header bss-popover-module"
                       #popoverModule="ngbPopover" [popoverTitle]="popTitleModule" placement="bottom"
                       [autoClose]="'true'"></i>
                </div>-->

                <div class="user d-flex align-items-center" #popoverUser="ngbPopover" [ngbPopover]="popContentProfile"
                     popoverClass="bss-popover-header" [popoverTitle]="popTitleProfile" placement="bottom"
                     [autoClose]="'true'">

                    <!-- Template Profile -->
                    <ng-template #popTitleProfile>
                        <div class="pop-info">
                            <div class="avatar-circle pop-image">
                                <img [src]="user.avatar" class="img-responsive" (error)="errorHandler($event)" />
                            </div>
                            <div class="pop-right">
                                <div class="pop-name">{{user.name|cxiCapitalize}}</div>
                                <div class="pop-email">{{user.email}}</div>
                                <base-button type="button" name="Button Icon" [icon]="'icon-edit'"
                                             buttonStyle="btn-primary" [routerLink]="['/profile']">
                                    Edit
                                </base-button>
                            </div>
                        </div>

                    </ng-template>

                    <ng-template #popContentProfile>
                        <button type="button" class="btn btn-block btn-logout" (click)="signOut()">
                            Sign Out
                        </button>
                    </ng-template>
                    <!-- Template Profile -->

                    <div class="avatar-circle">
                        <img [src]="user.avatar" class="img-responsive" (error)="errorHandler($event)" />
                    </div>
                    <span class="name text-ellipsis">{{user.name|cxiCapitalize}}</span>
                </div>
            </div>
        </div>
    </nav>
</header>
