<ng-template ngFor let-seat [ngForOf]="value" let-i="index">
    <app-select-seat-map name="{{name}}-{{i}}"
                        (remove)="onRemove(i)"
                        [(ngModel)]="seat"
                         [seat]="seat"
                         [event]="event"
                        (change)="onChangeVariantAddOnType()"></app-select-seat-map>


</ng-template>

<div class="row m-b">
    <div class="col-12">
        <base-button name="{{name}}-add-aot"
                     type="button"
                     icon="icon-add-new"
                     buttonStyle="btn-default"
                     [disabled]="isDisabledAddNew()"
                     (click)="addAddOnType()">
            Add more
        </base-button>
    </div>
</div>

