<h1>Colors</h1>


<ng-template ngFor
             [ngForOf]="colors"
             let-colorGroup>
    <div class="row">
        <div class="col-12">
            <ng-template ngFor
                         [ngForOf]="colorGroup"
                         let-colorStyle>
                <div class="color-item">
                    <div class="color" [style.background]="colorStyle.hex"></div>
                    <div class="description">
                        <span class="name">{{colorStyle.name}}</span>
                        <span class="text-uppercase">{{colorStyle.hex}}</span>
                        <span class="text-uppercase">{{colorStyle.rgb}}</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>

