@import "../../../assets/scss/main";

.color-item {
  margin-right: rem(100px);
  display: inline-block;
  margin-bottom: rem(60px);

  &:last-child {
    margin-right: 0;
  }

  .color {
    width: rem(110px);
    height: rem(110px);
    display: inline-block;
  }

  .description {
    span {
      @include fontSize(16px, 24px);
      display: flex;
    }

    .name {
      font-weight: bold;
    }
  }
}
