<div class="edit-attribute edit-wrapper">

    <form #editAttributeForm="ngForm"
          class="form-edit-attribute"
          (ngSubmit)="onSubmit()">

        <div class="edit-attribute-header edit-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Attribute.Edit Attribute'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button"
                                     buttonStyle="btn-default btn"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary">
                            <span>{{'Edit'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>

        <!--body-->
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div class="tranlate-attribute">
                        <ul>
                            <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                                <img src="assets/img/english.png" alt="">
                                <span>English</span>
                            </li>
                            <li (click)="tab = 'vi'" [class]="(tab == 'vi')?'active':''">
                                <img src="assets/img/vn.png" alt="">
                                <span>Tiếng Việt</span>
                            </li>
                        </ul>
                    </div>
                    <div class="infor-attribute">
                        <!--General-->
                        <cxi-card name="new-attribute"
                                title="{{'Attribute.General'|translate}}">
                            <div class="row">
                                <div class="col-12">
                                    <base-select name="select"
                                                label="{{'Attribute.Attribute Type'|translate}}"
                                                bindLabel="name"
                                                bindValue="value"
                                                [items]="baseAttributeTypes"
                                                [(ngModel)]="attribute.type"
                                                required></base-select>
                                </div>

                                <div class="col-12">
                                    <base-input-text name="code"
                                                    class="m-b-n"
                                                    label="{{'Attribute.Attribute Code'|translate}}"
                                                    [(ngModel)]="attribute.code"
                                                    required>
                                    </base-input-text>
                                </div>
                            </div>
                        </cxi-card>

                        <!--Label-->
                        <cxi-card name="new-attribute"
                                title="{{'Attribute.Label'|translate}}">

                            <div class="row">
                                <div class="col-12">
                                    <base-input-text name="admin_name"
                                                    label="{{'Attribute.Admin'|translate}}"
                                                    [(ngModel)]="attribute.admin_name"
                                                    required>
                                    </base-input-text>
                                </div>

                                <!--label locale-->
                                <ng-template ngFor
                                            let-locale
                                            let-i="index"
                                            [ngForOf]="locales">
                                    <div class="col-12" *ngIf="tab == locale.code">
                                        <base-input-text name="{{ locale.name + '_' + locale.code + '_' + i }}"
                                                        label="{{ getLabelLocale(locale) }}"
                                                        [(ngModel)]="attribute.translations[i].name">
                                        </base-input-text>
                                    </div>
                                </ng-template>
                            </div>
                        </cxi-card>


                        <!--Options-->
                        <cxi-card name="options"
                                title="{{'Attribute.Options'|translate}}">
                            <app-attribute-options name="create-attribute-options" [showTranslate]="tab"
                                                [locales]="locales"
                                                [(ngModel)]="attribute.options"></app-attribute-options>
                        </cxi-card>


                        <!--validations-->
                        <cxi-card name="validations"
                                title="{{'Attribute.Validations'|translate}}">
                            <div class="row">
                                <div class="col-12">
                                    <base-select name="is_required"
                                                label="Is Required"
                                                bindLabel="name"
                                                bindValue="value"
                                                [items]="yesOrNo"
                                                [(ngModel)]="attribute.is_required"></base-select>
                                </div>
                                <div class="col-12">
                                    <base-select name="is_unique"
                                                label="Is Unique"
                                                bindLabel="name"
                                                bindValue="value"
                                                [items]="yesOrNo"
                                                [(ngModel)]="attribute.is_unique"></base-select>
                                </div>
                            </div>
                        </cxi-card>
                        <!--end validations-->
                    </div>
                </div>
            </div>
        </div>
        <!--end body-->

    </form>
</div>
