<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row highlight">
            <div class="col-12">
                <app-cxi-upload-file name="upload-img"
                                     (file)="onFileContent($event)"
                                     [(ngModel)]="value.image_id"
                ></app-cxi-upload-file>
            </div>
            <div class="col-6">
                <base-input-text name="content_vi"
                                 label="Title (Vietnamese)"
                                 [(ngModel)]="value.content_vi"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="content_en"
                                 label="Title (English)"
                                 [(ngModel)]="value.content_en"
                >
                </base-input-text>
            </div>
        </div>
    </div>
</ng-template>
