<div class="list-customer list-wrapper">
    <div class="list-customer-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header" translate="Customer.Customer Blacklist"></div>
            </div>
            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="btn-addnew btn btn-default" (click)="switch()"
                        [disabled]="backlist.list.length <= 0">
                        <i class="icon-arrow-right1"></i>
                        <span>Switch normal customer</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="listCustomer" [config]="cxiGridConfig" [columns]="cxiGridColumns"
                (checkedAllItem)="checkCustomerAll($event)" (checkedItem)="checkCustomer($event)"></app-cxi-grid>
        </div>
    </div>
</div>