<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Case.New Case">

                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..','list']">
                        <span translate="Case.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Case.Create"></span>
                    </base-button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <!-- <div class="tranlate-attribute">
                <ul>
                    <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                        <img src="assets/img/english.png" alt="">
                        <span>English</span>
                    </li>
                    <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
                        <img src="assets/img/vn.png" alt="">
                        <span>Tiếng Việt</span>
                    </li>
                </ul>
            </div> -->
            <div class="create-product-body create-body mg-0" id="search">
                <div class="title-body" translate="Case.Case Information"></div>
                <div class="row">
                    <div class="col-12" *ngIf="tab == 'en'">
                        <base-input-text name="title" label="case name" width="full" [(ngModel)]="case_management.name"
                            required [maxLength]="200">
                        </base-input-text>
                    </div>
                    <!-- <div class="col-12" *ngIf="tab == 'vn'">
                        <base-input-text name="title" label="title" width="full" [(ngModel)]="case_management.vi.name">
                        </base-input-text>
                    </div> -->
                    <!-- <div class="col-12">
                        <base-select name="status" label="status" [items]="status" [bindLabel]="'name'"
                            [bindValue]="'value'" [(ngModel)]="case_management.status" width="full">
                        </base-select>
                    </div> -->
                    <div class="col-12">
                        <base-select name="priority" label="priority" [items]="priority" [bindLabel]="'name'"
                            [bindValue]="'value'" [(ngModel)]="case_management.priority" width="full">
                        </base-select>
                    </div>
                    <div class="col-12 show-search-r">
                        <base-input-text name="Request" label="customer name" width="full" class="mg-0"
                            [(ngModel)]="case_management.request" (keyup)="searchCase($event)">
                        </base-input-text>
                        <div class="list-search">
                            <div class="search-req" *ngIf="searchText.length >0">
                                <div class="search" *ngFor="let item of searchText" (click)="checkReq(item)">
                                    {{item.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-20">
                        <app-responsible name="responsible-partie" label="following" [items]="users"
                            [(array)]="case_management.responsible_parties" bindLabel="name" bindValue="id">
                        </app-responsible>
                    </div>
                    <!-- <div class="col-12 mt-20">
                        <base-datepicker name="expiration-date" label="expiration-date"
                            [(ngModel)]="case_management.expired_at"></base-datepicker>
                    </div> -->
                </div>
            </div>
        </div>
    </form>
</div>