<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="text-promotion">Categories</label>
            <select class="form-control form-control-promotion" (change)="onChangeProduct($event)"
                [(ngModel)]="cate_child" [ngModelOptions]="{standalone: true}">
                <option value="customer_pr" disabled>Please choose</option>
                <option *ngFor="let item of categories;let i = index" [value]="item.id">{{item.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="isShowcate">
        <div class="form-group">
            <label class="text-promotion">Sub categories</label>
            <select class="form-control form-control-promotion" (change)="onChangeProductSub($event)"
                [(ngModel)]="subcate_child" [ngModelOptions]="{standalone: true}">
                <option value="customer_pr" disabled>Please choose</option>
                <option *ngFor="let item of sub_cate;let i = index" [value]="item.id">{{item.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-sm-12"><label>PRODUCTS</label></div>
    <div class="col-12">
        <div class="row product-gift" id="scroll-promotion">
            <ng-template [ngIf]="products.length > 0">
                <div class="col-sm-6" *ngFor="let item of products;let i = index">
                    <div class="d-flex">
                        <p>{{item.name}}</p>
                        <p>
                            <button (click)="checkProduct(item,i)" class="icon-add-new"></button>
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="products.length <= 0">
                <div class="col-sm-12 text-center">
                    <p class="gift_arr">The data is empty</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="col-12">
        <label class="text-itempr">Selected Items:</label>
        <div class="group-item" *ngIf="productClient.length >0">
            <div class="item-pr" *ngFor="let item of productClient;let i = index">
                <div class="d-flex">
                    <span>{{item.name}}</span>
                    <i (click)="checkProduct(item)" class="icon-close"></i>
                </div>
            </div>
        </div>
    </div>
</div>