<div class="event"
     [style.height.rem]="getHeight()"
     [style.backgroundColor]="backgroundColor">

    <div class="event-wrap">
        <div class="users">

            <ng-template [ngIf]="shiftBlock && shiftBlock.items">
                <ng-template ngFor
                             [ngForOf]="shiftBlock.items"
                             let-shiftItem
                             let-i="index">
                    <ng-template [ngIf]="shiftItem.user">
                        <cxi-avatar-circle name="{{i}}-avatar"
                                           [fullName]="shiftItem.user.name"
                                           [firstName]="shiftItem.user.first_name"
                                           [lastName]="shiftItem.user.last_name"
                                           borderColor="{{
                                                (
                                                (shiftItem.user && shiftItem.user.role && shiftItem.user.role.color)
                                                    ? shiftItem.user.role.color
                                                    : '#ccc'
                                                )
                                           }}"
                                           [src]="shiftItem.user.avatar"></cxi-avatar-circle>
                    </ng-template>
                </ng-template>
            </ng-template>

        </div>
    </div>


    <!--Begin Popover Calendar Event Vertical detail -->
    <div class="event-detail">
        <a #popoverCalEventVertical="ngbPopover"
           popoverClass="popover-calendar-event-vertical-detail"
           [placement]="getPopoverPlacement()"
           [ngbPopover]="popContentCalEventVertical"
           [autoClose]="'outside'"
           triggers="manual"
           container="body"
           (click)="onClickPopover(popoverCalEventVertical)">
            <!--toggle-->
        </a>

        <ng-template #popContentCalEventVertical>
            <cxi-icon-close name="{{name}}-close"
                            (click)="popoverCalEventVertical.close(); closePopover(popoverCalEventVertical)"></cxi-icon-close>

            <div class="row p-20 search">
                <!--search-->
                <div class="col-6">
                    <base-input-text name="{{name}}-search"
                                     placeholder="{{'Cxi Calendar.Search'|translate}}"
                                     [(ngModel)]="search"
                                     (debounceChange)="onChangeSearch()"></base-input-text>
                </div>
                <!--role-->
                <ng-template [ngIf]="internalRoles && internalRoles.length > 0">
                    <div class="col-6">
                        <base-select name="{{name}}-role"
                                     placeholder="{{'Cxi Calendar.Role'|translate}}"
                                     [items]="internalRoles"
                                     bindLabel="name"
                                     bindValue="id"
                                     [(ngModel)]="roleID"
                                     (change)="onChangeRole()"></base-select>
                    </div>
                </ng-template>
            </div>

            <div class="row all">
                <div class="col-12">
                    <base-checkbox name="{{name}}-select-all"
                                   label="{{'All'|translate}}"
                                   [(ngModel)]="selectedAll"
                                   (change)="onChangeSelectedAll()"></base-checkbox>
                </div>
            </div>

            <div class="row row-list m-b">
                <div class="col-12">
                    <ng-template [ngIf]="internalShiftItems">
                        <perfect-scrollbar
                            #perfectScrollbarListShiftItems
                            [config]="perfectScrollbarConfigListShiftItems">
                            <div class="list">
                                <ng-template [ngIf]="internalShiftItems && internalShiftItems.length > 0">
                                    <ng-template ngFor
                                                 [ngForOf]="internalShiftItems"
                                                 let-shiftItem
                                                 let-i="index">
                                        <ng-template [ngIf]="shiftItem && shiftItem.user">

                                            <!--list item-->
                                            <div class="list-item"
                                                 [ngClass]="{
                                                    'selected': selectedShiftItems[i]
                                                }">

                                                <!--selected-->
                                                <base-checkbox name="{{name}}-{{i}}-check"
                                                               [(ngModel)]="selectedShiftItems[i]"
                                                               (change)="onChangeSelectedShiftItem()"></base-checkbox>

                                                <!--avatar-->
                                                <cxi-avatar-circle name="{{name}}-shift-items-{{i}}-avatar"
                                                                   fullName="{{shiftItem.user.name}}"
                                                                   [src]="shiftItem.user.avatar"></cxi-avatar-circle>

                                                <!--description-->
                                                <div class="description">
                                                    <span class="staff-name">
                                                        {{shiftItem.user.name}}
                                                    </span>
                                                    <span class="working-hour">
                                                        {{'Cxi Calendar.Working hour'|translate}}
                                                        : {{shiftItem.fromToTime}}
                                                    </span>
                                                    <div class="status"
                                                         [class]="shiftItem.status"
                                                         [ngSwitch]="shiftItem.status">
                                                        <ng-template [ngSwitchCase]="null">
                                                            <!--nothing-->
                                                        </ng-template>
                                                        <ng-template [ngSwitchCase]="'clockedIn'">
                                                            <div class="line">
                                                                <i class="icon-history"></i>
                                                                {{
                                                                'Cxi Calendar.shift item status at time'|translate: {
                                                                    status: shiftItem.statusLabel,
                                                                    time: shiftItem.clockedInAt
                                                                }
                                                                }}
                                                            </div>
                                                        </ng-template>
                                                        <ng-template [ngSwitchCase]="'clockedOut'">
                                                            <ng-template [ngIf]="shiftItem.clockedInAt">
                                                                <div class="line">
                                                                    <i class="icon-history"></i>
                                                                    {{
                                                                    'Cxi Calendar.shift item status at time'|translate: {
                                                                        status: 'Clocked in',
                                                                        time: shiftItem.clockedInAt
                                                                    }
                                                                    }}
                                                                </div>
                                                            </ng-template>
                                                            <div class="line">
                                                                <i class="icon-history"></i>
                                                                {{
                                                                'Cxi Calendar.shift item status at time'|translate: {
                                                                    status: shiftItem.statusLabel,
                                                                    time: shiftItem.clockedInAt
                                                                }
                                                                }}
                                                            </div>
                                                        </ng-template>
                                                        <ng-template [ngSwitchCase]="'approvedOff'">
                                                            <ng-template [ngIf]="shiftItem.clockedInAt">
                                                                <div class="line">
                                                                    <i class="icon-history"></i>
                                                                    {{
                                                                    'Cxi Calendar.shift item status at time'|translate: {
                                                                        status: 'Clocked in',
                                                                        time: shiftItem.clockedInAt
                                                                    }
                                                                    }}
                                                                </div>
                                                            </ng-template>
                                                            <div class="line">
                                                                <i class="icon-error"></i>
                                                                {{
                                                                'Cxi Calendar.shift item status'|translate: {
                                                                    status: shiftItem.statusLabel
                                                                }
                                                                }}
                                                            </div>
                                                        </ng-template>
                                                        <ng-template [ngSwitchCase]="'offWithoutApproved'">
                                                            <ng-template [ngIf]="shiftItem.clockedInAt">
                                                                <div class="line">
                                                                    <i class="icon-history"></i>
                                                                    {{
                                                                    'Cxi Calendar.shift item status at time'|translate: {
                                                                        status: 'Clocked in',
                                                                        time: shiftItem.clockedInAt
                                                                    }
                                                                    }}
                                                                </div>
                                                            </ng-template>
                                                            <div class="line">
                                                                <i class="icon-close"></i>
                                                                {{
                                                                'Cxi Calendar.shift item status'|translate: {
                                                                    status: shiftItem.statusLabel
                                                                }
                                                                }}
                                                            </div>
                                                        </ng-template>
                                                    </div>
                                                </div>

                                                <!--More-->
                                                <div class="button-more">
                                                    <!--Begin Popover more-->
                                                    <a #popoverMore="ngbPopover"
                                                       popoverClass="po-mr"
                                                       [placement]="['left', 'bottom']"
                                                       [ngbPopover]="popContentMore"
                                                       [autoClose]="true">
                                                        <i class="icon-more"></i>
                                                    </a>
                                                    <ng-template #popContentMore>
                                                        <div class="po-mr-list">
                                                            <div class="po-mr-list-item">
                                                                <a (click)="onClickOnAction('viewDetail', shiftItem)">
                                                                    {{'Cxi Calendar.View detail'|translate}}
                                                                </a>
                                                            </div>
                                                            <div class="po-mr-list-item"
                                                                 *ngIf="isShow('clockedIn', shiftItem)">
                                                                <a (click)="onClickOnAction('clockedIn', shiftItem)">
                                                                    {{'Cxi Calendar.Clock in'|translate}}
                                                                </a>
                                                            </div>
                                                            <div class="po-mr-list-item"
                                                                 *ngIf="isShow('clockedOut', shiftItem)">
                                                                <a (click)="onClickOnAction('clockedOut', shiftItem)">
                                                                    {{'Cxi Calendar.Clock out'|translate}}
                                                                </a>
                                                            </div>
                                                            <div class="po-mr-list-item">
                                                                <a (click)="onClickOnAction('move', shiftItem)">
                                                                    {{'Cxi Calendar.Move'|translate}}
                                                                </a>
                                                            </div>
                                                            <div class="po-mr-list-item"
                                                                 *ngIf="isShow('leave', shiftItem)">
                                                                <a (click)="onClickOnAction('leave', shiftItem)">
                                                                    {{'Cxi Calendar.Leave'|translate}}
                                                                </a>
                                                            </div>
                                                            <div class="po-mr-list-item"
                                                                 *ngIf="isShow('absent', shiftItem)">
                                                                <a (click)="onClickOnAction('absent', shiftItem)">
                                                                    {{'Cxi Calendar.Absent'|translate}}
                                                                </a>
                                                            </div>
                                                            <div class="po-mr-list-item"
                                                                 *ngIf="isShow('remove', shiftItem)">
                                                                <a (click)="onClickOnAction('remove', shiftItem)">
                                                                    {{'Cxi Calendar.Remove'|translate}}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <!--End Popover more-->
                                                </div>
                                            </div>
                                            <!--end list item-->

                                        </ng-template>
                                    </ng-template>
                                </ng-template>

                                <ng-template [ngIf]="internalShiftItems.length === 0">
                                    {{'Messages.No results found'|translate}}
                                </ng-template>
                            </div>
                        </perfect-scrollbar>
                    </ng-template>
                </div>
            </div>

            <!--add staff-->
            <div class="buttons">
                <base-button class="pull-right"
                             buttonStyle="btn btn-primary"
                             [disabled]="isDisabledAddStaffs"
                             (click)="onClickAddStaff(popoverCalEventVertical)">
                    <i class="icon-add-new"></i>
                    {{'Cxi Calendar.Add Staff'|translate}}
                </base-button>
            </div>

        </ng-template>
        <!-- Template Module -->
    </div>
    <!--End Popover Calendar Event Vertical detail -->
</div>
