@import "../../../../assets/scss/main";


//
$cal-event-width: 60px;
$cal-event-padding-tb: 15px;
$cal-event-padding-lr: 6px;
$cal-event-padding: 6px;
$cal-event-border-radius: 8px;
$cal-event-border-color: #e0e0e0;
$cal-event-background-color: $primary-050;

// text
$cal-event-text-font-size: 12px;
$cal-event-text-line-height: $cal-event-text-font-size * 1.5;
//$cal-event-text-padding-top-bottom: ($cal-event-inner-height - $cal-event-text-line-height) / 2;

// icons
$cal-event-icon-size: 16px;
//$cal-event-icon-padding: ($cal-event-inner-height - $cal-event-icon-size)/2;

// avatar
$cal-event-avatar: 48px;

.event {
  display: inline-block;
  position: relative;
  background: $cal-event-background-color;
  border: none;
  width: rem($cal-event-width);
  height: rem(240px);
  padding: rem($cal-event-padding-tb) rem($cal-event-padding-lr);
  border-radius: rem($cal-event-border-radius);

  margin-left: calc(50% - #{rem($cal-event-width / 2)});

  &:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1;
  }

  .event-wrap {
    height: 100%;
    overflow: hidden;

    .users {
      height: rem($cal-event-avatar * 3 + $cal-event-padding * 2);
      overflow: hidden;

      &.h-0 {
        $n: 0;
        height: rem($cal-event-avatar * $n + $cal-event-padding * 2);
      }

      &.h-1 {
        $n: 1;
        height: rem($cal-event-avatar * $n + $cal-event-padding * 2);
      }

      &.h-2 {
        $n: 2;
        height: rem($cal-event-avatar * $n + $cal-event-padding * 2);
      }

      &.h-3 {
        $n: 3;
        height: rem($cal-event-avatar * $n + $cal-event-padding * 2);
      }

      cxi-avatar-circle {
        margin-bottom: rem($cal-event-padding);
      }
    }
  }

  .event-detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
