<div class="list-category list-wrapper">
    <div class="list-category-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header">Reports</div>
            </div>
            <div class="col-sm-6 text-right"></div>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-reports">
                    <ng-template ngFor
                                 [ngForOf]="reports"
                                 let-reportItem>
                        <li><a [routerLink]="[reportItem.link]">{{reportItem.name}}</a></li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</div>
