@import "../../../../assets/scss/main";
.list-reports {
    padding: 0;
    margin: 0;
    list-style: none;
    >li {
        >a {
            padding-bottom: rem(10px);
            color: $grey-900;
            display: block;
            font-size: rem(14px);
            text-decoration: none;
        }
    }
}