<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row topic">
            <div class="col-12">
                <app-cxi-upload-files name="{{name}}-upload-img"
                                      (file)="onFileContent($event)"
                                      [(ngModel)]="value.images"
                ></app-cxi-upload-files>
            </div>

            <div class="col-6">
                <base-input-text name="{{name}}-title_vi"
                                 label="Title (Vietnamese)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.title_vi"

                >
                </base-input-text>
            </div>
            <div class="col-12">
                <app-cxi-input-editor name="{{name}}-content_vi"
                                      label="Content (Vietnamese)"
                                      [(ngModel)]="value.content_vi"
                                      [maxLength]="5000">
                </app-cxi-input-editor>
            </div>
            <!--<div class="col-4">-->
            <!--<base-input-text name="description_vi"-->
            <!--label="Description (Vietnamese)"-->
            <!--[(ngModel)]="value.description_vi"-->

            <!--&gt;-->
            <!--</base-input-text>-->
            <!--</div>-->


            <div class="col-6">
                <base-input-text name="{{name}}-title_en"
                                 label="Title (English)"
                                 [(ngModel)]="value.title_en"
                                 [maxLength]="5000"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <app-cxi-input-editor name="{{name}}-content_en"
                                      label="Content (English)"
                                      [maxLength]="5000"
                                      [(ngModel)]="value.content_en"
                >
                </app-cxi-input-editor>
            </div>
            <!--<div class="col-4">-->
            <!--<base-input-text name="description_en"-->
            <!--label="Description (English)"-->
            <!--[(ngModel)]="value.description_en"-->

            <!--&gt;-->
            <!--</base-input-text>-->
            <!--</div>-->
        </div>
    </div>
</ng-template>
