<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <div class="title-header">Adjustment Report</div>
      </div>
      <div class="col-sm-9 text-right position-re">
        <div class="d-flex align-items-center text-right pull-right">
          <button class="btn-setting btn btn-default">
            <div class="dflex">
              <i class="icon-settings"></i> <span>Print</span>
            </div>
          </button>
          <div class="dropdow-export">
            <button class="btn-setting btn btn-default export-btn">
              <div class="dflex">
                <i class="icon-settings"></i> <span>Export</span>
              </div>
            </button>
            <div class="export">
              <ul class="export-list">
                <li>CSV</li>
                <li>XLS</li>
              </ul>
            </div>
          </div>
          <button class="btn-addnew btn btn-default filters-report">
            <i class="icon-filter"></i> <span>Filters</span>
          </button>
          <div class="filters">
            <div class="row row-white">
              <div class="col-sm-4 text-left border-right">
                <h4>EMPLOYEES</h4>
                <span>Type a name</span>
                <base-radio name="baseRadio" [values]="baseRadioValues" [(ngModel)]="baseRadio"></base-radio>
              </div>
              <div class="col-sm-4 text-left border-right">
                <h4>POS Station</h4>
                <span>Type a POS</span>
                <base-radio name="baseRadio1" [values]="baseRadioValues1" [(ngModel)]="baseRadio1"></base-radio>
              </div>
              <div class="col-sm-4 text-left border-right">
                <h4>Action</h4>
                <span>Type an action</span>
                <base-radio name="baseRadio2" [values]="baseRadioValues2" [(ngModel)]="baseRadio2"></base-radio>
              </div>
              <div class="col-sm-12 filters-btn">
                <button class="btn-addnew btn btn-default">Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-body mt-30">
    <div class="row">
      <div class="col-sm-12">
        <app-cxi-grid name="action-log" [config]="baseTableConfig" [rows]="adjustment_report" [columns]="baseTableColumns">
        </app-cxi-grid>
      </div>
    </div>
  </div>
</div>