<label *ngIf="label" class="text-uppercase" for="{{name}}">
    {{label|baseMakeTitle}}
    <cxi-required *ngIf="required"></cxi-required>
</label>

<input name="{{name}}"
       id="{{name}}"
       class="form-control"
       [(ngModel)]="value"
       placeholder=""
       ngx-google-places-autocomplete
       #placesRef="ngx-places"
       [options]="options"
       (onAddressChange)="handleAddressChange($event)"
       [required]="required"
       [disabled]="disabled"/>
