@import "~src/assets/scss/main";

.base-selection {
 border: 1px solid $grey-100;
 background: $white;
 margin-bottom: rem(23px);
 overflow-y: auto;
 overflow-x: hidden;
 .row {
   .col-6:first-child {
     border-right: rem(1px) solid $grey-100;
   }
 }

 .head {
   padding: rem(10px) rem(143px);
 }

 .list-items {
   height: rem(102px);
   .col-6 {
     height: inherit;
   }

   ul {
     padding-left: 0;
     list-style: none;

     > li {
       line-height: rem(32px);
       padding: 0 rem(10px);
       position: relative;
       font-size: rem(16px);

       &:hover {
         color: $primary-800;
         font-weight: bold;

         .group-action {
           opacity: 1;
           visibility: visible;
         }
       }

       .group-action {
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         right: 0;
         line-height: rem(60px);
         opacity: 0;
         visibility: hidden;
         transition: all 0.3s ease;
         display: flex;
         align-items: center;

         i {
           font-size: rem(20px);
           margin-right: rem(10px);
           width: rem(36px);
           height: rem(36px);
           line-height: rem(36px);
           background-color: $pale-grey;
           border-radius: 50%;
           text-align: center;
           display: inline-block;
           cursor: pointer;
         }
       }
     }
   }
   .item-checkbox {
     margin-left: rem(10px);
   }
 }
 &::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
   border-radius: 10px;
   background-color: $pale-grey;
 }

 &::-webkit-scrollbar
 {
   width: 8px;
   background-color: $pale-grey;
 }

 &::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
   background-color: #cfd1d6;
 }

}


