@import "../../../../../src/assets/scss/main";

:host {
  display: inline-block;
}

.remove {
  //position: absolute;
  //top: rem(26px);
  //left: rem(10px);

  width: rem(24px);
  height: rem(24px);
  //text-align: center;

  display: block;
  margin: 0;

  i {
    @include fontSize(24px, 24px);
    color: $red-500;
  }
}
