<div class="edit-organization edit-wrapper">

    <form #createOrganizationForm="ngForm"
          class="form-edit-organization"
          (ngSubmit)="onSubmit()">

        <div class="edit-organization-header edit-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Organization.Edit Organization'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button"
                                     buttonStyle="btn btn-default"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!createOrganizationForm.form.valid">
                            <span>{{'Save'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>

        <cxi-card name="create-organization"
                  title="{{'Organization.Organization Info'|translate}}">
            <div class="row p-20">
                <div class="col-12">
                    <base-input-text name="name"
                                     label="{{'Organization.Organization Name'|translate}}"
                                     [(ngModel)]="organization.name"
                                     required>
                    </base-input-text>
                </div>
                <div class="col-6">
                    <base-input-text name="tax_code"
                                     label="{{'Organization.Tax code'|translate}}"
                                     [(ngModel)]="organization.tax_code"
                                     width="full"
                                     required>
                    </base-input-text>
                </div>

                <div class="col-6">
                    <base-input-text name="phone"
                                     label="{{'Organization.Phone'|translate}}"
                                     [(ngModel)]="organization.phone">
                    </base-input-text>
                </div>

                <div class="col-6">
                    <base-input-text name="max_brands"
                                     label="{{'Organization.Maximum brands'|translate}}"
                                     [(ngModel)]="organization.max_brands">
                    </base-input-text>
                </div>

                <div class="col-6">
                    <base-input-text name="app_id"
                                     label="{{'Organization.App ID'|translate}}"
                                     [(ngModel)]="organization.website.app_id"
                                     [disabled]="true">
                    </base-input-text>
                </div>

                <!--QR code-->
                <div class="col-12">
                    <qrcode [qrdata]="organization.website.app_id"
                            [width]="255"></qrcode>
                </div>
            </div>
        </cxi-card>
    </form>
</div>
