<div class="modal fade modal-cate-table" id="editFloor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-payment">
        <div class="d-flex align-items-center">
          <h5 class="modal-title" id="exampleModalLabel">Floor Infomation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <form #createProductForm="ngForm" class="form-create-organization">
        <div class="modal-body modal-body-payment mt-20">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <base-input-text name="name" label="Name" width="full" [(ngModel)]="floors.name" required>
                </base-input-text>
              </div>
              <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null"> 
                <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand" (change)="changeOulet()"
                  [(ngModel)]="floors.brand_id">
                </base-select>
              </div>
              <div class="col-sm-12">
                <base-select name="outlet" label="outlet" bindLabel="name" bindValue="id" [items]="outlets"
                  [(ngModel)]="floors.outlet_id">
                </base-select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer modal-footer-payment">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->