<div class="row mt-10">
    <div class="col-sm-6 mt-20" *ngFor="let item of platforms;let i = index">
        <input class="platform" type="checkbox" [name]="item.value" [value]="item.value"
            [checked]="platform_req.indexOf(item) != -1"
            (click)="checkPlatforms(item)">{{item.name}}
    </div>
</div>