@import "~src/assets/scss/main";

.reward-point {
  .operator {
    padding-right: rem(14px) !important;

    .equal {
      position: absolute;
      top: rem(29px);
      right: rem(-2px);
    }
  }
}
