<ng-template [ngIf]="currencyRate">
    <div class="reward-point">

        <div class="row p-20">
            <div class="col-6 attribute">
                <base-input-text name="exchange_amount"
                                 label="{{'Loyalty Program.Rewards Point'|translate}}"
                                 [(ngModel)]="currencyRate.amount"
                                 required></base-input-text>
            </div>
            <div class="col-3 operator">
                <base-select name="exchange_currency_id"
                             label="{{'Loyalty Program.Currency'|translate}}"
                             bindValue="code"
                             bindLabel="name"
                             [items]="currencies"
                             [(ngModel)]="currencyRate.currency_code"
                             (change)="onChangeCurrency($event)"></base-select>
                <span class="equal">=</span>
            </div>
            <div class="col-3 value">
                <base-input-text name="exchange_point"
                                 label="{{'Loyalty Program.Point'|translate}}"
                                 [(ngModel)]="currencyRate.point"
                                 disabled></base-input-text>
            </div>
        </div>

    </div>

</ng-template>

