<div class="create-setting create-wrapper">
    <form #orderSettingForm="ngForm"
          class="form-create-organization">

        <div class="create-setting-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Setting.Order'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="button"
                                 buttonStyle="btn btn-primary"
                                 [disabled]="!orderSettingForm.form.valid || !isChangedData()"
                                 (click)="saveSetting()">
                        <span translate="Save"></span>
                    </base-button>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">

                <!--Begin Languages-->
                <cxi-card title="{{'Setting.Setting'|translate}}"
                          size="sm"
                          hideCollapse="true"
                          className="languages">

                    <!--Delete pending order daily-->
                    <div class="row">
                        <div class="col-12">
                            <base-switch name="Cancel-pending-order-daily"
                                         label="{{'Setting.Cancel Pending, Confirmed, Processing orders daily'|translate}}"
                                         [(ngModel)]="settingOrder.delete_pending_order_daily"></base-switch>
                        </div>
                        <div class="col-12">
                            <base-select name="time-to-delete"
                                         label="{{'Setting.Time to cancel'|translate}}"
                                         bindLabel="name"
                                         bindValue="value"
                                         [items]="timeToDeleteOptions"
                                         [(ngModel)]="settingOrder.time_to_delete"></base-select>
                        </div>
                        <div class="col-12">
                            <base-switch name="auto-confirm-order"
                                         label="{{'Setting.Auto confirm order'|translate}}"
                                         class="m-b-n"
                                         [(ngModel)]="settingOrder.auto_confirm_order"></base-switch>
                        </div>
                    </div>
                    <!--End Delete pending order daily-->

                </cxi-card>
                <!--End Languages-->

            </div>
        </div>
    </form>
</div>
