<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header" translate="Reminder.Reminder"></div>
            </div>


            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default" [routerLink]="['../create']">
                    <i class="icon-add-new"></i> <span translate="Reminder.New Reminder"></span>
                </button>
            </div>

        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="Reminder" [config]="cxiTableConfig" [columns]="cxiTableColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>