<div class="filter-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" *ngIf="!isShowsuperadmin">
                <h4 class="text-center col-sm-12 header-org title-organization" *ngIf="currentUser.provider == 'super-admin'">CXI MANAGEMENT</h4>
                <div class="row justify-content-center" *ngIf="currentUser.provider == 'super-admin'">
                    <div class="col-sm-4">
                        <div class="group-organization">
                            <div class="item-img pd-50">
                                <div class="img-super text-center">
                                    <img src="assets/img/group-14.png" alt="img-organization" class="img-fluid">
                                </div>
                            </div>
                            <div class="item-btn">
                                <a class="btn btn-default btn-organization" (click)="handleSkip()">
                                    DASHBOARD
                                </a>
                                <a class="btn btn-default btn-organization btn-super" (click)="loadSuperadmin()">
                                    VIEW ORGANIZATION
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" *ngIf="isShowOrganization">
                <div class="row">
                    <div class="col-sm-12 header-org">
                        <div class="d-flex align-items-center" *ngIf="currentUser.provider == 'super-admin'">
                            <a (click)="backManagement()"><i class="icon-arrow-left1"></i></a>
                            <h4 class="text-center col-sm-12 title-organization">SELECT ORGANIZATION</h4>
                        </div>
                        <h4 *ngIf="currentUser.provider != 'super-admin'"
                            class="text-center col-sm-12 title-organization">SELECT ORGANIZATION</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row justify-content-center">
                            <div class="col-sm-4" *ngFor="let organization of organizations; let i = index;">
                                <div class="group-organization">
                                    <div class="item-img text-center">
                                        <div class="img-organization">
                                            <img src="assets/img/unknown-user.png" alt="img-organization"
                                                class="img-fluid">
                                        </div>
                                        <h4>{{organization.name}}</h4>
                                    </div>
                                    <div class="item-btn">
                                        <a class="btn btn-default btn-organization"
                                            (click)="saveFilter('organization', organization)">
                                            DASHBOARD
                                        </a>
                                        <a class="btn btn-default btn-organization"
                                            (click)="activeOrganization(organization,i)">VIEW
                                            BRANDS
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="isShowBrand">
                <div class="row justify-content-center" *ngIf="activeIndexOrganization >= 0">
                    <div class="col-sm-12 header-org">
                        <div class="d-flex align-items-center">
                            <a (click)="backOrganization()" *ngIf="userLevel !=='brand'">
                                <i class="icon-arrow-left1"></i>
                            </a>
                            <h4 class="text-center col-sm-12 title-organization" *ngIf="orgName">
                                {{orgName}} / SELECT BRAND
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center" *ngFor="let brand of brands; let j = index;">
                        <div class="group-organization">
                            <div class="item-img">
                                <div class="img-organization">
                                    <img *ngIf="brand.image == null" src="assets/img/unknown-user.png"
                                        alt="img-organization" class="img-fluid">
                                    <img *ngIf="brand.image != null"
                                        [src]="(brand.image != null)?baseUrl+brand.image.original_image:''"
                                        alt="img-organization" class="img-fluid">
                                </div>
                                <h4>{{brand.name}}</h4>
                            </div>
                            <div class="item-btn">
                                <a class="btn btn-default btn-organization"
                                    (click)="saveFilter('brand', brand)">DASHBOARD</a>
                                <a class="btn btn-default btn-organization" (click)="activeBrand(brand,j)">VIEW OUTLETS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="isShowOutlet">
                <div class="row justify-content-center" *ngIf="activeIndexBrand >= 0">
                    <div class="col-sm-12 header-org">
                        <div class="d-flex align-items-center">
                            <a (click)="backBrand()"><i class="icon-arrow-left1"></i></a>
                            <h4 class="text-center col-sm-12 title-organization" *ngIf="orgName && brandName">
                                {{orgName}} / {{brandName}} / SELECT OUTLET
                            </h4>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center" *ngFor="let outlet of outlets; let k = index;">
                        <div class="group-organization">
                            <div class="item-oulet">
                                <h4>{{ outlet.name }}</h4>
                            </div>
                            <div class="item-btn">
                                <a class="btn btn-default btn-organization btn-outlet"
                                    (click)="saveFilter('outlet', outlet)">DASHBOARD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>