@import "../../../assets/scss/main";

:host {
  background: $white;
  //display: block;
  height: 100%;
}

.filter-wrapper {
  height: 100%;

  .container-fluid {
    height: 100%;

    .filter-attributes {
      padding: rem(20px) rem(40px);
    }

    .filter-columns {
      height: calc(100% - #{rem(71px)});
      border-top: rem(1px) solid $grey-100;
      background: $grey-050;
    }
  }

  .filter-section {
    padding: rem(20px) rem(40px);
  }

  .filter-item {
    border-right: rem(1px) solid $grey-100;
    background: $white;

    &:first-child {
      border-left: 1px solid $grey-100;
    }

    &.outlet-item {
      ul {
        > li {
          &::after {
            content: none;
          }
        }
      }
    }

    .label {
      padding: rem(30px) rem(40px);
      font-family: $font-sfprotext-bold;
      position: relative;

      .title {
        font-size: rem(24px);
        line-height: 1.5;
        letter-spacing: normal;
        color: $primary-800;
      }

      .view-all {
        font-size: rem(16px);
        line-height: 1.5;
        color: $accent-500;
        text-transform: uppercase;
        position: absolute;
        top: rem(40px);
        right: rem(40px);
        cursor: pointer;
      }
    }

    ul {
      > li {
        color: $cool-gray;
        padding: rem(12px) rem(70px) rem(12px) rem(40px);
        border-top: 1px solid $grey-100;
        font-size: rem(16px);
        position: relative;

        .icon-view {
          color: $accent-500;
          font-size: rem(22px);
          float: right;
          opacity: 0;
        }

        &:not(disabled) {
          cursor: pointer;
        }


        &::after {
          content: "";
          font-family: "icon-bssfb";
          @include fontSize(22px, 24px);
          text-align: center;
          color: $grey-300;

          position: absolute;
          top: rem(12px);

          right: rem(30px);
          width: rem(24px);
          height: rem(24px);
        }

        &.active {
          background-color: $grey-050;
          border-bottom: 1px solid #e2e3e6;

          color: #16171a;
          font-family: $font-sfprotext-bold;
        }

        &:hover {
          &:not(.saved) {
            .icon-view {
              opacity: 1;
            }
          }
        }

        &.saved {
          .icon-view {
            opacity: 1;
          }
        }


      }
    }
  }

  // btn-skip
  .btn-skip {
    background: transparent;
    color: $accent-500;
    @include fontSize(16px, 24px);

    position: fixed;
    left: calc(100% / 6 - (#{rem(84px)} / 2));
    bottom: rem(30px);

    i {
      float: right;
      @include fontSize(22px, 24px);
      width: rem(24px);
      height: rem(24px);
      margin-left: rem(11px);
    }

    &:hover {
      background: $grey-050;
    }
  }
}
///css-filter-new---
.title-organization {
  font-size: rem(16px);
  font-family: "sfprotextbold";
  color: $primary-800;
  margin: 0;
  text-transform: uppercase;
}
.header-org {
  margin: rem(30px) 0 rem(50px) 0;
  i {
    font-size: rem(24px);
    color: $primary-800;
  }
}
.group-organization {
  background-color: $white;
  border-radius: rem(4px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
  margin: rem(15px) 0;
  .item-img{
    padding: rem(30px) 0;
    &.pd-50 {
      padding: rem(50px);
    }
    .img-organization{
      width: rem(90px);
      height: rem(90px);
      line-height: rem(90px);
      margin: 0 auto;
      img {
        width: 100%;
        //height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    h4 {
      font-size: rem(16px);
      padding-top: rem(10px);
      margin: 0;
    }
  }
  .item-btn{
    border-top: 1px solid $grey-100; 
    .btn-organization {
      text-decoration: none;
      color: $accent-500;
      font-size: rem(12px);
      font-family: "sfprotextbold";
      width: 50%;
      padding: rem(11px) rem(20px);
      height: unset;
      border-radius: 0px; 
      white-space: normal;
      border: 0px;
      box-shadow: none;
      &:last-child{
        border-left: 1px solid  $grey-100; 
      }
    }
    .btn-outlet {
      width: 100%;
    }
    .btn-super {
      white-space: unset;
      padding: rem(10px);
    }
  }
  .item-oulet {
    padding: rem(20px) 0 rem(40px) rem(20px);
    text-align: left;
    h4 {
      font-size: rem(16px);
      font-family: "sfprotextbold";
      color: $grey-900;
    }
  }
}