<base-select name="select"
             [custom]="true"
             bindLabel="name"
             bindValue="id"
             [items]="cxiPerPageItems"
             [(ngModel)]="perPage"
             (change)="onChange()"></base-select>

<ngb-pagination [(page)]="currentPage"
                [pageSize]="perPage"
                [rotate]="true"
                [collectionSize]="total"
                [maxSize]="5"
                (pageChange)="onChange()"></ngb-pagination>



