<cxi-label name="{{name}}"
           [required]="required"
           [label]="label"></cxi-label>

<ng-template [ngIf]="value">
    <div class="row">
        <div class="col-12">
            <div class="from">
                <!--label from-->
                <ng-template [ngIf]="labelFrom">
                    <span>{{labelFrom}}</span>
                </ng-template>

                <base-select name="f-h" class="f-d m-b-n"
                             [style.width.rem]="width"
                             bindLabel="name"
                             bindValue="value"
                             [items]="hours"
                             [(ngModel)]="value.fromHour"
                             (change)="onChange()"></base-select>
                <base-select name="f-m" class="f-m m-b-n"
                             [style.width.rem]="width"
                             bindLabel="name"
                             bindValue="value"
                             [items]="minutes"
                             [(ngModel)]="value.fromMinute"
                             (change)="onChange()"></base-select>
                <base-select name="f-y" class="f-y m-b-n"
                             [style.width.rem]="width"
                             [items]="meridiems"
                             [(ngModel)]="value.fromMeridiem"
                             (change)="onChange()"></base-select>
            </div>


            <div class="to">
                <!--label to-->
                <ng-template [ngIf]="labelTo">
                    <span>{{labelTo}}</span>
                </ng-template>

                <base-select name="t-h" class="t-d m-b-n"
                             [style.width.rem]="width"
                             bindLabel="name"
                             bindValue="value"
                             [items]="hours"
                             [(ngModel)]="value.toHour"
                             (change)="onChange()"></base-select>
                <base-select name="t-m" class="t-m m-b-n"
                             [style.width.rem]="width"
                             bindLabel="name"
                             bindValue="value"
                             [items]="minutes"
                             [(ngModel)]="value.toMinute"
                             (change)="onChange()"></base-select>
                <base-select name="t-y" class="t-y m-b-n"
                             [style.width.rem]="width"
                             [items]="meridiems"
                             [(ngModel)]="value.toMeridiem"
                             (change)="onChange()"></base-select>
            </div>
        </div>
    </div>
</ng-template>

<!--<pre>Show: {{show()|json}}</pre>-->
