@import "../../../../assets/scss/main";

:host {
  display: grid;
}

base-select {
  width: rem(70px);

  &:not(:last-child) {
    margin-right: rem(5px);
  }
}

span {
  @include fontSize(16px, 24px);
  margin-right: rem(15px);
  padding: rem(6px) 0;
}

base-select,
span {
  display: inline-block;
  float: left;
}

.from,
.to {
  display: inline-block;
  float: left;
}

.to {
  margin-left: rem(15px);
}
