<div class="create-setting create-wrapper">
    <form #regionLanguageSettingForm="ngForm"
          class="form-create-organization"
          (ngSubmit)="save()">
        <div class="create-setting-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Setting.Region & Language'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="button"
                                 buttonStyle="btn btn-primary"
                                 [disabled]="!regionLanguageSettingForm.form.valid || !isChangedData()"
                                 (click)="save()">
                        <span translate="{{labelButtonSave()}}"></span>
                    </base-button>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">

                <!--Begin Languages-->
                <cxi-card title="{{'Setting.Languages'|translate}}"
                          size="md"
                          className="languages">

                    <!--languages-->
                    <div class="row p-20">
                        <div class="col-12">
                            <base-select name="languages"
                                         label="{{'Setting.Select language'|translate}}"
                                         class="m-b-n"
                                         bindLabel="name"
                                         bindValue="id"
                                         [items]="languages"
                                         [(ngModel)]="regionLanguage.language"></base-select>
                        </div>
                    </div>
                    <!--End languages-->

                </cxi-card>
                <!--End Languages-->

            </div>
        </div>
    </form>
</div>
