@import "~src/assets/scss/main";


.create-user-body {
  background-color: $white;
  margin: auto;
  max-width: rem(550px);
  padding: rem(20px) 0;
  .title-body {
    font-size: rem(16px);
    font-family: $font-sfprotext-bold;
    line-height: 1.5;
    margin-bottom: rem(20px);
  }

}
span {
  text-transform: uppercase;
  margin-bottom: rem(5px);
  font-size: rem(12px);
}
form .create-user-body base-select{
  margin-bottom: 0;
}