<div class="create-product create-wrapper">
    <form
        #createProductForm="ngForm"
        class="form-create-product"
        (ngSubmit)="onSubmit()">

        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Event.Create New Event'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <button type="button"
                                class="btn-cancel btn"
                                (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </button>
                        <button type="submit"
                                class="btn-addnew btn btn-primary"
                                [disabled]="!createProductForm.form.valid">
                            <span>{{'Create'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <!--Product Information-->
                <cxi-card title="Basic info" [size]="'xl'"
                          className="event-information">

                    <!--product name-->
                    <div class="row">
                        <div class="col-6">
                            <base-input-text name="name_vi"
                                             label="Title (Vietnamese)"
                                             [(ngModel)]="event.title_vi"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="name_en"
                                             label="Title (English)"
                                             [(ngModel)]="event.title_en"
                                             [maxLength]="5000"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="event_code" type="text" label="Code" width="full"
                                             [(ngModel)]="event.code">
                            </base-input-text>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-form" (click)="autoGenerate()">
                                <i class="icon-auto"></i>
                                <span>Auto Generate</span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 margin-custom">
                            <p>Thumbnail *</p>
                            <div class="col-sm-12">
                                <app-cxi-upload-file name="upload-img" (file)="onFileChanged($event)"
                                                      [(ngModel)]="event.thumbnail">
                                </app-cxi-upload-file>
                            </div>
                        </div>
                    </div>

                    <p>Cover *</p>
                    <app-select-banner-groups
                            name="banner"
                            [(ngModel)]="event.banner_group"
                            required=""></app-select-banner-groups>

                    <div class="row">
                        <div class="col-6">
                            <app-cxi-datetimepicker name="startTime"
                                                    label="Start time *"
                                                    [(ngModel)]="event.start_time"
                                                    (onChangeStartTime)="changeTime($event)"
                                                    [minDate]="minDate"
                            ></app-cxi-datetimepicker>
                        </div>
                        <div class="col-6">
                            <app-cxi-datetimepicker name="endTime"
                                                    label="End time *"
                                                    [(ngModel)]="event.end_time"
                                                    [minDate]="event.start_time"
                            ></app-cxi-datetimepicker>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <base-input-text name="location_vi"
                                             label="Location (Vietnamese)"
                                             [maxLength]="5000"
                                             [(ngModel)]="event.location_vi"
                                             required=""
                            >
                            </base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="location_en"
                                             label="Location (English)"
                                             [maxLength]="5000"
                                             [(ngModel)]="event.location_en"
                                             required=""
                            >
                            </base-input-text>
                        </div>
                    </div>

                    <!--description-->
                    <div class="row">
                        <div class="col-12">
                            <base-textarea name="description_vi"
                                               label="Introduction (Vietnamese)"
                                               [(ngModel)]="event.content_vi">
                            </base-textarea>
                        </div>
                        <div class="col-12">
                            <base-textarea name="description_en"
                                           label="Introduction (English)"
                                           [(ngModel)]="event.content_en">
                            </base-textarea>
                        </div>
                    </div>

                    <!--upload file-->
                    <div class="row">
                        <div class="col-12 margin-custom">
                            <p>Intro image *</p>
                            <div class="col-sm-12">
                                <app-cxi-upload-file name="content-image" (file)="onFileContent($event)"
                                                      [(ngModel)]="event.content_image">
                                </app-cxi-upload-file>
                            </div>
                        </div>
                    </div>
                </cxi-card>


                <cxi-card title="Booking config" [size]="'xl'"
                          className="event-information">

                    <!--product name-->

                    <div class="row">
                        <div class="col-12 margin-custom">
                            <p>General</p>
                            <base-checkbox name="allowBooking"
                                           [label]="'Allow Booking'"
                                           [(ngModel)]="event.allow_booking"></base-checkbox>
                            <base-checkbox name="is_feature"
                                           [label]="'Mark as featured'"
                                           [(ngModel)]="event.is_feature"></base-checkbox>
                        </div>
                        <div class="col-6">
                            <base-select name="priority"
                                         label="priority"
                                         bindValue="value"
                                         bindLabel="name"
                                         [items]="priority"
                                         [(ngModel)]="event.priority"
                            >
                            </base-select>
                        </div>
                        <div class="col-6">
                            <app-cxi-radio label="Booking Type" name="bookingType"
                                           [bindLabel]="'name'"
                                           [bindValue]="'value'"
                                           [values]="bookingType"
                                           [(ngModel)]="event.booking_type"
                                           required=""></app-cxi-radio>
                        </div>
                        <div class="col-4">
                            <base-select name="method"
                                         label="Method"
                                         bindValue="value"
                                         bindLabel="name"
                                         [items]="method"
                                         (change)="handleChangeMethod($event)"
                                         [(ngModel)]="event.payment_type"
                            >
                            </base-select>
                        </div>
                        <div class="col-4">
                            <base-select name="currency"
                                         label="Currency"
                                         bindValue="value"
                                         bindLabel="name"
                                         *ngIf="event.payment_type ==='bank'"
                                         [items]="currency"
                                         [(ngModel)]="event.currency_code"
                            >
                            </base-select>
                        </div>
                        <div class="col-4"></div>

                        <div class="col-4">
                            <base-input-text name="bank"
                                             label="Bank"
                                             *ngIf="event.payment_type ==='bank'"
                                             [(ngModel)]="event.bank_info.bank"
                            >
                            </base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="owner"
                                             label="Account Name"
                                             *ngIf="event.payment_type ==='bank'"
                                             [(ngModel)]="event.bank_info.owner"
                            >
                            </base-input-text>
                        </div>
                        <div class="col-4">
                            <base-input-text name="account-number"
                                             label="Account Number"
                                             *ngIf="event.payment_type ==='bank'"
                                             [(ngModel)]="event.bank_info.account_number"
                            >
                            </base-input-text>
                        </div>

                    </div>
                </cxi-card>



                <cxi-card title="Letter" [size]="'xl'"
                          className="letter"
                          [isClose]="true" (delete)="deleteComponent($event)"
                          *ngIf="componentAdding.letters">
                    <app-select-letters
                            name="letters"
                            [(ngModel)]="event.letters"></app-select-letters>
                </cxi-card>

                <cxi-card title="Exhibition" [size]="'xl'"
                          className="exhibition"
                          [isClose]="true" (delete)="deleteComponent($event)"
                          *ngIf="componentAdding.exhibitions">
                    <div class="row">
                        <div class="col-12">
                        <p>Quyền lợi tham gia triển lãm</p>
                        <app-select-exhibition-benefits
                                name="exhibition-benefit"
                                [(ngModel)]="event.exhibitions[0].data"></app-select-exhibition-benefits>
                        </div>
                        <div class="col-12">
                            <p>Sơ đồ triển lãm</p>
                            <app-cxi-upload-file name="upload-img"
                                                       (file)="onFileContentMap($event)"
                                                       [(ngModel)]="event.exhibitions[0].images"
                            ></app-cxi-upload-file>
                        </div>
                        <div class="col-12">
                        <p>Chú thích</p>
                        <app-select-exhibition-notes
                                name="exhibition-note"
                                [(ngModel)]="event.exhibitions[0].note"></app-select-exhibition-notes>
                        </div>
                    </div>
                </cxi-card>

                <cxi-card title="Company" [size]="'xl'"
                          className="company"
                          [isClose]="true" (delete)="deleteComponent($event)"
                          *ngIf="componentAdding.companies">
                    <app-select-companies
                            name="companies"
                            [(ngModel)]="event.companies"></app-select-companies>
                </cxi-card>


                <cxi-card title="Agenda" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="timeline" *ngIf="componentAdding.time_line">
                    <app-select-event-timelines
                            name="timeLine"
                            [(ngModel)]="event.time_line"></app-select-event-timelines>
                </cxi-card>

                <cxi-card title="Topic" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="topic" *ngIf="componentAdding.topics">
                    <app-select-topics
                            name="topic"
                            [(ngModel)]="event.topics"></app-select-topics>

                </cxi-card>

                <cxi-card title="Representative" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="reporter" *ngIf="componentAdding.reporters">
                    <app-select-reporters
                            name="reporter"
                            [(ngModel)]="event.reporters"></app-select-reporters>
                </cxi-card>

                <cxi-card title="Ticket" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="ticket" *ngIf="componentAdding.tickets">
                    <app-select-tickets
                            name="ticket"
                            [minDate]="minDateTicket"
                            [maxDate]="event.end_time"
                            [isChildren]="true"
                            [allowEmpty]="true"
                            [payment_method] = "event.payment_type"
                            [(ngModel)]="event.tickets"></app-select-tickets>
                </cxi-card>


                <cxi-card title="Sponsor" [isClose]="true" [size]="'xl'"  (delete)="deleteComponent($event)"
                          className="sponsor" *ngIf="componentAdding.sponsors">
                    <app-select-sponsors
                            name="sponsor"
                            [level]="level"
                            [(ngModel)]="event.sponsors"></app-select-sponsors>
                </cxi-card>


                <cxi-card title="Highlight" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="highlight" *ngIf="componentAdding.highlight_info">
                    <app-select-highlight-infos
                            name="highlight"
                            [(ngModel)]="event.highlight_info"></app-select-highlight-infos>
                </cxi-card>


                <cxi-card title="Speaker" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="speaker" *ngIf="componentAdding.speakers">
                    <app-select-speakers
                            name="speaker"
                            [(ngModel)]="event.speakers"></app-select-speakers>
                </cxi-card>

                <cxi-card title="Seat Map" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"
                          className="seatmap" *ngIf="componentAdding.seatmaps">
                    <app-select-seat-maps
                            name="seatmap"
                            [(ngModel)]="event.seatmaps"></app-select-seat-maps>
                </cxi-card>


                <!--<cxi-card title="Thông tin thanh toán" [isClose]="true" [size]="'xl'" (delete)="deleteComponent($event)"-->
                          <!--className="billing" *ngIf="componentAdding.bank_info">-->
                    <!--<div class="row">-->
                        <!---->
                    <!--</div>-->
                    <!--&lt;!&ndash;<app-select-bank-infos&ndash;&gt;-->
                    <!--&lt;!&ndash;name="bank"&ndash;&gt;-->
                    <!--&lt;!&ndash;[(ngModel)]="event.bankInfo"></app-select-bank-infos>&ndash;&gt;-->
                <!--</cxi-card>-->
            </div>
            <div class="col-12">
                <div class="d-flex">
                    <div class="base-panel xl mx-auto">
                        <div class="create-user-body">
                            <div class="row p-20">
                                <div class="col-6">
                                    <base-select name="component"
                                                 bindValue="key"
                                                 bindLabel="name"
                                                 [items]="listComponent"
                                                 [(ngModel)]="component"
                                    >
                                    </base-select>
                                </div>
                                <div class="col-6">
                                    <base-button
                                            type="button"
                                            icon="icon-add-new"
                                            buttonStyle="btn-default"
                                            (click)="addComponent()">
                                        Add information
                                    </base-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
