<ng-template [ngIf]="loyaltyStatistic">

    <!-- loyalty-program -->
    <div class="row m-b-md">
        <div class="col-sm-12">
            <div class="base-panel dashboard-loyalty-program">
                <div class="title-panel">
                    {{'dashboard.Loyalty program'|translate}}
                </div>

                <ngx-slick-carousel class="carousel"
                                    #slickModal="slick-carousel"
                                    [config]="slideConfig">
                    <div ngxSlickItem
                         *ngFor="let slide of loyaltyStatistic; let i = index"
                         class="slide">
                        <app-customer-level [customerLevel]="slide"
                                            [color]="getColor(i)"></app-customer-level>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
    <!--end loyalty-program -->

</ng-template>
