@import "../../../../assets/scss/main";

.loyalty-program {
  height: rem(166px);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    //li {
    //  height: rem(84px);
    //  display: inline-block;
    //  width: calc(20% - #{rem(16px)} - #{rem(1px)} - #{rem(3px)});
    //  margin-right: rem(20px);
    //  float: left;
    //
    //  &:not(:last-child) {
    //    border-right: 1px solid $grey-050;
    //  }
    //
    //  &.accent {
    //    color: $accent-500;
    //  }
    //
    //  &.green {
    //    color: $green-500;
    //  }
    //
    //  &.grey {
    //    color: $grey-300;
    //  }
    //
    //  &.yellow {
    //    color: $yellow-500;
    //  }
    //
    //  &.blue {
    //    color: $blue-500;
    //  }
    //
    //  .icon {
    //    width: rem(22px);
    //
    //    i {
    //      @include fontSize(22px, 22px);
    //    }
    //  }
    //
    //  .value {
    //    @include fontSize(24px, 36px);
    //    color: $grey-900;
    //    font-weight: bold;
    //    display: block;
    //    //margin-bottom: rem(5px);
    //  }
    //
    //  .des {
    //    color: $cool-gray;
    //    @include fontSize(12px, 18px, bold);
    //  }
    //}
  }
}
.dashboard-loyalty-program {
  .slide {
    .icon {
      width: rem(22px);

      i {
        @include fontSize(22px, 22px);
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    //li {
    //  flex: 1 0 18%;
    //  height: rem(84px);
    //  display: inline-block;
    //  margin-bottom: rem(10px);
    //  margin-right: rem(20px);
    //  &:not(:last-child) {
    //    border-right: 1px solid $grey-050;
    //  }
    //
    //  &.accent {
    //    color: $accent-500;
    //  }
    //
    //  &.green {
    //    color: $green-500;
    //  }
    //
    //  &.grey {
    //    color: $grey-300;
    //  }
    //
    //  &.yellow {
    //    color: $yellow-500;
    //  }
    //
    //  &.blue {
    //    color: $blue-500;
    //  }
    //
    //  .icon {
    //    width: rem(22px);
    //
    //    i {
    //      @include fontSize(22px, 22px);
    //    }
    //  }
    //
    //  .value {
    //    @include fontSize(24px, 36px);
    //    color: $grey-900;
    //    font-weight: bold;
    //    display: block;
    //    //margin-bottom: rem(5px);
    //  }
    //
    //  .des {
    //    color: $cool-gray;
    //    @include fontSize(12px, 18px, bold);
    //  }
    //}
  }
}
