@import "~src/assets/scss/main";
.create-customers {
    .create-customers-body {
        .header-left {
            padding-top: rem(20px);
            background-color: $white;
            .img-left {
                width: rem(120px);
                height: rem(120px);
                object-fit: contain;
                border: solid 1px #dde2e5;
                margin: 0 auto;
                border-radius: 50%;
                margin-bottom: rem(30px);
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .group-btn {
                border-top: 1px solid #e2e3e6;
                display: flex;
                form{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    .btn.btn-default {
                        border: 0px;
                        width: 50%;
                        height: rem(60px);
                        font-size: rem(16px);
                        color: $cool-gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: unset; 
                        >label {
                            font-size: rem(16px);
                            color: $cool-gray;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                        }
                        &:last-child{
                            border-left: solid 1px #dde2e5;
                        }
                        i {
                            margin-right: rem(5px);
                            font-size: rem(24px);
                            &.icon-image{
                                color: $accent-500;
                            }
                            &.icon-close{
                                color: #f4341b;
                            }   
                        }
                    }
                }
            }
        }
        .body-left {
            padding-top: rem(20px);
            background-color: $white;
            margin-top: rem(20px);
            .group-total {
                span {
                    font-size: rem(12px);
                    color: $cool-gray;
                    padding: rem(20px);
                }
                h2 {
                    font-size: rem(24px);
                    font-family: $font-sfprotext-bold;
                    margin: 0;
                    padding: rem(20px);
                }
                .level {
                    display: flex;
                    align-items: center;
                    padding: rem(20px);
                    padding-top: 0;
                    .color-level {
                        width: rem(76px);
                        height: rem(24px);
                        border-radius: rem(15px);
                        background-color: $accent-500;
                        margin-right: rem(15px);
                    }
                }
                button {
                    width: 100%;
                    height: rem(60px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0px;
                    border-top: 1px solid #e2e3e6;
                    box-shadow: unset; 
                    font-size: 16px;
                    color: $cool-gray;
                    >i {
                        color: $accent-500;
                        font-size: rem(24px);
                    }
                }
            }
            .group-social {
                padding: rem(40px);
                a {
                    &:last-child {
                        float: right;
                    }
                }
            }
            .btn-addLink {
                width: 100%;
                height: 4.2857142857rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0px;
                border-top: 1px solid #e2e3e6;
                box-shadow: unset;
                font-size: 16px;
                color: $cool-gray;
                >i {
                    color: $accent-500;
                    font-size: 1.7142857143rem;
                }
            }
        }
        .title-payment {
            font-size: rem(16px);
            font-weight: bold;
            padding-bottom: rem(10px);
        }
        .order-history {
            overflow-x: scroll;
        }
    }
    .create-customers-header {
        .title-header {
            display: flex;
            align-items: center;
            &:before{
                font-size: rem(24px);
            }
        }
        .btn-white{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #dde2e5;
            margin-right: rem(20px);
        }
    }
}
.btn-addnew-customer {
    background-color: #20275a;
    border-radius: 0.28571429rem;
    color: #ffffff;
    -webkit-box-align: center;
    align-items: center;
    font-family: "sfprotextregular";
    border: 1px solid #20275a;
    cursor: pointer;
    width: rem(35px);
    height: rem(35px)!important;
    text-align: center;
    border-radius: 50%;
    padding: 0!important;
    .icon-add-new {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0!important;
        float: unset!important;
    }
}
.icon-fv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4341b;
    font-size: rem(24px);
    cursor: pointer;
}
.w-100 {
    width: 100%;
}
.w-60 {
    width: 60%;
}
.w-40 {
    width: 40%;
}