@import "~src/assets/scss/main";

.modal-header-exchange-rate{
  padding: rem(20px);
  label {
    font-size: rem(16px);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #16181c;
  }
  button {
    margin: unset;
    .icon-close {
      font-size: rem(24px);
      color: $red-500;
    }
  }
}
.modal-body-exchange-rate{
  padding: 0 rem(20px) rem(20px) rem(20px);
}
.modal-footer-exchange-rate {
  padding-bottom: rem(30px);
}
