<div class="modal-header modal-header-exchange-rate">
    <label>Create New Exchange Rate</label>
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close"
            (click)="cancel()">
        <i class="icon-close"></i>
    </button>
</div>

<div class="modal-body modal-body-exchange-rate">
    <!--SELECT PERIOD-->
    <div class="form-group">
        <base-select id="my-select"
                     name="customer-level"
                     label="customer-level"
                     bindValue="name"
                     bindLabel="name"
                     [items]="customerLevels" [(ngModel)]="exchangeRate.name"></base-select>
    </div>

    <div class="accumulated_rate form-group">
        <span>ACCUMULATED RATE</span>
        <input label="accumulated_rate" name="accumulated_rate" class="form-control"  [disabled]="!exchangeRate.name" [(ngModel)]="exchangeRate.accumulated_rate"/>
    </div>
    <div class="maximum_amount form-group">
        <span>MAXIMUM AMOUNT</span>
        <input name="maximum_rate" class="form-control" [disabled]="!exchangeRate.name" [(ngModel)]="exchangeRate.maximum_amount"/>
    </div>
</div>

<div class="modal-footer modal-footer-exchange-rate">
    <div class="button-group">
        <base-button type="button"
                     buttonStyle="btn-default"
                     (click)="no()">
            Cancel
        </base-button>
        <base-button type="button"
                     buttonStyle="btn-primary"
                     (click)="yes()">
            Create
        </base-button>
    </div>
</div>
