<div class="list-wrapper">


    <div class="list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Shift management.Shift management'|translate}}
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <div class="button-group">
                    <base-button type="button"
                                 buttonStyle="btn btn-primary"
                                 routerLink="../create">
                        <i class="icon-add-new"></i>
                        <span>{{'Shift management.Add new Shift'|translate}}</span>
                    </base-button>
                </div>

            </div>
        </div>
    </div>


    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="demo"
                          [config]="cxiGridConfig"
                          [columns]="cxiGridColumns"></app-cxi-grid>
        </div>
    </div>

</div>
