@import "../../../../assets/scss/main";

.list-items {
  border: rem(1px) solid $grey-200;
  padding: rem(10px);
  margin-top: rem(20px);
  border-radius: rem(4px);
  background: $white;

  // scroll
  height: rem(112px);
  overflow: hidden;

  .item {
    @include fontSize(16px, 24px);
    color: $grey-900;
    padding-left: rem(39px);
    position: relative;
    margin-bottom: rem(10px);

    .group-action {
      width: rem(24px);
      height: rem(24px);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      @include fontSize(20px, 24px);
      text-align: center;
      cursor: pointer;

      i {
        @include fontSize(20px, 24px);
        color: $green-500;
      }
    }
  }

  .warn-text {
    width: 100%;
    text-align: center;
    display: block;
    @include fontSize(14px, 20px);
  }
}

.select-wrap {
  margin-top: rem(20px);

  .title {
    @include fontSize(16px, 24px);
    color: $green-900;
    margin-bottom: rem(10px);
    display: inline-block;
  }

  .selected-items {
    .selected-item {
      display: inline-flex;
      border-radius: rem(17px);
      @include fontSize(16px, 24px);
      background-color: $grey-050;

      padding: rem(5px) rem(10px) rem(5px) rem(10px);
      margin-bottom: rem(5px);
      margin-right: rem(5px);

      .group-action {
        cursor: pointer;
        width: rem(24px);
        height: rem(24px);
        margin-left: rem(10px);

        i {
          margin-left: rem(10px);
          color: $red-500;
          @include fontSize(24px, 24px);
        }
      }
    }
  }
}
