<div class="row p-20">
    <div class="col-6">
        <base-select name="{{name}}-category"
                     label="{{'Category.Category'|translate}}"
                     class="m-b-n"
                     bindValue="id"
                     bindLabel="name"
                     [items]="categories"
                     [(ngModel)]="categoryId"
                     (change)="onChangeCategory($event)"></base-select>
    </div>

    <ng-template [ngIf]="category && category.children && category.children.length > 0">
        <div class="col-6">
            <base-select name="{{name}}-sub-category"
                         label="{{'Category.Sub-Category'|translate}}"
                         class="m-b-n"
                         bindValue="id"
                         bindLabel="name"
                         [items]="category.children"
                         [(ngModel)]="subCategoryId"
                         (change)="onChangeSubCategory($event)"></base-select>
        </div>
    </ng-template>
</div>


<!--Begin List products-->
<div class="row">
    <div class="col-12">


        <!--list-items-->
        <div class="list-items">
            <div class="row p-20">
                <ng-template [ngIf]="category">
                    <ng-template [ngIf]="products && products.length > 0 ">
                        <ng-template ngFor
                                     let-product
                                     [ngForOf]="products |
                                        baseFilterNotIncludeId: value"
                                     let-i="index">

                            <!--product -item-->
                            <div class="col-6">
                                <div class="item">
                                    {{product.name}}
                                    <div class="group-action">
                                        <i class="icon-add-new"
                                           (click)="select(product)"></i>
                                    </div>
                                </div>
                            </div>
                            <!--end product -item-->

                        </ng-template>
                    </ng-template>
                    <ng-template [ngIf]="!products || products.length === 0">
                        <div class="warn-text">
                            {{'Messages.No results found'|translate}}
                        </div>
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="!category">
                    <div class="warn-text">
                        {{'Messages.Please select a category'|translate}}
                    </div>
                </ng-template>
            </div>
        </div>
        <!--end list items-->


        <!--selected items-->
        <ng-template [ngIf]="selectedProducts && selectedProducts.length > 0">
            <div class="select-wrap">
                <span class="title">{{'Cxi Select Products.Selected Items'|translate}}:</span>

                <div class="selected-items">
                    <ng-template ngFor
                                 let-product
                                 [ngForOf]="selectedProducts"
                                 let-i="index">

                        <div class="selected-item">
                            <span>{{product.name}}</span>
                            <div class="group-action">
                                <!--<i class="icon-close"
                                   (click)="unselect(product)"></i>-->
                                <cxi-icon-close name="unselect"
                                                (click)="unselect(product)"></cxi-icon-close>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-template>
        <!--End selected items-->
    </div>
</div>
<!--End List products-->
