@import "../../../../../src/assets/scss/main";

:host {
  display: inline-grid;
  //background: $white;
}

// ==== variables
$upload-file-w: 140px;
$upload-file-h: 140px;
$upload-file-border: 1px;
$padding-upload-img: 5px - $upload-file-border;

$upload-file-icon-remove-w: 24px;

// css

.upload-img {


  border: rem(1px) dashed $grey-200;
  padding: rem($padding-upload-img);
  margin-bottom: rem(15px) !important;
  text-align: center;
  border-radius: rem(8px);
  position: relative;
  overflow: hidden;
  display: inline-block;

  height: rem($upload-file-h);
  width: rem($upload-file-w);

  .add-image {
    width: rem(46px);
    height: rem(42px);
    margin: rem(20px - $padding-upload-img) auto;
  }

  .action-button {
    position: absolute;
    bottom: rem(5px + $upload-file-border);
    width: rem(130px);
    z-index: 2;

    .btn-upload-file {
      padding: rem(5px);
      display: block;
    }
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem(5px);
    background: $white;

    .item-preview {
      width: rem(130px - 2 * $upload-file-border);
      height: rem(130px - 2 * $upload-file-border);

      display: inline-flex;
      float: left;
      position: relative;

      background: $grey-050;
      border: rem(1px) solid $grey-100;
      border-radius: rem(4px);

      .image-preview {
        display: inherit;
        border-radius: rem(4px);
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }

      .remove-item {
        display: inline-table;
        position: absolute;
        width: rem($upload-file-icon-remove-w);
        height: rem($upload-file-icon-remove-w);
        right: 0;
      }
    }
  }
}
