<ng-template [ngIf]="label">
    <cxi-label name="{{name}}-label"
               [label]="label"></cxi-label>
</ng-template>

<div class="upload-img">

    <!--img icon upload-->
    <img class="add-image"
         alt="add image"
         src="assets/img/upload-file.png">

    <!--action buttons-->
    <div class="action-button">
        <base-button type="button"
                     name="{{name}}-btn-upload-file"
                     class="btn-upload-file"
                     buttonStyle="btn btn-default"
                     paddingTop="3"
                     paddingBottom="3"
                     paddingLeft="3"
                     paddingRight="3"
                     (click)="uploadFileInput.click()">
            <span>{{'Upload File.Upload image'|translate}}</span>
        </base-button>
    </div>

    <div class="preview" *ngIf="value">
        <div class="item-preview">
            <div class="image-preview">
                <img class="img-fluid" [src]="value.original_image"/>
            </div>

            <div class="remove-item">
                <cxi-icon-close (click)="removeImage(uploadFileInput)"></cxi-icon-close>
            </div>
        </div>
    </div>
</div>


<!--select new image-->
<input type="file"
       hidden="hidden"
       name="{{name}}-upload-file"
       id="{{name}}-upload-file"
       accept="image/*"
       #uploadFileInput
       (change)="onFileChanged($event, uploadFileInput)"/>
