<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row highlight">
            <div class="col-12">
                <app-cxi-upload-files name="letter-image-{{name}}"
                                      (file)="onFileContent($event)"
                                      [(ngModel)]="value.image_ids"
                                      [multiUpload]="true"
                ></app-cxi-upload-files>
            </div>
        </div>
    </div>
</ng-template>
