<div class="edit-outlet edit-wrapper">

    <form #createOutletForm="ngForm"
          class="form-edit-outlet"
          (ngSubmit)="onSubmit()">

        <div class="edit-outlet-header edit-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Outlet.Edit Outlet'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button"
                                     buttonStyle="btn-default btn"
                                     (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit"
                                     buttonStyle="btn btn-primary"
                                     [disabled]="!createOutletForm.form.valid">
                            <span>{{'Save'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>


        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab"
                                   (tabChange)="onTabChange($event)">

            <!--Outlet Info-->
            <cxi-card title="{{'Outlet.Outlet Info'|translate}}"
                      className="outlet-info">

                <div class="row p-20">
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <base-input-text name="{{'name-'+lang.code}}"
                                                 label="{{ ('Outlet.Outlet Name'|translate) + ' (' + lang.code + ')' }}"
                                                 [(ngModel)]="outlet[lang.code].name">
                                </base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>
                    <div class="col-6">
                        <base-input-text name="contact_name"
                                         label="{{'Outlet.Contact Name'|translate}}"
                                         [(ngModel)]="outlet.contact_name">
                        </base-input-text>
                    </div>
                    <div class="col-6">
                        <base-input-text type="email"
                                         name="contact_email"
                                         label="{{'Outlet.Contact email'|translate}}"
                                         [(ngModel)]="outlet.contact_email">
                        </base-input-text>
                    </div>
                    <div class="col-6">
                        <base-input-text type="text"
                                         name="hotline"
                                         label="{{'Outlet.Hotline'|translate}}"
                                         [(ngModel)]="outlet.contact_number">
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-google-places name="google-places"
                                                  label="{{'Outlet.Address'|translate}}"
                                                  [(ngModel)]="outlet.street"
                                                  (addressChange)="handleAddressChange($event)"></base-input-google-places>
                    </div>

                    <!--organization - brands-->

                    <div class="col-6" *ngIf="!isHiddenBrand">
                        <base-select name="choose brand"
                                     label="{{'Outlet.Choose brand'|translate}}"
                                     [items]="brands"
                                     bindLabel="name"
                                     bindValue="id"
                                     [(ngModel)]="outlet.parent_id"
                                     (ngModelChange)="onSelectBrand($event)">
                        </base-select>
                    </div>
                </div>

            </cxi-card>

        </cxi-language-left-sidebar>
    </form>
</div>
