<div class="list-wrapper">
    <div class="list-header calendar-header">
        <div class="row align-items-center">
            <div class="col-4">
                <div class="title-header">
                    {{'Calendar.Calendar'|translate}}
                </div>
            </div>
        </div>
    </div>

    <div class="calendar">
        <div class="row">
            <div class="col-12">
                <app-cxi-calendar
                    name="schedules-calendar">
                </app-cxi-calendar>
            </div>
        </div>
    </div>
</div>
