@import "../../../../src/assets/scss/main";


.calendar-header {
  padding-bottom: rem(30px);


  .title-header {
    @include fontSize(24px, 36px);
    color: $primary-800;
    font-family: $font-sfprotext-bold;
  }
}
