@import "../../../../../assets/scss/main";

.stats {
  flex: 1 0 18%;
  height: rem(84px);
  display: inline-block;
  margin-bottom: rem(10px);
  margin-right: rem(20px);

  &:not(:last-child) {
    border-right: 1px solid $grey-050;
  }

  &.accent {
    color: $accent-500;
  }

  &.green {
    color: $green-500;
  }

  &.grey {
    color: $grey-300;
  }

  &.yellow {
    color: $yellow-500;
  }

  &.blue {
    color: $blue-500;
  }

  .icon {
    width: rem(22px);
    height: rem(22px);
    display: inline-block;

    i {
      @include fontSize(22px, 22px);
    }
  }

  img.icon-img {
    width: rem(22px);
    height: rem(22px);
  }

  .value {
    @include fontSize(24px, 36px);
    color: $grey-900;
    font-weight: bold;
    display: block;
    //margin-bottom: rem(5px);
  }

  .des {
    color: $cool-gray;
    @include fontSize(12px, 18px, bold);
  }
}
