<div class="stats"
     [ngClass]="{
        'accent':color ==='accent',
        'green':color ==='green',
        'grey':color ==='grey',
        'yellow':color ==='yellow',
        'blue':color ==='blue'
     }">

    <!--icon-->
    <ng-template [ngIf]="customerLevel.icon">
        <ng-template [ngIf]="customerLevel.icon.indexOf('/')===-1">
            <span class="icon">
                <i class="{{customerLevel.icon ? customerLevel.icon : 'icon-customer'}}"></i>
            </span>
        </ng-template>
        <ng-template [ngIf]="customerLevel.icon.indexOf('/')!==-1">
            <img class="icon-img" [src]="getImageUrl(customerLevel.icon)">
        </ng-template>
    </ng-template>
    <ng-template [ngIf]="!customerLevel.icon">
        <span class="icon">
            <i class="{{customerLevel.icon ? customerLevel.icon : 'icon-customer'}}"></i>
        </span>
    </ng-template>

    <!--value-->
    <span class="value">
        {{customerLevel.value}}
    </span>

    <!--name-->
    <span class="des text-uppercase">
        {{ getTranslatedName(customerLevel.name) | async }}
    </span>
</div>
