<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row speaker">
            <div class="col-12">
                <span>Avatar</span>
                <app-cxi-upload-files name="{{name}}-upload-img"
                                 [(ngModel)]="value.customer_images"
                                 (file)="onFileContent($event)"
                ></app-cxi-upload-files>
            </div>
            <div class="col-12">
                <base-input-text name="{{name}}-speaker-name"
                                 label="Name"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.customer_name"
                >
                </base-input-text>
            </div>
            <div class="col-8">
                <base-input-text name="{{name}}-degree"
                                 label="degree"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.customer_degree"
                >
                </base-input-text>
            </div>
            <div class="col-4">
                <base-input-text name="{{name}}-position"
                                 label="Position"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.customer_position"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <app-cxi-input-editor
                        name="{{name}}-report-title-vi"
                        label="report Title (Vietnamese)"
                        [(ngModel)]="value.customer_report_title_vi"></app-cxi-input-editor>
            </div>
            <div class="col-12">
                <app-cxi-input-editor
                        name="{{name}}-report-content-vi"
                        label="report Content (Vietnamese)"
                        [(ngModel)]="value.customer_report_content_vi"></app-cxi-input-editor>
            </div>
            <div class="col-12">
                <app-cxi-input-editor
                        name="{{name}}-report-title-en"
                        label="report Title (English)"
                        [(ngModel)]="value.customer_report_title_en"></app-cxi-input-editor>
            </div>
            <div class="col-12">
                <app-cxi-input-editor
                        name="{{name}}-report-content-en"
                        label="report Content (English)"
                        [(ngModel)]="value.customer_report_content_en"></app-cxi-input-editor>
            </div>
            <div class="col-12">
                <span>Curriculum Vitae</span>
                <app-cxi-upload-files name="{{name}}-upload-files"
                                      [(ngModel)]="value.customer_curriculum_vitae"
                                      [multiUpload]="true"
                                      (file)="onFileCV($event)"
                ></app-cxi-upload-files>
            </div>
        </div>
    </div>
</ng-template>
