@import "~src/assets/scss/main";

.add-on-type {
  position: relative;
  .speaker {
    margin-top: rem(20px);
  }
}

.remove-item {
  position: absolute;
  top: rem(20px);
  right: rem(20px);
  z-index: 9;
}
