@import "~src/assets/scss/main";

.edit-role {
  .form-create-organization{
    overflow: hidden;
  }
  .title-body {
    font-size: rem(16px);
    font-family: $font-sfprotext-bold;
    line-height: 1.5;
    margin-bottom: rem(20px);
  }

  .modules-list {
    margin-left: rem(-20px);
    margin-right: rem(-20px);
  }
}
