<div class="edit-role create-wrapper">
    <form #editRoleForm="ngForm"
          class="form-create-organization"
          (ngSubmit)="editRole()">
        <div class="edit-user-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        <i class="icon-navigation-left"></i>
                        {{'Role.Edit Role'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <button class="btn btn-default"
                            (click)="cancel()">
                        <span>{{'Cancel'|translate}}</span>
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-addnew"
                            [disabled]="!editRoleForm.form.valid">
                        <span>{{'Save'|translate}}</span>
                    </button>
                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab"
                                   (tabChange)="onTabChange($event)">

            <cxi-card name="create-roles"
                      title="{{'Role.Edit Role'|translate}}">

                <div class="row p-20">
                    <div class="col-6">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <base-input-text name="name-{{lang.code}}"
                                                 label="{{('Role.Name'|translate) + ' (' + lang.code + ')' }}"
                                                 [(ngModel)]="role[lang.code].name"
                                                 (change)="onChangeRoleName()"
                                                 required>
                                </base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>
                    <div class="col-6">
                        <cxi-color-picker name="color"
                                          label="{{ ('Role.Color'|translate) }}"
                                          [(ngModel)]="role.color"></cxi-color-picker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="languages"
                                     let-lang>
                            <ng-template [ngIf]="lang.code === tab">
                                <app-cxi-input-editor name="description-{{lang.code}}"
                                                      label="{{ ('Role.Description'|translate) + ' (' + lang.code + ')' }}"
                                                      [(ngModel)]="role[lang.code].description"></app-cxi-input-editor>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <base-select name="parent"
                                     label="{{'Role.Parent'|translate}}"
                                     [items]="roles"
                                     bindValue="id"
                                     bindLabel="name"
                                     [clearable]="true"
                                     [(ngModel)]="role.parent_id">
                        </base-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <base-select name="scope"
                                     label="{{'Role.Scope'|translate}}"
                                     [items]="scopes"
                                     bindValue="value"
                                     bindLabel="name"
                                     [clearable]="true"
                                     [(ngModel)]="role.scope">
                        </base-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="title-body">{{'Role.Modules list'|translate}}</div>
                    </div>
                </div>
                <div class="modules-list">
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>{{'Role.Module Name'|translate}}</th>
                                    <th>{{'Role.View'|translate}}</th>
                                    <th>{{'Role.Create'|translate}}</th>
                                    <th>{{'Role.Edit'|translate}}</th>
                                    <th>{{'Role.Delete'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-template [ngIf]="role.permissions && role.permissions.length > 0">
                                    <ng-template ngFor let-p [ngForOf]="role.permissions">
                                        <tr>
                                            <td>{{p.module}}</td>
                                            <td>
                                                <base-checkbox name="{{p.key}}-view"
                                                               [(ngModel)]="p.view"></base-checkbox>
                                            </td>
                                            <td>
                                                <base-checkbox name="{{p.key}}-create"
                                                               [(ngModel)]="p.create"></base-checkbox>
                                            </td>
                                            <td>
                                                <base-checkbox name="{{p.key}}-edit"
                                                               [(ngModel)]="p.edit"></base-checkbox>
                                            </td>
                                            <td>
                                                <base-checkbox name="{{p.key}}-delete"
                                                               [(ngModel)]="p.delete"></base-checkbox>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </ng-template>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </cxi-card>

        </cxi-language-left-sidebar>
    </form>
</div>
