@import "../../../../assets/scss/main";


.cxi-label-value {
  $height: 36px;
  $height_label: 18px;
  $height_value: 20px;

  margin-top: rem(20px);
  height: rem($height);

  .label {

    @include fontSize(12px, $height_label);
    float: left;
    padding: rem(($height - $height_label) / 2) 0;
  }

  .value {

    @include fontSize(14px, $height_value, bold);
    float: right;
    padding: rem(($height - $height_value) / 2) 0;
  }
}
