<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()"
          (keydown.enter)="$event.preventDefault()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Checklist Management.Create Checklist">
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" [routerLink]="['..', 'list']">
                        <span translate="Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Create"></span>
                    </base-button>
                </div>
            </div>
        </div>

        <cxi-language-left-sidebar name="left-sidebar-language"
                                   [(tab)]="tab"
                                   (tabChange)="handleTab()">

            <cxi-card name="checklist-info"
                      size="md"
                      title="{{'Checklist Management.Information'|translate}}"
                      justify="left">

                <div class="row p-20">

                    <!--name-->
                    <div class="col-12">
                        <ng-template ngFor
                                     [ngForOf]="check_list.translations"
                                     let-translation>
                            <ng-template [ngIf]="translation.locale === tab">
                                <base-input-text name="name-{{translation.locale}}"
                                                 label="{{ ('Checklist Management.Name'|translate) + ' (' + translation.locale + ')' }}"
                                                 required
                                                 [(ngModel)]="translation.name"></base-input-text>
                            </ng-template>
                        </ng-template>
                    </div>

                </div>

                <div class="row p-20">
                    <div class="col-12">
                        <app-cxi-selection-with-checkbox name="base-selection-two-columns"
                                                         label="{{'Checklist Management.Tasks'|translate}}"
                                                         [items]="taskList"
                                                         [(array)]="check_list.tasks"
                                                         (inputCheckboxChange)="handleCheckboxChange($event)"
                                                         bindLabel="name"
                                                         bindValue="id"></app-cxi-selection-with-checkbox>
                    </div>
                </div>
            </cxi-card>

            <cxi-card name="checklist-schedule"
                      size="md"
                      title="{{'Checklist Management.Schedule'|translate}}"
                      justify="left">


                <div class="row p-20">
                    <div class="col-12">
                        <base-datepicker name="begin_date"
                                         label="{{'Checklist Management.Start Date'|translate}}"
                                         [(ngModel)]="check_list.startDate"
                                         (change)="onHandleChange()"
                                         required=""
                                         [minDate]="minDate"></base-datepicker>
                    </div>
                    <div class="col-12">
                        <base-select name="shift"
                                     label="{{'Checklist Management.Shift'|translate}}"
                                     bindLabel="name"
                                     bindValue="id"
                                     [items]="shift"
                                     [(ngModel)]="check_list.shift"></base-select>
                    </div>
                    <div class="col-12">
                        <base-select name="repeat-type"
                                     label="{{'Checklist Management.Repeat'|translate}}"
                                     bindLabel="name"
                                     bindValue="value"
                                     [disabled]="!this.check_list.startDate"
                                     [items]="repeatTypes"
                                     (change)="onHandleChange()"
                                     [(ngModel)]="check_list.repeatType"></base-select>
                    </div>
                    <div class="col-12" *ngIf="check_list.repeatType === 'weekly'">
                        <app-cxi-days-of-week name="shift-days-of-week"
                                          [cols]="2"
                                          (daysOfWeekChange)="onHandleChange()"
                                          [(days)]="check_list.days"></app-cxi-days-of-week>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <base-integer name="end-after"
                                              class="m-b-n"
                                              label="{{'Checklist Management.Ends after'|translate}}"
                                              [(ngModel)]="check_list.endAfter"
                                              (change)="onEndAfterChange()"
                                              [disabled]="isDisableEndAfter()"></base-integer>
                            </div>
                            <div class="col-6">
                                <div class="cxi-label-value">
                                    <span class="label">{{'Shift management.Occurrences'|translate}}</span>
                                    <span class="value">
                            {{
                                        '(' +
                                        (
                                            estimate | baseDate
                                        ) +
                                        ')'
                                        }}
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </cxi-card>

        </cxi-language-left-sidebar>

    </form>
</div>
