@import "~src/assets/scss/main";

.forgot-screen {
  padding: rem(214px) rem(20px) rem(30px) rem(20px);
  color: $white;

  .logo {
    position: absolute;
    top: rem(20px);
    left: rem(20px);
    height: rem(60px);
    width: rem(188px);

    a {
      display: block;
      height: 100%;

      img {
        width: 100%;
        height: auto;
        text-decoration: none;
      }
    }
  }

  .title-center {
    text-align: center;
    font-size: rem(36px);
    line-height: rem(44px);
    color: $white;
    font-weight: 600;
    margin-bottom: rem(20px);
  }

  .description {
    margin: auto rem(-160px) rem(20px);
    text-align: center;
    line-height: 1.43;
  }

  .btn-group-auth {
    margin-top: rem(60px);

    .btn-auth {
      @include fontSize(14px, 20px);
      padding-top: rem(14px);
      padding-bottom: rem(14px);
      height: rem(48px);
    }
  }
}

/*Responsive*/
@media screen and (min-width: 768px) {
  .forgot-screen {
    padding: rem(214px) rem(15px) rem(70px) rem(15px);
    max-width: rem(440px);
    margin: 0 auto;

    .title-center {
      text-align: center;
      font-size: rem(36px);
      line-height: rem(44px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .forgot-screen {
    .create-acc {
      position: unset;
      margin-top: rem(140px);
    }
  }
}
