<div class="forgot-page">
    <!--Logo-->
    <app-logo></app-logo>

    <div class="forgot-screen">

        <div class="title-center">
            {{ 'ForgotPassword.Forgot password'| translate }}
        </div>
        <div class="description">
            {{ 'ForgotPassword.Dont Worry' | translate : {companyName: 'Beesight Soft'} }}
        </div>

        <form #forgotPassword="ngForm"
              class="form-forgot"
              novalidate>

            <div class="form-group">
                <input type="text"
                       id="email"
                       name="email"
                       class="lg"
                       [attr.placeholder]="'ForgotPassword.Email' | translate"
                       [(ngModel)]="email"
                       required>
            </div>

            <div class="btn-group-auth">
                <button class="btn btn-block btn-auth"
                        (click)="submit()"
                        [disabled]="forgotPassword.invalid || loading">
                    {{ 'Send' | translate }}
                </button>
            </div>

        </form>
    </div>
</div>
