<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body">
    <p *ngIf="message">{{message}}</p>
</div>


<div class="modal-footer">
    <div class="button-group">
        <base-button type="submit"
                     buttonStyle="btn-primary"
                     (click)="yes()">
            {{btnYes}}
        </base-button>

        <base-button type="button"
                     buttonStyle="btn-default"
                     (click)="no()">
            {{btnNo}}
        </base-button>

    </div>
</div>
