<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row event-timeline">
            <div class="col-6">
                <base-input-text name="vi"
                                 label="Title (Vietnamese)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.banner.title_vi"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="en"
                                 label="Title (English)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.banner.title_en"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <app-cxi-datetimepicker name="date"
                                        label="Date"
                                        [type]="'calendar'"
                                        [(ngModel)]="value.banner.date"
                ></app-cxi-datetimepicker>
            </div>
            <div class="col-6">
                <base-select name="language"
                             label="Language"
                             bindValue="value"
                             bindLabel="name"
                             [items]="language"
                             [(ngModel)]="value.banner.language"
                >
                </base-select>
            </div>
            <div class="col-12" *ngIf="!value.children">
                <span>Schedule</span>
                <app-select-timelines
                        name="timeline"
                        [(ngModel)]="value.agenda"></app-select-timelines>
            </div>

            <div class="col-12">
                <span>Children</span>
                <app-select-sub-event-timelines
                        name="timeline"
                        [(ngModel)]="value.children"></app-select-sub-event-timelines>
            </div>

        </div>
    </div>
</ng-template>
