<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header">{{'Order.Orders'|translate}}</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default"
                        [routerLink]="['../create']">
                    <i class="icon-add-new"></i> <span>{{'Order.Add New order'|translate}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="demo"
                              [config]="cxiGridConfig"
                              [columns]="cxiGridColumns"></app-cxi-grid>

            </div>
        </div>
    </div>
</div>
