@import "../../../../src/assets/scss/main";

#confirm-order {
  .modal-dialog {
    width: rem(430px) !important;

    .modal-changeStatus {
      .modal-header {
        padding: rem(10px) !important;

        .d-flex {
          align-items: center !important;
          justify-content: center;
          width: 100%;
          position: relative;

          h5 {
            font-size: rem(16px);
          }

          button {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-50%, 35%);
            margin: 0;

            span {
              font-size: rem(30px);
              color: $red-500;
            }
          }
        }
      }

      .modal-footer {
        width: 100%;
        justify-content: center;

        .button-group {
          width: 100%;
          margin: 0;

          button {
            width: 45%;

            &:first-child {
              background: #fff;
              color: #989ca8;
              border: solid 1px #ccc;
            }
          }
        }
      }
    }
  }
}
