<div class="modal fade" id="confirm-order" tabindex="-1" role="dialog" aria-labelledby="exampleModal-cancelLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-changeStatus">
            <div class="modal-header modal-header-payment">
                <div class="d-flex align-items-center">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Order</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <div class="modal-body modal-body-payment">
                <span class="mb-10">Outlets: </span>
                <base-select name="outlets" bindLabel="name" bindValue="id" [items]="outlets"
                             [(ngModel)]="confirmOrder.outlet_id">
                </base-select>
            </div>
            <div class="modal-footer modal-footer-payment pt-0">
                <div class="button-group text-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button class="btn btn-primary" (click)="yes()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
