<label *ngIf="label" class="text-uppercase">
    {{label|baseMakeTitle}}
</label>

<ng-template ngFor let-valueRadio [ngForOf]="values">
    <label for="{{name}}_{{valueRadio[bindLabel]}}"
           class="check-radio">
        <input type="radio"
               name="{{name}}"
               id="{{name}}_{{valueRadio[bindLabel]}}"
               [(ngModel)]="value"
               [value]="valueRadio[bindValue]"
               (change)="onChange()"
               [disabled]="disabled"/>
        {{ makeTitle(valueRadio[bindLabel]) }}
    </label>
</ng-template>
