@import "~src/assets/scss/main";

:host {
  //margin-bottom: rem(20px);
}

.check-radio {
  display: flex;
  align-items: center;
  margin-bottom: rem(10px);
  cursor: pointer;
  font-size: rem(16px);
}

input[type=radio] {
  width: rem(18px);
  height: rem(18px);
  border-radius: 50%;
  border: rem(2px) solid #ccc;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  //margin: rem(-2px) rem(1px) 0 0 !important;
  margin-right: rem(7px);
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
  box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
  outline: none !important;
  position: relative;

  &:disabled {
    background: #eee;
    opacity: 0.5;
  }

  &:after {
    content: "\e930";
    font-family: $font-icon-bss;
    @include fontSize(14px, 14px);
    color:$white;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }
  &:before {
    animation: RadioRippleOn 700ms forwards ease-out;
    position: absolute;
    left: rem(3px);
    top: rem(3px);
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background-color: $primary-800;
    z-index: 1;
    opacity: 0;
    margin: 0;

  }

  &:checked {
    background: $primary-800;
    border-color: $primary-800;

    &:before {
      content: "";
    }

    &:after {
      opacity: 1;
      visibility: visible;
      //transform: none;
    }
  }
}

.text-uppercase {
  display: block;
  margin-bottom: rem(10px);
}

//Animate
@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(8, 8);
  }
}

@keyframes RadioRippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(5, 5);
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(10, 10);
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 rem(2px) rgba(0, 0, 0, 0.1), 0 0 rem(10px) rem(10px) #f2f2f2, 0 0 0 rem(10px) rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 rem(2px) rgba(0, 0, 0, 0.1), 0 0 rem(10px) rem(10px) #f2f2f2, 0 0 0 rem(10px) rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
  }
}
