<!--begin nav-date-->
<cxi-calendar-nav-date
    (changeTypeView)="onChangeTypeView($event)"
    (changeSelectedDate)="onChangeSelectedDate($event)"></cxi-calendar-nav-date>
<!--end nav-date-->


<!--begin calendar body-->
<div class="calendar"
     id="cxi-calendar">

    <div class="header">
        <span class="date">
            {{
            selectedDate | baseDate : 'dddd, DD MMM YYYY'
            }}
        </span>

        <!--today-->
        <base-button name="today"
                     class="today"
                     buttonStyle="btn btn-default"
                     [pressed]="isCurrentTime"
                     [disabled]="isCurrentTime"
                     [fullWidth]="true"
                     (click)="today()">
            {{
            typeView === 'day'
                ? ('Cxi Calendar.Today'|translate)
                : (
                    typeView === 'week'
                        ? ('Cxi Calendar.This week'|translate)
                        : ''
                )
            }}
        </base-button>

        <!--next-prev-->
        <div class="prev-next">
            <a class="next"
               (click)="next()">
                <i class="icon-chevron-right"></i>
            </a>
            <a class="prev"
               (click)="prev()">
                <i class="icon-chevron-left"></i>
            </a>
        </div>
    </div>

    <!--begin day view-->
    <ng-template [ngIf]="typeView==='day'">
        <app-cxi-calendar-day
            name="{{name}}-day"
            [filterShiftIds]="filterShiftIds"
            [filterRoleIds]="filterRoleIds"
            [fromDate]="fromDate"
            [toDate]="toDate"
            [(shiftData)]="shiftData"></app-cxi-calendar-day>
    </ng-template>
    <!--end day view-->


    <!--begin week view-->
    <ng-template [ngIf]="typeView==='week'">
        <app-cxi-calendar-week
            name="{{name}}-week"
            [filterShiftIds]="filterShiftIds"
            [filterRoleIds]="filterRoleIds"
            [fromDate]="fromDate"
            [toDate]="toDate"
            [(shiftData)]="shiftData"></app-cxi-calendar-week>
    </ng-template>
    <!--end week view-->
</div>
<!--end calendar body-->


<!--filter-shift-role-->
<cxi-calendar-filter-shift-role
    name="{{name}}-filter-shift-role"
    [shifts]="shiftData"
    [roles]="roles"
    (shiftIdsChange)="onChangeShiftIds($event)"
    (roleIdsChange)="onChangeRoleIds($event)"></cxi-calendar-filter-shift-role>
<!--end filter-shift-role-->
