<!--allow-items-->
<ng-template ngFor
             [ngForOf]="value"
             let-addOn
             let-ia="index">

    <cxi-select-variant-addon name="{{name}}-{{ia}}"
                              [addOns]="addOns"
                              [applySamePrice]="applySamePrice"
                              [samePrice]="samePrice"
                              (remove)="onRemoveAddOn(ia)"
                              (change)="onChangeVariantAddOn($event)"
                              [(ngModel)]="addOn"></cxi-select-variant-addon>

</ng-template>

<base-button name="add-add-on"
             type="button"
             icon="icon-add-new"
             buttonStyle="btn-default"
             [disabled]="isDisabledAddNew()"
             (click)="addAddOn()">
    {{'Product.Add Add-on'|translate}}
</base-button>

<!--<pre>{{value|json}}</pre>-->
<!--<pre>{{addOns|json}}</pre>-->
