@import "~src/assets/scss/main";

.create-attribute {
    .create-attribute-body {
        width: rem(570px);
    }
}
.tranlate-attribute {
    width: rem(270px);
    height: rem(120px);
    margin-right: rem(15px);
    background-color: $white;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            height: rem(60px);
            padding: rem(15px);
            font-size: rem(16px);
            font-weight: bold;
            font-family: "sfprotextbold";
            cursor: pointer;
            opacity: 0.5;
            display: flex;
            align-items: center;
            &:first-child {
                border-bottom: 1px solid #ccc;
            }
            span {
                margin-left: rem(5px);
            }
            &.active {
                color: #15a5de;
                opacity: 1;
            }
        }
    }
}