<div class="upload-img">
    <img class="add-image" alt="add image"
         src="assets/img/upload-file.png">

    <div class="action-button">
        <base-button type="button"
                     name="upload-file"
                     buttonStyle="btn btn-default"
                     (click)="uploadFileInput.click()">
            <i class="icon-arrow-up1"></i>
            Upload
        </base-button>
    </div>

    <div class="preview" *ngIf="images && images.length > 0">
        <ng-template ngFor
                     [ngForOf]="images"
                     let-image
                     let-i="index">
            <div class="item-preview">
                <div class="image-preview">
                    <img class="img-fluid" draggable="false" ondragstart="return false;" [src]="image.url"/>
                </div>

                <div class="remove-item">
                    <cxi-icon-close (click)="removeImage(i, uploadFileInput)"></cxi-icon-close>
                </div>
            </div>
        </ng-template>
        <div class="action-button" *ngIf="images.length < 4">
            <base-button type="button"
                         name="upload-file"
                         buttonStyle="btn btn-default"
                         (click)="uploadFileInput.click()">
                <i class="icon-arrow-up1"></i>
                Upload
            </base-button>
        </div>
    </div>
</div>


<!--select new image-->
<input type="file"
       hidden="hidden"
       id="upload-file"
       accept="image/*"
       #uploadFileInput
       (change)="onFileChanged($event, uploadFileInput)"/>




