<label class="text-uppercase">
    Condition
</label>


<!--Base conditions-->
<ng-template ngFor let-conditionsGroup [ngForOf]="value" let-i="index">
    <base-conditions name="base-conditions"
                     (addGroup)="onAddNewGroup(i)"
                     (removeGroup)="onRemoveGroup(i)"
                     [(ngModel)]="conditionsGroup"></base-conditions>
</ng-template>
