@import "../../../../assets/scss/main";
.select-scope {
    background: #f4f4f6;
    padding: rem(20px);
    .d-flex {
        justify-content: space-between;
        .form-group {
            width:45%;
            label {
                font-size: rem(12px);
            }
        }
    }
    h4 {
        font-size: rem(16px);
        font-family: "sfprotextbold";
        font-weight: bold;
    }
}
.table-body {
    border: solid 1px $grey-200;
    padding: rem(20px);
    border-radius: rem(4px);
    .table-detail {
        border-radius: rem(4px);
        border: solid 1px $grey-200;
        height: rem(100px);
        position: relative;
        margin-bottom: rem(20px);
        .text-table {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            p {
                font-size: rem(16px);
            }
            .badge  {
                padding: rem(6px);
                color: $white;
                border-radius: rem(12px);
                font-size: rem(12px);
                &.badge-Reserved {
                    background-color: #6737e1;
                }
                &.On-Process {
                    background-color: #ffc70f;
                }
            }
        }
        .form-check {
            text-align: right;
            .form-check-label {
                input[type=radio] {
                    vertical-align: bottom;
                    width: rem(18px);
                    height: rem(18px);
                    border-radius: 50%;
                    border: rem(2px) solid #ccc;
                    background: #fff;
                    color: #555;
                    clear: none;
                    cursor: pointer;
                    display: inline-block;
                    line-height: 0;
                    //margin: rem(-2px) rem(1px) 0 0 !important;
                    margin-right: rem(7px);
                    outline: 0;
                    padding: 0 !important;
                    text-align: center;
                    //vertical-align: middle;
                    -webkit-appearance: none;
                    -webkit-box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
                    box-shadow: inset 0 rem(1px) rem(2px) rgba(0, 0, 0, .1);
                    -webkit-transition: .05s border-color ease-in-out;
                    transition: .05s border-color ease-in-out;
                    outline: none !important;
                    position: relative;
                  
                    &:disabled {
                      background: #eee;
                      opacity: 0.5;
                    }
                  
                    &:after {
                      content: "\e930";
                      font-family: $font-icon-bss;
                      @include fontSize(14px, 14px);
                      color:$white;
                      display: inline-block;
                      vertical-align: middle;
                      width: auto;
                      height: auto;
                      text-align: center;
                      opacity: 0;
                      visibility: hidden;
                    }
                  
                    &:before {
                      animation: RadioRippleOn 700ms forwards ease-out;
                      position: absolute;
                      left: rem(3px);
                      top: rem(3px);
                      width: rem(8px);
                      height: rem(8px);
                      border-radius: 50%;
                      background-color: $primary-800;
                      z-index: 1;
                      opacity: 0;
                      margin: 0;
                  
                    }
                  
                    &:checked {
                      background: $primary-800;
                      border-color: $primary-800;
                  
                      &:before {
                        content: "";
                      }
                  
                      &:after {
                        opacity: 1;
                        visibility: visible;
                        //transform: none;
                      }
                    }
                }
            }
        }
    }
}
.order-left{
  padding: 20PX;
  background: #f4f4f6;
  background: #fff;
  .table-seat-map {
    tfoot >tr>th {
        border: 0px;
        padding: rem(10px) 0;
        font-weight: unset;
    }
  }
}
