<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header">Seat Map</div>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="select-scope">
                    <h4>Select Application Scope</h4>
                    <div class="d-flex align-items-center mt-20">
                        <div class="form-group">
                            <label>CHOOSE BRAND</label>
                            <select class="form-control">
                                <option>BRAND</option>
                                <option>BRAND</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>CHOOSE OUTLET</label>
                            <select class="form-control">
                                <option>outlet</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-body mt-20">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                    <span class="badge badge-Reserved">Reserved</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                    <span class="badge On-Process">On-Process</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-detail">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="table" value="table1">
                                    </label>
                                </div>
                                <div class="text-table">
                                    <p>Table 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="order-left">
                    <h4>Table 1</h4>
                    <table class="table table-seat-map">
                        <tfoot>
                            <tr>
                                <th colspan="3">Number of Table</th>
                                <th class="text-right" colspan="3">209000</th>
                            </tr>
                            <tr>
                                <th colspan="3">Number of Seats</th>
                                <th class="text-right" colspan="3">--</th>
                            </tr>
                            <tr>
                                <th colspan="3">Order ID</th>
                                <th class="text-right" colspan="3">--</th>
                            </tr>
                            <tr>
                                <th class="td-total-price" colspan="3"> Date & Time </th>
                                <th class="td-total-price text-right" colspan="3">--</th>
                            </tr>

                            <tr>
                                <th colspan="3">Number of Customer</th>
                                <th class="text-right" colspan="3">209000</th>
                            </tr>
                            <tr>
                                <th colspan="3">Waiter</th>
                                <th class="text-right" colspan="3">--</th>
                            </tr>
                            <tr>
                                <th colspan="3">Cashier</th>
                                <th class="text-right" colspan="3">--</th>
                            </tr>
                            <tr>
                                <th class="td-total-price" colspan="3"> Total of Order </th>
                                <th class="td-total-price text-right" colspan="3">--</th>
                            </tr>
                            <tr>
                                <th class="td-total-price" colspan="3"> Order Detail</th>
                                <th class="td-total-price text-right" colspan="3">--</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>









