<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">
    {{label}}
</label>

<div class="row">
    <div class="col">
        <ng-template ngFor
                     [ngForOf]="options"
                     let-option>
            <button class="btn"
                    (click)="selectOption(option.id)"
                    [ngClass]="{
                        'btn-default': option.id !== value,
                        'btn-primary': option.id === value
                    }"
                    [disabled]="option.disabled">
                {{option.name}}
            </button>
        </ng-template>


        <input type="text"
               id="{{name}}"
               name="{{name}}"
               hidden="hidden"
               [(ngModel)]="value">

<!--        <pre>options:{{options|json}}</pre>-->
<!--        <pre>value:{{value|json}}</pre>-->
    </div>
</div>
