@import "~src/assets/scss/main";

.edit-profile {
  padding-top: rem(22px);

  .edit-header {
    margin-bottom: rem(22px);
  }

  .edit-profile-body {
    background-color: transparent;
    padding: 0;

    .avatar-section {
      padding-bottom: 0;

      .avatar-img {
        width: rem(120px);
        height: rem(120px);
        margin: rem(10px) auto rem(30px);
        border-radius: 50%;
        border: 1px solid $grey-050;
        overflow: hidden;

        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .btn-section {
        margin: 0 rem(-20px);

        [class*=icon-] {
          float: none;
          //font-size: rem(16px);
          //line-height: 1.5;


          font-size: rem(24px);
          line-height: rem(24px);
          display: inline-block;
          width: rem(24px);
          height: rem(24px);
          margin-right: rem(4px);
        }

        .icon-image {
          color: $accent-500;
        }

        .icon-close {
          color: $red-500;
        }


        .btn-block {
          color: $cool-gray;
          display: inline-flex;
          width: 100%;
          margin: 0;
          height: rem(60px);
          font-size: rem(16px);
          line-height: 1.5;
          border-top: 2px solid $grey-050;
          
          label {
            font-size: inherit;
            color: inherit;
            @include fontSize(16px, 24px);
            display: inline-flex;

            cursor: pointer;
          }

          & + .btn-block {
            border-left: 2px solid $grey-050;
          }
        }
      }
    }

    .detail-section {
      margin-right: 0;
    }

  }
}
