<div class="edit-profile edit-wrapper">
  <form #createOrganizationForm="ngForm" class="form-edit-profile" (ngSubmit)="onSubmit()">
    <div class="edit-profile-header edit-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header">
            My Profile ffffffffff
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <div class="button-group">
            <ng-template [ngIf]="!isEditing">
              <base-button type="button"
              buttonStyle="btn btn-primary"
              (click)="editProfile()">
              <span>Edit Profile</span>
            </base-button>
          </ng-template>
          <ng-template [ngIf]="isEditing">
            <base-button type="button"
            buttonStyle="btn btn-default"
            (click)="cancel()">
            Cancel
          </base-button>
          <base-button type="submit"
          buttonStyle="btn btn-primary">
          Update
        </base-button>
      </ng-template>
    </div>

  </div>
</div>
</div>


<div class="edit-profile-body edit-body">
  <div class="row">
    <div class="col-3 offset-1 mb-2">
      <div class="base-panel avatar-section">
        <div class="avatar-img">
          <img [src]="profile.avatar"
          class="img-responsive avatar" (error)="errorHandler($event)"/>
        </div>

        <div class="btn-section btn-group btn-group-justified d-flex">
          <input id="avatar" type="file" hidden="hidden" (change)="onFileChanged($event)"
          accept="image/*">
          <button type="button" class="btn btn-block" name="update">
            <label for="avatar">
              <i class="icon-image"></i>
              Upload
            </label>
          </button>
          <button type="button" class="btn btn-block" name="update" (click)="remove()">
            <i class="icon-close"></i>Remove
          </button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="base-panel detail-section">
        <div class="title-panel">User Detail</div>
        <!--1-->
        <div class="row p-20">
          <div class="col-6">
            <base-input-text name="first_name"
            label="First Name"
            [(ngModel)]="profile.first_name"
            width="full"
            [disabled]="!isEditing">
          </base-input-text>
        </div>
        <div class="col-6">
          <base-input-text name="last_name" label="Last Name"
          [(ngModel)]="profile.last_name"
          [disabled]="!isEditing"
          width="full">
        </base-input-text>
      </div>
    </div>
    <!--2-->
    <div class="row p-20">
      <div class="col-6">
        <base-input-text name="email" label="Email" [(ngModel)]="profile.email"
        [disabled]="!isEditing"
        width="full">
      </base-input-text>
    </div>

  </div>
  <!--3-->
  <div class="row p-20">
    <div class="col-6">
      <base-datepicker name="dob" label="DOB"
      [(ngModel)]="profile.dob"
      [disabled]="!isEditing"></base-datepicker>
    </div>
    <div class="col-6">
      <base-select name="gender"
      label="Gender"
      bindLabel="name"
      bindValue="value"
      [items]="baseSelectGenders"
      [(ngModel)]="profile.gender"
      [disabled]="!isEditing"></base-select>
    </div>
  </div>
  <!--4-->
  <div class="row p-20">
    <div class="col-6">
      <base-input-text name="phone" label="Phone"
      [(ngModel)]="profile.phone"
      [disabled]="!isEditing"
      width="full">
    </base-input-text>
  </div>
</div>
<!--5-->
<div class="row p-20">
  <div class="col-12">
    <base-input-text name="address"
    label="Address"
    [(ngModel)]="profile.address"
    [disabled]="!isEditing"
    width="full">
  </base-input-text>
</div>
</div>
<!--6-->
<div class="row p-20">
  <div class="col-12">
    <base-button name="change-password"
    buttonStyle="btn btn-default"
    icon="icon-lock"
    (click)="changePassword()"
    [disabled]="isEditing">
    Change Password
  </base-button>
</div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
