@import "../../../../assets/scss/main";

:host {
  //justify-content: center !important;
  //display: flex !important;
  //margin-bottom: rem(10px);
}

.cxi-card {
  &.left {
    justify-content: flex-start;
    display: flex;
  }

  &.right {
    justify-content: flex-end;
    display: flex;
  }

  &.center {
    justify-content: center;
    display: flex;
  }

  margin-bottom: rem(10px);
  display: flex;
}

.base-panel {
  position: relative;

  .remove-item {
    float: right;
    margin-right: rem(30px);
  }

  .title-panel {
    display: flex;

    span {
      float: left;
      display: inline-block;
    }

    cxi-badge {
      display: inline-block;
      float: left;
      margin-left: rem(10px);
    }
  }
}

a.collapse-toggle {
  width: rem(24px);
  height: rem(24px);
  display: inline-block;
  text-align: center;

  position: absolute;
  right: rem(20px);
  top: rem(20px);

  i {
    @include fontSize(20px, 24px);
    color: $cool-gray;

    &.icon-arrow-down1 {
      color: $cool-gray;
    }

    &.icon-chevron-down {
      color: $accent-500;
    }
  }
}

.collapse {
  height: 100%;
}

.event-information {
  span {
    color: red;
  }
}
