<div class="cxi-card" [style.marginBottom.rem]="marginBottom" [ngClass]="{
     'left': justify==='left',
     'right': justify==='right',
     'center': justify==='center'
     }">

    <div class="base-panel {{className}}" [ngClass]="getPanelClassName()">
        <div class="row">
            <div class="col-12">
                <div class="remove-item" *ngIf="isClose" (click)="close()">
                    <cxi-icon-close></cxi-icon-close>
                </div>

                <!--title-->
                <div class="title-panel" [ngClass]="{'collapsed': isCollapsed}" *ngIf="title">

                    <span>{{title}}</span>

                    <!--badge-->
                    <ng-template [ngIf]="badge">
                        <cxi-badge name="{{name}}-title-badge" [label]="badge"></cxi-badge>
                    </ng-template>
                </div>
            </div>
        </div>

        <!--collapse button-->
        <ng-template [ngIf]="!hideCollapse">
            <a class="collapse-toggle" (click)="collapse()">
                <i class="icon-arrow-up1"
                   [ngClass]="{
                'icon-chevron-up': isCollapsed,
                'icon-chevron-down': !isCollapsed}"></i>
            </a>
        </ng-template>


        <!-- body slot here -->
        <div class="collapse show" [ngbCollapse]="isCollapsed">
            <div class="panel-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
