@import "../../../../assets/scss/main";

$w: 270px;
$li-h: 60px;

.nav-translate {
  display: flex;
  justify-content: flex-end;


  ul {
    padding: 0;
    margin: 0;
    list-style: none;


    width: rem($w);
    background-color: $white;

    li {
      height: rem($li-h);
      padding: rem(15px);
      color: $cool-gray;
      @include fontSize(16px, 24px, bold);
      font-family: $font-sfprotext-bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      opacity: 0.4;

      &:first-child {
        border-bottom: 1px solid $grey-100;
      }

      span {
        margin-left: rem(5px);
      }

      &.active {
        color: $accent-500;
        opacity: 1;
      }
    }
  }
}

$arrow-w: 24px;

span.white-arrow {
  display: block;
  position: absolute;
  top: rem(($li-h - $arrow-w) /2);
  left: rem(15px - $arrow-w / 2);
  border-top: rem($arrow-w/2) solid transparent;
  border-bottom: rem($arrow-w/2) solid transparent;
  border-right: rem($arrow-w/2) solid white;
}
