<div class="row p-30 cxi-left-sidebar-language">

    <!--begin left side bar: language-->
    <div class="col-4 l">
        <div class="nav-translate">
            <ul>
                <ng-template ngFor
                             [ngForOf]="languages"
                             let-lang>
                    <li (click)="select(lang)"
                        [ngClass]="{
                            'active': language === lang.code
                        }">
                        <img [src]="lang.flag">
                        <span>{{lang.name}}</span>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
    <!--end left side bar: language-->


    <!--begin template-->
    <div class="col-8 r">

        <!--arrow-->
        <span class="white-arrow"
              [style.top.rem]="getTopArrow()"></span>

        <ng-content></ng-content>
    </div>
    <!--end template-->
</div>
