<ng-template [ngIf]="value">

    <!--Holiday-->
    <div class="holiday">
        <div class="title">{{'Working Hour.Holiday'|translate}}</div>
        <div class="sub-title">{{'Working Hour.Occasion list'|translate}}</div>

        <working-hours-holiday name="{{name}}-holidays"
                               [(ngModel)]="value.holidayId"></working-hours-holiday>
    </div>



    <!--Specific day-->
    <ng-template [ngIf]="value.specificDays">
        <div class="specific-days">
            <div class="title">{{'Working Hour.Specific Day'|translate}}</div>

            <ng-template ngFor
                         [ngForOf]="value.specificDays"
                         let-specificDay
                         let-j="index">

                <!--Begin specific-day-->
                <specific-day name="{{name}}-specific-days-{{j}}"
                              label="{{
                                (
                                    'Working Hour.Day' | translate : {number: j+1}
                                )
                          }}"
                              (remove)="onRemoveSpecificDay(j)"
                              [(ngModel)]="specificDay">
                </specific-day>
                <!--End specific day-->

            </ng-template>

            <base-button name="{{name}}-specific-days-remove"
                         buttonStyle="btn btn-default"
                         icon="icon-add-new"
                         (click)="addSpecificDay()">
                {{'Working Hour.Add More Day'|translate}}
            </base-button>
        </div>
    </ng-template>
</ng-template>
