<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row sponsor">
            <div class="col-6">
                <base-input-text name="name"
                                 label="Name"
                                 [(ngModel)]="value.company_name"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="domain"
                                 label="Website"
                                 [(ngModel)]="value.company_website"
                >
                </base-input-text>
            </div>
            <div class="col-12">
                <app-cxi-upload-file name="upload-img"
                                 (file)="onFileContent($event)"
                                 [(ngModel)]="value.company_logo"
                ></app-cxi-upload-file>
            </div>
        </div>
    </div>
</ng-template>
