@import "../../../../src/assets/scss/main";

.modal-body-order {
  .card-header a:after {
    font-family: 'icon-bssfb';
    content: "\e932";
    float: right;
    color: grey;
  }

  .card-header a.collapsed:after {
    content: "\e931";
  }

  .card-header a:after {
    font-family: 'icon-bssfb';
    content: "\e932";
    float: right;
    color: $accent-500;
    font-size: rem(24px);
  }

  .card-header a.collapsed:after {
    content: "\e931";
    color: gray;
  }

  .card {
    background: transparent;
    border-radius: rem(4px);
    padding: rem(20px);
    border: 0;

    .card-header {
      border: 0;
      padding: 0;
      background: transparent;

      h4 {
        margin: 0;

        > a {
          color: #16181c;
          font-size: rem(16px);
          text-decoration: none;
          font-family: "sfprotextbold";
        }
      }
    }

    .card-body {
      padding: rem(20px) 0 0 0;

      .table-order-detail {
        width: 100%;

        thead {
          tr {
            color: #989ca8;
          }
        }

        tbody {
          tr {
            td {
              padding: rem(10px) 0;
            }
          }
        }

        tfoot {
          tr {
            th {
              padding: rem(10px) 0;
              color: $grey-900;
              font-weight: unset;

              &.td-total-price {
                font-weight: bold;
              }
            }
          }
        }
      }

      label {
        color: #989ca8;
        margin-bottom: rem(4px);
      }
    }
  }
}

.btn-order-detail {
  width: rem(133px);
  height: rem(36px);
  border-radius: rem(18px);
  background-color: var(--grey-50);
  margin: auto;
  white-space: nowrap;

  &:last-child {
    margin-left: rem(20px);
  }

  .justify {
    justify-content: center;

    i {
      font-size: rem(24px);
      margin-right: rem(5px);

      &.icon-close {
        color: $red-500;
      }

      &.icon-check {
        color: $green-500;
      }

      &.icon-arrow-right1 {
        color: $green-500;
      }
    }
  }

  &:focus {
    border: 0;
    outline: 0;
  }
}

.modal-footer {
  display: block;
}

.mg-20 {
  margin-bottom: rem(10px);
}

.name-dis {
  display: block;
}

.add-on {
  display: inline-block;
  padding: rem(5px);
  border-radius: rem(20px);
  border: 1px solid #ccc;
  margin-right: rem(5px);
  margin-bottom: rem(4px);
}
