<div class="modal-header modal-header-order">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>
<div class="modal-body-order">
    <div class="cate-group" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne">
                        Order Information
                    </a>
                </h4>

            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <div class="card-body">
                    <!--order name-->
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Order ID</label>
                            <div>{{order.id}}</div>
                        </div>
                        <div class="col-6">
                            <label>Date</label>
                            <div>{{order.created_at | date:'M/d/yyyy h:mm a' }}</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Delivery Method</label>
                            <div>{{order.order_type}}</div>
                        </div>
                        <div class="col-6">
                            <label>Store</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-12">
                            <label>Note</label>
                            <div>{{order.note}}</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Promotion</label>
                            <div>--</div>
                        </div>
                        <div class="col-6">
                            <label>Promotion Discount Code</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Promotion Discount (%)</label>
                            <div>--</div>
                        </div>
                        <div class="col-6">
                            <label>Promotion Max Discount (VND)</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Voucher Code</label>
                            <div>--</div>
                        </div>
                        <div class="col-6">
                            <label>Voucher Discount</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Voucher Max Discount (VND)</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Payment Method</label>
                            <div>{{(order.payment_method && order.payment_method.name != null)?order.payment_method.name:'--'}}</div>
                        </div>
                        <div class="col-6">
                            <label>Payment Status</label>
                            <div>{{(order.payment_status)?order.payment_status:'--'}}</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Gift Point</label>
                            <div>--</div>
                        </div>
                        <div class="col-6">
                            <label>Driver</label>
                            <div>--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading2">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        Customer Information
                    </a>
                </h4>

            </div>
            <div id="collapse2" class="collapse show" aria-labelledby="heading2">
                <div class="card-body">
                    <!--order name-->
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Customer Name</label>
                            <div>{{order.customer_name}}</div>
                        </div>
                        <div class="col-6">
                            <label>Customer ID</label>
                            <div>{{(order.customer_id != null)?order.customer_id:'--'}}</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Phone Number</label>
                            <div>{{(order.customer_phone)?order.customer_phone:'--'}}</div>
                        </div>
                        <div class="col-6">
                            <label>Email</label>
                            <div>{{(order.customer_email)?order.customer_email:'--'}}</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Address</label>
                            <div>--</div>
                        </div>
                        <div class="col-6">
                            <label>Current Point</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Customer Level</label>
                            <div>--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="order.shipping_address">
            <div class="card-header" id="headingDelivery">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseDelivery" aria-expanded="true" aria-controls="collapseDelivery">
                        Delivery Information
                    </a>
                </h4>

            </div>
            <div id="collapseDelivery" class="collapse show" aria-labelledby="headingDelivery">
                <div class="card-body">
                    <!--order name-->
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Customer Name</label>
                            <div>
                                {{(order.shipping_address.name)?order.shipping_address.name:'--'}}
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Phone Number</label>
                            <div>{{(order.shipping_address.phone)?order.shipping_address.phone:'--'}}</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-12">
                            <label>Address</label>
                            <div>
                                {{(order.shipping_address && order.shipping_address.address1)?order.shipping_address.address1:'--'}}
                            </div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>City</label>
                            <div>--</div>
                        </div>
                        <div class="col-6">
                            <label>District</label>
                            <div>--</div>
                        </div>
                    </div>
                    <div class="row mg-20">
                        <div class="col-6">
                            <label>Ward</label>
                            <div>--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading3">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        Product Information
                    </a>
                </h4>

            </div>
            <div id="collapse3" class="collapse show" aria-labelledby="heading3">
                <div class="card-body">
                    <div class="row mg-20">
                        <div class="col-12">
                            <table class="table-order-detail">
                                <thead>
                                <tr>
                                    <th>QTY</th>
                                    <th colspan="3">DESCRIPTION</th>
                                    <th class="text-right">AMT</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of order.items;let i = index">
                                    <td>{{item.qty_ordered}}</td>
                                    <td colspan="3">
                                        <span class="name-dis">{{item.name}}</span>
                                        <span class="add-on"
                                              *ngFor="let _item of item.addons;let _i = index">{{_item.name}}</span>
                                    </td>
                                    <td class="text-right" *ngIf="item.addons.length > 0">
                                        {{showAddOn}}
                                    </td>
                                    <td class="text-right" *ngIf="item.addons.length <= 0 && item.child == null">
                                        {{item.total}}
                                    </td>
                                    <td class="text-right" *ngIf="item.addons.length <= 0 && item.child !== null">
                                        {{item.child.price}}
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="3">SUBTOTAL</th>
                                    <th colspan="3" class="text-right">{{order.sub_total}}</th>
                                </tr>
                                <tr>
                                    <th colspan="3">TAX</th>
                                    <th colspan="3" class="text-right">--</th>
                                </tr>
                                <tr>
                                    <th colspan="3">PROMOTION</th>
                                    <th colspan="3" class="text-right">--</th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="td-total-price"> TOTAL </th>
                                    <th colspan="3" class="td-total-price text-right">--</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <div class="button-group text-center">
        <button type="button" class="btn-default btn-order-detail" (click)="no()"
                *ngIf="order.status !== 'completed' && order.status !== 'canceled'">
            <div class="d-flex align-items-center justify">
                <i class="icon-close"></i>
                <span>Cancel</span>
            </div>
        </button>

        <button type="submit" class="btn-default btn-order-detail" (click)="confimOrder()"
                *ngIf="order.status == 'pending'">
            <div class="d-flex align-items-center justify">
                <i class="icon-check"></i>
                <span>Confirm</span>
            </div>
        </button>
        <button type="submit" class="btn-default btn-order-detail" (click)="yes()"
                *ngIf="order.status !== 'pending'">
            <div class="d-flex align-items-center justify">
                <i class="icon-arrow-right1"></i>
                <span>Change Status</span>
            </div>
        </button>
    </div>
</div>
