<h3>Cxi Grid (Demo 1)</h3>
<h4>Static data</h4>
<app-cxi-grid name="demo1"
              [config]="cxiGridConfig1"
              [rows]="cxiGridRows1"
              [columns]="cxiGridColumns1">
</app-cxi-grid>


<h3>Cxi Grid (Demo 2)</h3>
<h4>Server pagination, filter, search,...</h4>
<h4>Support translations</h4>
<app-cxi-grid name="demo1"
              [config]="cxiGridConfig2"
              [columns]="cxiGridColumns2">
</app-cxi-grid>


<h3>Edit table</h3>
<base-edit-table name="demo2"
                 [config]="cxiEditTableConfig"
                 [rows]="cxiEditTableRows"
                 [columns]="cxiEditTableColumns">
</base-edit-table>
