<ng-template [ngIf]="!isHiddenApplicationScope">
    <cxi-card title="{{'Order.Application Scope'|translate}}"
              className="application-scope">

        <!--                <div class="title-body">Application Scope</div>-->

        <!-- brands - outlets-->
        <div class="row p-20">
            <!--row 6-->
            <ng-template [ngIf]="!isHiddenBrand">
                <div class="col-6">
                    <base-select name="choose brand"
                                 label="{{'Order.Choose brand'|translate}}"
                                 class="m-b-n"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="brands"
                                 [(ngModel)]="applicationScope.brand_id"
                                 [clearable]="true"
                                 (ngModelChange)="onSelectBrand($event)"
                                 (change)="onChangeBrand()">
                    </base-select>
                </div>
            </ng-template>

            <ng-template [ngIf]="!isHiddenOutlet">
                <div class="col-6">
                    <base-select name="choose outlet"
                                 label="{{'Order.Choose outlet'|translate}}"
                                 class="m-b-n"
                                 bindLabel="name"
                                 bindValue="id"
                                 [items]="outlets"
                                 [clearable]="true"
                                 [(ngModel)]="applicationScope.outlet_id"
                                 (ngModelChange)="onSelectOutlet($event)">
                    </base-select>
                </div>
            </ng-template>
        </div>
    </cxi-card>
</ng-template>
