<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="title-header">Table categories</div>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn-addnew btn btn-default" data-toggle="modal" data-target="#exampleModal">
          <i class="icon-add-new"></i> <span>Add New Table-categories</span>
        </button>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <app-cxi-grid name="table_categories" [config]="cxiGridConfig" [columns]="cxiGridColumns"></app-cxi-grid>
      </div>
    </div>
  </div>
</div>
<app-create-table-categories></app-create-table-categories>
<app-edit-table-categories *ngIf="isShow" [dataTableCate]="table_category"></app-edit-table-categories>