@import "../../../../assets/scss/main";

.scope {
  padding: rem(11px) rem(18px);
  display: flex;

  i {
    @include fontSize(16px, 16px);
    margin-right: rem(5px);
    color: $accent-500;
    float: left;
  }

  .outlet {
    @include fontSize(16px, 17px);
    border-bottom: rem(1px) solid $primary-050;
    text-transform: uppercase;
    float: left;;
  }

}
