<div class="scope">
    <a (click)="filter()">
        <i class="icon-location"></i>
        <span class="outlet">
            ... {{ getScopeLevel() | translate }}: {{ getScopeName() |translate }}
        </span>
    </a>
</div>
