<ng-template ngFor let-sponsor [ngForOf]="value" let-i="index">
    <app-select-banner name="{{name}}-{{i}}"
                       (remove)="onRemove(i,$event)"
                       [(ngModel)]="sponsor"
                       (change)="onChangeVariantAddOnType()"
                       (changeRes)="onChangeRes($event)"
                       [resolutions]="resolutions"></app-select-banner>


</ng-template>

<div class="row m-b">
    <div class="col-12">
        <base-button name="{{name}}-add-aot"
                     type="button"
                     icon="icon-add-new"
                     buttonStyle="btn-default"
                     [disabled]="isDisabledAddNew()"
                     (click)="addAddOnType()">
            Add more
        </base-button>
    </div>
</div>
