<div class="row">
    <div class="col-sm-6 mt-20" *ngIf="dataPayment.length>1">
        <input class="customer-level" type="checkbox" name="all-payment" [(ngModel)]="is_check_all1" value="all"
            (click)="checkPaymentMethodsAll()"> All
    </div>
    <div class="col-sm-6 mt-20" *ngFor="let item of dataPayment;let i = index">
        <input class="customer-level" type="checkbox" [name]="item.name"
            [checked]="paymentMethods_req.indexOf(item) != -1" [value]="item.name"
            (click)="checkPaymentMethods(item)">{{item.name}}
    </div>
    <div class="col-sm-12 text-center mt-20" *ngIf="dataPayment.length<=0">
        <p>The data is empty</p>
    </div>
</div>