@font-face {
  font-family: 'sfprotextregular';
  src: url('fonts/sfprotext/sfprotextregular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfprotextbold';
  src: url('fonts/sfprotext/sfprotextbold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'icon-bssfb';
  src: url('fonts/icon-bssfb.eot?103kjr');
  src: url('fonts/icon-bssfb.eot?103kjr#iefix') format('embedded-opentype'),
  url('fonts/icon-bssfb.ttf?103kjr') format('truetype'),
  url('fonts/icon-bssfb.woff?103kjr') format('woff'),
  url('fonts/icon-bssfb.svg?103kjr#icon-bssfb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-bssfb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e930";
}

.icon-star-o:before {
  content: "\e942";
}

.icon-star-line:before {
  content: "\e93e";
}

.icon-star:before {
  /*content: "\e93f";*/
  content: "\e943";
}

.icon-auto:before {
  content: "\e92f";
}

.icon-inactive:before {
  content: "\e92d";
  color: #989ca8;
}

.icon-active:before {
  content: "\e92e";
  color: #0c0;
}

.icon-minus:before {
  content: "\e933";
}

.icon-add-new:before {
  content: "\e900";
}

.icon-arrow-down:before {
  content: "\e901";
}

.icon-arrow-up:before {
  content: "\e929";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-arrow-right:before {
  content: "\e92a";
}

.icon-arrow-left1:before {
  content: "\e903";
}

.icon-arrow-right1:before {
  content: "\e92b";
}

.icon-arrow-up1:before {
  content: "\e904";
}

.icon-arrow-down1:before {
  content: "\e92c";
}

.icon-brand:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e906";
}

.icon-checkbox:before {
  content: "\e907";
}

.icon-checkbox-blank:before {
  content: "\e908";
}

.icon-checkbox-minus:before {
  content: "\e909";
}

.icon-chevron-up:before {
  content: "\e931";
}

.icon-chevron-down:before {
  content: "\e932";
}

.icon-chevron-left:before {
  content: "\e90a";
}

.icon-chevron-right:before {
  content: "\e90b";
}

.icon-close:before {
  content: "\e90c";
}

.icon-customer:before {
  content: "\e90d";
}

.icon-dashboard:before {
  content: "\e90e";
}

.icon-delete:before {
  content: "\e90f";
}

.icon-diamond:before {
  content: "\e910";
}

.icon-dropdown:before {
  content: "\e911";
}

.icon-edit:before {
  content: "\e912";
}

.icon-filter:before {
  content: "\e913";
}

.icon-image:before {
  content: "\e914";
}

.icon-increase:before {
  content: "\e915";
}

.icon-lock:before {
  content: "\e916";
}

.icon-loyalty:before {
  content: "\e917";
}

.icon-menu:before {
  content: "\e918";
}

.icon-more:before {
  content: "\e919";
}

.icon-new-user:before {
  content: "\e91a";
}

.icon-notification:before {
  content: "\e91b";
}

.icon-orders:before {
  content: "\e91c";
}

.icon-organization:before {
  content: "\e91d";
}

.icon-outlet:before {
  content: "\e91e";
}

.icon-product:before {
  content: "\e91f";
}

.icon-promotion:before {
  content: "\e920";
}

.icon-reply:before {
  content: "\e921";
}

.icon-search:before {
  content: "\e922";
}

.icon-settings:before {
  content: "\e923";
}

.icon-silver-gold:before {
  content: "\e924";
}

.icon-trash:before {
  content: "\e925";
}

.icon-up-level:before {
  content: "\e926";
}

.icon-view:before {
  content: "\e927";
}

.icon-window:before {
  content: "\e928";
}

.icon-report:before {
  content: "\e935";
}

.icon-print:before {
  content: "\e934";
}

.icon-mobile:before {
  content: "\e937";
}

.icon-pos:before {
  content: "\e938";
}

.icon-user-active .path1:before {
  content: "\e939";
  color: #16171a;
}

.icon-user-active .path2:before {
  content: "\e93a";
  color: #15a5de;
  margin-left: -1em;
}

.icon-user-inactive .path1:before {
  content: "\e93b";
  color: #989ca8;
}

.icon-user-inactive .path2:before {
  content: "\e93c";
  color: #cfd1d6;
  margin-left: -1em;
}

.icon-history:before {
  content: "\e936";
}

.icon-location:before {
  content: "\e93d";
}

.icon-combined:before {
  content: "\e940";
}

.icon-calendar:before {
  content: "\e93e";
}

.icon-compare:before {
  content: "\e93f";
}

.icon-error:before {
  content: "\e941";
}
