<div class="create-product create-wrapper">
    <form #createProductForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Customer type.Edit Customer type"></div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button buttonStyle="btn btn-default" (click)="cancel()">
                        <span translate="Customer type.Cancel"></span>
                    </base-button>
                    <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createProductForm.form.valid">
                        <span translate="Customer type.Update"></span>
                    </base-button>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row p-30">
                <div class="col-4">
                    <div class="tranlate-attribute">
                        <ul>
                            <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                                <img src="assets/img/english.png" alt="">
                                <span>English</span>
                            </li>
                            <li (click)="tab = 'vn'" [class]="(tab == 'vn')?'active':''">
                                <img src="assets/img/vn.png" alt="">
                                <span>Tiếng Việt</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-8">
                    <span [class]="(tab == 'en')?'white-arrow':'white-arrow active'"></span>
                    <div class="d-flex">
                        <div class="base-panel md">
                            <div class="title-panel" translate="Customer type.Customer type Information"></div>
                            <div class="row">
                                <div class="col-12" *ngIf="tab == 'en'">
                                    <base-input-text name="name" label="Name" width="full" [(ngModel)]="customerType.name"
                                        required>
                                    </base-input-text>
                                </div>
                                <div class="col-12" *ngIf="tab == 'vn'">
                                    <base-input-text name="name" label="Name" width="full"
                                        [(ngModel)]="customerType.vi.name">
                                    </base-input-text>
                                </div>
                                <div class="col-sm-12"
                                    *ngIf="userScope && userScope.organization && userScope.brand == null">
                                    <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
                                        [(ngModel)]="customerType.brand_id">
                                    </base-select>
                                </div>
                                <div class="col-12" *ngIf="tab == 'en'">
                                    <base-input-text name="description" label="Description" width="full"
                                        [(ngModel)]="customerType.description">
                                    </base-input-text>
                                </div>
                                <div class="col-12" *ngIf="tab == 'vn'">
                                    <base-input-text name="description" label="Description" width="full"
                                        [(ngModel)]="customerType.vi.description">
                                    </base-input-text>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>