<label *ngIf="label"
       class="text-uppercase"
       for="{{name}}">

    {{label | baseMakeTitle}}

    <!--    <cxi-required *ngIf="required"></cxi-required>-->
</label>

<input type="text"
       name="{{name}}"
       id="{{name}}"
       class="form-control base-datepicker"
       title="date"
       ngbDatepicker
       #baseDatepicker="ngbDatepicker"
       [minDate]="internalMinDate"
       [maxDate]="internalMaxDate"
       (click)="baseDatepicker.toggle()"
       [ngClass]="{'invalid': (invalid | async),
            'w-xxs': width === 'xxs',
            'w-xs': width === 'xs',
            'w-xss': width === 'xss',
            'w-xsm': width === 'xsm',
            'w-sm': width === 'sm',
            'w-md': width === 'md',
            'w-lg': width === 'lg',
            'w-xl': width === 'xl',
            'w-xxl': width === 'xxl'
            }"
       [(ngModel)]="value"
       [disabled]="disabled"
       (dateSelect)="onChangeDatepickerValue($event)"/>

<!--icon calendar-->
<i class="icon-calendar"
   [ngClass]="{
        'no-label': !label
    }"></i>

<validation-messages *ngIf="(invalid | async) && model.control.touched"
                     [messages]="failures | async">
</validation-messages>
