@import "../../../../assets/scss/main";

$label-height: 20px;

:host {
  position: relative;
}

input {
  display: inline-block;
}

i {
  @include fontSize(20px, 20px);
  position: absolute;

  top: rem(10px + $label-height);
  right: rem(5px);

  color: #16171a;

  &.no-label {
    top: rem(10px);
  }
}
