<div class="attribute-options-container">
    <ng-template [ngIf]="value">
        <ng-template
            ngFor
            let-attributeOption
            [ngForOf]="value"
            let-i="index">

            <app-attribute-option name="{{name}}-{{i}}" [showTranslate]="showTranslate"
                                  [(ngModel)]="attributeOption"
                                  (remove)="onRemove(i)"></app-attribute-option>

        </ng-template>
    </ng-template>
</div>


<base-button name="add-option"
             buttonStyle="btn-primary"
             icon="icon-add-new"
             (click)="addOption()">
    {{'Attribute.Add Option'|translate}}
</base-button>
