@import "../../../../../assets/scss/main";

h4.title {
  @include fontSize(16px, 24px, bold);
  margin-bottom: 0;
}

.modal-body-create-currency {
  .preview {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.modal-footer-create-currency {
  text-align: left;
  position: initial;
  display: flow-root;

  base-button {
    margin: 0;
  }
}
