<!--<pre>{{product|json}}</pre>-->
<!--<pre>Form values: {{ createOrderForm.form.value | json }}</pre>-->

<div class="create-order create-wrapper">
    <form
        #createOrderForm="ngForm"
        class="form-create-product"
        (ngSubmit)="save()">

        <div class="create-product-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Order.Create New Order'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <button type="button"
                                class="btn btn-default"
                                (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                [disabled]="!createOrderForm.form.valid">
                            <span>{{'Create'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" *ngIf="!brandScope || brandScope ==='fb'">
            <div class="col-12">

                <!--application scope-->
                <app-order-application-scope name="create-order-application-scope"
                                             [(applicationScope)]="order"></app-order-application-scope>

                <!--order information-->
                <cxi-card title="{{'Order.Order Information'|translate}}"
                          className="order-information">
                    <!--order name-->
                    <div class="row p-20">

                        <ng-template [ngIf]="schemaOrder && schemaOrder.order_type">
                            <div class="col-6">
                                <base-select name="order_method"
                                             label="{{'Order.Order Method'|translate}}"
                                             bindLabel="name"
                                             bindValue="id"
                                             [items]="orderMethods"
                                             [(ngModel)]="order.order_type"></base-select>
                            </div>
                        </ng-template>

                        <div class="col-6">
                            <base-datepicker name="food_ready"
                                             label="{{'Order.Food ready'|translate}}"
                                             [(ngModel)]="order.food_ready"></base-datepicker>
                        </div>

                        <div class="col-6">
                            <base-select name="orders_status"
                                         label="{{'Order.Order status'|translate}}"
                                         bindValue="id"
                                         bindLabel="name"
                                         [items]="orderStatuses"
                                         [(ngModel)]="order.status"></base-select>
                        </div>

                        <div class="col-12">
                            <base-textarea name="note"
                                           label="{{'Order.Note'|translate}}"
                                           rows="8"
                                           [attr.placeholder]="'Order.Type a note'|translate"
                                           [(ngModel)]="order.note"></base-textarea>
                        </div>
                    </div>

                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="employee"
                                         label="{{'Order.Employee'|translate}}"
                                         class="m-b-n"
                                         bindValue="id"
                                         bindLabel="name"
                                         bindAvatar="avatar"
                                         [items]="users"
                                         [(ngModel)]="order.employee_id"></base-select>
                        </div>
                        <div class="col-6">
                            <base-select name="saleman"
                                         label="{{'Order.Salesman'|translate}}"
                                         class="m-b-n"
                                         bindValue="id"
                                         bindLabel="name"
                                         bindAvatar="avatar"
                                         [items]="users"
                                         [(ngModel)]="order.staff_id"></base-select>
                        </div>
                    </div>
                </cxi-card>

                <!--Payment-->
                <cxi-card title="{{'Order.Payment'|translate}}">
                    <div class="row p-20">
                        <div class="col-6">
                            <base-select name="payment_method"
                                         label="{{'Order.Payment method'|translate}}"
                                         class="m-b-n"
                                         bindValue="id"
                                         bindLabel="name"
                                         [items]="paymentMethods"
                                         [(ngModel)]="order.payment_method_id"></base-select>
                        </div>
                    </div>
                </cxi-card>

                <!--Customer Info-->
                <cxi-order-select-customer name="order-select-customer"
                                           [(isGuest)]="order.is_guest"
                                           [(ngModel)]="order.customer"
                                           (select)="onSelectCustomer($event)"></cxi-order-select-customer>

                <!--Shipping Address-->
                <ng-template [ngIf]="order.order_type === deliveryOrderType && order.shipping_address">
                    <cxi-order-delivery name="order-delivery"
                                        [customer]="order.customer"
                                        [(billingAddress)]="order.billing_address"
                                        [(shippingAddress)]="order.shipping_address"></cxi-order-delivery>
                </ng-template>

                <!--Deliver Information-->

                <ng-template [ngIf]="schemaOrder && schemaOrder.assign_driver">
                    <ng-template [ngIf]="order.order_type === deliveryOrderType && order.driver">
                        <app-order-assign-driver name="order-assign-driver"
                                                 [orderStatus]="order.status"
                                                 [brandId]="order.brand_id"
                                                 [outletId]="order.outlet_id"
                                                 [delivery]="order.delivery"
                                                 [(orderDriver)]="order.driver"></app-order-assign-driver>
                    </ng-template>
                </ng-template>

                <!--Product Info-->
                <app-order-products name="create-order-products"
                                    [categories]="categories"
                                    [(order)]="order"
                                    [(ngModel)]="order.items"></app-order-products>

                <!--Promotion-->
                <ng-template [ngIf]="schemaOrder && schemaOrder.promotion">
                    <app-order-promotions name="create-order-promotions"
                                          [promotions]="promotions"
                                          [(ngModel)]="order.promotion"
                                          (change)="onChangePromotion($event)"></app-order-promotions>
                </ng-template>
                <!--End promotion-->

                <!--Voucher-->
                <ng-template [ngIf]="schemaOrder && schemaOrder.voucher">
                    <cxi-card title="{{'Order.Voucher'|translate}}">
                        <div class="row p-20">
                            <div class="col-6">
                                <base-input-text name="voucher_code"
                                                 label="{{'Order.Voucher Code'|translate}}"
                                                 [attr.placeholder]="'Order.Value'|translate"
                                                 [(ngModel)]="order.voucher_code"></base-input-text>
                            </div>

                            <div class="col-6">
                                <base-input-text name="voucher_discount"
                                                 label="{{'Order.Voucher Discount'|translate}}"
                                                 [attr.placeholder]="'Order.Value'|translate"
                                                 [(ngModel)]="order.voucher_discount"></base-input-text>
                            </div>

                            <div class="col-6">
                                <base-input-text name="maximum_discount"
                                                 label="{{'Order.Maximum discount (VND)'|translate}}"
                                                 [attr.placeholder]="'Order.Value'|translate"
                                                 [(ngModel)]="order.voucher_maximum_discount"></base-input-text>
                            </div>
                        </div>
                    </cxi-card>
                </ng-template>
                <!--End voucher-->

            </div>
        </div>

        <!--booking-->

        <div class="create-user-body" *ngIf="brandScope ==='booking'">
            <div class="row">
                <div class="col-6">
                    <base-select name="type"
                                 label="{{'Order.Type'|translate}}"
                                 [items]="types"
                                 [bindLabel]="'name'"
                                 [bindValue]="'value'"
                                 [(ngModel)]="booking.booking_type"
                                 (change)="onChangeType($type)"
                                 width="full">
                    </base-select>
                </div>
                <div class="col-6">
                    <base-select name="event"
                                 label="{{'Order.List'|translate}}"
                                 [items]="eventsFilter"
                                 [bindLabel]="'name'"
                                 [bindValue]="'value'"
                                 [(ngModel)]="booking.resource_id"
                                 (change)="onChangeEvent($event)"
                                 width="full">
                    </base-select>
                </div>
                <div class="col-6">
                    <base-select name="type_register"
                                 label="{{'Order.Type of registration'|translate}}"
                                 [items]="registrationTypes"
                                 [bindLabel]="'name'"
                                 [bindValue]="'value'"
                                 [(ngModel)]="booking.register_type"
                                 (change)="onChangeTypeRegister($event)"
                                 width="full">
                    </base-select>
                </div>
                <div class="col-3">
                    <label class="text-uppercase ng-star-inserted" ></label>
                    <base-radio name="type_booking" [values]="bookingType"
                                (change)="onChangeBookingType()"
                                [(ngModel)]="booking.ticket_type"></base-radio>
                </div>
                <div class="col-3">
                    <div class="amount-ticket">
                        <cxi-increase-decrease name="quantity"
                           label="{{'Order.Amount'|translate}}"
                           *ngIf="booking.ticket_type === 'Group'"
                           [min]="1"
                           [max]="10"
                           (change)="quantityChange($event, null, null)"
                           [(ngModel)]="quantity"></cxi-increase-decrease>
                    </div>
                </div>
                <!--ticket-->
                <div class="col-12">
                    <div class="ticket" *ngIf="tickets[0]">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">{{'Order.Ticket'|translate}}</th>
                                <th scope="col">{{'Order.In Stock'|translate}}</th>
                                <th scope="col">{{'Order.Price'|translate}}</th>
                                <th scope="col">{{'Order.Quantity'|translate}}</th>
                                <th scope="col">{{'Order.Sub total'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="childGroup" *ngFor="let ticket of filterChild(tickets, true); let i = index">
                                <td>
                                    <p><b>{{ticket.name}}</b></p>
                                    <ul *ngFor="let child of ticket.children">
                                        <li>
                                            <base-checkbox name="{{child.id}}"
                                                           label="{{child.name}}"
                                                           [disabled]="((child.limit - child.sold) <= 0)"
                                                           (change)="handleCheckbox($event, ticket.id, child.id)"></base-checkbox>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="no-margin margin-top margin-bottom"
                                        *ngFor="let child of ticket.children">
                                        <li>
                                            {{child.limit - child.sold}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="no-margin margin-top margin-bottom"
                                        *ngFor="let child of ticket.children">
                                        <li>
                                            {{child.price | baseMonetary}}
                                        </li>
                                    </ul>
                                </td>
                                <td *ngIf="booking.ticket_type === 'Individual'">
                                    <ul class="margin-top-30 margin-bottom-30" *ngFor="let child of ticket.children">
                                        x{{quantity}}
                                    </ul>
                                    <!--<ul class="margin-top-35" *ngFor="let child of ticket.children">-->
                                        <!--<cxi-increase-decrease name="quantity"-->
                                                               <!--[min]="1"-->
                                                               <!--disabled-->
                                                               <!--[max]="child.maximum_purchase"-->
                                                               <!--(change)="quantityChange($event, child.id, ticket.id)"-->
                                                               <!--[(ngModel)]="child.quantity"></cxi-increase-decrease>-->
                                    <!--</ul>-->
                                </td>
                                <td *ngIf="booking.ticket_type === 'Group'">
                                    <ul class="margin-top-30 margin-bottom-30" *ngFor="let child of ticket.children">
                                        x{{quantity}}
                                    </ul>
                                </td>
                                <td>
                                    <ul class="no-margin margin-top margin-bottom"
                                        *ngFor="let child of ticket.children">
                                        <li *ngIf="booking.ticket_type === 'Individual'">
                                            {{(child.price * quantity) | baseMonetary}}
                                        </li>
                                        <li *ngIf="booking.ticket_type === 'Group'">
                                            {{(child.price * quantity) | baseMonetary}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>


                            <tr *ngFor="let ticket of filterChild(tickets, false); let i = index"
                                [ngClass]="{'disabled': ticket.limit - ticket.sold <= 0}">
                                <td>
                                    <base-checkbox name="{{ticket.id}}"
                                                   label="{{ticket.name}}"
                                                   [disabled]="((ticket.limit - ticket.sold) <= 0)"
                                                   (change)="handleCheckbox($event, null, ticket.id)"></base-checkbox>
                                </td>
                                <td>{{ticket.limit - ticket.sold}}</td>
                                <td>{{ticket.price | baseMonetary}}</td>
                                <td *ngIf="booking.ticket_type === 'Individual'">
                                    x{{quantity}}
                                    <!--<cxi-increase-decrease name="quantity"-->
                                                           <!--[min]="1"-->
                                                           <!--[max]="ticket.maximum_purchase"-->
                                                           <!--disabled-->
                                                           <!--(change)="quantityChange($event, ticket.id, null)"-->
                                                           <!--[(ngModel)]="ticket.quantity"></cxi-increase-decrease>-->
                                </td>
                                <td *ngIf="booking.ticket_type === 'Group'">x{{quantity}}</td>
                                <td *ngIf="booking.ticket_type === 'Individual'">{{(ticket.price * quantity) | baseMonetary}}</td>
                                <td *ngIf="booking.ticket_type === 'Group'">{{(ticket.price * quantity) | baseMonetary}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="total">
                            <div>{{'Order.Total'|translate}}: <span>{{total | baseMonetary}}</span></div>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <p class="title">{{'Order.Ordered by'|translate}}</p>
                    <div class="row customer p-20">
                        <div class="col-6">
                            <base-input-text name="first_name"
                                             label="{{'Order.First Name'|translate}}"
                                             [(ngModel)]="booking.customer_first_name"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="last_name"
                                             label="{{'Order.Last Name'|translate}}"
                                             [(ngModel)]="booking.customer_last_name"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="phone-number"
                                             label="{{'Order.Phone Number'|translate}}"
                                             [(ngModel)]="booking.customer_phone"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="email"
                                             label="{{'Order.Email'|translate}}"
                                             [(ngModel)]="booking.customer_email"
                                             required=""></base-input-text>
                        </div>
                        <div class="col-6">
                            <div class="button-group" *ngIf="!booking.customer_id">
                                <base-button name="add-customer"
                                             buttonStyle="btn btn-primary"
                                             (click)="addCustomers()">
                                    {{'Order.Add Customer'|translate}}
                                </base-button>
                            </div>
                            <div class="button-group" *ngIf="booking.customer_id">
                            <base-button name="add-customer-1"
                                         buttonStyle="btn btn-primary"
                                         icon="icon-auto"
                                         (click)="addCustomers()">
                                {{'Order.Change Info'|translate}}
                            </base-button>

                            <base-button name="mark-as-visitor-1"
                                         buttonStyle="btn btn-default"
                                         (click)="markAsVisitors()">
                                {{'Order.Mark as visitor'|translate}}
                            </base-button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="booking.register_type === 'visitor'">
                    <div class="party">
                        <p class="title">{{'Order.Registration info'|translate}}</p>
                        <app-select-parties
                            name="party"
                            [(ngModel)]="booking.party"></app-select-parties>
                    </div>
                </div>

                <div class="col-12" *ngIf="booking.register_type !== 'visitor'">
                    <p class="title">{{'Order.Business info'|translate}}</p>
                    <div class="row customer p-20">
                        <div class="col-6">
                            <base-input-text name="company_name"
                                             label="{{'Order.Company Name'|translate}}"
                                             [(ngModel)]="booking.company_name"></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="type_of_business"
                                             label="{{'Order.Type of business'|translate}}"
                                             [(ngModel)]="booking.company_type"></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="tax_code"
                                             label="{{'Order.Tax Code'|translate}}"
                                             [(ngModel)]="booking.company_tax_code"></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="website"
                                             label="{{'Order.Website'|translate}}"
                                             [(ngModel)]="booking.company_website"></base-input-text>
                        </div>
                        <div class="col-6">
                            <base-input-text name="exhibit"
                                             label="{{'Order.Exhibit'|translate}}"
                                             *ngIf="booking.register_type !== 'sponsor'"
                                             [(ngModel)]="booking.company_product"></base-input-text>
                        </div>
                    </div>
                </div>

                <div class="row p-20">
                    <!--row-->
                </div>
            </div>
        </div>
    </form>
</div>
