@import "../../../../src/assets/scss/main";

.create-user-body {
  background-color: $white;
  width: rem(845px);
  margin: auto;
  padding: rem(20px);

  .title-body {
    font-size: rem(16px);
    font-family: $font-sfprotext-bold;
    line-height: 1.5;
    margin-bottom: rem(20px);
  }

  .total {
    margin-top: rem(12px);
    font-size: rem(18px);
    font-weight: bold;
    > div{
      float: right;
    }
    span {
      color: #086DC4;
    }
  }

  .title {
    font-size: rem(18px);
    color: #086DC4;
    margin: rem(15px) 0;
  }

  .ticket_name {
    font-size: rem(16px);
    color: #FF8282;
    margin-left: rem(5px);
    margin-bottom: rem(8px);
  }

  .disabled {
    background-color: #e3e3e6;
  }

  .customer {
    //margin: rem(15px);
  }

  .table {
    tr {
      td {
        li {
          list-style: none;
        }
      }
    }

    .childGroup {
      td {
        ul {
          padding-left: 0;

          &.no-margin {
            li {
              margin-left: 0;
            }
          }

          &.margin-top {
            &:first-child {
              margin-top: rem(35px);
            }
          }

          &.margin-bottom {
            &:first-child {
              margin-bottom: rem(30px);
            }
          }

          &.margin-top-35 {
            &:first-child {
              margin-top: rem(35px);
            }
          }

          &.margin-top-30 {
            &:first-child {
              margin-top: rem(30px);
            }
          }

          &.margin-bottom-30 {
            &:first-child {
              margin-bottom: rem(30px);
            }
          }
        }
      }
    }
  }
}


