<!--label-->
<ng-template [ngIf]="label !== '' && label !== null">
        <label class="text-uppercase"
           for="{{name}}">
        {{label}}
    </label>
</ng-template>
<ng-template [ngIf]="label === ''">
    <label class="text-uppercase empty-label"
           for="{{name}}">
        Empty label
    </label>
</ng-template>
<ng-template [ngIf]="label === null">
    <!--no label-->
</ng-template>


<!--Input-->
<input type="{{type}}"
       name="{{name}}"
       id="{{name}}"
       class="form-control"
       maxlength="12"
       [placeholder]="placeholder"
       [(ngModel)]="value"
       (change)="onChange()"
       [ngClass]="{'invalid': (invalid | async)}"
       baseMonetary/>


<!--validation-messages-->
<validation-messages *ngIf="invalid | async"
                     [messages]="failures | async">
</validation-messages>
