<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row banner">
            <div class="col-6">
                <base-select name="resolution-{{name}}"
                             label="Resolution"
                             [items]="resolutions"
                             [bindLabel]="'name'"
                             [bindValue]="'value'"
                             [(ngModel)]="value.resolution"
                             (change)="onChange($event)"
                             width="full"
                             required="">
                </base-select>
            </div>
            <div class="col-6">
                <span>Show title</span>
                <base-checkbox name="showTitle-{{name}}"
                               [(ngModel)]="value.show_title"></base-checkbox>
            </div>
            <div class="col-12">
                <p>Image *</p>
                <app-cxi-upload-file name="banner-image-{{name}}"
                                 (file)="onFileDesktop($event)"
                                 [(ngModel)]="value.file"
                                 required=""
                ></app-cxi-upload-file>
            </div>
        </div>
    </div>
</ng-template>
