<div class="list-user list-wrapper">
    <div class="list-user-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">Customer Levels List</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default"
                        [routerLink]="['../create']">
                    <i class="icon-add-new"></i> <span>Add New Level</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-user-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="demo"
                            [config]="cxiGridConfig"
                            [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
