<h1>PUSHER</h1>

<div class="pusher">

    <!--likes-->
    <div class="main-app">
        <p>Demo pusher real-time</p>
        <div class="like">
            <div style="margin-right: 1rem">
                <h3>{{ likes }} likes</h3>
            </div>
            <button class="btn btn-lg btn-primary"
                    (click)="liked()">
                Like Image
            </button>
        </div>

        <div class="like">
            <div style="margin-right: 1rem">
                <h3>Orders.created:  {{order}}</h3>
            </div>
        </div>

        <div class="like">
            <div style="margin-right: 1rem">
                <h3>Orders.updated:  {{order}}</h3>
            </div>
        </div>
    </div>

</div>
