@import "../../../assets/scss/main";
.search-req {
    border: 1px solid #ccc;
    border-radius: rem( 4px);
    box-shadow: inset 0 0.07142857rem 0.21428571rem 0 rgba(0, 0, 0, 0.2);
    .search {
        padding: rem(6px);
        border-bottom: 1px solid #cccccc85;
        cursor: pointer;
    }
}
.mg-0 {
    margin: 0!important;
}
.show-search-r {
    .list-search {
        display: none;
    }
    &.active {
        .list-search {
            display: block;
        }
    }
}