<cxi-card title="{{'Order.Customer Info'|translate}}"
          className="customer-info">

    <ng-template [ngIf]="!value">
        <div class="button-group">
            <base-button name="{{name}}-add-customer"
                         buttonStyle="btn btn-primary"
                         (click)="addCustomer()">
                {{'Order.Add Customer'|translate}}
            </base-button>

            <base-button name="{{name}}-mark-as-visitor"
                         buttonStyle="btn btn-default"
                         (click)="markAsVisitor()"
                         [pressed]="isGuest">
                {{'Order.Mark as visitor'|translate}}
            </base-button>
        </div>
    </ng-template>


    <ng-template [ngIf]="value">
        <div class="row p-20">
            <div class="col-6">
                <base-input-text name="{{name}}-customer_name"
                                 label="{{'Order.Customer name'|translate}}"
                                 [ngModel]="value.name"
                                 disabled></base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="{{name}}-phone_number"
                                 label="{{'Order.Phone number'|translate}}"
                                 [ngModel]="value.phone"
                                 disabled></base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="{{name}}-email"
                                 label="{{'Order.Email'|translate}}"
                                 [ngModel]="value.email"
                                 disabled></base-input-text>
            </div>
            <div class="col-6">
                <base-input-google-places name="{{name}}-google-places"
                                          label="{{'Order.Address'|translate}}"
                                          [(ngModel)]="value.address"
                                          (addressChange)="handleCustomerAddressChange($event)"
                                          disabled></base-input-google-places>
            </div>
            <div class="col-6">
                <base-input-text name="{{name}}-gift_point"
                                 label="{{'Order.Gift point'|translate}}"
                                 [ngModel]="value.gift_point"
                                 disabled></base-input-text>
            </div>
            <div class="col-6">
                <cxi-customer-level name="{{name}}-level"
                                    label="{{'Order.Customer level'|translate}}"
                                    [level]="'Silver'"
                                    [value]="80"></cxi-customer-level>
            </div>
        </div>

        <div class="button-group">
            <base-button name="{{name}}-add-customer-1"
                         buttonStyle="btn btn-primary"
                         icon="icon-auto"
                         (click)="addCustomer()">
                {{'Order.Change Info'|translate}}
            </base-button>

            <base-button name="{{name}}-mark-as-visitor-1"
                         buttonStyle="btn btn-default"
                         (click)="markAsVisitor()">
                {{'Order.Mark as visitor'|translate}}
            </base-button>
        </div>
    </ng-template>
</cxi-card>
