@import "~src/assets/scss/main";

:host {
  position: relative;
}

.logo {
  position: absolute;
  top: rem(20px);
  left: rem(20px);
  height: rem(60px);
  width: auto;

  padding: rem(12px);

  a {
    display: block;
    height: 100%;

    img {
      height: 100%;
      text-decoration: none;
    }
  }
}


@media screen and (min-width: 768px) {
  .logo {

  }
}
