<div class="modal-header">
    <div class="modal-title">Select Address</div>
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cancel()">
        <i class="icon-close"></i>
    </button>
</div>

<div class="modal-body modal-body-status-confirmation">
    <div class="search-bar">
        <base-input-text name="searchStr"
                         placeholder="Search"
                         [(ngModel)]="searchStr"
                         [ngClass]="{'empty': isEmptyClass() }"
                         (change)="onChangeSearch()"></base-input-text>
    </div>

    <!--customers-->
    <div class="customers-list">
        <app-cxi-grid name="cxi-select-address-{{name}}"
                      [config]="cxiTableConfig"
                      [rows]="addresses"
                      [columns]="cxiColumns"
                      [search]="searchStr"
                      (actionColumn)="yes($event)"></app-cxi-grid>
    </div>
</div>
