<cxi-badge name="cxi-badge"
           label="cxi-badge"></cxi-badge>

<br>
<br>
<br>
<h3>Cxi color picker</h3>
<div class="row">
    <div class="col-4">
        <cxi-color-picker name="cxi-color-picker"
                          [(ngModel)]="color"></cxi-color-picker>
    </div>
    <div class="col-8">
        <h5>color: {{color}}</h5>
    </div>
</div>
