<div class="row">
    <div class="col-12 d-flex">
        <label class="form-check-label check-all" *ngFor="let item of promotion_gift_qty;let i = index">
            <input type="radio" name="quantity" (click)="checkQty(item)" [value]="item"
                [(ngModel)]="promotion_gift_check">{{item}}
        </label>
        <div *ngIf="isShow" class="quantity-alow">
            ALLOWED QUANTITY
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn-icon-minus" type="button" (click)="incrementMinus()">
                        <i class="icon-minus"></i>
                    </button>
                </span>
                <input type="number" class="form-control" [(ngModel)]="gift.quantity" name="quantity"
                    [ngModelOptions]="{standalone: true}">
                <span class="input-group-btn">
                    <button class="btn-icon-add-new" type="button" (click)="incrementPlus()"><i
                            class="icon-add-new"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="text-promotion">TYPE</label>
            <select class="form-control form-control-promotion" (change)="changePromotion()"
                [(ngModel)]="gifts_client.gift_type" [ngModelOptions]="{standalone: true}">
                <option value="customer_pr" disabled>Please choose</option>
                <option *ngFor="let item of promotion_gift_types;let i = index" [value]="item.value">
                    {{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="gifts_client.gift_type == 'free_gift'">
        <div class="form-group">
            <label class="text-promotion">CATEGORIES gift</label>
            <select class="form-control form-control-promotion" (change)="changeCategoryGift()" [(ngModel)]="gift_id"
                [ngModelOptions]="{standalone: true}">
                <option value="customer_pr" disabled>Please choose</option>
                <option *ngFor="let item of categoryGift;let i = index" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="gifts_client.gift_type == 'products'">
        <div class="form-group">
            <label class="text-promotion">Categories</label>
            <select class="form-control form-control-promotion" (change)="onChangePromotionCt($event)"
                [(ngModel)]="cate_child_pr" [ngModelOptions]="{standalone: true}">
                <option value="customer_pr" disabled>Please choose</option>
                <option *ngFor="let item of categories;let i = index" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="isShowcate1">
        <div class="form-group">
            <label class="text-promotion">Sub categories</label>
            <select class="form-control form-control-promotion" (change)="onChangeProductSubCt($event)"
                [(ngModel)]="subcate_child_pr" [ngModelOptions]="{standalone: true}">
                <option value="customer_pr" disabled>Please choose</option>
                <option *ngFor="let item of sub_cate_pr;let i = index" [value]="item.id">{{item.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="row product-gift" id="scroll-promotion">
            <ng-template [ngIf]="product_select.length > 0">
                <div class="col-sm-6" *ngFor="let item_product of product_select;let i = index">
                    <div class="d-flex">
                        <p>{{item_product.name}}</p>
                        <p>
                            <button (click)="addProductGift(item_product,item_product.id,i)"
                                class="icon-add-new"></button>
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngIf]="product_select.length <= 0">
                <div class="col-sm-12 text-center">
                    <p class="gift_arr">The data is empty</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="col-12">
        <label class="text-itempr">Selected Items:</label>
        <div class="group-item" *ngIf="product_gift.length >0">
            <div class="item-pr" *ngFor="let item of product_gift;let i = index">
                <div class="d-flex">
                    <span>{{item.name}}</span>
                    <i (click)="addProductGift(item)" class="icon-close"></i>
                </div>
            </div>
        </div>
    </div>
</div>