@import "~src/assets/scss/main";

$height: 378px;
$ulHeight: $height - 20px - (34px);

.trending-orders {
  height: rem($height);
  padding: rem(20px) rem(20px) 0 rem(20px);

  .title-panel {
    margin-bottom: rem(10px);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  // scroll
  //max-height: rem($ulHeight);
  //overflow-y: auto;

  li {
    padding: rem(10px) 0;

    .avatar {
      width: rem(67px);
      display: inline-block;
      float: left;
      padding-top: rem(6px);

      .number {
        @include fontSize(16px, 24px);
        margin-top: rem(12px);
        display: inline-block;
        color: $cool-gray;
        font-weight: bold;
      }

      img {
        width: rem(48px);
        height: rem(48px);
        float: right;
      }

      .img {
        width: rem(48px);
        height: rem(48px);
        display: inline-block;
        position: relative;
        float: right;
        padding: 0;
        margin: 0;
      }
    }

    .name-count {
      width: calc(100% - #{rem(67px)});
      display: inline-block;
      padding-left: rem(10px);
      min-height: rem(63px);

      .name {
        @include fontSize(14px, 20px);
        display: inline-block;
        margin-bottom: rem(5px);
        width: 100%;
      }

      .count {
        @include fontSize(12px, 18px);
        color: $cool-gray;
      }
    }

    & + li {
      padding-top: rem(10px - 1px);
      border-top: rem(1px) solid $grey-100;
    }
  }
}
