<div class="base-panel trending-orders">
    <div class="title-panel" translate="dashboard.Trending Orders"></div>

    <ul id="scroll-board">
        <ng-template ngFor let-order [ngForOf]="orders" let-i="index">

            <li>
                <div class="avatar">
                    <span class="number">{{ i + 1 }}</span>

                    <div class="img">
                        <cxi-avatar-circle [src]="order.images"></cxi-avatar-circle>
                    </div>
                </div>


                <div class="name-count">
                    <span class="name">{{order.name}}</span>
                    <span class="count" *ngIf="order.count > 1">{{order.count}} times</span>
                    <span class="count" *ngIf="order.count <= 1">{{order.count}} time</span>
                </div>
            </li>

        </ng-template>
    </ul>
</div>