@import "../../../../assets/scss/main";

.list-body {
  .group-order-report{
    background: $white;
    margin: rem(20px) 0;
    border-radius: 4px;
    .nav{
      padding: rem(10px) 0;
      .nav-item{
        padding: rem(10px) 0;
        + .nav-item{border-left: 1px solid $grey-100;}
        .nav-link{
          font-size: rem(14px);
          color: $grey-900;
          padding: 0;
          span{
            color: $accent-500;
          }
        }
      }
    }
    .item-customer-report {
      border-right: 1px solid $grey-100;
      padding: rem(10px);
      margin: rem(10px);
      &.border-none {
        border: 0px; 
      }
      >ul {
        margin: 0;
        padding: 0;
        list-style: none;
        >li{
          display: inline-block;
          padding-right: rem(5px);
          font-size: rem(14px);
          cursor: pointer;
          &:last-child{
            color: $accent-500;
          }
        }
      }
    }
  }
  .multitab {
    margin-left: rem(-30px);
    margin-right: rem(-30px);
    border-bottom: rem(1px) solid $grey-100;
    margin-bottom: rem(20px);
    
    padding-left: rem(30px);
    padding-right: rem(30px);
    ul {
      li {
        &.active {
          border-bottom: rem(2px) solid $accent-500;
          a {
            color: $accent-500;
            font-weight: bold;
          }
        }

        a {
          color: $cool-gray;
          @include fontSize(14px, 20px);
          padding: rem(8px) rem(7px) rem(6px) rem(13px);
        }
      }
    }
  }
}
.icon-chevron-down, .icon-chevron-up {
  font-size: rem(22px);
  cursor: pointer;
  &.active {
    color: #15a5de;
  }
}
.btn-date {
  min-width: rem(140px);
}

.date-start {
  position: absolute;
  top: rem(36px);

  input {
    display: none;
  }
}

.date-end {
  position: absolute;
  top: rem(36px);
  right: 0;

  input {
    display: none;
  }
}
.table {
  tbody >tr>td{
    font-size: rem(14px);
    span{
      color: #989ca8;
      font-size: rem(14px);
    }
  }
  .export-history {
    color: #15a5de;
    font-weight: unset;
    font-family: sfprotextregular;

    cursor: pointer;
    .icon-chevron-up{
      font-size: rem(24px);
      vertical-align: middle;
      color: #989ca8;
    }
    .active {
      font-size: rem(24px);
      vertical-align: middle;
      color: #15a5de;
    }
  }
}