<div class="list-wrapper">
  <div class="list-header">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <div class="title-header">Order History Report</div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="btn-group">
          <div class="btn btn-default active">Day</div>
          <div class="btn btn-default">Week</div>
          <div class="btn btn-default">Month</div>
          <div class="btn btn-default">Year</div>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <div class="btn-group">
          <button class="btn btn-default btn-date" (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
            <span translate="dashboard.Start Date">{{dateStart | baseDate }}</span>
          </button>
          <div class="date-start">
            <input type="text" ngbDatepicker #dateStartDatepicker="ngbDatepicker" [(ngModel)]="dateStart" />
          </div>

          <button class="btn btn-default btn-date" (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
            <span translate="dashboard.End Date">{{dateEnd | baseDate }}</span>
          </button>
          <div class="date-end">
            <input type="text" ngbDatepicker #dateEndDatepicker="ngbDatepicker" placement="bottom-right"
              [(ngModel)]="dateEnd" />
          </div>

          <button class="btn btn-default btn-single-icon" (click)="openDate()">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="group-order-report">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="#">All Customers <span><i class="icon-arrow-left"></i> Export</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Active Customers <span><i class="icon-arrow-left"></i> Excel / CSV</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Orders Information <span><i class="icon-arrow-left"></i>Excel / CSV</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span><i class="icon-print"></i> Print Report</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12">
        <span class="title-order-report">Expand All</span>
        <span class="title-order-report">Collapse All</span>
      </div>
      <div class="col-sm-12 mt-20">
        <table class="table">
          <thead>
            <tr>
              <th>ORDER <i class="icon-dropdown"></i></th>
              <th>DATE <i class="icon-dropdown"></i></th>
              <th>CUSTOMER <i class="icon-dropdown"></i></th>
              <th>APPLICATION SCOPE <i class="icon-dropdown"></i></th>
              <th>PAYMENT TOTAL <i class="icon-dropdown"></i></th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let item of orderHistory;let i = index">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.date | date:'M/d/yyyy HH:mm:ss' }}</td>
              <td>
                {{(item.customer_last_name || item.customer_first_name)?item.customer_last_name +' '+ item.customer_first_name:'--'}}
              </td>
              <td>{{item.application_scope}}</td>
              <td>{{item.payment_total}}</td>
              <td (click)="showOrder(item)" class="export-history">
                <i class="icon-print"></i> Excel / CSV
                <i [class]="(!item.isShow)?'active fadeOut icon-chevron-down':'icon-chevron-up'"></i>
              </td>
            </tr>
            <ng-template [ngIf]="!item.isShow">
              <tr>
                <td><span>Customer ID</span></td>
                <td>{{item.customer_id}}</td>
                <td><span>Total Orders</span></td>
                <td>{{item.total_items}}</td>
                <td><span>Driver</span></td>
                <td>{{(item.driver)?item.driver.first_name:'--'}}</td>
              </tr>
              <tr>
                <td><span>Customer Level</span></td>
                <td>{{(item.customer_level)?item.customer_level:'--'}}</td>
                <td><span>Total Paid</span></td>
                <td>--</td>
                <td><span>Payment Method</span></td>
                <td>{{(item.payment_method)?item.payment_method:'--'}}</td>
              </tr>
              <tr>
                <td><span>Email</span></td>
                <td>{{item.customer_email}}</td>
                <td><span>Order Method</span></td>
                <td>{{item.order_method}}</td>
                <td><span>Status</span></td>
                <td>{{(item.status)?item.status:'--'}}</td>
              </tr>
            </ng-template>
          </tbody>
          <tbody *ngIf="orderHistory.length <= 0">
            <tr>
              <td class="text-center" colspan="6">
                No results found.
              </td>
            </tr>
          </tbody>
        </table>
        <app-cxi-pagination *ngIf="orderHistory.length > 0" (change)="onChangePagination()"></app-cxi-pagination>
      </div>
    </div>
  </div>
</div>