<div class="list-wrapper">
  <div class="list-header">
    <div class="row">
      <div class="col-4">
        <div class="title-header">Delivery App</div>
      </div>
      <div class="col-8 text-right">
        <div class="btn-group select-group-by mr-20">
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'day'}" (click)="selectTime('day')">
            <span translate="dashboard.Day"></span>
          </button>
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'week'}" (click)="selectTime('week')">
            <span translate="dashboard.Week"></span>
          </button>
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'month'}"
            (click)="selectTime('month')">
            <span translate="dashboard.Month"></span>
          </button>
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'year'}" (click)="selectTime('year')">
            <span translate="dashboard.Year"></span>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-default btn-date" (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
            <span translate="dashboard.Start Date">{{dateStart | baseDate }}</span>
          </button>
          <div class="date-start">
            <input type="text" ngbDatepicker #dateStartDatepicker="ngbDatepicker" [(ngModel)]="dateStart" />
          </div>

          <button class="btn btn-default btn-date" (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
            <span translate="dashboard.End Date">{{dateEnd | baseDate }}</span>
          </button>
          <div class="date-end">
            <input type="text" ngbDatepicker #dateEndDatepicker="ngbDatepicker" placement="bottom-right"
              [(ngModel)]="dateEnd" />
          </div>

          <button class="btn btn-default btn-single-icon" (click)="openDate()">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="list-body">
    <div class="multitab">
      <ul class="nav nav-pills">
        <li *ngFor="let item of stepy;let i = index" (click)="change(item)" [class]="(tab == item)?'active':'nav-item'">
          <a class="nav-link"> {{stepy_info[item]}}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="tab == 'orderList'">
        <app-order-table-report [timeSelected]="timeSelected" [tabOrder]='tab' [dateStartOrder]="dateStart" [dataEndOrder]="dateEnd">
        </app-order-table-report>
      </div>
      <div class="col-12" *ngIf="tab == 'driverLists'">
        <app-driver-list [timeSelected]="timeSelected" [tabOrder]='tab' [dateStartOrder]="dateStart" [dataEndOrder]="dateEnd"></app-driver-list>
      </div>
      <div class="col-12" *ngIf="tab == 'deliveryOrder'">
        <div class="row">
          <div class="col-sm-6">
            <div class="charts-report">
              <label for="">Orders Per Day</label>
              <app-order-statistics-for-chart [timeSelected]="timeSelected" [dateStartStores]="dateStart" [dateEndStores]="dateEnd">
              </app-order-statistics-for-chart>
            </div>
          </div>
          <!-- <div class="col-sm-6"></div> -->
          <div class="col-sm-6" *ngIf="userScope.outlet == null">
            <div class="charts-report">
              <label for="">Top Stores with Delivery Orders</label>
              <app-top-stores-delivery-order [timeSelected]="timeSelected" [dateStartStores]="dateStart" [dateEndStores]="dateEnd">
              </app-top-stores-delivery-order>
            </div>
          </div>
          <div [class]="(userScope.outlet == null)?'mt-20 col-sm-6' : 'col-sm-6'">
            <div class="charts-report">
              <label for="">Top Drivers with Delivery Orders</label>
              <app-top-driver-delivery-order [timeSelected]="timeSelected" [dateStartStores]="dateStart" [dateEndStores]="dateEnd">
              </app-top-driver-delivery-order>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>