<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row banner">
            <div class="col-12">
                <app-select-banners
                        name="banner"
                        [(ngModel)]="value.bannerList"></app-select-banners>
            </div>
        </div>
    </div>
</ng-template>
