<div class="list-doctors list-wrapper ">
    <div class="list-doctors-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header" translate="Doctor.Doctors"></div>
            </div>

            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="btn btn-primary btn-list-cxi" [routerLink]="['../create']">
                        <i class="icon-add-new"></i> <span translate="Doctor.New Doctor"></span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="list-body list-body-cxi">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="doctors" [config]="cxiGridConfig" [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
