<table class="table" *ngIf="orderListDeliveryApp">
    <thead>
        <tr>
            <th class="sortable" *ngFor="let item of filterTable;let i = index">
                <label class="mg-0" (click)="showListOrder(item,i)">
                    {{item.name}}
                    <i *ngIf="item.isShowAsc" class="icon-dropdown"></i>
                    <i *ngIf="item.isShowDesc" [class]="(!item.isShow)?'icon-arrow-up':'icon-arrow-down'"></i>
                </label>
            </th>
        </tr>
    </thead>
    <tbody *ngFor="let item of orderListDeliveryApp;let i = index">
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.date | date:'M/d/yyyy h:mm a' }}</td>
            <td>
                {{item.name}}
            </td>
            <td>{{item.application_scope}}</td>
            <td>{{item.payment_total}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="orderListDeliveryApp.length <= 0">
        <tr>
            <td class="text-center" colspan="6">
                No results found.
            </td>
        </tr>
    </tbody>
</table>
<app-cxi-pagination *ngIf="orderListDeliveryApp.length > 0" (change)="onChangePagination()">
</app-cxi-pagination>