<div class="list-option-wrapper list-wrapper">
    <div class="list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Option.Options'|translate}}
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-default"
                        routerLink="../create">
                    <i class="icon-add-new"></i> <span>{{'Option.New Option'|translate}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="table-section">
            <app-cxi-grid name="custom-setting"
                          [config]="cxiGridConfig"
                          [rows]="options"
                          [columns]="cxiGridColumns"></app-cxi-grid>
        </div>
    </div>
</div>
