@import "~src/assets/scss/main";


.version-info {
  @include fontSize(14px);
}

.title-background {
  @include fontSize(16.96px);
  font-weight: bold;
}

.title-term-of-services {
  font-weight: bold;
}
