<div class="modal-header">
  <div class="modal-title">
    <span class="icon-bullet"></span>
    TERM OF SERVICES
  </div>
  <button type="button" class="close" aria-label="Close"
          (click)="cancel()">
    <span aria-hidden="true" class="icon-x"></span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="version-info">
      <i>Version 1.0</i>
      <br/>
      <i>Last updated: 10th March 2019</i>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="des-term-of-services">
      <label class="title-background">Basetax Terms of Use</label>
      <p>
        Thank you for selecting the Services offered by Basetax Limited and/or its subsidiaries and affiliates (referred
        to as "Basetax", "we", "our", or "us"). Review these Terms of Service ("Agreement")
        thoroughly. This Agreement is a legal agreement between you and Basetax. By accepting electronically (for
        example, clicking "I Agree"), installing, accessing or using the Services, you agree to these
        terms. If you do not agree to this Agreement, then you may not use the Services. If you are entering
        into this Agreement on behalf of a company or other legal entity, you represent that you have the
        authority to bind such entity and its affiliates to these terms and conditions as its authorized
        representative, in which case the terms “you” or “your” will refer to such entity and its affiliates as
        well as you. If the legal entity that you represent does not agree with these terms and conditions, you
        must not accept this Agreement, register, and use or access the Services as an authorized
        representative.
      </p>
      <p>
        As part of its bookkeeping offering, Basetax also intends to offer the regulated payment service of
        account information services (“AIS”). AIS will enable Customers to connect to their bank accounts while
        using the Service. This will allow Customers to obtain a more complete overview of their finances by
        integrating bank balances with bookkeeping data. Additionally, the Customer will be able to reconcile
        invoice and expense data with transaction data in order to understand or create reports on their
        accounts for themselves, their accountant or tax authorities. Customers will therefore be able to
        see their bank balances in the Basetax application, and also integrate and share banking transaction
        details with bookkeeping details for tax reporting. Before Basetax can offer AIS, it must register with
        the Financial Conduct Authority (“FCA”) under the Payment Services Regulation 2017. Basetax is in the
        process of registering with the FCA and will offer AIS once the registration process has concluded. Any
        reference to Services in these Terms of Service includes AIS from the date on which Basetax has
        completed the FCA registration process.
      </p>
    </div>

    <div class="step-term-of-services">
      <p class="title-term-of-services">GENERAL TERMS</p>
      <label class="title-term-of-services">1. AGREEMENT. </label>
      <p>This Agreement describes the terms governing your use of the Basetax Services. It includes by
        reference:</p>
      <p>Basetax's Privacy Statement</p>
      <p>Additional Terms and Conditions, which may include those from third parties.</p>
      <p>Any terms provided separately to you for the Services, including product or program terms, ordering,
        activation, payment terms, data processing agreements, etc.</p>
      <p>You must be at least 18 years of age to use our Services. You are responsible for ensuring that any
        information that you provide to us is accurate and up to date.
        We may contact you to verify your identity and request any additional documentation that we may require
        for that purpose, as permitted by applicable laws.
        By accessing or using our Services you agree that:</p>
      <p>You can form a binding contract with Basetax;</p>
      <p>You are not a person who is prohibited from receiving the Services under the laws of the United States,
        England, Wales, or any other applicable jurisdiction; and</p>
      <p>You will comply with this Agreement and all applicable local, state, national, and international laws,
        rules, and regulations, including import and export regulations.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">2. YOUR RIGHTS TO USE THE SERVICES. </label>
      <p>
        2.1 The Services are protected by copyright, trade secret, and other intellectual property laws. You are
        only granted the right to use the Services and only for the purposes described by Basetax. Basetax
        reserves all other rights in the Services. Until termination of this Agreement and as long as you meet
        any applicable payment obligations and comply with this Agreement, Basetax grants to you a personal,
        limited, nonexclusive, non-transferable right and license to use the Services.
      </p>
      <p>
        2.2 You agree not to use, nor permit any third party to use, the Services or content in a manner that
        violates any applicable law, regulation or this Agreement. You agree you will not :
      </p>
      <p>
        Provide access to or give any part of the Services to any unauthorized third party.
      </p>
      <p>
        Reproduce, modify, copy, deconstruct, sell, trade or resell the Services.
      </p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">3. PAYMENT</label>
      <p>
        3.1 For Services offered on a payment or subscription basis, the following terms apply if you are the
        User paying for the Services, unless Basetax or its third party affiliate notifies you otherwise in
        writing. This Agreement also incorporates by reference and includes program ordering and payment terms
        provided to you on the website for the Services:
      </p>
      <p>
        Payments will be billed to you by Basetax in pounds sterling (£), which may be made available (plus any
        and all applicable taxes, including without limitation VAT) as shown in the product ordering and
        subscription terms, and your account will be debited when you subscribe and provide your payment
        information, unless stated otherwise in the program ordering or payment terms on the website for the
        Services.
      </p>
      <p>You must pay with one of the following :</p>
      <p>1. A valid credit card acceptable to Basetax;</p>
      <p>2. A valid debit card acceptable to Basetax;</p>
      <p>3. Direct debit payment collected through Gocardless;</p>
      <label>or</label>
      <p>4. By another payment option Basetax provides to you in writing.</p>
      <p>If your payment and registration information is not accurate, current, and complete and you do not notify
        us promptly when such information changes, we may suspend or terminate
        your account and refuse your use of the Services.</p>
      <p>If you do not notify us of updates to your payment method (e.g., credit card expiration date), to avoid
        interruption of your service, we may participate in programs supported
        by your card provider (e.g., updater services, recurring billing programs, etc.) to try to update your
        payment information, and you authorize us to continue billing
        your account with the updated information that we obtain.</p>
      <p>Basetax will automatically renew your monthly or annual Services at the then-current rates, unless the
        Services are cancelled or terminated under this Agreement.</p>
      <p>Additional cancellation or renewal terms may be provided to you on the website for the Services.</p>
      <p>3.2 Gocardless Term</p>
      <p>Paid subscribers (Club and Professional Plan) on Basetax are required to have a direct debit mandate with
        GoCardless Ltd (“GoCardless”), which helps us to facilitate automated
        payments to Basetax.</p>
      <p>GoCardless is a company registered in England and Wales with company number 07495895 and their registered
        office is at 338-346 Goswell Road, London EC1V 7LQ, United Kingdom. GoCardless Ltd is authorised by the
        Financial Conduct Authority under the Payment Services Regulations 2009, registration number 597190, for
        the provision of payment services</p>
      <p>You agree that:</p>
      <p>You will create a direct debit mandate as part of activating or maintaining your Club or Professional
        plan with us. The direct debit mandate will allow your GoCardless account to initiate a direct debit
        from your nominated bank account. </p>
      <p>Once you have an operational Payment Account, we will operate your GoCardless account to charge your
        nominated bank account with any Service Fee, or other charges that you owe.</p>
      <p>We will only operate the GoCardless Account as described in these terms.</p>
      <p>Any of our rights and your obligations under these terms may be relied upon and enforced by
        GoCardless.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">4. USE WITH YOUR MOBILE DEVICE.</label>
      <p>Use of these Services may be available through a compatible mobile device, the Internet, and may require
        software. You agree that you are solely responsible for these requirements, including any applicable
        changes, updates and fees as well as the terms of your agreement with your mobile device and
        telecommunications provider.</p>
      <p>BASETAX MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO:</p>
      <p>THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME
        OR FROM ANY LOCATION;</p>
      <p>ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND </p>
      <p>Once you have an operational Payment Account, we will operate your GoCardless account to charge your
        nominated bank account with any Service Fee, or other charges that you owe.</p>
      <p>We will only operate the GoCardless Account as described in these terms.</p>
      <p>ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR
        SETTINGS CONNECTED WITH THE SERVICES.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">5. DATA PROCESSING AND PRIVACY.</label>
      <p>Data Processing and Privacy. </p>
      <p>(a) Basetax is the controller of the personal information it processes about you when you use the
        Services and (b) You acknowledge that Basetax will process your personal information as described in our
        Privacy Statement when you use our Services.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">
        6. CONTENT.
      </label>
      <p>
        6.1 You are responsible for your content. You are responsible for all materials, data, and personal
        information ("Content") uploaded, posted or stored through your use of the Services. You grant Basetax a
        worldwide, royalty-free, non-exclusive license to host and use any Content provided through your use of
        the Services. Archive your Content frequently. You are responsible for any lost or unrecoverable
        Content. You must provide all required and appropriate warnings, information and disclosures. Basetax is
        not responsible for the Content or data you submit through the Services. You agree not to use, nor
        permit any third party to use, the Services to upload, post, distribute, link to, publish, reproduce,
        engage in or transmit any of the following, including but not limited to:
      </p>
      <p>Illegal, fraudulent, defamatory, obscene, pornographic, profane, threatening, abusive, hateful,
        harassing, offensive, inappropriate or objectionable information or communications of any kind,
        including without limitation conduct that would encourage "flaming" others, or criminal or civil
        liability under any local, state, federal or foreign law;</p>
      <p>Content that would impersonate someone else or falsely represent your identity or qualifications, or that
        constitutes a breach of any individual’s privacy;</p>
      <p>Except as permitted by Basetax in writing, investment opportunities, solicitations, chain letters,
        pyramid schemes, other unsolicited commercial communication or engage in spamming or flooding;</p>
      <p>Virus, trojan horse, worm or other disruptive or harmful software or data; and</p>
      <p>Any information, software or Content which is not legally yours and without permission from the copyright
        owner or intellectual property rights owner.</p>
      <p>6.2 Basetax may freely use feedback you provide. You agree that Basetax may use your feedback,
        suggestions, or ideas in any way, including in future modifications of the Services, other products or
        services, advertising or marketing materials. You grant Basetax a perpetual, worldwide, fully
        transferable, sublicensable, non-revocable, fully paid-up, royalty free license to use the feedback you
        provide to Basetax in any way.</p>
      <p>6.3 Basetax may monitor your Content. Basetax may, but has no obligation to, monitor content on the
        Services. We may disclose any information necessary to satisfy our legal obligations, protect Basetax or
        its customers, or operate the Services properly. Basetax, in its sole discretion, may refuse to post,
        remove, or refuse to remove, any Content, in whole or in part, alleged to be unacceptable, undesirable,
        inappropriate, or in violation of this Agreement.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">7. ADDITIONAL TERMS.</label>
      <p>7.1 For Free and Club plan users, Basetax does not give professional advice. Unless specifically included
        with the Services, Basetax is not in the business of providing legal, financial, accounting, tax, health
        care, real estate or other professional services or advice unless you have subscribed to our
        Professional Plan. Consult the services of a competent professional when you need this type of
        assistance. If you are on our Professional Plan there will be a separate engagement letter issued to you
        regarding the services we provide. Please refer to the engagement letter for the terms for our
        Professional Plan users.</p>
      <p>7.2 We may tell you about other Basetax services. You may be offered other services, products, or
        promotions by Basetax (other "Basetax Services"). Additional terms and conditions and fees may apply.
        With some Basetax Services you may upload or enter data from your account(s) such as names, addresses
        and phone numbers, purchases, etc., to the Internet.</p>
      <p>7.3 Communications. Basetax may be required by law to send you communications about the Services or third
        party products. You agree that Basetax may send these communications to you via email or by posting them
        on our websites.</p>
      <p>7.4 You will manage your passwords and accept updates. You are responsible for securely managing your
        password(s) for the Services and to contact Basetax if you become aware of any unauthorized access to
        your account. The Services may periodically be updated with tools, utilities, improvements, third party
        applications, or general updates to improve the Services. You agree to receive these updates.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">8. DISCLAIMER OF WARRANTIES</label>
      <p>8.1 YOUR USE OF THE SERVICES, SOFTWARE, AND CONTENT IS ENTIRELY AT YOUR OWN RISK. EXCEPT AS DESCRIBED IN
        THIS AGREEMENT, THE SERVICES ARE PROVIDED "AS IS." TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
        BASETAX, ITS AFFILIATES, AND ITS THIRD PARTY PROVIDERS, LICENSORS, DISTRIBUTORS OR SUPPLIERS
        (COLLECTIVELY,"SUPPLIERS") DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTY THAT THE
        SERVICES ARE FIT FOR A PARTICULAR PURPOSE, TITLE, MERCHANTABILITY, DATA LOSS, NON-INTERFERENCE WITH OR
        NON-INFRINGEMENT OF ANY INTELLECTUAL PROPERTY RIGHTS, OR THE ACCURACY, RELIABILITY, QUALITY OR CONTENT
        IN OR LINKED TO THE SERVICES. BASETAX AND ITS AFFILIATES AND SUPPLIERS DO NOT WARRANT THAT THE SERVICES
        ARE SECURE, FREE FROM BUGS, VIRUSES, INTERRUPTION, ERRORS, THEFT OR DESTRUCTION. TO THE EXTENT PERMITTED
        BY THE APPLICABLE LAWS OF ENGLAND AND WALES ANY IMPLIED WARRANTIES IN RESPECT TO THE SERVICES, SOFTWARE,
        AND CONTENT ARE LIMITED TO 60 DAYS FROM THE DATE OF PURCHASE OR DELIVERY OF THE SERVICES, WHICHEVER IS
        SOONER.</p>
      <p>8.2 BASETAX, ITS AFFILIATES AND SUPPLIERS DISCLAIM ANY REPRESENTATIONS OR WARRANTIES THAT YOUR USE OF THE
        SERVICES WILL SATISFY OR ENSURE COMPLIANCE WITH ANY LEGAL OBLIGATIONS OR LAWS OR REGULATIONS. YOU ARE
        SOLELY RESPONSIBLE FOR ENSURING THAT YOUR USE OF THE SERVICES IS IN ACCORDANCE WITH APPLICABLE LAW.</p>
    </div>

    <div class="step-privacy-policy">
      <label class="title-term-of-services step-number">9. LIMITATION OF LIABILITY AND INDEMNITY.</label>
      <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE ENTIRE LIABILITY OF BASETAX, ITS AFFILIATES AND
        SUPPLIERS FOR ALL CLAIMS RELATING TO THIS AGREEMENT SHALL BE LIMITED TO THE AMOUNT YOU PAID FOR THE
        SERVICES DURING THE TWELVE (12) MONTHS PRIOR TO SUCH CLAIM. SUBJECT TO APPLICABLE LAW, BASETAX, ITS
        AFFILIATES AND SUPPLIERS ARE NOT LIABLE FOR ANY OF THE FOLLOWING: (A) INDIRECT, SPECIAL, INCIDENTAL,
        PUNITIVE OR CONSEQUENTIAL DAMAGES; (B) DAMAGES RELATING TO FAILURES OF TELECOMMUNICATIONS, THE INTERNET,
        ELECTRONIC COMMUNICATIONS, CORRUPTION, SECURITY, LOSS OR THEFT OF DATA, VIRUSES, SPYWARE, LOSS OF
        BUSINESS, REVENUE, PROFITS OR INVESTMENT, OR USE OF SOFTWARE OR HARDWARE THAT DOES NOT MEET BASETAX
        SYSTEMS REQUIREMENTS. THE ABOVE LIMITATIONS APPLY EVEN IF BASETAX AND ITS AFFILIATES AND SUPPLIERS HAVE
        BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS AGREEMENT SETS FORTH THE ENTIRE LIABILITY OF
        BASETAX, ITS AFFILIATES AND YOUR EXCLUSIVE REMEDY WITH RESPECT TO THE SERVICES AND ITS USE.
        NOTWITHSTANDING THE FOREGOING, NO PROVISION OF THIS AGREEMENT SHALL EXCLUDE OR LIMIT LIABILITY TO THE
        EXTENT THAT SUCH EXCLUSION OR LIMITATION IS PROHIBITED BY THE APPLICABLE LAWS OF ENGLAND AND WALES AND
        FOR THE AVOIDANCE OF DOUBT BASETAX DOES NOT EXCLUDE LIABILITY FOR: (I) DEATH OR PERSONAL INJURY CAUSED
        BY ITS NEGLIGENCE OR THE NEGLIGENCE OF ITS OFFICERS, EMPLOYEES, CONTRACTORS OR AGENTS; (II) FRAUD OR
        FRAUDULENT MISREPRESENTATION; (III) ANY OTHER LIABILITY WHICH CANNOT BE LAWFULLY EXCLUDED BY CONTRACTUAL
        AGREEMENT OF THE PARTIES.</p>
      <p>You agree to indemnify and hold Basetax and its affiliates and Suppliers harmless from any and all
        claims, liability and expenses, including reasonable attorneys' fees and costs, arising out of your use
        of the Services or breach of this Agreement (collectively referred to as "Claims"). Basetax reserves the
        right, in its sole discretion and at its own expense, to assume the exclusive defense and control of any
        Claims. You agree to reasonably cooperate as requested by Basetax in the defense of any Claims.</p>
    </div>

    <div class="step-term-of-services">
      <label class="title-term-of-services step-number">10. CHANGES.</label>
      <p>We reserve the right to change this Agreement at any time, and the changes will be effective when posted
        through the Services, on our website for the Services or when we notify you by other means. We may also
        change or discontinue the Services, in whole or in part. Your continued use of the Services indicates
        your agreement to the changes.</p>
    </div>
  </div>

  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">11. TERMINATION.</label>
    <p>Basetax may immediately, in its sole discretion and without notice terminate this Agreement or suspend the
      Services if you fail to comply with this Agreement or if you no longer agree to receive electronic
      communications. Upon termination you must immediately stop using the Services and any outstanding payments
      will become due. Any termination of this Agreement shall not affect Basetax’s rights to any payments due to
      it. Basetax may terminate a free account at any time. Sections 2.2, 3 through 19 will survive and remain in
      effect even if the Agreement is terminated.</p>
  </div>

  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">12. EXPORT AND TRADE RESTRICTIONS.</label>
    <p>You agree that you and your personnel who use the Services are not prohibited from receiving the Services
      under the laws of England, Wales, or other applicable jurisdiction. For example, you are not on the United
      Kingdom HM Treasury Financial Sanctions List, or are subject to any other similar prohibition. You will not
      export or re-export any part of the Services, in violation of these laws and regulations, directly or
      indirectly.</p>
  </div>

  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">13. GOVERNING LAW AND JURISDICTION.</label>
    <p>This Agreement will be governed by the laws of England and Wales, without regard to its conflicts of law
      principles. Notwithstanding the foregoing, you acknowledge that your breach (or an apprehension of breach)
      of any provisions of this Agreement, or any infringement (or apprehension of infringement) of Basetax’s or
      its Suppliers’ intellectual property rights may cause Basetax irreparable damage for which recovery of money
      damages would be inadequate. Accordingly, you agree that Basetax shall be entitled, in addition to any other
      remedies available to it, to seek (in any court of competent jurisdiction, notwithstanding the previous
      sentence) any relief (whether equitable or otherwise) to prevent or restrain any such breach or apprehended
      breach by you or otherwise to protect Basetax’s rights under this Agreement. The parties hereby submit to
      the exclusive jurisdiction of the courts of England and Wales and you agree that you will procure that any
      third party making a claim against Basetax arising out of this Agreement shall bring such claim exclusively
      in the English courts and subject to the limitations and exclusions of liabilities provided for in this
      Agreement.</p>
    <p>Basetax does not represent that the Services and/or content within the Services is appropriate or available
      for use in all jurisdictions or countries. Basetax prohibits accessing content from within countries or
      states where such content is illegal. You are responsible for compliance with all applicable laws pertaining
      to your use and access to the Services in your jurisdiction.</p>
  </div>

  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">14. COMPLIANCE WITH PRESERVATION ORDERS.</label>
    <p>You agree that we may preserve data where and to the extent required for compliance with any order or notice,
      whether issued to Basetax or to you, and whether issued by any court, tribunal, regulatory authority,
      arbitral tribunal or any body or authority exercising judicial, quasi-judicial, regulatory, or arbitral
      power or authority, requiring the preservation of any data, information documents or Content (a
      "Preservation Order"). To the extent that a Preservation Order has been issued to you, you acknowledge that
      you are solely responsible for your compliance with it.</p>
  </div>

  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">15. LANGUAGE.</label>
    <p>Any translation of this Agreement is done for local requirements and in the event of a dispute between the
      English and any non-English version, the English version of this Agreement shall govern. In the event of a
      dispute the parties confirm that they have requested that this Agreement and all related documents be
      drafted in English.</p>
  </div>

  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">16. GENERAL.</label>
    <p>This Agreement, including the Additional Terms below, is the entire agreement between you and Basetax and
      replaces all prior understandings, communications and agreements, oral or written, regarding its subject
      matter. If any court of law, having jurisdiction, rules that any part of this Agreement is invalid, that
      section will be removed without affecting the remainder of the Agreement. The remaining terms will be valid
      and enforceable. The United Nations Convention on Contracts for the International Sale of Goods does not
      apply to this Agreement. You cannot assign or transfer ownership of this Agreement to anyone without written
      approval of Basetax. However, Basetax may assign or transfer it without your consent to (a) an affiliate,
      (b) a company through a sale of assets by Basetax or (c) a successor by merger. Any assignment in violation
      of this Section shall be void. If you want to request a transfer of this Agreement, contact Basetax via an
      email to: <a href="mailto:transfer_license@Basetax.com?Subject=Contact">transfer_license@Basetax.com.</a>
    </p>
  </div>
  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">17. PERSONAL INFORMATION.</label>
    <p>17.1. The terms "Controller," "Processor," "data subject," "personal data (also referred to as Personal
      Information in the Agreement)" and "processing" (and "process") shall have the meanings given in the
      Regulation 2016/679 of the European Parliament and of the Council on the protection of natural persons with
      regard to the Processing of Personal Data and on the free movement of such data (General Data Protection
      Regulation).</p>
    <p>17.2. Personal Information.</p>
    <p>You represent and warrant to us that:</p>
    <p>You will provide appropriate notice and have obtained (or will obtain) all consents and rights necessary for
      us to Process the Personal Information in accordance with this Agreement and our Privacy Statement;</p>
    <p>If you are providing Personal Information to us that is not personal to you, you agree that you have either
      provided the data subject notice or received permission from the data subject and have the appropriate legal
      basis, as required by applicable law, for us to: (a) use, and/or disclose the personal information in
      accordance with our Privacy Statement, (b) move the data outside of the country of residence of such owner
      of the personal data, if applicable, pursuant to our Privacy Statement, (c) provide the Personal Information
      to Third Party Products that you approve, and (d) otherwise use and disclose the personal information in
      accordance with this Agreement; and</p>
    <p>If there is any discrepancy between this Agreement and the Basetax Privacy Statement with respect the
      collection, use, and/or disclosure of the personal information, the Privacy Statement will control. You
      further acknowledge and agree that Basetax may provide data in your account to any Additional Users to which
      that data is applicable or personal to.</p>
    <p>17.3. Public Content.</p>
    <p>As a User you may have the opportunity to share your data, Content, or ways in which you aggregate data
      (“Account Content”) with other Users, other Basetax customers, and other third parties. When sharing any
      Account Content, you agree not to share any confidential information. If you have the option of accessing
      another User’s Account Content, you understand and agree that the Account Content is being provided by the
      User, and not Basetax, for information and guidance purposes only, and Basetax and such User are not
      responsible in any way for your use the Account Content.</p>
    <p>17.4. Telephone numbers.</p>
    <p>You may provide us with your telephone number as part of your customer record or registration or via other
      methods. You understand and agree that Basetax may use your telephone number for "multi-factor
      authentication” (“MFA"), to confirm your identity and help protect the security of your account. Part of the
      MFA identity verification process may involve Basetax sending text messages containing security codes to
      your telephone number. You agree to receive these texts from Basetax containing security codes as part of
      the MFA process. In addition, you agree that Basetax may send automated text messages and pre-recorded voice
      messages to the telephone number you provide for other limited purposes, including: providing you with
      important critical notices regarding your use of the Services, or fulfilling a request made by you through
      the Services. With MFA, you also agree and consent to us obtaining and using information from your mobile
      phone service provider, solely for the purposes of verifying your identity and to compare information you
      have provided to Basetax (such information may include from your mobile phone service provider account
      record: your name, address, email, customer type, customer role, billing type, mobile device identifiers
      (IMSI and IMEI) and other mobile phone subscriber details).</p>
  </div>
  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">18. OTHER PRODUCTS AND SERVICES.</label>
    <p>18.1. Third Party Products.</p>
    <p>By using these Services, you agree that we may market to you or offer you access to products or services from
      third parties (“Third Party Products”). If you decide to use or access any Third Party Products, you agree
      that you are solely responsible for your relationship with the provider of the product. Basetax is not
      affiliated with Third Party Products and does not endorse or recommend any Third Party Products. You agree
      that the providers of the Third Party Products, and not Basetax, are solely responsible for their own
      actions or inactions. Basetax is not liable for any damages, claims or liabilities arising out of or related
      to any Third Party Products. You agree that you will (a) review and comply with all Third Party Product
      terms and conditions, and (b) not use the Third Party Product in any manner that would infringe or violate
      the rights of Basetax or any other party or in furtherance of criminal, fraudulent or other unlawful
      activity.</p>
    <p>18.2. Data Transfer Service.</p>
    <p>We may provide you with the opportunity to transfer your account Content from the Services to certain
      supported online Third Party Products or other online Basetax services (the “Ancillary Services”) that you
      sign up for or use in connection with the Services (the “Data Transfer Service”). You may need to be an
      active subscriber of the Third Party Product or Ancillary Services to use the Data Transfer Service. In
      order to access a Third Party Product or an Ancillary Service on your behalf to provide the Data Transfer
      Service, you may need to provide us with your account number, password, security questions and answers, and
      any other necessary log in information from time to time (“Login Details”). We will maintain your Login
      Details in encrypted form, and will only use them in connection with the Data Transfer Service or otherwise
      at your direction. You hereby represent that you have the authority to provide the Login Details to Basetax
      and you expressly appoint Basetax as your, or the third party who owns the Login Details’, agent with
      limited power of attorney to access any Third Party Products or Ancillary Services on your behalf. With
      respect to each Data Transfer Service, you grant Basetax the right to transfer data to the Third Party
      Product or Ancillary Service, and to reformat and manipulate the data as reasonably necessary for the data
      to function with such product or service. After the transfer occurs, the original data and Content will
      remain in the Services unless we disclose to you otherwise.</p>
    <p>You agree that you will (a) review and comply with all Third Party Product or Ancillary Service terms and
      conditions before you access the Data Transfer Service, and (b) not use the Data Transfer Service in any
      manner that would infringe or violate the rights of Basetax or any other party, or in furtherance of
      criminal, fraudulent or other unlawful activity. We do not guarantee that you will be able to use the Data
      Transfer Service with any specific products or services. You will only have access to the Data Transfer
      Services during the period for which you have paid for a subscription. Third Party Products may make changes
      to their websites, with or without notice to us, that may prevent or delay the overall performance of the
      Data Transfer Service.</p>
    <p>18.3. Data Receipt Service.</p>
    <p>We may provide you with the opportunity to transfer certain data from a Third Party Product or an Ancillary
      Service to these Services (the “Data Receipt Service”). You may need to be an active subscriber of the Third
      Party Product or Ancillary Services to use the Data Receipt Service. In order to access a Third Party
      Product or an Ancillary Service on your behalf, you may need to provide us with your Login Details. You
      hereby represent that you have the authority to provide the Login Details to Basetax and you expressly
      appoint Basetax as your, or the third party who owns the Login Details’, agent with limited power of
      attorney to access any Third Party Products or Ancillary Services and retrieve data on your behalf. With
      respect to each Data Receipt Service, you grant Basetax the right to transfer data to the Services, and to
      reformat and manipulate your data as reasonably necessary for the data to function with the Services. After
      the transfer occurs, your original data and Content may not remain in the Third Party Product or the
      Ancillary Services; please review the terms of those products and services to confirm.</p>
    <p>You agree that you will (i) review and comply with all Third Party Product and Ancillary Service terms and
      conditions before you access the Data Receipt Services, and (ii) not use the Data Receipt Services in any
      manner that would infringe or violate the rights of Basetax or any other party, or in furtherance of
      criminal, fraudulent or other unlawful activity. In the event that any Third Party Product charges for
      access to data, you agree that you are responsible for any fees due and owing. You agree that the providers
      of the Third Party Products, and not Basetax, are solely responsible for their own actions or inactions.
      Basetax is not liable for any damages, claims or liabilities arising out of or related to any Third Party
      Products.</p>
    <p>We do not guarantee that you will be able to use the Data Receipt Service with any specific products or
      services. You will only have access to the Data Receipt Services during the period for which you have paid
      for a subscription. Third Party Products may make changes to their websites, with or without notice to us,
      that may prevent or delay aggregation of data or the overall performance of the Data Receipt Service. Your
      most recent data from a Third Party Product or Ancillary Service may not always be available in the
      Services. Any data obtained through the Data Receipt Service will be made available in the Services, and
      will be subject to the terms and conditions of this Agreement, including our Privacy Policy.</p>
    <p>18.4. Service Providers.</p>
    <p>We may use third parties in the operation of our Services or to perform any of our obligations in this
      Agreement (each a “Service Provider”). In order for our Service Providers to be able to provide you with
      certain aspects of the Services, we may share your data or Content with such Service Provider.</p>
    <p>18.5. Electronic Filing of VAT or Self-Assessment (also referred to as "HMRC return")</p>
    <p>In order to access the electronic filling of VAT and Self-Assessment service, you must have a valid account
      with HMRC (or any other relevant tax/revenue authority) and a login for the HMRC online services. You need
      to enter your VAT or Self-Assessment Online login details in your Basetax account when you send filings to
      HMRC.</p>
    <p>You are responsible for verifying the status of your HMRC return including receipt and acceptance by the
      applicable authority, and if necessary, for filing your HMRC return manually in the event the authority
      rejects your HMRC return for any reason. By using Basetax electronic filling Services, you consent to the
      disclosure of all information pertaining to your HMRC return to HMRC or any other tax/revenue authority.
      Using the system to prepare and submit your HMRC return to taxing authorities is subject to
      availability.</p>
    <p>You agree to print and save a copy of your HMRC return for your records. Except to the extent required by
      law, Basetax has no obligation to store, maintain or provide to you any information you provide to
      Basetax.</p>
    <p>You authorize Basetax and its agents (if applicable) to send HMRC return, electronically or by any other
      commercially accepted method, to the appropriate financial institution or taxing authority.</p>
  </div>
  <div class="step-term-of-services">
    <label class="title-term-of-services step-number">19. ACCOUNT INFORMATION SERVICES.</label>
    <p>19.1 Users of Free, Club and Professional Plan may opt to use Account Information Services to automatically
      import transaction and other information ("transaction information") into the relevant Basetax Account as an
      alternative to you manually entering this transaction information.</p>
    <p>19.2 Account Information Services allows you to connect certain bank or other payment accounts you hold
      (“account") with your Basetax Account to automatically import transaction information from that account. You
      can choose whether to connect with your bank account using the direct feed option or the web feed
      option.</p>
    <p>For the direct feed option, you will be required to complete either a customer authority form or follow your
      bank’s authentication process which instructs your bank (or other financial institution) to share
      transaction information with Basetax Limited. Your bank (or other financial institution) may request that
      you authorise this by completing its own authority as well or instead. Once authorised, your bank will
      provide Basetax Limited with transaction information. You hereby acknowledge that Basetax Limited will
      receive this information more than four times a day.</p>
    <p>For the web feed option, we will request your online banking security credentials. Once we connect to your
      bank, our product downloads your transaction information automatically and securely. Each time you sign-in
      to your Basetax Account, we will use your stored online banking credentials to connect to your bank and
      download your transaction information so that you have the latest information. You may be required to submit
      additional credentials, such as from multi-factor authentication devices.</p>
    <p>We will process the transaction information obtained from your bank and present this to you via your Basetax
      account. </p>
  </div>
</div>
