<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row timeline">
            <div class="col-6">
                <base-input-text name="vi"
                                 label="Title (Vietnamese)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.title_vi"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <base-input-text name="en"
                                 label="Title (English)"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.title_en"
                >
                </base-input-text>
            </div>
            <div class="col-6">
                <app-cxi-datetimepicker name="startTime"
                                        label="Start Time"
                                        [type]="'timer'"
                                        [(ngModel)]="value.from"
                ></app-cxi-datetimepicker>
            </div>
            <div class="col-6">
                <app-cxi-datetimepicker name="endTime"
                                        label="End Time"
                                        [type]="'timer'"
                                        [(ngModel)]="value.to"
                ></app-cxi-datetimepicker>
            </div>
            <div class="col-12">
                <base-input-text name="speaker"
                                 label="Speaker"
                                 [maxLength]="5000"
                                 [(ngModel)]="value.speaker"
                >
                </base-input-text>
            </div>

        </div>
    </div>
</ng-template>
