<ng-template ngFor let-customer [ngForOf]="value" let-i="index">
    <app-select-party name="{{name}}-{{i}}"
                      (remove)="onRemove(i)"
                      [(ngModel)]="customer"></app-select-party>

</ng-template>
