@import "../../../../assets/scss/main";

.shipping-area {
  .shipping-area-header {
    margin-bottom: rem(30px);

    .title-header {
      display: flex;
      align-items: center;

      &:before {
        font-size: rem(24px);
      }
    }
  }

  .shipping-area-body {
    .shipping-area-setting {
      margin-bottom: 0;
      min-height: calc(100vh - #{rem(196px)});

      .shipping-area-setting-content {
        height: 100%;

        .title-applied-outlet {
          @include fontSize(16px, 24px, bold);
          margin-bottom: rem(20px);
        }

        .applied-outlet {
          margin-bottom: rem(40px);
        }

        .radius {
          margin-bottom: rem(40px);
        }

        .advance-setting {
          .advance-setting-item {
            padding-right: rem(36px + 15px + 10px);
          }

          cxi-icon-close {
            position: absolute;
            top: rem(20px);
            right: rem(15px);
            padding: rem(6px);
          }
        }
      }
    }

    .map-container {
      margin: rem(-20px);
      width: calc(100% + #{rem(40px)});
      height: calc(100% + #{rem(40px)});

      #map {
        width: 100%;
        height: 100%;
        min-width: rem(500px);
        min-height: rem(500px);
      }
    }
  }
}
