<div class="shipping-area create-wrapper">
    <form #createSettingForm="ngForm"
          class="form-create-organization"
          (ngSubmit)="onSubmit()">

        <div class="shipping-area-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Setting.Shipping Area'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right button-group">
                    <base-button type="submit"
                                 buttonStyle="btn btn-primary"
                                 [disabled]="!createSettingForm.form.valid || !isChangedData()">
                        <span>{{'Save'|translate}}</span>
                    </base-button>
                </div>
            </div>
        </div>


        <div class="row shipping-area-body">
            <div class="col-12">
                <!--Begin -->
                <cxi-card size="full"
                          hideCollapse="true"
                          class="shipping-area-setting">

                    <!--Delete pending order daily-->
                    <div class="row p-40 shipping-area-setting-content">
                        <!--left-->
                        <div class="col-4">
                            <ng-template [ngIf]="settingShippingArea">
                                <div class="title-applied-outlet">
                                    {{'Setting.General Radius'|translate}}
                                </div>

                                <div class="radius">
                                    <base-integer name="radius"
                                                  label="{{'Setting.Radius'|translate}}  (KM)"
                                                  maxLength="2"
                                                  [(ngModel)]="settingShippingArea.shipping_area_radius"></base-integer>
                                </div>


                                <!--advance-setting-->
                                <div class="advance-setting">
                                    <div class="title-applied-outlet">
                                        {{'Setting.Advance Setting'|translate}}
                                    </div>

                                    <!--advance setting form-->
                                    <ng-template [ngIf]="settingShippingArea.shipping_area_advance_setting &&
                                                        settingShippingArea.shipping_area_advance_setting.length > 0">
                                        <ng-template ngFor
                                                     [ngForOf]="settingShippingArea.shipping_area_advance_setting"
                                                     let-advanceSettingItem
                                                     let-i="index">
                                            <div class="row">
                                                <div class="col-12 advance-setting-item">
                                                    <div class="row p-20">
                                                        <div class="col-6">
                                                            <base-select
                                                                name="outlet-{{i}}-{{advanceSettingItem.outlet_id}}"
                                                                bindValue="id"
                                                                bindLabel="name"
                                                                label="{{'Outlet.Outlet'|translate}}"
                                                                [items]="outlets"
                                                                [(ngModel)]="advanceSettingItem.outlet_id"
                                                                (change)="onChangeOutlet()"></base-select>
                                                        </div>
                                                        <div class="col-6">
                                                            <base-integer
                                                                name="radius-{{i}}-{{advanceSettingItem.outlet_id}}"
                                                                label="{{'Setting.Radius'|translate}} (KM)"
                                                                maxLength="2"
                                                                [(ngModel)]="advanceSettingItem.radius"></base-integer>
                                                        </div>
                                                    </div>

                                                    <cxi-icon-close
                                                        (click)="removeAdvanceSetting(advanceSettingItem)"></cxi-icon-close>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ng-template>

                                    <!--add advance setting-->
                                    <div class="row p-20 m-b">
                                        <div class="col-12">
                                            <base-button name="advance-setting"
                                                         buttonStyle="btn btn-default"
                                                         class="m-b"
                                                         (click)="addAdvanceSetting()"
                                                         [disabled]="isDisabledAddNew()">
                                                {{'Setting.Add Outlet'|translate}}
                                            </base-button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <!--end left-->

                        <!--right-->
                        <div class="col-8">
                            <div class="map-container">
                                <div #mapContainer id="map"></div>
                            </div>
                        </div>
                        <!--end right-->

                    </div>
                    <!--End Delete pending order daily-->

                </cxi-card>
                <!--End -->
            </div>
        </div>
    </form>
</div>
