@import "~src/assets/scss/main";
.activated-account{
    .title-activated {
        font-size: rem(24px);
        color: $primary-800;
        font-weight: bold;
        margin-bottom: rem(40px);
    }
    .btn {
        padding: rem(8px) rem(15px);
    }
}