<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-12 text-center">
      <div class="activated-account">
        <img src="assets/img/activated-account/graphic-successful.png" class="img-fluid" alt="activated-account">
        <h4 class="title-activated"> Your account has been activated successfully!</h4>
        <button class="btn-addnew btn btn-primary">
          <span>Back to Home</span>
        </button>
      </div>
    </div>
  </div>
</div>