<!-- add-on types -->
<ng-template [ngIf]="value">

    <ng-template ngFor
                 [ngForOf]="value"
                 let-addOnType
                 let-i="index">

        <cxi-select-variant-addon-type name="{{name}}-{{i}}"
                                       [addOnTypes]="addOnTypes"
                                       [addOns]="addOns"
                                       [(ngModel)]="addOnType"
                                       (remove)="onRemove(i)"
                                       (change)="onChangeVariantAddOnType()"></cxi-select-variant-addon-type>
    </ng-template>

    <base-button name="{{name}}-add-aot"
                 type="button"
                 icon="icon-add-new"
                 buttonStyle="btn-default"
                 [disabled]="isDisabledAddNew()"
                 (click)="addAddOnType()">
        {{'Product.Add Add-on Type'|translate}}
    </base-button>

</ng-template>
