<div class="row" *ngIf="value">
</div>

<ng-template [ngIf]="value">
    <div class="add-on-type panel-group m-b">

        <div class="remove-item">
            <cxi-icon-close (click)="removeItem()"></cxi-icon-close>
        </div>

        <!--enable-for-promotion-->
        <div class="row sponsor">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <base-input-text name="name_vi"
                                         label="Title (Vietnamese)"
                                         [maxLength]="5000"
                                         [(ngModel)]="value.title_vi"
                        >
                        </base-input-text>
                    </div>
                    <div class="col-12">
                        <base-input-text name="name_en"
                                         label="Title (English)"
                                         [maxLength]="5000"
                                         [(ngModel)]="value.title_en"
                        >
                        </base-input-text>
                    </div>
                    <div class="col-12 btn-upload">
                        <button type="button" class="btn btn-default" name="update">
                            <label for="{{name}}-avatar">
                                Upload/Replace
                            </label>
                        </button>
                        <input id="{{name}}-avatar" type="file" hidden="hidden" (change)="upload($event)"
                               accept="image/*">
                    </div>
                    <div class="col-12 btn-add">
                        <a class="btn-addnew btn btn-default" (click)="addNote()">
                            <i class="icon-add-new"></i> <span>Add Annotation</span>
                        </a>
                    </div>
                    <div class="col-12">
                        <span>Note list</span>
                        <app-select-seat-map-notes
                                name="exhibition-benefit"
                                [(ngModel)]="value.data.note"></app-select-seat-map-notes>
                    </div>
                </div>
            </div>
            <div class="col-9" id ="{{name}}-seat-map">
                <div class="detail detail-event" (window:resize)="resizeSeatMap($event)">
                    <canvas class="canvas-seat" id="{{name}}-myCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</ng-template>


