<div class="list-product list-wrapper">
  <div class="list-product-header list-header">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <div class="title-header">Sales Report</div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="btn-group select-group-by mr-20">
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'day'}" (click)="selectTime('day')">
            <span translate="dashboard.Day"></span>
          </button>
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'week'}" (click)="selectTime('week')">
            <span translate="dashboard.Week"></span>
          </button>
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'month'}"
            (click)="selectTime('month')">
            <span translate="dashboard.Month"></span>
          </button>
          <button class="btn btn-default" [ngClass]="{'active': timeSelected === 'year'}" (click)="selectTime('year')">
            <span translate="dashboard.Year"></span>
          </button>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <div class="btn-group">
          <button class="btn btn-default btn-date" (click)="dateEndDatepicker.close();dateStartDatepicker.toggle();">
            <span translate="dashboard.Start Date">{{dateStart | baseDate }}</span>
          </button>
          <div class="date-start">
            <input type="text" ngbDatepicker #dateStartDatepicker="ngbDatepicker" [(ngModel)]="dateStart" />
          </div>

          <button class="btn btn-default btn-date" (click)="dateStartDatepicker.close();dateEndDatepicker.toggle()">
            <span translate="dashboard.End Date">{{dateEnd | baseDate }}</span>
          </button>
          <div class="date-end">
            <input type="text" ngbDatepicker #dateEndDatepicker="ngbDatepicker" placement="bottom-right"
              [(ngModel)]="dateEnd" />
          </div>

          <button class="btn btn-default btn-single-icon" (click)="openDate()">
            <i class="icon-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-body mt-20">
    <div class="row">
      <div class="col-sm-12 mt-20">
        <app-table-report-sale [timeSelected]="timeSelected" [dateStart]="dateStart" [dateEnd]="dateEnd"></app-table-report-sale>
      </div>
    </div>
  </div>
</div>