@import "../../../../assets/scss/main";

.card {
  border: 0;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  .card-header {
    padding: 0;
    border: 0;
    background: none;
    .d-flex {
      justify-content: space-between;
      p {
        margin: 0;
        font-size: rem(14px);
        font-weight: bold;
        color: $grey-900;
        &.title-sales {
          display: flex;
          align-items: center;
          i {
            font-size: rem(24px);
            color: #15a5de;
            margin-right: rem(10px);
          }
        }
      }
    }
  }
  .card-body {
    padding: 0;
    .item-card {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-top: rem(10px);
      >li {
        &.item-left {
          color: #989ca8;
        }
        padding-top: rem(5px) 0;
      }
    }
  }
}
.border-right {
  border-right: 1px solid #ccc;
}
.pd-r-0{
  padding-right: 0;
}
.pd-l-0{
    padding-left: 0;
}
.btn-date {
    min-width: rem(140px);
}

.date-start {
    position: absolute;
    top: rem(36px);

    input {
        display: none;
    }
}

.date-end {
    position: absolute;
    top: rem(36px);
    right: 0;

    input {
            display: none;
        }
}
