<div class="list-user list-wrapper">
    <div class="list-user-header list-header">
        <div class="row">
            <div class="col-sm-6">
                <div class="title-header">
                    {{'Customer level icon.Customer Level Icons List'|translate}}
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default"
                        (click)="addNewIcon()">
                    <i class="icon-add-new"></i> <span>{{'Customer level icon.Add New Icons'|translate}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-user-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="demo"
                              [config]="cxiGridConfig"
                              [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>
