<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header" translate="Case comment template.Case comment template"></div>
            </div>
            <ng-template [ngIf]="!outletId">
                <div class="col-sm-6 text-right">
                    <button class="btn-addnew btn btn-default" [routerLink]="['../create']">
                        <i class="icon-add-new"></i> <span translate="Case comment template.New Case comment template"></span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="comment-template" [config]="cxiGridConfig" [columns]="cxiGridColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>