<div class="list-product list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header">Orders</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default mb-10" [routerLink]="['../create']">
                    <i class="icon-add-new"></i> <span>Add New order</span>
                </button>
            </div>
            <!-- <div class="col-6">
              <base-filter name="users-filter" [(ngModel)]="filterAttrs"></base-filter>
              <input type="text" [(ngModel)]="filter.keyword" (keyup)="onKey($event)">
            </div> -->
            <div class="col-3"></div>
            <!-- <div class="col-3">
              <base-datepicker name="dob" label="dob" [(ngModel)]="jstoday" [minDate]="minDate" [maxDate]="maxDate"></base-datepicker>
            </div> -->
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-board" id="scroll-board">
                    <div class="group-board order-pending" *ngIf="orderPending && orderPending.length >=0">
                        <div class="list-board">
                            <div class="title-board">
                                <h4>Pending ({{orderPending.length}})</h4>
                                <div class="icon-lf">
                                    <button (click)="onSearch('pendding')" [disabled]="orderPending.length <=0"
                                            [class]="toggleSearch?'active icon-search':'icon-search'"></button>
                                </div>
                                <div class="icon-lf"><i class="icon-notification"></i></div>
                            </div>
                            <div *ngIf="orderPending && orderPending.length >=0">
                                <div class="board-search" *ngIf="toggleSearch">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search …" (keyup)="onKey($event)"
                                               [(ngModel)]="filter.keyword">
                                    </div>
                                </div>
                                <div *ngFor="let item of orderPending | slice:0:pendingSize;let i = index">
                                    <label class="detail-order" (click)="onViewDetail(item)">
                                        <div class="body-board">
                                            <div class="board-info">
                                                <h5>{{(item.order_type != null)?item.order_type:'--/--'}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | baseDate }}</li>
                                                    <li>{{item.customer_name?item.customer_name:'--'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-customer"></i>
                                                    </li>
                                                    <li class="icon-board">
                                                        <i class="icon-edit" (click)="onEdit(item)"></i>
                                                    </li>
                                                    <!-- <li class="icon-board">
                                                        <i class="icon-trash"></i>
                                                      </li> -->
                                                </ul>
                                            </div>
                                            <div class="board-date">
                                                <h5>#{{item.id}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | date:"h:mm a" }}</li>
                                                    <li>{{item.customer ? item.customer.phone : '--'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-close" (click)="onCancel(item, $event)" data-toggle="modal"
                                                           data-target="#canceled-Board"></i>
                                                    </li>
                                                    <li class="icon-board">
                                                        <i class="icon-check" data-toggle="modal" (click)="onConfirm(item, $event)" data-target="#confirm-order"></i>
                                                        <!-- <i class="icon-check" (click)="onConfirm(item, $event)"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="body-board-available" *ngIf="orderPending && orderPending.length <=0">
                                <p>No order available</p>
                            </div>
                            <div class="load-more">
                                <button class="btn btn-primary" *ngIf="pendingSize < orderPending.length"
                                        (click)="increaseShow('pending')">Load more</button>
                            </div>
                        </div>
                    </div>
                    <div class="group-board order-confirmed" *ngIf="orderConfirmed && orderConfirmed.length >=0">
                        <div class="list-board">
                            <div class="title-board">
                                <h4>Confirmed ({{orderConfirmed.length}})</h4>
                                <div class="icon-lf">
                                    <button (click)="onSearch('confirmed')" [disabled]="orderConfirmed.length <=0"
                                            [class]="toggleConfirmed?'active icon-search':'icon-search'"></button>
                                </div>
                                <div class="icon-lf"><i class="icon-notification"></i></div>
                            </div>
                            <div *ngIf="orderConfirmed && orderConfirmed.length >=0">
                                <div class="board-search" *ngIf="toggleConfirmed">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search …" (keyup)="searchConfirmed($event)"
                                               [(ngModel)]="filter.keywordConfirmed">
                                    </div>
                                </div>
                                <div *ngFor="let item of orderConfirmed | slice:0:confirmedSize;let i = index">
                                    <label class="detail-order" (click)="onViewDetail(item)">
                                        <div class="body-board">
                                            <div class="board-info">
                                                <h5>{{(item.order_type != null)?item.order_type:'--/--'}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | baseDate }}</li>
                                                    <li>{{item.customer_name!=null ? item.customer_name : 'Guest'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-edit" (click)="onEdit(item)"></i>
                                                        <!-- <i class="icon-trash"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="board-date">
                                                <h5>#{{item.id}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | date:"h:mm a" }}</li>
                                                    <li>{{item.customer ? item.customer.phone : '--'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-close" (click)="onCancel(item, $event)" data-toggle="modal"
                                                           data-target="#canceled-Board"></i>
                                                    </li>
                                                    <li class="icon-board">
                                                        <i class="icon-arrow-right1" (click)="changeStatus(item,$event)" data-toggle="modal"
                                                           data-target="#changeStatus-Board"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="body-board-available" *ngIf="orderConfirmed && orderConfirmed.length <=0">
                                <p>No order available</p>
                            </div>
                            <div class="load-more">
                                <button class="btn btn-primary" *ngIf="confirmedSize < orderConfirmed.length"
                                        (click)="increaseShow('confirmed')">Load more</button>
                            </div>
                        </div>
                    </div>
                    <div class="group-board order-delivered" *ngIf="processing && processing.length >=0">
                        <div class="list-board">
                            <div class="title-board">
                                <h4>Processing ({{processing.length}})</h4>
                                <div class="icon-lf">
                                    <button (click)="onSearch('processing')" [disabled]="processing.length <=0"
                                            [class]="toggleProcessing?'active icon-search':'icon-search'"></button>
                                </div>
                                <div class="icon-lf"><i class="icon-notification"></i></div>
                            </div>
                            <div *ngIf="processing && processing.length >=0">
                                <div class="board-search" *ngIf="toggleProcessing">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search …" (keyup)="searchprocessing($event)"
                                               [(ngModel)]="filter.keywordprocessing">
                                    </div>
                                </div>
                                <div *ngFor="let item of processing | slice:0:processingSize;let i = index">
                                    <label class="detail-order" (click)="onViewDetail(item)">
                                        <div class="body-board">
                                            <div class="board-info">
                                                <h5>{{(item.order_type != null)?item.order_type:'--/--'}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | baseDate }}</li>
                                                    <li>{{item.customer_name!=null ? item.customer_name : 'Guest'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-edit" (click)="onEdit(item)"></i>
                                                        <!-- <i class="icon-trash"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="board-date">
                                                <h5>#{{item.id}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | date:"h:mm a" }}</li>
                                                    <li>{{item.customer ? item.customer.phone : '--'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-close" (click)="onCancel(item, $event)" data-toggle="modal"
                                                           data-target="#canceled-Board"></i>
                                                    </li>
                                                    <li class="icon-board">
                                                        <i class="icon-arrow-right1" (click)="changeStatus(item,$event)" data-toggle="modal"
                                                           data-target="#changeStatus-Board"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="body-board-available" *ngIf="processing && processing.length <=0">
                                <p>No order available</p>
                            </div>
                            <div class="load-more">
                                <button class="btn btn-primary" *ngIf="processingSize < processing.length"
                                        (click)="increaseShow('processing')">Load more</button>
                            </div>
                        </div>
                    </div>
                    <div class="group-board order-completed" *ngIf="completed && completed.length >=0">
                        <div class="list-board">
                            <div class="title-board">
                                <h4>Completed ({{completed.length}})</h4>
                                <div class="icon-lf">
                                    <button (click)="onSearch('completed')" [disabled]="completed.length <=0"
                                            [class]="toggleCompleted?'active icon-search':'icon-search'"></button>
                                </div>
                                <div class="icon-lf"><i class="icon-notification"></i></div>
                            </div>
                            <div *ngIf="completed && completed.length >=0">
                                <div class="board-search" *ngIf="toggleCompleted">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search …" (keyup)="searchcompleted($event)"
                                               [(ngModel)]="filter.keywordcompleted">
                                    </div>
                                </div>
                                <div *ngFor="let item of completed | slice:0:completedSize;let i = index">
                                    <label class="detail-order" (click)="onViewDetail(item)">
                                        <div class="body-board">
                                            <div class="board-info">
                                                <h5>{{(item.order_type != null)?item.order_type:'--/--'}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | baseDate }}</li>
                                                    <li>{{item.customer_name!=null ? item.customer_name : 'Guest'}}</li>
                                                    <li class="icon-board">
                                                        <!-- <i class="icon-customer"></i> -->
                                                        <i class="icon-edit" (click)="onEdit(item)"></i>
                                                        <!-- <i class="icon-trash"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="board-date">
                                                <h5>#{{item.id}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | date:"h:mm a" }}</li>
                                                    <li>{{item.customer ? item.customer.phone : '--'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-arrow-right1" (click)="changeStatus(item,$event)" data-toggle="modal"
                                                           data-target="#changeStatus-Board"></i>
                                                        <!-- <i class="icon-check"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="body-board-available" *ngIf="completed && completed.length <=0">
                                <p>No order available</p>
                            </div>
                            <div class="load-more">
                                <button class="btn btn-primary" *ngIf="completedSize < completed.length"
                                        (click)="increaseShow('completed')">Load more</button>
                            </div>
                        </div>
                    </div>
                    <div class="group-board order-cancel" *ngIf="orderCanceled && orderCanceled.length >=0">
                        <div class="list-board">
                            <div class="title-board">
                                <h4>Canceled ({{orderCanceled.length}})</h4>
                                <div class="icon-lf">
                                    <button (click)="onSearch('canceled')" [disabled]="orderCanceled.length <=0"
                                            [class]="toggleCanceled?'active icon-search':'icon-search'"></button>
                                </div>
                                <div class="icon-lf"><i class="icon-notification"></i></div>
                            </div>
                            <div *ngIf="orderCanceled && orderCanceled.length >=0">
                                <div class="board-search" *ngIf="toggleCanceled">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search …" (keyup)="searchCanceled($event)"
                                               [(ngModel)]="filter.keywordCanceled">
                                    </div>
                                </div>
                                <div *ngFor="let item of orderCanceled | slice:0:cancelledSize;let i = index">
                                    <label class="detail-order" (click)="onViewDetail(item)">
                                        <div class="body-board">
                                            <div class="board-info">
                                                <h5>{{(item.order_type != null)?item.order_type:'--/--'}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | baseDate }}</li>
                                                    <li>{{item.customer_name == null ? '--' : item.customer_name}}</li>
                                                    <li class="icon-board">
                                                        <!-- <i class="icon-customer"></i> -->
                                                        <i class="icon-edit" (click)="onEdit(item)"></i>
                                                        <!-- <i class="icon-trash"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="board-date">
                                                <h5>#{{item.id}}</h5>
                                                <ul>
                                                    <li>{{item.created_at | date:"h:mm a" }}</li>
                                                    <li>{{item.customer ? item.customer.phone : '--'}}</li>
                                                    <li class="icon-board">
                                                        <i class="icon-arrow-right1" (click)="changeStatus(item,$event)" data-toggle="modal"
                                                           data-target="#changeStatus-Board"></i>
                                                        <!-- <i class="icon-check"></i> -->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="body-board-available" *ngIf="orderCanceled && orderCanceled.length <=0">
                                <p>No order available</p>
                            </div>
                            <div class="load-more">
                                <button class="btn btn-primary" *ngIf="cancelledSize < orderCanceled.length"
                                        (click)="increaseShow('cancelled')">Load more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-cancel -->
    <div class="modal fade" id="canceled-Board" tabindex="-1" role="dialog" aria-labelledby="exampleModal-cancelLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-changeStatus">
                <div class="modal-header modal-header-payment">
                </div>
                <div class="modal-body modal-body-payment">
                    <p>Are you sure you want to cancel ?</p>
                    <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="note_cancel" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-center pt-0">
                    <div class="button-group text-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="CancaledStatus()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-changeStatus -->
    <div class="modal fade" id="changeStatus-Board" tabindex="-1" role="dialog" aria-labelledby="exampleModal-cancelLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-changeStatus">
                <div class="modal-header modal-header-payment">
                    <div class="d-flex align-items-center">
                        <h5 class="modal-title" id="exampleModalLabel">Move Card</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body modal-body-payment">
                    <div *ngIf="status_order && status_order.status == 'confirmed'">
                        <label class="fs-12">STATUS</label>
                        <select class="form-control form-control-promotion" [(ngModel)]="status"
                                [ngModelOptions]="{standalone: true}">
                            <option value="choose_status" disabled>Please choose</option>
                            <option *ngFor="let item of confirmed_change_status;let i = index" [value]="item.value">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="status_order && status_order.status == 'canceled'">
                        <label class="fs-12">STATUS</label>
                        <select class="form-control form-control-promotion" [(ngModel)]="status"
                                [ngModelOptions]="{standalone: true}">
                            <option value="choose_status" disabled>Please choose</option>
                            <option *ngFor="let item of cancel_change_status;let i = index" [value]="item.value">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="status_order && status_order.status == 'completed'">
                        <label class="fs-12">STATUS</label>
                        <select class="form-control form-control-promotion" [(ngModel)]="status"
                                [ngModelOptions]="{standalone: true}">
                            <option value="choose_status" disabled>Please choose</option>
                            <option *ngFor="let item of completed_change_status;let i = index" [value]="item.value">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div
                        *ngIf="status_order && status_order.status == 'delivered' || status_order && status_order.status == 'ordered' || status_order && status_order.status == 'food_ready' ||status_order && status_order.status == 'on_the_way'">

                        <label class="fs-12">STATUS</label>
                        <select class="form-control form-control-promotion" [(ngModel)]="status"
                                [ngModelOptions]="{standalone: true}">
                            <option value="choose_status" disabled>Please choose</option>
                            <option *ngFor="let item of processing_change_status;let i = index" [value]="item.value">{{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer modal-footer-payment pt-0">
                    <div class="button-group text-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Delete</button>
                        <button *ngIf="status_order && status_order.status !== 'canceled'" type="button" class="btn btn-primary"
                                (click)="changeStatusOrder()" [disabled]="status == 'choose_status'">Move</button>
                        <button *ngIf="status_order && status_order.status == 'canceled'" type="button" data-toggle="modal"
                                data-target="#confirm-cancel" class="btn btn-primary" [disabled]="status == 'choose_status'">Move
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="false" id="confirm-cancel" tabindex="-1" role="dialog"
         aria-labelledby="exampleModal-cancelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-changeStatus">
                <div class="modal-header modal-header-payment"></div>
                <div class="modal-body modal-body-payment">
                    <p>Are you sure you want to move the canceled order to the {{(status)?status:'--'}} status?</p>
                </div>
                <div class="modal-footer modal-footer-payment pt-0 text text-center">
                    <div class="button-group text-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" (click)="changeStatusOrder()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-confirm-order [order]="data_confirm" (messageConfirm)="confirmOrdersStatus($event)"></app-confirm-order>
</div>
