@import "../../../../src/assets/scss/main";

.main-board{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
  .group-board {
    display: inline-flex;
    margin-right: rem(15px);
    position: relative;
    margin-bottom: rem(20px);
    &::after {
      content: '';
      position: absolute;
      top: rem(10px);
      left: 0;
      width: rem(10px);
      height: rem(28px);
    }
    &.order-pending {
      &::after{
        background: $yellow-500;
      }
    }
    &.order-delivering {
      &::after{
        background: #6737e1;
      }
    }
    &.order-confirmed {
      &:after {
        background:  $blue-500;
      }
    }
    &.order-delivered {
      &:after {
        background:  #ff6d00;
      }
    }
    &.order-cancel {
      &:after {
        background:  $red-500;
      }
    }
    &.order-completed {
      &:after {
        background:  $green-500;
      }
    }
    &.activeColor {
      .list-board{
        -webkit-animation: pulse linear .6s infinite;
        animation: pulse linear .6s infinite;
      }
    }
    @keyframes pulse {
      0% { background-color: #ff6d00;opacity: 0.5; }
      50% { background-color: red; opacity: 0.5; }
      100% { background-color: #ff6d00;  opacity: 1; }
    }
    .list-board {
      width: 370px;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      background-color: $white;
      padding: rem(10px) rem(20px);
      .title-board{
        padding: rem(4px);
        margin-bottom: rem(10px);
        h4 {
          display: inline-block;
          font-family: "sfprotextbold";
          font-size: rem(18px);
          color: $primary-800;
          margin: 0;
        }
        .icon-lf {
          display: inline-block;
          float: right;
          cursor: pointer;
          &:last-child{
            margin-right: rem(5px);
          }
          i{
            font-size: rem(24px);
            color: $cool-gray;
            &.active {
              color: #15a5de;
            }
          }
          button{
            font-size: rem(24px);
            color: $cool-gray;
            background: transparent;
            border: 0;
            &.active {
              color: #15a5de;
            }
            &:focus {
              outline: unset;
            }
          }
        }
      }
      .board-search {
        .form-group {
          .form-control {
            border-radius: rem(20px);
            margin-top: rem(10px);
          }
        }
      }
      .body-board{
        display: flex;
        align-items: center;
        margin: auto;
        background: $grey-050;
        border-radius: 4px;
        padding: rem(10px);
        width: 100%;
        margin-bottom: rem(10px);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px $grey-100;
        .board-date, .board-info {
          width: 50%;
          h5 {
            font-size: rem(16px);
            font-family: "sfprotextbold";
            color: $grey-900;
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              font-size: rem(16px);
              color: $cool-gray;
              padding: rem(5px) 0;
              white-space: normal;
              &.icon-board{
                display: inline-block;
                width: rem(36px);
                height: rem(36px);
                line-height: rem(36px);
                border-radius: 50%;
                text-align: center;
                background-color: #e2e3e6;
                margin-right: rem(5px);
              }
              i{
                font-size: rem(24px);
                //padding-right: rem(25px);
                cursor: pointer;
                &.icon-close {
                  color: $red-500;
                }
                &.icon-check, &.icon-arrow-right1 {
                  color: $green-500;
                }
              }
            }
          }
        }
      }
      .load-more {
        margin-left: 33%;
      }
      .body-board-available {
        min-height: rem(600px);
        border: 1px dashed #ccc;
        position: relative;
        margin: rem(10px) 0;
        p{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
          color: #989ca8;
          font-family: "sfprotextbold";
        }
      }
    }
  }
  .pt-0 {
    padding-top: 0;
  }
}
.detail-order {
  cursor: pointer;
  display: block;
}
.fs-12{
  font-size: rem(12px)!important;
}
#scroll-board::-webkit-scrollbar {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 8px;
}
#scroll-board::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.mb-10 {
  margin-bottom: rem(10px);
}
.pt-0 {
  padding-top: 0!important;
}
.close-board {
  span {
    font-size: rem(30px)!important;
    color: red;
  }
}
#changeStatus-Board, #canceled-Board, #confirm-cancel {
  .modal-dialog {
    width: rem(430px)!important;
    .modal-changeStatus {
      .modal-header {
        padding: rem(10px)!important;
        .d-flex {
          align-items: center !important;
          justify-content: center;
          width: 100%;
          position: relative;
          h5 {
            font-size: rem(16px);
          }
          button {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-50%, 35%);
            margin: 0;
            span {
              font-size: rem(30px);
              color: $red-500;
            }
          }
        }
      }
      .modal-footer {
        width: 100%;
        justify-content: center;
        .button-group {
          width: 100%;
          margin: 0;
          button {
            width: 45%;
            &:first-child {
              background: #fff;
              color: #989ca8;
              border: solid 1px #ccc;
            }
          }
        }
      }
    }
  }
}
