<div class="create-organization create-wrapper">
    <form #createOrganizationForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">

        <div class="create-organization-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header">
                        {{'Organization.Create New Organization'|translate}}
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="button-group">
                        <base-button type="button" buttonStyle="btn btn-default" (click)="cancel()">
                            <span>{{'Cancel'|translate}}</span>
                        </base-button>
                        <base-button type="submit" buttonStyle="btn btn-primary"
                            [disabled]="!createOrganizationForm.form.valid">
                            <span>{{'Create'|translate}}</span>
                        </base-button>
                    </div>

                </div>
            </div>
        </div>


        <cxi-card name="create-organization" title="{{'Organization.New Organization'|translate}}">

            <div class="row p-20">
                <div class="col-12">
                    <base-input-text name="name" label="{{'Organization.Organization Name'|translate}}"
                        [(ngModel)]="organization.name" required>
                    </base-input-text>
                </div>
                <div class="col-6">
                    <base-input-text name="tax_code" label="{{'Organization.Tax code'|translate}}"
                        [(ngModel)]="organization.tax_code" required>
                    </base-input-text>
                </div>

                <div class="col-6">
                    <base-input-text name="phone" label="{{'Organization.Phone'|translate}}"
                        [(ngModel)]="organization.phone">
                    </base-input-text>
                </div>

                <div class="col-6">
                    <base-input-text name="max_brands" label="{{'Organization.Maximum brands'|translate}}"
                        [(ngModel)]="organization.max_brands">
                    </base-input-text>
                </div>
            </div>
        </cxi-card>
    </form>
</div>
