<div class="create-setting create-wrapper">
  <form #createSettingForm="ngForm" class="form-create-organization">
    <div class="create-setting-header create-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header">
            Payment Method
          </div>
        </div>
        <div class="col-sm-6 text-right button-group">
          <base-button type="button" buttonStyle="btn btn-primary" [disabled]="!createSettingForm.form.valid"
            (click)="addPaymentMethod()" data-toggle="modal" data-target="#exampleModal">
            <i class="icon-add-new"></i>
            <span>Add Payment Method</span>
          </base-button>
        </div>
      </div>
    </div>

    <div class="payment-method" id="accordion">
      <div class="row">
        <div class="col-sm-4 offset-sm-4" *ngFor="let item of payment_methods;let i = index">
          <div class="card" [class]="(item.status == 1)?'card':'card card-active'">
            <div class="card-header">
              <h4 class="panel-title" (click)="loadPaymentEdit(item)">
                <a class="collapsed">
                  {{item.name}}
                  <span *ngIf="!item.isShow" class="icon-edit"></span>
                  <span *ngIf="item.isShow" (click)="UpdatePayment(item)">SAVE</span>
                </a>
              </h4>
            </div>
            <div class="fadeOut" *ngIf="item.isShow && payment_method_edit">
              <div class="card-body">
                <div class="row">
                 <div class="col-sm-12" *ngFor="let item of payment_method_edit.value;let i = index">
                    <base-input-text [name]="item.field" [label]="item.field" width="full"
                      [(ngModel)]="item.value">
                    </base-input-text>
                  </div>
                  <div class="col-sm-12" *ngIf="payment_method_edit && payment_method_edit.value == null">
                    <p class="text-center">The data is empty</p>
                  </div>
                  <div class="col-6">
                    <base-switch name="status" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"
                      [(ngModel)]="payment_method_edit.status">
                    </base-switch>
                  </div>
                  <div class="col-6 d-flex align-items-center">
                    <button class="btn-btn-default btn-payment" (click)="onDelete(item)">
                      <i class="icon-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-payment">
            <h5 class="modal-title" id="exampleModalLabel">New Payment Method</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">&times;</span> -->
            </button>
          </div>
          <div class="modal-body modal-body-payment">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <base-select name="name-payment" label="Payment" bindLabel="name" bindValue="name"
                    [items]="supportedPayments" [(ngModel)]="payment_method.name" (change)="changePayment($event)">
                  </base-select>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-sm-12" *ngFor="let item of listSupported;let i = index">
                    <base-input-text [name]="item.field" [(ngModel)]="item.value" [label]="item.field" width="full"
                      [placeholder]="item.field">
                    </base-input-text>
                  </div>
                  <div class="col-sm-12"  *ngIf="listSupported === null">
                    <p class="text-center">The data is empty</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" *ngIf="userScope && userScope.organization && userScope.brand == null">
                  <base-select name="brand" label="Brand" bindLabel="name" bindValue="id" [items]="brand"
                    [(ngModel)]="payment_method.brand_id">
                  </base-select>
                </div>
                <div class="col-sm-12">
                  <base-switch name="statuspayment" label="STATUS" yesLabel="Apply" noLabel="Apply (no)"
                    [(ngModel)]="payment_method.status">
                  </base-switch>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer modal-footer-payment">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addNewPayment()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </form>
</div>