
<div class="gift-voucher list-wrapper">
    <div class="list-product-header list-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="title-header">Gift Voucher</div>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn-addnew btn btn-default" [routerLink]="['../create']" translate="voucher.Generate">
                </button>
                <button class="btn-addnew btn btn-default" [routerLink]="['../create']" translate="voucher.Export">
                </button>
            </div>
        </div>
    </div>
    <div class="list-body">
        <div class="row">
            <div class="col-sm-12">
                <app-cxi-grid name="voucher" [config]="baseTableConfig" [columns]="baseTableColumns"></app-cxi-grid>
            </div>
        </div>
    </div>
</div>

