<ul class="nav">
    <ng-template ngFor
                 [ngForOf]="navItems"
                 let-nav>
        <ng-template [ngIf]="nav.link">
            <li class="nav-item">
                <a class="nav-link"
                   [routerLink]="nav.link"
                   [routerLinkActive]="'active'">
                    {{nav.title}}
                </a>
            </li>
        </ng-template>
    </ng-template>
</ul>
