<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body">
    <form #selectSuperAttributesForm="ngForm"
          class="form-select-attributes">
        <div class="form-title">
            {{'Product.Select attributes'|translate}}
        </div>
        <div class="row">
            <div class="col-12">
                <cxi-select-simple name="attributes"
                                   label="{{'Product.Attributes'|translate}}"
                                   bindLabel="name"
                                   bindValue="id"
                                   [items]="attributes"
                                   [autoAddNew]="true"
                                   [(ngModel)]="superAttributes"></cxi-select-simple>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <base-button type="submit"
                 buttonStyle="btn btn-primary btn-block"
                 [disabled]="selectSuperAttributesForm.invalid"
                 (click)="done()">
        {{'Done'|translate}}
    </base-button>
</div>


<!--<pre>attributes:{{attributes|json}}</pre>-->
<!--<pre>superAttributes:{{superAttributes|json}}</pre>-->
