<div class="modal-header">
    <div class="close">
        <cxi-icon-close (click)="cancel()"></cxi-icon-close>
    </div>
</div>

<div class="modal-body">
    <p *ngIf="message">
        {{ translateMessage() | async }}
    </p>
</div>


<div class="modal-footer">
    <div class="{{ 'button-group-' + ((!options || !options.buttons) ? 2 : options.buttons.length) }}">

        <!--custom buttons-->
        <ng-template [ngIf]="options && options.buttons && options.buttons.length > 0">
            <ng-template ngFor
                         [ngForOf]="options.buttons"
                         let-button>
                <base-button type="button"
                             buttonStyle="btn-default"
                             (click)="buttonHasCallback(button) ? button.callback() : dismiss()">
                    {{button.label | translate}}
                </base-button>
            </ng-template>
        </ng-template>

        <!--yes & no default-->
        <ng-template [ngIf]="!options || !options.buttons || options.buttons.length === 0">
            <base-button type="button"
                         buttonStyle="btn-default"
                         (click)="no()">
                {{btnNo|translate}}
            </base-button>

            <base-button type="submit"
                         buttonStyle="btn-primary"
                         (click)="yes()">
                {{btnYes|translate}}
            </base-button>
        </ng-template>
    </div>
</div>
