<div class="cal-week-view">

    <!--head week-->
    <div class="head-week">
        <div class="span"></div>
        <div class="days-of-week">
            <ng-template ngFor
                         [ngForOf]="daysOfWeek"
                         let-dayOfWeek
                         let-i="index">
                <div class="day-of-week"
                     [ngClass]="{
                        'today': isToday(dayOfWeek)
                     }">
                    <span class="date">{{dayOfWeek|baseDate:'DD'}}</span>
                    <span class="day">{{dayOfWeek|baseDate:'ddd'}}</span>
                </div>
            </ng-template>
        </div>
    </div>
    <!--end head week-->

    <!--Begin Body calendar-->
    <div class="body">
        <perfect-scrollbar>
            <div class="body-view">
                <div class="hours-range"
                     [style.height.rem]="getHeightHoursRange()">

                    <div class="hours">

                        <!--begin hours range-->
                        <ng-template ngFor
                                     [ngForOf]="hours"
                                     let-hour>

                            <!--hour-->
                            <div class="hour-item">
                                <div class="hour">
                                    <span class="h">{{hourTransform(hour)}}</span>
                                    <span class="dl">{{daylight(hour)}}</span>
                                </div>

                                <!--grids-->
                                <div class="grids">
                                    <ng-template ngFor
                                                 [ngForOf]="daysOfWeek"
                                                 let-dayOfWeek
                                                 let-j="index">

                                        <!--grid-->
                                        <div class="grid">
                                            <div class="horizontal-left"></div>
                                            <div class="horizontal-right"></div>
                                        </div>
                                        <!--end grid-->

                                    </ng-template>
                                </div>
                                <!--end grids-->

                            </div>
                            <!--end hour-->

                        </ng-template>
                        <!--end hours range-->


                        <!--grids-->
                        <div class="events">
                            <div class="events-wrap">
                                <ng-template ngFor
                                             [ngForOf]="daysOfWeek"
                                             let-dayOfWeek
                                             let-i="index">

                                    <ng-template
                                        [ngIf]="internalShiftCalendarsWeek &&
                                                            internalShiftCalendarsWeek[dayOfWeek.day()]">
                                        <ng-template ngFor
                                                     [ngForOf]="internalShiftCalendarsWeek[dayOfWeek.day()]"
                                                     let-shiftBlock
                                                     let-j="index">

                                            <cxi-calendar-event-vertical
                                                name="{{name}}-shifts-{{shiftBlock.id}}"
                                                [dayOfWeek]="dayOfWeek.day()"
                                                [shiftBlock]="shiftBlock"
                                                [roles]="roles"
                                                (assign)="onAssignStaffs()"
                                                backgroundColor="{{shiftBlock.backgroundColor}}"
                                                [style.top.rem]="getPositionTopEventVertical(shiftBlock)"
                                                [style.left.%]="getPositionLeftEventVertical(dayOfWeek)"
                                                [height.rem]="getHeightEventVertical(shiftBlock)"
                                                (removedShiftItem)="onRemovedShiftItem($event, shiftBlock)">
                                            </cxi-calendar-event-vertical>

                                        </ng-template>
                                    </ng-template>

                                </ng-template>
                            </div>
                        </div>
                        <!--end grids-->

                        <!--time axis-->
                        <div class="time-anchor">
                            <div class="time-axis">
                                <ng-template ngFor
                                             [ngForOf]="daysOfWeek"
                                             let-i="index">
                                    <!--now-->
                                    <div class="now-axis"
                                         [style.top.rem]="getPositionTopNowAxisVertical()"
                                         [style.left.%]="getPositionLeftNowAxisVertical(i)">
                                        <ng-template [ngIf]="i === 0">
                                                <span class="circle-white"
                                                      [style.top.rem]="getPositionLeftNowAxisCircleVertical(i)"></span>
                                            <span class="circle-black"
                                                  [style.top.rem]="getPositionLeftNowAxisCircleVertical(i)"></span>
                                        </ng-template>
                                    </div>
                                    <!--end now-->
                                </ng-template>
                            </div>
                        </div>
                        <!--end time axis-->

                    </div>

                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <!--End Body calendar-->

</div>
