@import "../../../../assets/scss/main";


// ==================  variables  ==================

$cal-cell-hover: #f5f5f5;

// calendar

// calendar cell
$cal-cell-height: 56px;

$cal-now-axis-border: 2px;
$cal-now-axis-color: #212121;
$cal-now-axis-circle-width: 16px;
$cal-now-axis-circle-color: #e0e0e0;

// week
$cal-w-sidebar-width: 70px;
$cal-w-maximum-rows: 12;

// mix
$cal-border-color: #e0e0e0;

// ==================  css  ==================


.cal-week-view {
  .head-week {
    height: rem($cal-cell-height);
    width: 100%;
    background: $white;
    border: rem(1px) solid $cal-border-color;
    border-top: 0;

    .span {
      width: rem($cal-w-sidebar-width);
      height: rem($cal-cell-height);
      display: inline-block;
    }

    .days-of-week {
      width: calc(100% - #{rem($cal-w-sidebar-width)});
      display: inline-block;

      .day-of-week {
        width: calc(100% / 7);
        display: inline-block;
        float: left;
        padding: rem(10px) 0;
        height: rem($cal-cell-height);
        text-align: center;
        position: relative;

        &.today {
          color: $accent-500;
        }

        span {

        }

        .date {
          @include fontSize(16px, 24px);
          font-family: $font-sfprotext-bold;
        }

        .day {
          @include fontSize(10px, 16px);

          display: block;
          text-align: center;
          bottom: rem(10px);
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  .body {
    height: rem($cal-w-maximum-rows * $cal-cell-height);

    .body-view {
      height: rem($cal-w-maximum-rows * $cal-cell-height);
      //display: flex;
      //max-width: 100%;
    }

    .hours-range {
      border-right: rem(1px) solid $cal-border-color;
      border-left: rem(1px) solid $cal-border-color;

      .hours {
        display: block;
        //height: rem($cal-cell-height);
        position: relative;

        .hour-item {
          display: block;
          height: rem($cal-cell-height);

          .hour {
            width: rem($cal-w-sidebar-width);
            height: rem($cal-cell-height);
            display: inline-block;
            float: left;
            background: $white;
            padding: rem(10px) 0;
            text-align: center;
            position: relative;
            border-bottom: rem(1px) solid $cal-border-color;

            span {
              display: block;
            }

            .h {
              @include fontSize(16px, 24px);
              font-family: $font-sfprotext-bold;
            }

            .dl {
              @include fontSize(10px, 16px);
              position: absolute;
              bottom: rem(10px);
              display: block;
              width: 100%;
            }
          }

          .grids {
            width: calc(100% - #{rem($cal-w-sidebar-width)});
            display: inline-flex;

            .grid {
              width: calc(100% / 7);
              display: inline-block;
              float: left;
              height: rem($cal-cell-height);

              border-left: rem(1px) solid $cal-border-color;
              border-bottom: rem(1px) solid $cal-border-color;
              background: $white;
            }
          }
        }
      }

      .events {
        flex-wrap: wrap;
        height: rem($cal-cell-height);
        position: absolute;
        top: 0;
        left: rem($cal-w-sidebar-width);
        width: calc(100% - #{rem($cal-w-sidebar-width)});

        .events-wrap {
          position: relative;
          height: rem(24 * $cal-cell-height);
        }

        cxi-calendar-event-vertical {
          width: calc(100% / 7);
          display: inline-block;
          position: absolute;
        }
      }

      .time-anchor {
        position: absolute;
        top: 0;
        width: 100%;

        .time-axis {
          width: calc(100% - #{rem($cal-w-sidebar-width)});
          height: rem($cal-now-axis-border);
          margin-left: rem($cal-w-sidebar-width);
          position: relative;
          display: block;

          .now-axis {
            width: calc(100% / 7);
            height: rem($cal-now-axis-border);
            display: inline-block;
            float: left;
            background: $cal-now-axis-color;
            position: absolute;
            top: 0;
            left: 0;

            .circle-white {
              width: rem($cal-now-axis-circle-width);
              height: rem($cal-now-axis-circle-width);
              border-radius: 50%;
              border: rem(1px) solid $cal-now-axis-circle-color;
              background: $white;
              position: absolute;
              margin-left: rem(-$cal-now-axis-circle-width/2 + $cal-now-axis-border/2);
            }

            .circle-black {
              width: rem($cal-now-axis-circle-width - 2px);
              height: rem($cal-now-axis-circle-width - 2px);
              border-radius: 50%;
              border: rem($cal-now-axis-circle-width/4 - 1px) solid $white;
              background: $black;
              position: absolute;
              left: rem(-$cal-now-axis-circle-width/2 + $cal-now-axis-border / 2 + 1px);
              margin-top: rem(1px);
            }
          }

        }
      }
    }
  }
}
