@import "~src/assets/scss/main";

.edit-product {

  .base-panel {
    margin-top: rem(10px);
  }

  .select-product-type {
    .products-list {
      .product-item {
        background: #f7f7f8;
        padding: rem(20px);

        .title-product-item {
          @include fontSize(16px, 24px);
          color: $grey-900;
          font-weight: bold;
          margin-bottom: rem(20px);
        }

        .allow-items {
          background: $white;
          border: 1px solid $grey-200;
          padding: rem(20px);
          border-radius: rem(4px);
        }
      }
    }
  }
}



