<ng-template ngFor let-benefit [ngForOf]="value" let-i="index">
    <app-select-exhibition-benefit name="{{name}}-{{i}}"
                                (remove)="onRemove(i)"
                                [(ngModel)]="benefit"
                                (change)="onChangeVariantAddOnType()"></app-select-exhibition-benefit>


</ng-template>

<div class="row m-b">
    <div class="col-12">
        <base-button name="{{name}}-add-aot"
                     type="button"
                     icon="icon-add-new"
                     buttonStyle="btn-default"
                     [disabled]="isDisabledAddNew()"
                     (click)="addAddOnType()">
            Add more
        </base-button>
    </div>
</div>

