<div class="create-category create-wrapper">
    <form #createCategoryForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
        <div class="create-category-header create-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-header" translate="Category.Edit Category">

                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn-cancel btn btn-white" (click)="Cancel()">
                        <span translate="Category.Cancel"></span>
                    </button>
                    <button type="submit" class="btn-addnew btn btn-primary"
                        [disabled]="!createCategoryForm.form.valid">
                        <span translate="Category.Update"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row p-30">
            <div class="col-4">
                <div class="tranlate-attribute">
                    <ul>
                        <li (click)="tab = 'en'" [class]="(tab == 'en')?'active':''">
                            <img src="assets/img/english.png" alt="">
                            <span>English</span>
                        </li>
                        <li (click)="tab = 'vi'" [class]="(tab == 'vi')?'active':''">
                            <img src="assets/img/vn.png" alt="">
                            <span>Tiếng Việt</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-8">
                <span [class]="(tab == 'en')?'white-arrow':'white-arrow active'"></span>
                <div class="create-category-body width-card">
                    <div class="cate-group" id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne" translate="Category.Category Information">

                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" *ngIf="tab == 'en'">
                                            <base-input-text name="name" label="Name" width="full"
                                                [(ngModel)]="category.name" required>
                                            </base-input-text>
                                        </div>
                                        <div class="col-12" *ngIf="tab == 'vi'">
                                            <base-input-text name="name" label="Name" width="full"
                                                [(ngModel)]="category.vi.name">
                                            </base-input-text>
                                        </div>
                                        <div class="col-12">
                                            <base-input-text name="slug" label="slug" width="full"
                                                [(ngModel)]="category.slug" required>
                                            </base-input-text>
                                        </div>
                                        <div class="col-12" *ngIf="tab == 'en'">
                                            <base-input-text name="Description" label="Description" width="full"
                                                [(ngModel)]="category.description">
                                            </base-input-text>
                                        </div>
                                        <div class="col-12" *ngIf="tab == 'vi'">
                                            <base-input-text name="Description" label="Description" width="full"
                                                [(ngModel)]="category.vi.description">
                                            </base-input-text>
                                        </div>
                                        <div class="col-sm-12"
                                            *ngIf="userScope && userScope.organization && userScope.brand == null">
                                            <base-select name="brand" label="Brand" bindLabel="name" bindValue="id"
                                                [items]="brand" [(ngModel)]="category.brand_id">
                                            </base-select>
                                        </div>
                                        <div class="col-12">
                                            <base-switch name="status" label="STATUS" yesLabel="Apply"
                                                noLabel="Apply (no)" [(ngModel)]="category.status">
                                            </base-switch>
                                        </div>
                                        <div class="col-12">
                                            <app-cxi-upload-files name="upload-img" (file)="onFileChanged($event)"
                                                [(ngModel)]="category.images">
                                            </app-cxi-upload-files>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo">
                                        Category Parent
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <input class="Category-parent" type="checkbox" name="Categoryparent"
                                                [checked]="isShow" (click)="showCategory()"> Category parent
                                            <ng-template [ngIf]="isShow">
                                                <base-select name="categories" [items]="categories" [bindLabel]="'name'"
                                                    class="mt-20" [bindValue]="'id'" [(ngModel)]="category.parent_id"
                                                    width="full">
                                                </base-select>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>