<ng-template ngFor
             [ngForOf]="value"
             let-workingHourItem
             let-i="index">

    <!--working-hour-item-->
    <working-hours-item name="{{name}}-{{i}}"
                        (remove)="onRemove(i)"
                        [disabledDays]="disabledDays"
                        [(ngModel)]="workingHourItem"
                        (daysOfWeekChange)="onChangeDaysOfWeek()"></working-hours-item>

</ng-template>

<base-button name="{{name}}-add"
             buttonStyle="btn btn-primary"
             icon="icon-add-new"
             (click)="addWorkingHourItem()">
    {{'Working Hour.Add More'|translate}}
</base-button>
