<ng-template [ngIf]="!isHideApplicationScope">

    <cxi-card title="{{'Product.Select application scope'|translate}}"
              className="select-application-scope">
        <div class="row" *ngIf="!isHideSelectBrand">
            <div class="col-6">
                <base-select name="brand"
                             label="{{'scope.Brand'|translate}}"
                             bindLabel="name"
                             bindValue="id"
                             [items]="brands"
                             [(ngModel)]="brandId"
                             (change)="onChangeBrand($event)"></base-select>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <base-radio name="application-scope"
                            label="{{'scope.Outlets'|translate}}"
                            [values]="productApplicationScopes"
                            [(ngModel)]="applicationScope"
                            (change)="onChangeIsAllStores($event)"></base-radio>
            </div>
        </div>

        <div class="row" *ngIf="applicationScope === 'Specific outlet'">
            <div class="col-12">
                <app-select-outlets-quantity
                    name="select-outlets-quantity"
                    label="{{'scope.Address'|translate}}"
                    [outlets]="outlets"
                    [(outletsQuantities)]="outletsQuantities"
                    (change)="onOutletsChange()"></app-select-outlets-quantity>
            </div>
        </div>
    </cxi-card>

</ng-template>
