<div class="create-customers create-wrapper">
  <form #createcustomersForm="ngForm" class="form-create-organization" (ngSubmit)="onSubmit()">
    <div class="create-customers-header create-header">
      <div class="row">
        <div class="col-sm-6">
          <div class="title-header" translate="Customer.NewCustomer">
          </div>
        </div>
        <div class="col-sm-6 text-right button-group">
          <base-button buttonStyle="btn btn-default" [routerLink]="['..','list']">
            <span translate="Customer.Cancel"></span>
          </base-button>
          <base-button type="submit" buttonStyle="btn btn-primary" [disabled]="!createcustomersForm.form.valid">
            <span translate="Customer.Create"></span>
          </base-button>
        </div>
      </div>
    </div>

    <div class="create-customers-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="header-left">
            <div class="img-left" *ngIf="customer.avatar">
              <img [src]="customer.avatar" alt="">
            </div>
            <div class="img-left" *ngIf="!customer.avatar">
              <img src="/assets/img/avatar-default.jpg" alt="">
            </div>
            <div class="group-btn">
              <form (ngSubmit)="onUpload()">
                <div class="btn btn-default">
                  <label>
                    <i class="icon-image"></i> Upload
                    <input type="file" hidden (change)="onFileChanged($event)" accept="image/*">
                  </label>
                </div>
                <button class="btn btn-default" type="button" [disabled]="customer.avatar == null"
                  (click)="removeUpload()">
                  <i class="icon-close"></i>Remove
                </button>
              </form>
            </div>
          </div>
            <div class="body-left">
                <div class="group-total">
                    <span>TOTAL PAYMENT</span>
                    <h2>3.000.000</h2>
                    <div class="level">
                        <div class="color-level"></div>Silver
                    </div>
                    <button class="btn btn-default" type="button"><i class="icon-arrow-up1"></i> Up Level</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
          <div class="create-body">
            <div class="row">
              <div class="col-12">
                <div class="title-body" translate="Customer.Customer Information"></div>
              </div>
              <div class="col-4">
                <base-input-text name="first_name" label="FIRST NAME" width="full" [(ngModel)]="customer.first_name"
                  required>
                </base-input-text>
              </div>
              <div class="col-4">
                <base-input-text name="last_name" label="LAST NAME" width="full" [(ngModel)]="customer.last_name"
                  required>
                </base-input-text>
              </div>
              <div class="col-4">
                <base-datepicker name="dob" label="DOB" [(ngModel)]="customer.dob" [minDate]="minDate"
                  [maxDate]="maxDate"></base-datepicker>
              </div>
              <div class="col-4">
                <base-select name="genders" label="genders" [items]="genders" [bindLabel]="'name'" [bindValue]="'value'"
                  [(ngModel)]="customer.gender" width="full">
                </base-select>
              </div>
              <div class="col-4" *ngIf="userScope && userScope.organization && userScope.brand == null">
                <base-select name="brand" label="brand" [items]="brand" [bindLabel]="'name'" [bindValue]="'id'"
                  [(ngModel)]="customer.brand_id" width="full">
                </base-select>
              </div>
              <!-- <div class="col-4">
                <base-select name="Type" label="customer Type" [items]="customer_type" [bindLabel]="'name'"
                  [bindValue]="'id'" [(ngModel)]="customer.customer_type_id" width="full">
                </base-select>
              </div> -->
              <div class="col-4">
                <base-select name="contact-method" label="primary contact method" [items]="_primary_contact"
                  [bindLabel]="'name'" [bindValue]="'value'" [(ngModel)]="customer.contact_method" width="full"
                  required>
                </base-select>
              </div>
              <div class="col-4">
                <base-input-text name="socical-network" label="socical network" width="full"
                  [(ngModel)]="customer.social_network">
                </base-input-text>
              </div>
              <div class="col-4">
                <base-select name="salesman" label="salesman" bindLabel="name" bindValue="id" bindAvatar="avatar"
                  [items]="salesman" [(ngModel)]="customer.salesman_id">
                </base-select>
              </div>
              <div class="col-4">
                <base-input-text name="more info" label="more info" width="full" [(ngModel)]="customer.more_info">
                </base-input-text>
              </div>
              <div class="col-4">
                <base-select name="references" label="references" [items]="_references" [bindLabel]="'name'"
                  [bindValue]="'value'" [(ngModel)]="customer.references" width="full" required>
                </base-select>
              </div>
              <div class="col-4">
                <base-select name="country" label="country" bindLabel="name" bindValue="name" [items]="countries"
                  (change)="changeCountry($event)" [(ngModel)]="customer.country">
                </base-select>
              </div>
              <div class="col-4">
                <base-select name="city" label="city" bindLabel="name" bindValue="name" [items]="_cities"
                  (change)="changeCity($event)" [(ngModel)]="customer.city" [disabled]="_cities.length <= 0">
                </base-select>
              </div>
              <div class="col-4">
                <base-select name="district" label="district" bindLabel="name" bindValue="name" [items]="_districts"
                  [(ngModel)]="customer.district" [disabled]="_districts.length <= 0">
                </base-select>
              </div>
              <div class="col-12">
                <base-input-google-places name="google-places" label="Address" [(ngModel)]="customer.address"
                  (addressChange)="handleAddressChange($event)"></base-input-google-places>
              </div>
              <ng-template ngFor [ngForOf]="_dobs" let-item let-i="index">
                <div class="col-5">
                  <base-datepicker [name]="'dob' + i" label="anniversary" [(ngModel)]="item.date"></base-datepicker>
                </div>
                <div class="col-6">
                  <base-input-text [name]="'anniversaries_name' + i" label="anniversary name" width="full"
                    [(ngModel)]="item.content">
                  </base-input-text>
                </div>
                <div class="col-1 mt-20 text-center" *ngIf="i == 0">
                  <button type="button" class="btn-addnew-customer btn btn-default" (click)="addNewDob()"
                    [disabled]="_dobs.length  == 4">
                    <i class="icon-add-new"></i>
                  </button>
                </div>
                <div class="col-1 text-center d-flex align-items-center justify-content-center" *ngIf="i !== 0">
                  <i class="icon-close icon-fv" (click)="removeDob()"></i>
                </div>
              </ng-template>
              <!-- extracontact -->
              <div class="col-6">
                <base-input-text name="phone" label="PHONE" width="full" [(ngModel)]="customer.phone" baseInteger
                  required>
                </base-input-text>
              </div>
              <div class="col-6">
                <base-input-text name="email" label="EMAIL" width="full" [(ngModel)]="customer.email" required>
                </base-input-text>
              </div>
              <ng-template ngFor [ngForOf]="_contacts" let-item let-i="index">
                <div class="col-6 ">
                  <label class="text-uppercase">Extra contact</label>
                  <div class="input-group w-100">
                    <div class="input-group-prepend w-40">
                      <base-select [name]="'contact' + i" bindLabel="name" bindValue="value" [items]="select_contacts"
                        (change)="changeContact(item)" class="w-100" [(ngModel)]="item.type">
                      </base-select>
                    </div>
                    <base-input-text *ngIf="item.type == 'phone'" [name]="'phone' + i" class="w-60" width="full"
                      [(ngModel)]="item.value" baseInteger>
                    </base-input-text>
                    <base-input-text *ngIf="item.type == 'email'" [name]="'email' + i" class="w-60" width="full"
                      [(ngModel)]="item.value">
                    </base-input-text>
                  </div>
                </div>
                <div class="col-1 mt-20 text-center" *ngIf="i == 0">
                  <button type="button" class="btn-addnew-customer btn btn-default" (click)="addNewContact()"
                    [disabled]="_contacts.length  == 4">
                    <i class="icon-add-new"></i>
                  </button>
                </div>
                <div class="col-1 text-center d-flex align-items-center justify-content-center" *ngIf="i !== 0">
                  <i class="icon-close icon-fv" (click)="removeContact(i)"></i>
                </div>
              </ng-template>
              <!-- extracontact -->
            </div>
          </div>
          <div class="create-body mt-20" id="form">
            <div class="row">
              <div class="col-sm-12">
                <label>HOBBIES</label>
              </div>
              <div class="col-4 mt-20" *ngFor="let item of hobbies;let i = index">
                <input class="hobby" type="checkbox" [name]="item.name" [value]="item.name"
                  (click)="checkHobby(item)">{{item.name}}
              </div>
              <div class="col-12 mt-20">
                <label>BUDGET</label>
                <input class="form-control ng-money" type="text" name="budget" [(ngModel)]="_budget"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-6 mt-20">
                <base-select name="customer-classification" label="customer classification" (change)="changePotential()"
                  [items]="_customer_classification" [bindLabel]="'name'" [bindValue]="'value'"
                  [(ngModel)]="customer.customer_classification" width="full" required>
                </base-select>
              </div>
              <div class="col-6 mt-20">
                <base-select name="potential" label="potential" [items]="_potential" [bindLabel]="'name'"
                  [bindValue]="'value'" [(ngModel)]="customer.potential" width="full">
                </base-select>
              </div>
            </div>
          </div>
          <div class="create-body mt-20">
            <div class="row">
              <div class="col-sm-12">
                <label>GIFT</label>
              </div>
              <div class="col-6 mt-20">
                <base-input-text name="gifs" label="gifts" width="full" [(ngModel)]="customer.gifs">
                </base-input-text>
              </div>
              <div class="col-6 mt-20">
                <base-input-text name="invited_events" label="invited_events" width="full"
                  [(ngModel)]="customer.invited_events">
                </base-input-text>
              </div>
              <div class="col-12">
                <base-textarea name="characteristic-notes" label="characteristic_notes *" required
                  [(ngModel)]="customer.characteristic_notes" [maxLength]="10000">
                </base-textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
